.dashboard {
    float: right;
    position: relative;
    top: -37px;
    width: 22%;
    right: 5px;
}

.card-box {
    width: 25%;
    padding-right: 10px;
}

.pending-cls {
    border: 1px solid #fda409 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.approved-cls {
    border: 1px solid #1AC424 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.rejected-cls {
    border: 1px solid #fe6969 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.total-cls {
    border: 1px solid #4e8bf6 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.card-box .slds-card {
    transition: transform 0.1s;
    cursor: pointer;
}

.card-box .slds-card::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    z-index: -1;
}

.card-box .slds-card:hover {
    transform: scale3d(1, 1, 1);
}

.card-box .slds-card::after {
    opacity: 1;
}

.aligntable {
    margin-top: 32px;
}