<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <p class="title">{_heading}</p>
            <p class="value"> {_status}</p>
        </div>
    </div>
</template>