.pullRight {
  float: right;
  padding-right: 10px;
  position: relative;
  z-index: 500;
}
.rightMargin {
  padding-right: 15px;
  position: relative;
  top: -10px;
}
.alignCenter {
  background-color: #f6f6f9;
}

.newRecordPop {
  /* width: calc(100vw - 31px);  */
  width: 100%;
}

.newRecordPop th {
  height: 45px;
  background-color: #f8f8f8;
}

.newRecordPop td {
  height: 50px;
}
.padleft18 {
  padding-left: 18px;
}
table {
  border-collapse: collapse;
  /* margin-left: 10px; */
}

.displayNone {
  display: none;
}
.bottomAlign {
  position: fixed;
  bottom: 15px;
  float: right;
  width: 97%;
}

.floatLeft {
  float: left;
  width: 23%;
}
.regulation {
  font-weight: 400;
}
.pageMonitorPosition {
  position: absolute;
  bottom: 16px;
}
.height-Overflow {
  max-height: calc(100vh - 305px);
  overflow-y: auto;
}

.error {
  color: #c23934;
}
.subbar-section {
  position: relative;
  margin-top: -20px;
  padding-left: 20%;
}
.borderRedCut .slds-button {
  border: 1px solid #cecdd2 !important;
}
.noinspectionRecords {
  position: absolute;
  width: 100%;
  z-index: 300;
}
.mcr_left {
  float: left;
}
.mcr_right {
  float: right;
  position: relative;
  z-index: 500;
}
.scroll_Overflow {
  max-height: calc(100% - 110px);
  overflow-y: auto;
}

.mb-10 {
  margin-bottom: 10px;
}
.box-col1 {
  float: left;
  width: 28%;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 20px 27px 20px 27px;
}
.box-col3 {
  float: left;
  width: 28%;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 20px 27px 20px 27px;
  margin-left: 2%;
}
.padtop10 {
  padding-top: 10px;
}
.scroll {
  max-height: calc(100vh - 315px);
  overflow-y: auto;
}
.iconpadbot {
  margin-bottom: 10px;
}
.highlightBox {
  border: 1px solid #0a69b9;
}
.unicode-rightarr {
  padding: 0px 15px;
}
.boxbordercolorchange {
  width: 28%;
  border: 1px solid #0a69b9;
  float: left;
  border-radius: 4px;
  padding: 20px 27px 20px 27px;
}

.red-duration,
.redSpan {
  color: #f21a13;
}
.green-duration,
.greenSpan {
  color: #1ac424;
}
.greySpan {
  color: #293b58;
}

.heightchkbg {
  height: 60px;
}
.topbuttonHeader {
  position: relative;
  top: -27px;
}

fieldset {
  padding: 0px 0 0px 10px;
  border: 1px solid #ebebeb;
  margin-top: 10px;
  border-radius: 3px;
}
.Wraphousehold {
  position: relative;
  margin-top: -9px;
}
.bgchk-col1 {
  position: relative;
  top: 24px;
}
.bgchk-col1 .romainWrap {
  display: inline-block;
  top: -5px;
  position: absolute;
  left: 17px;
}
.bgchk-col2 {
  position: relative;
  top: 13px;
  left: 20px;
}
.bgchk-col2 .inputfield {
  width: 70%;
  position: relative;
  top: -24px;
  left: 14px;
}
.dropdown {
  position: relative;
  cursor: pointer;
  left: -15px;
  top: -8px;
}
.dropdown:after {
  position: absolute;
  content: "";
  left: 0px;
  top: 35px;
  width: 10px;
  height: 5px;
  border-left: 6px solid #0a69b9;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
}

.padtopbottom10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.norecord {
  width: 30%;
  padding: 40px;
  border: 1px solid #ebebeb;
  margin: 50px auto 0;
}
.bgchk-col3 {
  margin-top: 10px;
  max-height: 95px;
  overflow-y: auto;
  margin-right: 12px;
}

.greybg {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fcfcfc;
}
.mt-120 {
  margin-top: 120px;
}

.bgIn-Row {
  position: relative;
  top: 13px;
}
.bgIn-Row .inputfield {
  width: 70%;
  position: relative;
  top: -24px;
  left: 14px;
}
.template-screen {
  position: relative;
}
.greytxt {
  color: #959da5;
}
.padtop {
  padding-top: 7px;
}
.bluefont {
  font-size: 12px;
  letter-spacing: 0px;
  color: #087de1;
}
.loopmar {
  padding-top: 5px;
  width: 100%;
  padding-left: 15px;
}
.col1 {
  width: 70%;
  display: inline-block;
}
.col2 {
  width: 30%;
  display: inline-block;
}
.uploadfile {
  position: relative;
  left: -24px;
  top: 6px;
}

.dd-houseHold{width:290px;}
