<template>
    <template if:true={hasBackgroundAddBtn}>
        <div class="template-screen">
            <div class="slds-float_right mt-10">
                <div if:true={hasHouseHoldEnable} style="padding: 14px 0;"></div>
                <div class="slds-grid slds-wrap heightchkbg">
                    <div
                        class="slds-col slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 topbuttonHeader">
                        <template if:true={hasHouseHoldCreate}>
                            <lightning-combobox class="background-drop" name="household" label="Select HouseHold"
                                options={selectHouseholdMemberOptions} onchange={householdSelectOnChange} required>
                            </lightning-combobox>
                        </template>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 ">
                        <lightning-button label="Check Background" class="btn btn-pri slds-m-left--small"
                            variant="brand" onclick={addOnHouseHoldOnClick} disabled={pickDisable} name="btnClick">
                        </lightning-button>
                    </div>
                </div>
            </div>
            <template if:false={dataTableShow}>
                <div class="slds-clearfix mt-120">
                    <div class="text-center file-upload slds-p-vertical--xx-large norecord">
                        <img class="icon-attachment" src={serviceIcon} />
                        <p class="font-bold padtop10">No Background Checks Details Found</p>
                        <p class="subfont">Please search and add by HouseHold Members</p>
                    </div>
                </div>
            </template>
            <lightning-datatable if:true={dataTableShow} hide-checkbox-column
                class="custom-tbl generalTable scroll_Overflow" key-field="id" data={backgroundcheck} columns={columns}
                onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>
    </template>

    <!-- //Checklist Type Select -->
    <template if:true={hasSelectBackgroundType}>
        <div class="template-screen">
            <div class="slds-grid slds-wrap padtop10">
                <div class="slds-col slds-col--padded slds-size_1-of-1">
                    <div class="slds-align_absolute-center mb-10">
                        <div class="box-col1" onclick={boxbordercolorchangeforSecurity}>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                                    <img class="iconpadbot" src={pscIcon} /> <br />
                                    <p class="greySpan"> Personal Security Checks</p>
                                    <p class={colorPersonalSecurityStatus}> {headerPersonalSecurityStatus} </p>
                                </div>
                            </div>
                        </div>
                        <div class="box-col3" onclick={boxbordercolorchangeForCriminal}>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                                    <img src={chIcon} class="iconpadbot" />
                                    <br />
                                    <p class="greySpan"> Criminal History </p>
                                    <p class={colorCriminalStatus}> {headerCriminalStatus}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset for:each={questions} for:item="question" key={question.Id} disabled={AssignbtnDisable}>
                        <legend class="sec-title">{question.RefKey__c}</legend>
                        <div class="slds-grid  Wraphousehold">
                            <div
                                class="fieldsetnone slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                <div class="bgchk-col1">
                                    <span> {question.Comar__c}</span>
                                    <div class="romainWrap monitorRadioGroup">
                                        <lightning-radio-group if:true={question.Question__c} options={radioOptions}
                                            type="button" label={question.Question__c}
                                            value={question.HouseholdStatus__c} onchange={handleQuestion}
                                            name={question.Id}>
                                        </lightning-radio-group>

                                        <lightning-combobox if:false={question.Question__c} name={question.Id}
                                            label="State" options={stateValues} value={question.State__c}
                                            onchange={handleStates}></lightning-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown"></div>
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-6 greybg">
                                <div if:true={question.Question__c} class="bgchk-col2">
                                    <span> {question.Comar__c} </span>
                                    <lightning-input if:true={question.Question__c} label="Clearance Date"
                                        value={question.Date__c} autocomplete="off" type="date" class="date inputfield"
                                        onchange={handleClearanceDate} name={question.Id}>
                                    </lightning-input>
                                </div>
                            </div>
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                <div class="bgchk-col3 monitorRadioGroup">
                                    <lightning-radio-group if:true={question.HaveDependantQues} options={radioOptions}
                                        type="button" label={question.SubQuestion__c}
                                        value={question.HouseholdStatus__c} onchange={handleQuestion}
                                        name={question.SubId}>
                                    </lightning-radio-group>
                                </div>
                                <div if:true={question.hasApprovalDate}>
                                    <div class="slds-grid">
                                        <div class="slds-col--padded slds-size--1-of-2">
                                            <div class="bgIn-Row">
                                                <span> {question.Comar__c} </span>
                                                <lightning-input if:true={question.hasApprovalDate}
                                                    label="Approval Date" value={question.Date__c} autocomplete="off"
                                                    type="date" class="date inputfield" onchange={handleClearanceDate}
                                                    name={question.Id}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                        <div class="slds-col--padded slds-size--1-of-1 padtop">
                                            <lightning-file-upload label="" name="fileUploader" accept={acceptedFormats}
                                                variant="label-hidden" class="uploadfile mfileUpload"
                                                record-id={recordId} onuploadfinished={handleUploadFinished} multiple>
                                            </lightning-file-upload>
                                        </div>
                                    </div>
                                    <div class="slds-grid">
                                        <div class="slds-col--padded slds-size--1-of-1"><span class="greytxt">Worker can
                                                upload written approval from the Director</span></div>
                                    </div>
                                    <div class="slds-grid slds-wrap mt-10 mb-10">

                                        <template for:each={finalUploadResult} for:item="getUploadedFiles">

                                            <div class="loopmar" id={getUploadedFiles.id} key={getUploadedFiles.id}>
                                                <span class="col1"><a href={getUploadedFiles.downloadfile}
                                                        class="bluefont">{getUploadedFiles.filename}</a></span>
                                                <span class="col2">
                                                    <lightning-icon icon-name="utility:delete" size="x-small"
                                                        class="marginRight10 iconColor" style='cursor:pointer'
                                                        data-id={getUploadedFiles.ContentDocumentId}
                                                        onclick={deleteFileupload}>
                                                    </lightning-icon>
                                                </span>
                                            </div>
                                        </template>

                                    </div>
                                </div>
                            </div>
                            <div class="dropdown"></div>
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 greybg">
                                <lightning-input label="Narrative" type="text" value={question.Comments__c}
                                    onchange={handleNarattive} name={question.Id}></lightning-input>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
            <footer class="slds-modal__footer mt-10">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col  slds-col--padded">
                        <div class="slds-clearfix">
                            <div class="slds-float_left padleft18">
                                <template if:true={hasOutofStateVisible}>

                                    <button class="slds-button slds-button_brand" name="draft" style="float: left;"
                                        onclick={addNewOutOfState} disabled={AssignbtnDisable}>
                                        Add Out Of State Clearance
                                    </button>
                                </template>
                            </div>
                            <div class="slds-float_right btnSec">
                                <lightning-button label="Cancel" onclick={cancelOnClick} class="btn-sec mr-10">
                                </lightning-button>
                                <lightning-button label="SAVE AS DRAFT" variant="outline-brand"
                                    onclick={createNewRecord} disabled={AssignbtnDisable} name="draft"
                                    class="btn-sec mr-10">
                                </lightning-button>
                                <lightning-button label={btnLabel} onclick={createNewRecord} disabled={AssignbtnDisable}
                                    class="btn-pri">
                                </lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </template>

</template>