<template>
    <div class="slds-float_right" if:false={isSuperUserFlow}>
        <lightning-button variant="brand" label="ADD IRC RATES" onclick={openIRCRateModel}
            class="btn btn-pri btn-topright" style="top:2px;"></lightning-button>
    </div>

    <div class="application-table" if:false={noRecordsFound}>
        <div class="slds-align_absolute-center">
            <lightning-datatable class="custom-tbl" key-field="id" data={currentPageIRCRateData} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>
        <div class="paginationPosition">
            <c-common-pagination get-count={totalIRCRatesCount} page={page} setsize={setPagination} perpage={perpage}
                onprogressvaluechange={hanldeProgressValueChange}>
            </c-common-pagination>
        </div>
    </div>

    <div if:true={noRecordsFound} class="application-table">
        <div class="text-center file-upload slds-p-vertical--xx-large">
            <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
            <p class="font-bold padtop10">No IRC Rates Added Here</p>
            <p class="subfont">Add neccessary Cost Sheet by clicking the button above</p>
        </div>
    </div>

    <template if:true={openModel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {title}</h2>
                            <button class="close-button" title="Close" onclick={closeIRCRateModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content no-padding overVisible" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap slds-p-top_small">
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-radio-group type="radio" name="RateType" class="radio-horizontal"
                                        label="Rate Type" options={rateTypeOptions} onchange={ircRatesOnChange}
                                        value={ircRateDetails.RateType__c} required></lightning-radio-group>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-combobox name="AvailableLicenseTypes" label="Available License Types"
                                        placeholder="Select License Type" options={createOrEditLicenseTypeOptions}
                                        onchange={ircRatesOnChange} value={ircRateDetails.LicenseType__c} required
                                        disabled={licenseTypeDisabled}>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="IRCBedCapacity" label="IRC Bed Capacity"
                                        message-when-step-mismatch="Invalid Format" placeholder="Enter Bed Capacity"
                                        onchange={ircRatesOnChange} value={ircRateDetails.IRCBedCapacity__c} min="1"
                                        max="10000" required>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="date" name="StartDate" label="Start Date"
                                        placeholder="Select Start Date" onchange={ircRatesOnChange}
                                        value={ircRateDetails.StartDate__c} min={minstartdate} required>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="date" name="EndDate" label="End Date"
                                        placeholder="Select End Date" onchange={ircRatesOnChange}
                                        value={ircRateDetails.EndDate__c} min={minenddate} required>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="PerDiemRates" label="$ Per Diem Rates"
                                        step="0.01" placeholder="Enter Diem Rate"
                                        message-when-step-mismatch="Invalid Format" onchange={ircRatesOnChange}
                                        value={ircRateDetails.PerDiemRate__c} required>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="Monthly" label="$ Monthly" step="0.01"
                                        placeholder="Monthly Diem Rate" value={ircRateDetails.Monthly__c} required
                                        disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="Annual" label="$ Annual" step="0.01"
                                        placeholder="Annual Diem Rate" value={ircRateDetails.Annual__c} required
                                        disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input name="RateCode" label="Rate Code" placeholder="Enter Rate Code"
                                        value={ircRateDetails.RateCode__c} onchange={ircRatesOnChange} required
                                        disabled>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-col--padded slds-p-vertical_medium">
                                    <div class="btnSec">
                                        <lightning-button class="btn btn-sec" label="CANCEL"
                                            onclick={cancelIRCRateDetails}></lightning-button>
                                        <lightning-button label="CREATE" class="btn btn-pri slds-m-left_x-small"
                                            onclick={createIRCRateDetails} disabled={createBtnDisabled}>
                                        </lightning-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={viewModel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">
                                IRC RATES</h2>
                            <button class="close-button" title="Close" onclick={closeIRCRateModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  no-padding overVisible" id="modal-content-id-2">
                            <div class="slds-grid slds-wrap slds-p-top_small">
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-radio-group type="radio" name="RateType" class="radio-horizontal"
                                        label="Rate Type" options={rateTypeOptions} onchange={ircRatesOnChange}
                                        value={ircRateDetails.RateType__c} required disabled></lightning-radio-group>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-combobox name="AvailableLicenseTypes" label="Available License Types"
                                        placeholder="Select License Type" options={createOrEditLicenseTypeOptions}
                                        onchange={ircRatesOnChange} value={ircRateDetails.LicenseType__c} required
                                        disabled>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="IRCBedCapacity" label="IRC Bed Capacity"
                                        placeholder="Enter Bed Capacity" onchange={ircRatesOnChange}
                                        value={ircRateDetails.IRCBedCapacity__c} required disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="date" name="StartDate" label="Start Date"
                                        placeholder="Select Start Date" onchange={ircRatesOnChange}
                                        value={ircRateDetails.StartDate__c} required disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="date" name="EndDate" label="End Date"
                                        placeholder="Select End Date" onchange={ircRatesOnChange}
                                        value={ircRateDetails.EndDate__c} required disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="PerDiemRates" label="$ Per Diem Rates"
                                        placeholder="Enter Diem Rate" onchange={ircRatesOnChange}
                                        value={ircRateDetails.PerDiemRate__c} required disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="Monthly" label="$ Monthly"
                                        value={ircRateDetails.Monthly__c} placeholder="Monthly Diem Rate" required
                                        disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input type="number" name="Annual" label="$ Annual"
                                        value={ircRateDetails.Annual__c} placeholder="Annual Diem Rate" required
                                        disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
                                    <lightning-input name="RateCode" label="Rate Code"
                                        value={ircRateDetails.RateCode__c} onchange={ircRatesOnChange}
                                        placeholder="Enter Rate Code" required disabled>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-col--padded">
                                    <div class="btnSec">
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={historyModel}>
        <div class="demo-only mhistoryModel" style="height: 700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true"
                aria-describedby="modal-content-id-3"
                class="slds-backdrop slds-backdrop_open slds-modal_medium slds-modal slds-fade-in-open">
                <div class="slds-modal__container staffCertPop">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate fontweight">IRC Rates
                            History</h2>
                        <button class="close-button" title="Close" onclick={closeIRCRateModel}></button>
                    </header>
                    <div class="slds-modal__content no-padding" style="height: 250px;overflow-y: auto;">
                        <lightning-datatable if:false={noHistoryRecordsFound} class="custom-tbl" key-field="id"
                            data={ircRateHistoryData} columns={ircRateHistoryColumns} hide-checkbox-column>
                        </lightning-datatable>
                        <div if:true={noHistoryRecordsFound} class="text-center file-upload slds-p-vertical--xx-large ">
                            <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
                            <p class="font-bold padtop10">No Documents Available</p>
                            <p class="subfont">No IRC Rate History Records Available</p>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Close" variant="brand" onclick={closeIRCRateModel}></lightning-button>
                    </footer>
                </div>
            </section>
        </div>
    </template>


    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>