<template>
    
   <div class="template-screen" if:false={norecorddisplay}>
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
            <img class="icon-attachment" src={deficiencyViolationIcon}/>
            <p class="font-bold padtop10">No Deficiency/Violation Found</p>
            <p class="subfont">Please Add Deficiency/Violation by clicking 'Add Deficiency/Violation' Button</p> 
        </div>
    </div>

    <div class="template-screen" if:true={norecorddisplay}>
        <lightning-datatable key-field="id" data={currentDeficiencyViolationData} columns={columns} hide-checkbox-column="true"
          onrowaction={handleRowAction} class="custom-tbl">
        </lightning-datatable>
    </div>
    
    <template if:true={showButtonDeficiency}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                               {title}</h2>
                            <button class="close-button" title="Close" onclick={closeModal}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible">
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                     <lightning-input name="Complaint__c" label="Complaint Number" value={complaintNumber} disabled={disabledComplaint}
                                             placeholder="Enter Complaint Number" >
                                        </lightning-input>
                                   
                                </lightning-layout-item>
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-combobox name="Deficiency__c" label="Deficiency/Violation" value={addDeficiencyViolations.Deficiency__c}
                                        placeholder="Select Deficiency/Violation" options={complaintDeficiencyViolationOptions} disabled={disabledForView}
                                        onchange={handleChange}  required>
                                    </lightning-combobox>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-input name="Citation__c" label="Citation" value={addDeficiencyViolations.Citation__c}
                                        onchange={handleChange} placeholder="Enter Citation" disabled={disabledForView} required>
                                    </lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>


                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-combobox name="FrequencyofDeficiency__c" label="Frequency of Deficiency" value={addDeficiencyViolations.FrequencyofDeficiency__c}
                                        placeholder="Select Frequency of Deficiency" options={complaintFrequencyOptions} 
                                        onchange={handleChange}  disabled={disabledForView} required>
                                    </lightning-combobox>
                                </lightning-layout-item>

                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-combobox name="ImpactofDeficiency__c" label="Impact of Deficiency" value={addDeficiencyViolations.ImpactofDeficiency__c}
                                        placeholder="Select Impact of Deficiency" options={complaintImpactOptions} 
                                        onchange={handleChange} disabled={disabledForView} required>
                                    </lightning-combobox>
                                </lightning-layout-item>

                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-combobox name="ScopeofDeficiency__c" label="Scope of Deficiency"
                                        placeholder="Select Scope of Deficiency" options={complaintScopeOptions} value={addDeficiencyViolations.ScopeofDeficiency__c}
                                        onchange={handleChange} disabled={disabledForView}  required>
                                    </lightning-combobox>
                                </lightning-layout-item>
                               
                            </lightning-layout>


                            <lightning-layout multiple-rows="true">
                               <lightning-layout-item size="12" class="slds-p-around_x-small">
                                    <lightning-input name="Findings__c" label="Findings" value={addDeficiencyViolations.Findings__c}
                                            onchange={handleChange} placeholder="Enter Findings" disabled={disabledForView} required>
                                        </lightning-input>
                                </lightning-layout-item>
                               
                            </lightning-layout>

                            <lightning-layout multiple-rows="true">
                                 <lightning-layout-item size="12" class="slds-p-around_x-small">
                                     <lightning-input name="Comments__c" label="Comments"  value={addDeficiencyViolations.Comments__c}
                                            onchange={handleChange} placeholder="Enter Comments" disabled={disabledForView} >
                                        </lightning-input>
                                </lightning-layout-item>
                               
                            </lightning-layout>


                        </div>
                        <footer class="slds-modal__footer">
                           
                            <lightning-button label="Cancel" onclick={closeModal} variant="brand-outline" class="mr-10">
                            </lightning-button>
                            <template if:true={ViewHide}>
                            <lightning-button label={btnLabel} variant="neutral" onclick={handleSave} disabled={isBtnDisable} class="mr-10"></lightning-button>
                           </template>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>


    

</template>