<template>
    <div class="template-screen">
        <div if:true={noIconShow} class="slds-align_absolute-center nosearchicon">
            <p class="searchIcon-Det">No Provider Details Found !</p><br />
            <p class="secP">Search and add the provider, If not found, Complete narrative with outside attempts to
                locate the provider.
            </p>
            <lightning-button variant="brand" label="Search" class="btn btn-pri slds-m-left_x-small btnAlign" onclick={openSearchProvider}>
            </lightning-button>
        </div>
        <template if:true={showSearchProvider}>
            <div class="demo-only">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                    <div class="slds-modal__container">
                        <div class="popborder">
                            <header class="slds-modal__header">
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                    Search Providers
                                </h2>
                                <button class="close-button" title="Close" onclick={closeSearchProvider}>
                                </button>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-combobox name="providerType" label="Select Provider Type" options={providerTypeValues} value={searchModel.providerType} onchange={onChangeHandlersFrSrch} placeholder="Select Provider Type" required>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="providerId" label="Provider Id" autocomplete="off" value={searchModel.providerId} placeholder="Enter Provider Id" onchange={onChangeHandlersFrSrch}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="providerName" label="Provider / Applicant Name" autocomplete="off" value={searchModel.providerName} placeholder="Enter Name" onchange={onChangeHandlersFrSrch}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 popSearch">
                                        <lightning-button variant="brand" label="Search" class="btn btn-pri slds-m-left_x-small" onclick={fetchProviderDet}>
                                        </lightning-button>
                                    </div>
                                    <div if:true={showTable} class="public-bg-table">
                                        <div class="pageWrapInstructor" if:true={showPrivateData}>
                                            <div class="salesforceTable">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>PROVIDER ID</th>
                                                            <th>PROVIDER NAME</th>
                                                            <th>PROVIDER TYPE</th>
                                                            <th>TAX ID</th>
                                                            <th>STATUS</th>
                                                            <th class="Lchild-wid"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <template for:each={providersListsData} for:item="providersList">
                                                            <tr key={providersList.rowId}>
                                                                <td>
                                                                    <span>{providersList.ProviderId__c}</span>
                                                                </td>
                                                                <td>
                                                                    <span>{providersList.Name}</span>
                                                                </td>
                                                                <td>
                                                                    <span>{providersList.applicant}</span>
                                                                </td>
                                                                <td>
                                                                    <span>{providersList.coApplicant}</span>
                                                                </td>
                                                                <td class={providersList.statusClass}>
                                                                    <span>{providersList.Status__c}</span>
                                                                </td>
                                                                <td class="Lchild-wid">
                                                                    <div data-id={providersList.rowId} class="btn check dropdown" onclick={handleRowSelection}>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr data-id={providersList.rowId} key={providersList.rowId} class="conli slds-hide">
                                                                <td>
                                                                    <div class="slds-text-heading_small slds-text-align_center mm-innertbl">
                                                                        <lightning-datatable class="complaint-tbl" key-field="addressId" data={privateProviderDatas} columns={privateProviderColumns} max-row-selection="1" onrowselection={handleRowSelection} selected-rows={preSelectedRows}>
                                                                        </lightning-datatable>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </template>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="pageWrapInstructor" if:false={showPrivateData}>
                                            <lightning-datatable key-field="rowId" data={providersListsData} columns={publicColumns} max-row-selection="1" onrowselection={handleRowSelectionPub} selected-rows={selectedProvider}>
                                            </lightning-datatable>
                                        </div>
                                    </div>
                                    <div if:false={showTable} class="noRecFind">
                                        <p>Please Search Provider by any One of the Field Above!..</p>
                                    </div>
                                    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
                                        <c-common-loading-spinner></c-common-loading-spinner>
                                    </div>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col--padded slds-size--1-of-1 slds-p-top_small slds-text-align_right">
                                        <lightning-button class="btn btn-sec" label="CANCEL" onclick={closeSearchProvider}>
                                        </lightning-button>
                                        <lightning-button if:false={isDisabled} variant="brand" label=ADD class="btn btn-pri slds-m-left_x-small" onclick={addProviderToComp} disabled={isDisableActionBtn}>
                                        </lightning-button>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>
        <template if:false={noIconShow}>
            <lightning-datatable if:true={showPrivateData} key-field="id" data={providerRecord} columns={compRefPrivTable} class="custom-single-row-tbl generalTable scroll_Overflow complaint-tbl" hide-checkbox-column onrowaction={handleRowAction}>
            </lightning-datatable>
            <lightning-datatable if:false={showPrivateData} key-field="id" data={providerRecord} columns={compRefPubTable} class="custom-single-row-tbl generalTable scroll_Overflow" hide-checkbox-column onrowaction={handleRowAction}>
            </lightning-datatable>
            <lightning-card>
                <div class="slds-grid slds-wrap application_fieldset mb-10">
                    <div class="sec-inner">
                        <div class="slds-col slds-col--padded slds-large-size_1-of-1">
                            <fieldset>
                                <legend class="housHoldFwt_1000">Communication Details
                                </legend>
                                <div class="slds-grid slds-wrap widthAlign">
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-combobox name="commincationValues" label="Communication Method" options={communicationValues} value={complaints.Origin} placeholder="Select" onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-combobox name="sourceOfInf" label="Source of Information" options={sourceOfInfValues} value={complaints.SourceofInformation__c} placeholder="Select" onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="date" name="DOC" class="dummyDate" label="Date Of Complaint" placeholder="Select Date" autocomplete="off" max={currentDate} time-style="medium" value={complaints.ComplaintReceivedDate__c} min="1970-03-01T10:49:11.000Z" onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <div class="monitorRadioGroup">
                                            <div class="cusm-radio">
                                                <lightning-radio-group options={compSourceValues} name="complaintSource" label="Complaint Source" value={complaints.ComplaintSource__c} onchange={onChangeHandlers} type="button" disabled={isDisabled} required>
                                                </lightning-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="slds-col slds-col--padded slds-large-size_1-of-1" if:true={showReportDetails}>
                            <fieldset>
                                <legend class="housHoldFwt_1000">Reporter Details
                                </legend>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="firstName" label="First Name" value={reporterDet.FirstName__c} onchange={onChangeHandlers} placeholder="First Name" disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="lastName" label="Last Name" placeholder="Last Name" value={reporterDet.LastName__c} onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" label="Address Line 1" maxlength="80" class="inputRequired4 mandateAddress1" name="address1" id="AddressLineOne" value={addressOfReporter.AddressLine1__c} onchange={onChangeHandlers} disabled={isDisabled} placeholder="Enter Address" required>
                                        </lightning-input>
                                    </div>
                                    <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" style="margin-top: 2px;
                                                width: 230px;
                                                left: 666px;" class={tabClass} role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                            <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.place_id} data-description={item.description} class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" onclick={selectStreetAddress}>
                                                        {item.description}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="address2" label="Address Line 2" autocomplete="off" value={addressOfReporter.AddressLine2__c} placeholder="Enter Address" onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input name="city" label="City" placeholder="Enter City" class="dummyCity" onchange={onChangeHandlers} value={addressOfReporter.City__c} disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input label="State" name="state" class="dummyState" placeholder="Enter State" aria-autocomplete="false" value={addressOfReporter.State__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                        <div if:true={showStateBox} id="listbox-id-16" class="slds-dropdown_length-with-icon-7 popup-dropbox" style="width: 305px;" role="listbox">
                                            <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                                <template for:each={filteredStateArr} for:item="item">
                                                    <li key={item.id} role="presentation" class="slds-listbox__item">
                                                        <div data-id={item.Id} data-value={item.Value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedState}>
                                                            {item.Value}
                                                        </div>
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input label="County" name="county" placeholder="Enter County" aria-autocomplete="false" value={addressOfReporter.County__c} onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-input>
                                        <div if:true={showCountyBox} id="listbox-id-17" class="popup-dropbox slds-dropdown_length-with-icon-7" style="width: 305px;" role="listbox">
                                            <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                                <template for:each={filteredCountyArr} for:item="item">
                                                    <li key={item.label} role="presentation" class="slds-listbox__item">
                                                        <div data-id={item.label} data-value={item.value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedCounty}>
                                                            {item.value}
                                                        </div>
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="zipcode" label="Zip Code" autocomplete="off" value={addressOfReporter.ZipCode__c} placeholder="Enter Zip Code" onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="text" name="mobileNumber" label="Phone Number" autocomplete="off" value={addressOfReporter.Phone__c} placeholder="Enter Phone Number" max-length=14 onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                        <lightning-input type="email" class="email" name="email" disabled={disableStatus} onchange={onChangeHandlers} value={addressOfReporter.Email__c} label="Email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--2-of-4">
                                        <lightning-textarea label="Description of Incident / Complaint" name="incidentDescription" value={reporterDet.Description} onchange={onChangeHandlers} class="textArea-height" disabled={isDisabled} required>
                                        </lightning-textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="sec-bottom">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-col--padded">
                                    <lightning-button class="btn btn-sec" label="Cancel" onclick={redirectToComplaintsRefDashboard}>
                                    </lightning-button>
                                    <lightning-button if:false={isDisabled} label={saveOrUpdate} class="btn btn-pri
                                    slds-m-left_x-small" onclick={validationBfSaveOrUpdate}></lightning-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </lightning-card>
        </template>
        <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
            <c-common-loading-spinner></c-common-loading-spinner>
        </div>
    </div>
</template>