.searchIcon-Det {
    margin-top: 190px;
    text-align: center;
    color: rgb(212, 209, 209);
}

.nosearchicon {
    display: grid;
}

.secP {
    margin-top: -10px;
}

.noRecFind {
    margin-top: 100px;
    margin-left: 35%;
}

.btnAlign {
    text-align: center;
    margin-top: 5px;
}

.popSearch {
    padding-left: 50px;
    margin-top: 28px;
}

.pageWrapInstructor {
    background: #fff;
    /* height: calc(100vh - 430px); */
    /* width: calc(100vw - 440px); */
    overflow: auto;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 0 10px #e9e9ea;
    background: rgb(255, 255, 255);
}

.public-bg-table {
    padding: 3px 10px 3px 10px;
    margin-top: 15px;
}

.salesforceTable {
    display: inline-block;
    height: calc(100vh - 336px);
    overflow-y: auto;
}

.salesforceTable table {
    border-collapse: collapse;
    box-shadow: 0px 1px 5px 0px #45414e1c;
    background: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}

.salesforceTable thead th {
    font-weight: 500;
    font-size: 12px;
}

.salesforceTable td,
th {
    padding: 8px;
    border-bottom: 1px solid #e8e8e8;
    display: table-cell;
}

.salesforceTable thead {
    display: table;
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #e8e8e8;
    border-radius: 0px 2px 0px 0px;
    text-transform: uppercase;
}

.salesforceTable tbody tr {
    border-left: 5px solid transparent;
}

.salesforceTable tbody tr:hover {
    background: #fcfcfc;
    border-left: 5px solid blue !important;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

/* .salesforceTable tbody { display: block; max-height: calc(100vh - 384px); overflow-y: auto; }  */
.salesforceTable table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown:after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 10px;
    height: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #0a69b9;
}

.showLess {
    position: relative;
    cursor: pointer;
}

.showLess:after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 10px;
    height: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #0a69b9;
}

.Lchild-wid {
    width: 5%;
}

.nestedTable-wrap {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.nestedsalesForce table {
    border-collapse: collapse;
    box-shadow: none;
    background: #fcfcfc;
    border-radius: 4px;
    box-sizing: border-box;
}

.nestedsalesForce thead th {
    font-weight: 500;
    font-size: 12px;
}

.nestedsalesForce th {
    padding: 15px;
    border: 0 !important;
}

.nestedsalesForce td {
    padding: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 0;
}

.nestedsalesForce thead {
    background: #fbfbfb;
    border: none;
    border-radius: none;
    text-transform: uppercase;
}

.nestedsalesForce tbody tr {
    border-left: 0 !important;
}

.nestedsalesForce tbody tr:hover {
    background: none;
    border-left: 0 !important;
}

.nestedsalesForce thead tr {
    border-left: 0 !important;
}

.nestedsalesForce thead tr:hover {
    background: none;
    border-left: 0 !important;
}

.padzero {
    padding: 0 !important;
}

.custom-single-row-tbl {
    display: inline-block;
    width: 100%;
}

/* .widthAlign {
    width: 94%;
} */

.houseHoldMember {
    height: calc(100vh - 186px);
    margin: 10px;
    display: inline-block;
}

.houseHoldMember .application_fieldset {
    height: calc(100vh - 215px);
    overflow: auto;
}

.application_fieldset .select_verification fieldset {
    display: block;
    padding: 0px !important;
    border: 0 !important;
}

.checkbox-horizontal.select_verification .slds-form-element__control .slds-checkbox {
    display: inline-block;
    width: 50% !important;
}

.template-screen {
    overflow: hidden;
}

.sec-inner {
    padding-bottom: 50px;
    overflow: auto;
    height: calc(100vh - 310px);
    width: 100%;
}

.sec-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fcfcfc;
    padding: 5px;
    text-align: right;
    border-top: 1px solid #ebebeb;
}