<template>
  <div if:true={norecorddisplay} class="application-table">
    <lightning-datatable key-field="id" data={Stafftableshow} columns={columns} hide-checkbox-column="true"
      class="custom-tbl staff-tbl">
    </lightning-datatable>
    <div if:true={norecorddisplay} class="paginationPosition">
      <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
        onprogressvaluechange={hanldeProgressValueChange}>
      </c-common-pagination>
    </div>
  </div>

  <div if:false={norecorddisplay} class="applicationStaff-screen">
    <div class="text-center file-upload slds-p-vertical--xx-large">
      <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
      <p class="font-bold padtop10">No Staff Has Been Added</p>
    </div>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
</div>
</template>