.staff-personalinfo { 
    border: 1px solid #EBEBEB; 
    border-radius: 4px;
    margin-bottom:10px;
     background: #fdfdfd;
}
.staff-personalinfo-header {  
    background: #FBFBFB ; 
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #EBEBEB; 
}
.staff-personalinfo .slds-card{background-color: #fdfdfd; box-shadow: none !important; border:0;}
.staff-personalinfo .slds-card__body{ background-color: #fdfdfd;}
.staff-informationWrap { background: #fff; height: calc(100vh - 180px); overflow: hidden;
    border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
     position: fixed; width:calc(100vw - 20px);  }
.marginEqual{ margin-left:10px; margin-right: 10px; margin-top:10px;}
.padEqual{ padding:8px;}
.personal-info .slds-col--padded{padding:10px 0;}
.staffWrap{ 
    padding: 0;
    height: calc(100% - 5px);
    overflow: auto;
    box-shadow: none;}
    .wid-100{ width: 100%;}