<template>
  <h2 class='sub-title'><a style="text-decoration: none;" onclick={redirectToStaff}>STAFF </a> > <span
      if:true={staffexists}>{staffInformation.firstName} {staffInformation.lastName}</span></h2>

  <div class="staff-informationWrap marginEqual padEqual">
    <div class="staffWrap">
      <div class="staff-personalinfo">
        <article class="slds-card">
          <div class="staff-personalinfo-header">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                  <h2>PERSONAL INFORMATION</h2>
                </div>
              </header>
            </div>
          </div>
          <div class="siteAddress_inContainer" if:true={staffexists}>
            <div class="slds-card__body slds-card__body_inner mZero">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      First Name
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.firstName}
                    </div>
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Last Name
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.lastName}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Job title
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.jobTitle}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Employee Type
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.employeeType}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Comments
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.comments}
                    </div>
                  </div>
                </div>
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      <img src={mobile} class="slds-p-right_x-small" style="width: 23px;" /> Mobile Number
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.contactNo}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      <img src={email} class="slds-p-right_x-small" style="width: 23px;" /> Email Address
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.email}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="staff-personalinfo">
        <article class="slds-card">
          <div class="staff-personalinfo-header">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                  <h2>STAFF CERTIFICATIONS</h2>
                </div>
              </header>
            </div>
          </div>
          <div class="siteAddress_inContainer" if:true={staffexists}>
            <div class="slds-card__body slds-card__body_inner mZero">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Certificate Type
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.certificationType}
                    </div>
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Due Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.dueDate}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Application Mailed Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.appMailedDate}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Tested Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.testedDate}
                    </div>
                  </div>
                </div>

                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info ">
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Certificate No
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.CertificateNumber__c}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      BIT Completed
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.bitCompleted}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Effective Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.certificationEffectiveDate}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Renewal Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.renewalDate}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="staff-personalinfo">
        <article class="slds-card">
          <div class="staff-personalinfo-header">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                  <h2>STAFF TRAINING</h2>
                </div>
              </header>
            </div>
          </div>
          <div class="siteAddress_inContainer" if:true={staffexists}>
            <div class="slds-card__body slds-card__body_inner mZero">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Training Name
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffTraining.staffTrainingName}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      No of Hours
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffTraining.staffTrainingHours} </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffTraining.staffTrainingcompletionDate}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="staff-personalinfo">
        <article class="slds-card">
          <div class="staff-personalinfo-header">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                  <h2>CLEARANCE INFO</h2>
                </div>
              </header>
            </div>
          </div>
          <div class="siteAddress_inContainer" if:true={staffexists}>
            <div class="slds-card__body slds-card__body_inner mZero">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div class="fw-500 wid-100">CORPORATE INFORMATION</div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Request Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.ciReqDate}
                    </div>
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Response Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.ciResDate}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      RCC: COMAR 14.31.06.05
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.ciRcc} </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      CPA: COMAR 14.31.06.05
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.ciCpa}
                    </div>
                  </div>
                </div>
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div class="fw-500 wid-100">STATE CLEARANCE</div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Request Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.scReqDate}
                    </div>
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Response Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.scResDate}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      RCC: COMAR 14.31.06.05
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.scRcc} </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      CPA: COMAR 14.31.06.05
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.scCpa}
                    </div>
                  </div>
                </div>
                <div class="slds-col slds-large-size_1-of-3">
                  <div class="slds-grid slds-wrap personal-info">
                    <div class="fw-500 wid-100">FEDERAL CLEARANCE</div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Request Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.fcReqDate}
                    </div>
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      Response Date
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.fcResDate}
                    </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      RCC: COMAR 14.31.06.05
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.fcRcc} </div>
                    <div
                      class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      CPA: COMAR 14.31.06.05
                    </div>
                    <div
                      class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                      {staffInformation.fcCpa}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>

      </div>
      <div class="slds-grid slds-wrap mt-10">
        <div class="slds-col">
          <div class="slds-clearfix">
            <div class="slds-float_right">
              <lightning-button variant="brand" label="BACK TO STAFF" title="Primary action" onclick={redirectToStaff}
                class="slds-m-left_x-small"></lightning-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>