<template>
    <div class="template-screen" if:false={norecorddisplay}>
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
            <img class="icon-attachment" src={serviceIcon} />
            <p class="font-bold padtop10">No Services Found</p>
            <p class="subfont">Please Add Services by clicking 'Add Services' Button</p>
        </div>
    </div>

    <div class="application-table" if:true={norecorddisplay}>
        <div class="slds-align_absolute-center">
            <lightning-datatable class="custom-tbl" key-field="id" data={currentPageServiceData} columns={columns}
                hide-checkbox-column onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>
        <div class="paginationPosition" if:true={norecorddisplay}>
            <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
                onprogressvaluechange={hanldeProgressValueChange}>
            </c-common-pagination>
        </div>
    </div>

    <template if:true={openServiceModal}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                               {title}</h2>
                            <button class="close-button" title="Close" onclick={closeServiceModal}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible">
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-combobox name="Category" label="Category" id="Category"
                                        placeholder="Select Category" class="inputRequired mandateProgram" required
                                        options={serviceCategoryOptions} value={Category} onchange={categoryOnChange}
                                        disabled={disabledForView}></lightning-combobox>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-combobox name="PotentialServices" label="Potential Services"
                                        placeholder="Select Potential Services" options={potentialOptions} value={Potential}
                                        onchange={potentialOnChange} disabled={isDisablePotential} required>
                                    </lightning-combobox>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                    <lightning-input name="ServiceDesc" label="Service Description" value={description}
                                        onchange={descOnChange} placeholder="Enter Description" disabled={disabledForView}>
                                    </lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                        <footer class="slds-modal__footer">
                            <template if:true={ViewHide}>
                            <lightning-button label="Cancel" onclick={closeServiceModal} variant="brand-outline" class="mr-10">
                            </lightning-button>
                            <lightning-button label={btnLabel} variant="neutral" onclick={handleSave} class="mr-10" disabled={isDisableBtn}></lightning-button>
                            </template>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>


    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete} disabled={disableDelClick}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={descModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Description</h2>
                        <button class="close-button" title="Close" onclick={closeDescModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            {description}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>