.btn-addTraining{margin-top: 28px;display: inline-block;  }    
    .roomNo{width:100px; display:inline-block;}
    .address1{width:calc(100% - 120px); display:inline-block; margin-left:20px}


.addNewTraining .slds-form-element {
  padding-bottom: 0px;
}

.addNewTraining .slds-form-element .slds-form-element {
  padding-bottom: 0px;
}
.padbot10{ padding-bottom: 10px;}