<template>
  <template if:true={OpenLicenseCard}>
    <div class="left-license-column">
      <div class="left-col-container">
        <nav class="slds-nav-vertical slds-nav-vertical_compact">
          <div class="slds-nav-vertical__section">
            <ul>
              <template for:each={licensesIdList} for:item="license">
                <li key={license.Id} class="slds-nav-vertical__item  divHighLight" onclick={licenseInformation}
                  data-id={license.Id} data-value={license.dataIndex}>
                  <div class="submenu license-main">
                    <div class="license-id bdr_bot">License ID: </div>
                    <div class="license-name"> {license.Name} </div>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="right-license-column">
      <template if:true={licenseInfoVisible}>
        <div class="rightlicense-col-wrapper">
          <div class="slds-grid slds-wrap">
            <div class="license-genaral-info">
              <div class="license-cardinfo">
                <article class="slds-card">
                  <div class="license-cardinfo-header">
                    <div class="slds-card__header slds-grid">
                      <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__body">
                          <h2 class="fw-500"><img src={siteicon} class="slds-p-right_x-small" /> LICENSE INFORMATION
                          </h2>
                        </div>
                      </header>
                    </div>
                  </div>
                  <div class="license_inContainer">
                    <div class="slds-card__body slds-card__body_inner mZero">
                      <div class="slds-grid slds-wrap">
                        <div
                          class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size_12-of-12">
                          <div class="slds-grid slds-wrap license-pad">
                            <div
                              class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                              License Number
                            </div>
                            <div
                              class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                              {LicenseNumber}
                            </div>
                            <div
                              class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                              Program
                            </div>
                            <div
                              class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                              {Program}
                            </div>
                            <div
                              class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                              Program Type
                            </div>
                            <div
                              class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                              {ProgramType}
                            </div>
                            <div
                              class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                              Provider Name
                            </div>
                            <div
                              class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                              {ProviderName}
                            </div>
                            <div
                              class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                              License Status
                            </div>
                            <div
                              class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                              {LicenseStatus} <img if:true={LicenseApproveImg} src={greenTick}
                                class="slds-p-right_x-small" />
                            </div>
                            <div class="slds-grid slds-wrap">
                              <div
                                class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 wid-dateLicense-col1">
                                <span>
                                  <lightning-input type="text" name="IssuanceDate__c" label="Issuance Date" disabled
                                    value={issuanceDate}></lightning-input>
                                </span>
                              </div>
                              <div
                                class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 wid-dateLicense-col2">
                                <span>
                                  <lightning-input type="text" name="EffectiveDate__c" label="Effective Date" disabled
                                    value={effectiveDate}></lightning-input>
                                </span>
                              </div>
                              <div
                                class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 wid-dateLicense-col1">
                                <span>
                                  <lightning-input type="text" name="ExpirationDate__c" label="Expiration Date" disabled
                                    value={expirationDate}></lightning-input>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="slds-grid slds-wrap license_fieldset">
                <div class="slds-col slds-size_1-of-1">
                  <fieldset>
                    <legend class="fw-500">Bed Information</legend>
                    <div class="licenseinfo-card-row">
                      <div class="provider-license-cards">

                        <article class="slds-card">
                          <div class="slds-card__header slds-grid">
                            <header class="slds-media_center slds-has-flexi-truncate">
                              <div class="slds-media__figure figure-marginoRight">
                                <img src={ircIcon} class="slds-p-right_x-small" />
                              </div>
                              <div class="slds-media__body text-center mt-10">
                                <h2 class="card-label">
                                  IRC Bed Capacity
                                </h2>
                                <h2 class="card-value fw-500">{IRCCapacity}</h2>
                              </div>
                            </header>
                          </div>
                        </article>
                      </div>
                      <div class="provider-license-cards">
                        <article class="slds-card">
                          <div class="slds-card__header slds-grid">
                            <header class="slds-media_center slds-has-flexi-truncate">
                              <div class="slds-media__figure figure-marginoRight">
                                <img src={licenseBeds} class="slds-p-right_x-small mt-10" />
                              </div>
                              <div class="slds-media__body text-center  mt-10">
                                <h2 class="card-label">
                                  License Beds
                                </h2>
                                <h2 class="card-value fw-500">{LicenseBeds} </h2>
                              </div>
                            </header>
                          </div>
                        </article>
                      </div>
                      <div class="provider-license-cards">
                        <article class="slds-card">
                          <div class="slds-card__header slds-grid">
                            <header class=" slds-media_center slds-has-flexi-truncate">
                              <div class="slds-media__figure figure-marginoRight">
                                <img src={contractedBeds} class="slds-p-right_x-small" />
                              </div>
                              <div class="slds-media__body text-center  mt-10">
                                <h2 class="card-label">
                                  Contracted Beds
                                </h2>
                                <h2 class="card-value fw-500">{ ContractedBeds}</h2>
                              </div>
                            </header>
                          </div>
                        </article>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>

            <div class="license-siteother-info">
              <div class="siteInfo_address">
                <div class="site-cardinfo">
                  <article class="slds-card">
                    <div class="site-cardinfo-header">
                      <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                          <div class="slds-media__body">
                            <h2><img src={addressIcon} class="slds-p-right_x-small" /> SITE INFORMATION</h2>
                          </div>
                        </header>
                      </div>
                    </div>
                    <div class="siteAddress_inContainer">
                      <div class="slds-card__body slds-card__body_inner mZero">
                        <div class="slds-grid slds-wrap">
                          <div
                            class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size_12-of-12">
                            <div class="slds-grid slds-wrap license-pad">
                              <div
                                class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                Site ID
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                {SiteID}
                              </div>
                              <div
                                class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                Site Address
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                {SiteAddress}
                              </div>
                              <div
                                class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                Application Id
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                                <a class="blue-txt" style="text-decoration: none;" onclick={redirectToApplication}> {
                                  ApplicationId}</a>
                              </div>
                              <div
                                class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                Monitoring
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                <a class="blue-txt" style="text-decoration: none;"
                                  onclick={redirectToMonitering}>{Monitoring} </a>

                              </div>
                              <div
                                class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                <img src={mobile} class="slds-p-right_x-small" style="width: 23px;" /> Mobile Number
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                {MobileNumber}
                              </div>
                              <div
                                class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                <img src={email} class="slds-p-right_x-small" style="width: 23px;" /> Email Address
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                {EmailAddress}
                              </div>
                              <div
                                class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                <img src={fax} class="slds-p-right_x-small" style="width: 23px;" /> Fax
                              </div>
                              <div
                                class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                {Fax}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="siteInfo_address">
                <div class="slds-grid slds-wrap license_fieldset">
                  <div class="slds-col slds-size_1-of-1">
                    <fieldset>
                      <legend class="fw-500">Other Information</legend>
                      <div class="licenseinfo-card-row">
                        <div class="provider-license-cards ">
                          <article class="slds-card">
                            <div class="slds-card__header slds-grid">
                              <header class="slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__figure figure-marginoRight">
                                  <img src={ageRange} class="slds-p-right_x-small mt-10" />
                                </div>
                                <div class="slds-media__body text-center  mt-10">
                                  <h2 class="card-label">
                                    Age Range
                                  </h2>
                                  <h2 class="card-value fw-500">{MinAge} - {MaxAge}</h2>
                                </div>
                              </header>
                            </div>
                          </article>
                        </div>
                        <div class="provider-license-cards">
                          <article class="slds-card">
                            <div class="slds-card__header slds-grid">
                              <header class="slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__figure figure-marginoRight">
                                  <img src={iQRange} class="slds-p-right_x-small mt-10" />
                                </div>
                                <div class="slds-media__body text-center  mt-10">
                                  <h2 class="card-label">
                                    IQ Range
                                  </h2>
                                  <h2 class="card-value fw-500">{MinIQ} - {MaxIQ}</h2>
                                </div>
                              </header>
                            </div>
                          </article>
                        </div>
                        <div class="provider-license-cards">
                          <article class="slds-card">
                            <div class="slds-card__header slds-grid">
                              <header class="slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__figure figure-marginoRight">
                                  <img src={genderIcon} class="slds-p-right_x-small mt-10" />
                                </div>
                                <div class="slds-media__body text-center  mt-10">
                                  <h2 class="card-label">
                                    Gender
                                  </h2>
                                  <h2 class="card-value fw-500">{Gender}</h2>
                                </div>
                              </header>
                            </div>
                          </article>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </template>
  <template if:true={NoLicenseCard}>
    <div class="application-table">
      <div class="text-center file-upload slds-p-vertical--xx-large ">
        <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
        <p class="font-bold" style="padding-top:5px;">No License Available</p>
      </div>

    </div>
  </template>

  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>