.left-license-column{ width:15%; height:calc(100vh - 210px); float:left; }
.right-license-column{ width:85%; height:calc(100vh - 230px); float:left; }
.rightlicense-col-wrapper{ background-color: #fff; padding: 10px; box-shadow:0 0 10px #e0e0e0; height: calc(100vh - 209px);
overflow: auto;}
.left-col-container{ height:calc(100vh - 200px); overflow-y: auto; padding: 5px 3px 10px 5px;
    position: relative; right: 3px;}
.left-col-container .submenu{ background: #FFFFFF;
  border: 1px solid #CECECE80;
  border-radius: 0px 2px 2px 2px; margin-bottom:9px;  }
.submenu.license-main{ padding:0px 5px;}
.license-main .bdr_bot{border-bottom: 1px solid #CECECE80;}
.license-id{ /*color:#626574;*/ color: #6b6a6a;  padding:6px 10px;}
.license-name{ /*color:#22273E;*/ color: #6b6a6a; padding:6px 10px;}
.left-col-container .slds-nav-vertical__item { color:#22273E; font-size:12px;font-weight: 400;cursor: pointer;}
.left-col-container .slds-nav-vertical__item:hover, 
.slds-nav-vertical__item.slds-is-active .license-id, .slds-nav-vertical__item.slds-is-active .license-name {color:#626676 !important; }
.left-col-container .slds-nav-vertical__item:hover:before,
.left-col-container .slds-nav-vertical__item.slds-is-active:before {box-shadow: 0 0px 2px #a1a7ee;
     border:#a1a7ee solid 2px; background: none;}

.license_inContainer{ background: #fbfffb;}
.slds-card__body.slds-card__body_inner.mZero{ margin-top:0px; margin-bottom: 0px; padding-top:5px; height:280px;}
.wid-dateLicense-col1{ width:31%;}
.wid-dateLicense-col2{ width:31%; margin-left:16px; margin-right:16px;}
.license-genaral-info{  width: calc(50% - 14px); background: #FFFFFF; overflow: auto; margin-right: 14px; }
.license-cardinfo{ border: 1px solid #D1FFD6; border-radius: 4px; }
.license-cardinfo-header{  background: #F2FFF4; border-radius: 4px 4px 0px 0px;
border-bottom: 1px solid #D1FFD6; }
.license-cardinfo-header .slds-media{padding-top: 0px;}
.license-cardinfo-header .m-list-inline-block{border:none;display: block; padding: 10px 10px;}
.license-cardinfo-header .m-list-inline-block li{ margin-right: 25px;font-weight: 500;}
.license-cardinfo-header .m-list-inline-block li:before{display:none}
.license-cardinfo-header .m-list-inline-block li img{vertical-align: sub; width:auto;}


.license-pad .slds-col--padded{ padding:10px 0;}
  .license-siteother-info{width: 50%; }
  .siteInfo_address .site-cardinfo{ border: 1px solid #EBEBEB; border-radius: 4px;}
  .siteInfo_address .site-cardinfo-header{  background: #FBFBFB ; border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #ECECEC; }
  .siteAddress_inContainer{ background: #fbfbfb;}
  .blue-txt{color: #1366F3;}
  .licenseinfo-card-row{display: flex;
    margin-left: 10px;
    justify-content: left;}
    .provider-license-cards {  width: 55%;
      background: #fff;
      border-radius: 3px;
      margin-right: 20px;
      border:1px solid #f2f2f2;
    }
      .license_fieldset fieldset { 
        display: block;
        padding: 10px 0px 10px 10px;
        border: 1px solid #f2f2f2;
        margin-top:10px;
        border-radius: 3px;  
      }

   
      .figure-marginoRight{ margin-right: 0px; text-align: center; height:59px;} 

    /***********************to be included in stylesheet*************************************/
    .wid-dateLicense-col1 .slds-input[disabled],.wid-dateLicense-col2 .slds-input[disabled],
 .wid-dateLicense-col2 .slds-input.slds-is-disabled, .wid-dateLicense-col2 .slds-input.slds-is-disabled {   
  background-color: #F2FFF4 !important;
  border: 1px solid #AEFBB8 !important;
  }