<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 inside-pad  ">
            <fieldset>
                <legend class="font600">Address Details</legend>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input name="Name" value={addressDetails.Name} label="Home Name" required autocomplete=off disabled={disabledView} onchange={addressOnChange}>
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-combobox name="AddressType" label="Address Type" placeholder="Select Type" options={addressTypeOptions} onchange={addressOnChange} value={addressDetails.AddressType} required disabled={disabledView}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input name="AddressLine1" label="Address Line 1" placeholder="Enter Address" disabled={disabledView} onchange={getStreetAddress} value={addressDetails.addressLine1} required>
                        </lightning-input>
                        <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" class={tabClass} role="listbox" style="width: 348px;
                        margin-left: 186px;">
                            <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                                    <li key={item.id} role="presentation" class="slds-listbox__item">
                                        <div data-id={item.place_id} data-description={item.description} class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" onclick={selectStreetAddress}>
                                            {item.description}
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input name="AddressLine2" label="Address Line 2" placeholder="Enter Address" disabled={disabledView} onchange={addressOnChange} value={addressDetails.addressLine2}>
                        </lightning-input>
                    </div>
                </div>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input label="State" name="State" type="search" class="dummyState" placeholder="Enter State" aria-autocomplete="false" value={addressDetails.selectedState} onchange={stateOnChange} disabled={disabledView} required>
                        </lightning-input>
                        <div if:true={showStateBox} id="listbox-id-16" class=" slds-dropdown_length-with-icon-7 popup-dropbox" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                <template for:each={filteredStateArr} for:item="item">
                                    <li key={item.id} role="presentation" class="slds-listbox__item">
                                        <div data-id={item.Id} data-value={item.Value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedState}>
                                            {item.Value}
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input name="City" label="City" id="City" placeholder="Enter City" class="dummyCity" onchange={addressOnChange} disabled={disabledView} value={addressDetails.selectedCity} required>
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input label="County" name="County" type="search" disabled={disabledView} class="dummyCounty" placeholder="Enter County" aria-autocomplete="false" value={addressDetails.selectedCounty} onchange={countyOnChange} required>
                        </lightning-input>
                        <div if:true={showCountyBox} id="listbox-id-17" class="popup-dropbox slds-dropdown_length-with-icon-7" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                <template for:each={filteredCountyArr} for:item="item">
                                    <li key={item.label} role="presentation" class="slds-listbox__item">
                                        <div data-id={item.label} data-value={item.value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedCounty}>
                                            {item.value}
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input type="number" name="ZipCode" label="Zip Code" id="ZipCode" placeholder="Enter Zip Code" disabled={disabledView} class="dummyZipCode" maxlength="5" onchange={addressOnChange} value={addressDetails.selectedZipCode} required>
                        </lightning-input>
                    </div>
                </div>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                                <lightning-input type='Date' disabled={disabledView} name="StartDate" value={addressDetails.StartDate} label="Start Date" onchange={addressOnChange} required>
                                </lightning-input>
                            </div>
                            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                                <lightning-input type='Date' name="EndDate" disabled={disabledView} value={addressDetails.EndDate} label="End Date" onchange={addressOnChange} required>
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-combobox name="CertificateType" label="Certificate Type" placeholder="Select Type" disabled={disabledView} options={CertificateTypeOptions} onchange={addressOnChange} value={addressDetails.CertificateType__c}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input type='Date' name="HomeHealthInspection" value={addressDetails.HomeHealthInspection} disabled={disabledView} label="Home Health Inspection" onchange={addressOnChange} required>
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 slds-large-size_1-of-4">
                        <lightning-input type='Date' name="FireInspection" value={addressDetails.FireInspection} required disabled={disabledView} label="Fire Inspection" onchange={addressOnChange}>
                        </lightning-input>
                    </div>
                </div>
                <div class="slds-grid slds-wrap mt-10 pad-bot15">
                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-3 mt-10">
                        <div class="slds-col--padded slds-size--1-of-1 questions">
                            Is Inspection Documentation Recorded?
                        </div>
                        <div class="monitorRadioGroup slds-col--padded">
                            <div class="monitorRadioPosition">
                                <lightning-radio-group class="waterProperty" options={InspectionDocumentation} name="IsInspectionDocumentRecord__c" onchange={addressOnChange} value={addressDetails.IsInspectionDocumentRecord__c} disabled={disabledView} type="button">
                                </lightning-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <footer class="slds-modal__footer posRelative">
        <div class="slds-grid slds-wrap">
            <div class="slds-col">
                <div class="slds-clearfix">
                    <div class="slds-float_right">
                        <lightning-button label="CANCEL" class="btn btn-sec" onclick={cancelModal}>
                        </lightning-button>
                        <lightning-button label="SAVE AS DRAFT" disabled={disabledView} class="btn btn-outline-primary slds-m-left_x-small" onclick={handleSave}>
                        </lightning-button>
                        <lightning-button variant="brand" disabled={disabledView} style="float: right;" class="slds-m-left_x-small" label="Next" onclick={handleNext}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>