.slds-dropdown {
    width: calc(100% - 28%);
}

fieldset {
    border: 1px solid #EBEBEB;
}

.mt-20 {
    margin-top: 20px;
}

.inside-pad {
    padding: 20px 10px;
}

.pad-bot15 {
    padding-bottom: 15px;
}

.posRelative {
    position: relative;
    /* top: 47px; */
}