<template>
    <div class="complaintSuspension">
        <div class="complaintSuspension-inner">
            <div class="slds-grid slds-wrap topsec">
                <div class=" slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                    <lightning-input type="date" name="StartDate" label="Start Date" placeholder="Select Date"
                        value={suspensionDetails.StartDate__c} onchange={suspensionOnChange} field-level-help={licenseStartDateHelpText} required
                        disabled={isStartDateDisable}></lightning-input>
                </div>
                <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                    <lightning-input type="date" name="EndDate" label="End Date" placeholder="Select Date"
                        value={suspensionDetails.EndDate__c} onchange={suspensionOnChange} field-level-help={licenseEndDateHelpText} required
                        disabled={isEndDateDisable} min={minDate}></lightning-input>
                </div>
                <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                    <lightning-combobox label="Document" name="Document" value={suspensionDetails.Document__c}
                        placeholder="Select Document" options={documentOptions} onchange={suspensionOnChange} required
                        disabled={isDocumentDisable}></lightning-combobox>
                </div>
                <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4"
                    if:true={showDelivery}>
                    <lightning-combobox label="Delivery" name="Delivery" value={suspensionDetails.Delivery__c}
                        placeholder="Select Delivery" options={deliveryOptions} onchange={suspensionOnChange} required
                        disabled={isDeliveryDisable}></lightning-combobox>
                </div>
            </div>
            <div class="slds-grid slds-wrap btn-bottom-pos">
                <div class="slds-col slds-col--padded slds-size_1-of-1 bottomAlign">
                    <div class="slds-clearfix">
                        <div class="slds-float_right btnSec">
                            <lightning-button label="Cancel" class="btn btn-sec mr10" onclick={handleCancelMethod}></lightning-button>
                            <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={handleSaveMethod} disabled={isSaveBtnDisable}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>