<template>
    <div class="template-screen heightScroll">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-p-right_x-small slds-size_12-of-12">
                <div class="slds-card slds-p-around_small">
                    <div class="decision-form complaints">
                        <div class="slds-col slds-size_1-of-1 slds-m-top_small text-center">
                            <img src={decisionIcon} class="iconpadbot" />
                            <p>Decision</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_small">
                            <lightning-combobox name="SelectStatus" value={ApprovalStatus__c} options={statusOptions}
                                disabled={isDisable} onchange={changeStatusHandler} label="Select Status" required>
                            </lightning-combobox>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-m-top_small">
                            <lightning-textarea label="Comments" value={ApprovalCommentsvalue} disabled={isDisable}
                                onchange={commentschangeHandler} class="textArea-height">
                            </lightning-textarea>
                        </div>
                        <div class="slds-col slds-size_1-of-1 text-right slds-m-top_small" if:false={addsign}>
                            <lightning-button label="Add Signature" class="btn btn-link" disabled={isDisablesignature}
                                onclick={signaturemodal}></lightning-button>
                        </div>
                        <div class="slds-col slds-col--padded slds-size_1-of-1 text-center slds-m-top_small"
                            if:true={addsign}>
                            <label class="btn btn-link">
                                <div class="slds-button slds-button_neutral">Signature Added</div>
                            </label>
                            <a class="slds-icon-utility-edit" onclick={signaturemodal}> <span
                                    class="slds-icon_container slds-icon-utility-edit slds-input__icon slds-input__icon_right complaint-edit-decision">
                                    <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small"
                                        class="editIcon-pos"></lightning-icon>
                                </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap generalTable" if:true={HideDatatable}>
            <div class="slds-col slds-col--padded">
                <h1 class="font-bold mb-10">HISTORY</h1>
            </div>
            <lightning-datatable key-field="id" data={currenttablepage} columns={dataTableColumns}
                hide-checkbox-column="true" default-sort-direction={defaultSortDirection}
                sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort} onrowaction={dataAction}
                class="custom-tbl">
            </lightning-datatable>
        </div>
        <div class="slds-grid slds-wrap padtop10">
            <div class="slds-col bottomAlign">
                <div class="slds-clearfix">
                    <div class="slds-float_right btnSec">
                        <lightning-button class="btn btn-outline-primary" onclick={saveAsDraftMethod}
                            disabled={isSaveAsDraftDisable} label="SAVE AS DRAFT">
                        </lightning-button>
                        <lightning-button label="Submit" class="btn btn-pri slds-m-left_x-small" onclick={submitMethod}
                            disabled={isSubmitBtnDisable}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal start -->
    <template if:true={bShowsignatureModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- modal header start -->
                <header class="slds-modal__header">
                    <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Add Signature
                    </h2>
                    <button class="close-button" title="Close" onclick={signatureCloseModal}>
                    </button>
                </header>
                <!-- modal body start -->
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <div class="slds-size_1-of-1 bdrComplaint" if:false={SignatureShowHide}>
                        <canvas name="canvasItem" class="sign-box" width="600" height="320"></canvas>
                    </div>
                    <div class="slds-size_1-of-1" if:true={SignatureShowHide}>
                        <img src={SignatureValidationView}>
                    </div>
                    <div class="upload-wrapper">
                        <div class="slds-float_left dropzone">
                            <span class="writeText">Write your signature above or</span>
                            <lightning-input data-id="fuploader" class="file-upload dropsVgNone dis-inb topminus4"
                                onchange={handleFilesChange} type="file" name="file" label="" variant="label-hidden">
                            </lightning-input>
                        </div>
                        <div class="slds-float_right">
                            <button onclick={handleClearClick} class="refresh-btn">Refresh <img
                                    src={refreshIcon} /></button>
                        </div>
                    </div>
                </div>
                <!-- modal footer start-->
                <footer class="slds-modal__footer">
                    <lightning-button class="btn btn-sec" label="Cancel" title="Cancel" onclick={signatureCloseModal}>
                    </lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" onclick={handleSaveClick}
                        class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- modal end -->

    <template if:true={openmodel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assignment/Decision
                        </h2>
                        <button class="close-button" title="Close" onclick={closeModalAction}>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-5">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-input type="text" name="Author" label="Author"
                                            onchange={AuthorChange} value={AuthorValue} disabled>
                                        </lightning-input>
                                        <lightning-input type="text" name="Status" label="Status"
                                            onchange={StatusChange} value={StatusValue} class="mt-10" disabled>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2 ">
                                        <lightning-input type="text" name="Date" label="Date" onchange={DateChange}
                                            disabled value={DateValue}>
                                        </lightning-input>
                                        <lightning-input type="text" name="Comments" label="Comments" disabled
                                            value={ApprovalCommentsvalueview} class="mt-10">
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-large-size_4-of-12 displayMain">
                                <!-- <label>Signature</label> -->
                                <div class="display-box">
                                    <img src={SignatureValue}>

                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button variant="neutral" label="Done" title="Done" onclick={DoneModal}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <canvas name="canvasItem1" style="display:none;"></canvas>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>