.decision-form {
    width: 420px;
    margin: 10px auto;
    border: 1px solid #cecdd2;
    padding: 10px 50px;
}

.bottomAlign {
    position: fixed;
    bottom: 0;
    background: #fcfcfc 0 0 no-repeat padding-box;
    padding: 6px;
    border: 1px solid #ebebeb;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
    overflow: hidden;
    width: calc(100vw - 20px);
}

.complaint-edit-decision {
    position: relative;
    right: 156px;
    top: -2px;
    display: inline-block;
}

.editIcon-pos {
    position: absolute;
    left: 130px;
    top: -10px;
}

.template-screen.heightScroll {
    height: calc(100vh - 257px) !important;
    padding-bottom: 10px;
}

.bdrComplaint {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.dis-inb.topminus4 {
    top: -4px;
}