<template>
  <div class="slds-grid slds-wrap">
    <div class="slds-col">
      <div class="slds-clearfix">
        <div class="slds-float_right tab-content btn-topright">
          <lightning-button label="ASSIGN STAFF MEMBER" variant="brand" onclick={openmodal} disabled={assignBtnDisable}>
          </lightning-button>
        </div>
      </div>
    </div>
  </div>

  <template if:true={openmodel}>
    <div class="demo-only">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
        <div class="slds-modal__container">
          <div class="popborder">
            <header class="slds-modal__header">
              <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                Assign Staff</h2>
              <button class="close-button" title="Close" onclick={closeModal}>
              </button>
            </header>
            <div class="slds-modal__content slds-p-around_medium  slds-scrollable_y"
              style=" max-height:400px; overflow-y: auto;" id="modal-content-id-1">
              <div class="slds-align_absolute-center" if:true={norecorddisplay}>
                <div style="height:300px">
                  <lightning-datatable key-field="id" data={assignStaffpopupshow} columns={columns1}
                    onrowaction={handleRowAction} onrowselection={handleRowSelection}>
                  </lightning-datatable>
                </div>
              </div>
              <br><br>
              <div if:true={norecorddisplay}>
                <c-common-pagination get-count={totalRecordsCount2} page={page} setsize={setPagination}
                  perpage={perpage2} onprogressvaluechange={hanldeProgressValueChange2}>
                </c-common-pagination>
              </div>
            
              <div class="slds-align_absolute-center recordFile" if:false={norecorddisplay}>
                <p>No Records Found</p>
              </div>

            </div>
            <footer class="slds-modal__footer">
              <div if:true={norecorddisplay}>
              <lightning-button label="ASSIGN" variant="brand" onclick={assignStaffSave}>
              </lightning-button>
            </div>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>




<div class="slds-align_absolute-center assign-staff" if:true={norecorddisplay1}>
    <lightning-datatable key-field="id" data={assignStafftableshow} columns={columns} onrowaction={handleRowActionDelete} hide-checkbox-column="true" class="custom-tbl">
    </lightning-datatable>
</div>


<div if:true={norecorddisplay1}>
    <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
    </c-common-pagination>
</div>

<div class="slds-align_absolute-center recordFile" if:false={norecorddisplay1}>
    <p>No Records Found</p>
</div>



<div class="slds-float_right tab-content" style="position: fixed; bottom:20px; right:20px;">
  <div class="btnSec">
    <lightning-button label="Save As Draft" class="btn btn-sec" onclick={saveDraft} disabled={saveBtnDisable}>
    </lightning-button>
  </div>
</div>

<template if:true={openmodel2}>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
    <div class="slds-modal__container" style="width: 35%;">
      <div class="popborder">
        <header class="slds-modal__header"><button class="close-button" title="Close" onclick={closeModal2}>
          </button></header>
        <!-- modal body start -->
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
          <div class="slds-align_absolute-center delete-icon">
            <p>Are you sure you want to delete? </p>
          </div>
        </div>
        <!-- modal footer start-->
        <footer class="slds-modal__footer slds-align_absolute-center">
          <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>
            Yes
          </button>
          <button class="slds-button slds-button_outline-brand" onclick={closeModal2}>
            No
          </button>
        </footer>
      </div>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>

</template>