<template>
  <h2 class="sub-title">Applications</h2>
  <div class="slds-grid slds-wrap">
    <div class="applicationDashboard">
      <lightning-input type="search" onchange={handleChange} class="slds-m-bottom_small input-search" label=""
        placeholder="Search By Application Id" value={searchKey} variant="label-hidden">
      </lightning-input>
    </div>
  </div>
  <div class="slds-grid slds-wrap ref-summary">
    <div class=" slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box">
      <div class="slds-card pending pending-cls">
        <c-dashboard-card class="slds-card__header slds-grid" status={pendingStatus} heading={pending} data-id={pending}
          onclick={handleStatusCard}>
        </c-dashboard-card>
      </div>
    </div>

    <!-- returned -->
    <div class=" slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box">
      <div class="slds-card returned">
        <c-dashboard-card class="slds-card__header slds-grid" status={returnedStatus} heading={returned}
          data-id={returned} onclick={handleStatusCard}>
        </c-dashboard-card>
      </div>
    </div>
    <!-- returned -->

    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box">
      <div class="slds-card approved">
        <c-dashboard-card class="slds-card__header slds-grid" status={approvedStatus} heading={approved}
          data-id={approved} onclick={handleStatusCard}>
        </c-dashboard-card>
      </div>
    </div>

    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box">
      <div class="slds-card rejected">
        <c-dashboard-card class="slds-card__header slds-grid" status={rejectedStatus} heading={rejected}
          data-id={rejected} onclick={handleStatusCard}>
        </c-dashboard-card>
      </div>
    </div>

    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box">
      <div class="slds-card total">
        <c-dashboard-card class="slds-card__header slds-grid" status={totalStatus} heading={total} data-id={total}
          onclick={handleStatusCard}>
        </c-dashboard-card>
      </div>
    </div>
  </div>



  <div>
    <template if:true={tableDataVisible}>
      <c-dashboard-table dashboard-data={getPendingData} hide-pagination={hidePagination}
        onredirecteditapplication={handleredirectApplicationTabs}>
      </c-dashboard-table>
      <!-- colums-headers={columnHeaders} -->

    </template>
  </div>

  <div>
    <template if:true={showPendingData}>
      <c-dashboard-table dashboard-data={getPendingData} hide-pagination={hidePagination}
        onredirecteditapplication={handleredirectApplicationTabs}></c-dashboard-table>
    </template>
  </div>

  <!-- Returned -->
  <div>
    <template if:true={showReturnedData}>
      <c-dashboard-table dashboard-data={getReturnedData} hide-pagination={hidePagination}
        onredirecteditapplication={handleredirectApplicationTabs}></c-dashboard-table>
    </template>
  </div>
  <!-- Returned -->

  <div>
    <template if:true={showApprovedData}>
      <c-dashboard-table dashboard-data={getApprovedData} hide-pagination={hidePagination}
        onredirecteditapplication={handleredirectApplicationTabs}></c-dashboard-table>
    </template>
  </div>
  <div>
    <template if:true={showRejectedData}>
      <c-dashboard-table dashboard-data={getRejectedData} hide-pagination={hidePagination}
        onredirecteditapplication={handleredirectApplicationTabs}></c-dashboard-table>
    </template>
  </div>
  <div>
    <template if:true={showTotalData}>
      <c-dashboard-table dashboard-data={getTotalData} hide-pagination={hidePagination}
        onredirecteditapplication={handleredirectApplicationTabs}></c-dashboard-table>
    </template>
  </div>
  <template if:true={PageSpinner}>
    <c-common-loading-spinner></c-common-loading-spinner>
  </template>
</template>