.pending-cls {
    border: 1px solid #fda409 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .2) !important;
}

.returned-cls {
    border: 1px solid #22273E !important;
    box-shadow: 0 0 6px -2px #22273E !important;
}

.approved-cls {
    border: 1px solid #1AC424 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .2) !important;
}

.rejected-cls {
    border: 1px solid #FE6969 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .2) !important;
}

.total-cls {
    border: 1px solid #4e8bf6 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, .2) !important;
}

.applicationDashboard {
    float: right;
    position: absolute;
    top: 0;
    width: 22%;
    right: 5px;
}

.applicationDashboard .input-search {
    margin-bottom: 0;
}

.application-box {
    /* width:22%; */
    padding-right: 10px;
}

.application-box .slds-card {
    transition: transform .1s;
    cursor: pointer;
}

.application-box .slds-card::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .2);
    content: '';
    opacity: 0;
    z-index: -1;
}

.application-box .slds-card:hover {
    transform: scale3d(1, 1, 1);
}

.application-box .slds-card::after {
    opacity: 1;
}