<template>
  <div if:false={showDataTablePage}>
    <div class="incident" if:true={hiddenAddIncidentBtn}>
      <div class="slds-align_absolute-center">
        <div class="text-center file-upload slds-p-vertical--xx-small">
          <img class="icon-attachment" src={attachmentIcon} />
          <p class="font-bold padtop10">No Incident found!</p>
          <p class="subfont">
            Please add Incident by Clicking the below "Add Incident" button
          </p>
          <div class="mt-10">
            <lightning-button
              variant="brand"
              class="mt-10"
              onclick={handleOpenIncidentModal}
              label="Add Incident"
              name="Add Incident"
            >
            </lightning-button>
          </div>
        </div>
      </div>
    </div>
    <div if:true={openIncidentModal}>
      <div class="incident-fields mt-20">
        <div class="slds-grid slds-wrap">
          <div
            class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2"
          >
            <div class="slds-grid slds-wrap">
              <div
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2"
              >
                <lightning-combobox
                  name="Incident Type"
                  label="Incident Type"
                  value={selectedIncidentType}
                  onchange={handleIncidentChange}
                  options={incidentPickList}
                  required
                  disabled={disableInput}
                ></lightning-combobox>
              </div>
              <div
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2"
              >
                <lightning-combobox
                  type="text"
                  label="Incident"
                  name="incident"
                  value={selectedIncident}
                  onchange={handleIncidentChange}
                  options={incidentPickListValue}
                  required
                  disabled={disableInput}
                >
                </lightning-combobox>
              </div>
            </div>
          </div>
          <div
            class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2"
          >
            <div class="slds-grid slds-wrap">
              <div
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
              >
                <lightning-input
                  type="date"
                  label="Incident Date"
                  name="Incident Date"
                  required
                  value={selectedIncidentDate}
                  onchange={handleIncidentChange}
                  disabled={disableInput}
                >
                </lightning-input>
              </div>
              <div
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
              >
                <lightning-input
                  type="time"
                  label="Incident Time"
                  name="Incident Time"
                  value={selectedIncidentTime}
                  onchange={handleIncidentChange}
                  required
                  disabled={disableInput}
                >
                </lightning-input>
              </div>
              <div
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
              >
                <lightning-input
                  type="date"
                  label="Discovered Date"
                  name="Discovered Date"
                  value={selectedDiscoveredDate}
                  onchange={handleIncidentChange}
                  required
                  disabled={disableInput}
                >
                </lightning-input>
              </div>
              <div
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
              >
                <lightning-input
                  type="time"
                  label="Discovered Time"
                  name="Discovered Time"
                  value={selectedDiscoveredTime}
                  onchange={handleIncidentChange}
                  required
                  disabled={disableInput}
                >
                </lightning-input>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-grid slds-wrap">
          <div class="slds-col slds-col--padded">
            <fieldset class="fieldIncident">
              <legend class="sec-title">Precipitating Event</legend>
              <div class="slds-grid slds-wrap">
                <div
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3"
                >
                  <lightning-radio-group
                    name="Level of Supervisor"
                    label="Level of Supervision"
                    options={levelOfSupervisorOptions}
                    value={selectedLevelOfSupervisor}
                    type="button"
                    onchange={handleIncidentChange}
                    required
                    disabled={disableInput}
                  ></lightning-radio-group>
                </div>
                <div
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-5"
                >
                  <lightning-radio-group
                    name="Location of the Incident"
                    label="Location of the Incident"
                    options={locationOfIncidentOptions}
                    value={SelectedLocationOfTheIncident}
                    type="button"
                    required
                    disabled={disableInput}
                    onchange={handleIncidentChange}
                  ></lightning-radio-group>
                </div>
                <div
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
                >
                  <lightning-combobox
                    name="Area"
                    label="Area"
                    value={selectedArea}
                    options={areaDropDown}
                    onchange={handleIncidentChange}
                    required
                    disabled={disableInput}
                  ></lightning-combobox>
                </div>
              </div>
              <!--        address fields -->
              <template if:true={showAddressFields}>
                <div class="off-site-address mt-10">
                  <div class="slds-grid slds-wrap">
                    <div
                      class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
                    >
                      <lightning-input
                        type="text"
                        label="Address Line1"
                        name="Address Line1"
                        value={offSiteAddressLine1}
                        onchange={offSiteAddressChangeHandler}
                        disabled={disableInput}
                      >
                      </lightning-input>
                    </div>
                    <div
                      class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
                    >
                      <lightning-input
                        type="text"
                        label="Address Line2"
                        name="Address Line2"
                        value={offSiteAddressLine2}
                        onchange={offSiteAddressChangeHandler}
                        disabled={disableInput}
                      >
                      </lightning-input>
                      <!--              google api drop down -->
                      <template if:true={googleDropdown}>
                        <div
                          id="listbox-suggestions"
                          class={tabClass}
                          role="listbox"
                          style="width: 300px; left: -200px;"
                        >
                          <ul
                            class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space incidentpop-dropbox"
                            role="presentation"
                          >
                            <template
                              for:each={dataFromGoogleAPI.predictions}
                              for:item="item"
                            >
                              <li
                                key={item.id}
                                role="presentation"
                                class="slds-listbox__item"
                              >
                                <div
                                  data-id={item.place_id}
                                  data-description={item.description}
                                  class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                  role="option"
                                  onclick={handleSelectedAddress}
                                >
                                  {item.description}
                                </div>
                              </li>
                            </template>
                          </ul>
                        </div>
                      </template>
                      <!--              google api drop down -->
                    </div>
                    <div
                      class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
                    >
                      <lightning-input
                        type="text"
                        label="State"
                        name="State"
                        value={offSiteState}
                        onchange={offSiteAddressChangeHandler}
                        disabled={disableInput}
                      >
                      </lightning-input>
                    </div>
                    <div
                      class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4"
                    >
                      <lightning-input
                        type="text"
                        label="City"
                        name="City"
                        value={offSiteCity}
                        onchange={offSiteAddressChangeHandler}
                        disabled={disableInput}
                      >
                      </lightning-input>
                    </div>
                    <div
                      class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4 mt-5"
                    >
                      <lightning-input
                        type="text"
                        label="County"
                        name="County"
                        value={offSiteCounty}
                        onchange={offSiteAddressChangeHandler}
                        disabled={disableInput}
                      >
                      </lightning-input>
                    </div>
                    <div
                      class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4 mt-5"
                    >
                      <lightning-input
                        type="number"
                        label="Zip Code"
                        name="Zip Code"
                        value={offSiteZipCode}
                        onchange={offSiteAddressChangeHandler}
                        disabled={disableInput}
                      >
                      </lightning-input>
                    </div>
                  </div>
                </div>
              </template>
              <!--        address fields -->
            </fieldset>
          </div>
        </div>
      </div>
      <!--    Narrative Question -->
      <div class="slds-grid slds-wrap mt-20">
        <div
          class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_1-of-1"
        >
          <div class="narrative-question">
            <fieldset class="fieldIncident">
              <legend class="sec-title">Narrative of Incident</legend>
              <span>Answer the questions below to provide detailed account of the incident being reported. Use additional paper if neccessary.</span>
              <template for:each={narrativeQuestion} for:item="item">
                <div key={item.Id} class="question-section">
                  <div
                    class="question"
                    key={item.Id}
                    data-id={item.Id}
                    data-recordtypeid={item.RecordTypeId}
                  >
                    {item.index}.{item.Question__c} 
                  </div>
                  <span
                    class="answer-field"
                    key={item.Id}
                    data-id={item.Id}
                    data-recordtypeid={item.RecordTypeId}
                  >
                    <lightning-input
                      type="text"
                      name={item.Id}
                      value={item.comment}
                      disabled={disableInput}
                      data-question={item.Question__c}
                      onchange={narrativeAnswerHandler}
                    ></lightning-input>
                  </span>
                </div>
              </template>
            </fieldset>
          </div>
        </div>
      </div>
      <footer class="slds-modal__footer">
        <div class="slds-grid slds-wrap">
          <div class="slds-col">
            <div class="slds-clearfix">
              <div class="slds-float_right">
                <lightning-button
                  label="Cancel"
                  variant="brand-outline"
                  onclick={handleIncidentCloseModal}
                  class="slds-m-left_x-small"
                ></lightning-button>
                <span if:true={showUpdateBtn}>
                  <lightning-button
                    variant="brand"
                    label="Update"
                    title="Update"
                    onclick={saveIncident}
                    class="slds-m-left_x-small"
                  ></lightning-button>
                </span>
                <span if:true={showSaveBtn}>
                  <lightning-button
                    variant="brand"
                    label="Save"
                    title="Save"
                    onclick={saveIncident}
                    class="slds-m-left_x-small"
                  ></lightning-button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <template if:true={showDataTablePage}>
    <div class="slds-grid slds-wrap">
      <div
        class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2 mt-20 mb-20"
      >
        <span class="font500">Showing Incident</span>
      </div>
    </div>
    <div class="incident-datatable mt-20">
      <lightning-datatable
        key-field="id"
        class="custom-tbl"
        data={incidentDataTableData}
        hide-checkbox-column
        columns={incidentColumn}
        onrowaction={handleRowAction}
      >
      </lightning-datatable>
    </div>
  </template>
</template>
