.font500 {
    font-weight: 500;
}

.incident {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background: #FEFEFE;
    border: 1px solid #EBEBEB;
}

.fieldIncident {
    display: block;
    padding: 10px 0px 10px 10px;
    border: 1px solid #f2f2f2;
    margin: 5px;
    margin-top: 20px;
    border-radius: 3px;
}

.question-section {
    margin-top: 10px;
}

.answer-field {
    position: relative;
    top: -10px;
}

.sec-title {
    text-transform: uppercase;
}

.incidentpop-dropbox {
    position: absolute;
    z-index: 500;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #45414e29;
    border-radius: 3px;
    max-height: 200px;
    overflow-y: auto;
    left:25px;
}