<template>
    <div class="slds-spinner_container">
        <div class="slds-spinner--brand  slds-spinner slds-spinner--medium slds-is-relative" role="alert">
            <span class="slds-assistive-text">Loading...</span>
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
        </div>
    </div>
</template>