<template>
    <div class="complaintLimitation">  
        <div class="complaintLimitation-inner">  
            <div class="slds-grid slds-wrap decision_fieldset">
                <div class="slds-col slds-large-size_1-of-1 slds-p-around_small">
                    <fieldset>
                        <legend class="fw-500">YOUTH LIMITATION</legend>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="number" label="Number of youth served" name="ServedYouth" value={limitationDetails.Numberofyouthserved__c} placeholder="Enter youth served" onchange={limitationOnChange} disabled={isNumberOfYouthServedDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="date" name="YouthEffectiveDate" label="Effective Date" placeholder="Select Date" value={limitationDetails.YouthEffectiveDate__c} onchange={limitationOnChange} field-level-help={licenseStartDateHelpText} disabled={isYouthEffectiveDateDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="date" name="YouthEndDate" label="End Date" placeholder="Select Date" value={limitationDetails.YouthEndDate__c} onchange={limitationOnChange} field-level-help={licenseEndDateHelpText} disabled={isYouthEndDateDisable} min={minYouthEndDate}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input name="YouthLimitationReasons" label="Limitation Reasons" placeholder="Enter Reason" value={limitationDetails.YouthLimitationReason__c} onchange={limitationOnChange} disabled={isYouthLimitationReasonDisable}></lightning-input>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="slds-grid slds-wrap decision_fieldset">
                <div class="slds-col slds-large-size_1-of-1 slds-p-around_small">
                    <fieldset>
                        <legend class="fw-500">POPULATION LIMITATION</legend>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="number" label="Minimum Age" name="MinAge" value={limitationDetails.MinAge__c} placeholder="Enter Min Age" onchange={limitationOnChange} disabled={isMinAgeDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="number" label="Maximum Age" name="MaxAge" value={limitationDetails.MaxAge__c} placeholder="Enter Max Age" onchange={limitationOnChange} disabled={isMaxAgeDisable} min={minAge}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-combobox label="Gender" name="Gender" value={limitationDetails.Gender__c} placeholder="Select Gender" options={genderOptions} onchange={limitationOnChange} disabled={isGenderDisable}></lightning-combobox>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input name="PopulationLimitationReasons" label="Population Limitation Reasons" placeholder="Enter Reason" value={limitationDetails.PopulationLimitationReason__c} onchange={limitationOnChange} disabled={isPopulationLimitationReasonDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="date" name="PopulationEffectiveDate" label="Effective Date" placeholder="Select Date" value={limitationDetails.PopulationEffectiveDate__c} onchange={limitationOnChange} field-level-help={licenseStartDateHelpText} disabled={isPopulationEffectiveDateDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="date" name="PopulationEndDate" label="End Date" placeholder="Select Date" value={limitationDetails.PopulationEndDate__c} onchange={limitationOnChange} field-level-help={licenseEndDateHelpText} disabled={isPopulationEndDateDisable} min={minPopulationEndDate}></lightning-input>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="slds-grid slds-wrap decision_fieldset">
                <div class="slds-col slds-large-size_1-of-1 slds-p-around_small">
                    <fieldset>
                        <legend class="fw-500">PROGRAM SERVICES</legend>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input label="Provider Assigned Services" name="AssignedServices" value={limitationDetails.ProviderAssignedService__c} placeholder="Enter Service" options={assignedServiceOptions} onchange={limitationOnChange} disabled={isAssignedServiceDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="date" name="ProgramEffectiveDate" label="Effective Date" placeholder="Select Date" value={limitationDetails.ProgramEffectiveDate__c} onchange={limitationOnChange} field-level-help={licenseStartDateHelpText} disabled={isProgramEffectiveDateDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input type="date" name="ProgramEndDate" label="End Date" placeholder="Select Date" value={limitationDetails.ProgramEndDate__c} onchange={limitationOnChange} field-level-help={licenseEndDateHelpText}  disabled={isProgramEndDateDisable} min={minProgramEndDate}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-input name="ProgramLimitationReasons" label="Limitation Reasons" placeholder="Enter Reason" value={limitationDetails.ProgramLimitationReason__c} onchange={limitationOnChange} disabled={isProgramLimitationReasonDisable}></lightning-input>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                                <lightning-combobox label="Document" name="Document" value={limitationDetails.Document__c} placeholder="Select Document" options={documentOptions} onchange={limitationOnChange} disabled={isDocumentDisable}></lightning-combobox>
                            </div>
                            <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4" if:true={showDelivery}>
                                <lightning-combobox label="Delivery" name="Delivery" value={limitationDetails.Delivery__c} placeholder="Select Delivery" options={deliveryOptions} onchange={limitationOnChange} disabled={isDeliveryDisable}></lightning-combobox>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap btn-bottom-pos">
            <div class="slds-col slds-col--padded slds-size_1-of-1 bottomAlign">
                <div class="slds-clearfix">
                    <div class="slds-float_right btnSec">
                        <lightning-button label="Cancel" class="btn btn-sec mr10" onclick={handleCancelMethod}></lightning-button>
                        <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={handleSaveMethod} disabled={isSaveBtnDisable}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>