.complaintLimitation{
    display: inline-block;
    width: calc(100% - 0px);
    height: calc(100vh - 180px);
    background: #fff;
    margin: 8px 0px;
    position: relative;
    box-shadow: 0 2px 5px rgba(69,65,78,.11);
    padding-bottom: 50px;
}

.complaintLimitation-inner{
    height: 100%;
    overflow:auto;
}

.topsec{
    padding: 15px;
    border-bottom: 1px solid #EBEBEB;
}

.signbox{
    padding:0px;
    width:600px;
    margin-bottom: 0px;
}

.upload-wrapper {
    background: #f6f6f9;
    float: left;
    position: relative;
    margin-top: -35px;
    width: 99%;
    left: 3px;
}

.refresh-btn {
    color: #1366F3;
    outline: none;
    background: none;
    top: 8px;
    position: relative;
    border: 0px;
}

.refresh-btn img {
    vertical-align: middle;
    margin-left: 5px;
}

.sign-box {
    background: transparent;
    width:100%;
    height:320px;
}

.btn-bottom-pos {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    background: #fcfcfc;
    border-top: 1px solid #EBEBEB;
    z-index: 2;
}
