.pullRight {
    float: right; padding-right:10px; position: relative; z-index: 500;
  }
  
  .rightMargin {
    padding-right: 15px; position: relative; top:-10px;
  }
  
  .alignCenter {
   background-color:  #F6F6F9;
  }
  
  .newRecordPop {
    /* width: calc(100vw - 31px);  */
    width:100%;
    }
  
  .newRecordPop th {
    height: 45px;
    background-color: #f8f8f8;
  }
  
  .newRecordPop td {
    height: 50px;
  }
  .padleft18{ padding-left:18px;}
  table {
    border-collapse: collapse;
    /* margin-left: 10px; */
  }
  .parentTbl table,th,td{ padding:10px;}
  .parentTbl .th-col1, .parentTbl .td-col1
   {
    width: 27%; padding-right:5%;
  }
  .parentTbl .th-col2, .parentTbl .td-col2
   {
    width: 35%; padding-right:3%;
  }
  .parentTbl .th-col3, .parentTbl .td-col3
  {
    width: 15%;
  }
  .parentTbl .td-col1 { padding-top: 10px; padding-bottom: 10px;}
  table tbody tr {
    border: 1px solid #f8f8f8;
  }
  table tbody tr:first-child td {
    border-top: 0;
  }
  table tbody tr:last-child td {
    border-bottom: 0;
  }
  table tbody tr td:first-child {
    border-left: 0;
  }
  table tbody tr td:last-child {
    border-right: 0;
  }
  .displayNone {
    display: none;
  }
  .bottomAlign {
    position: fixed;
    bottom: 15px;
    float: right;
    width: 97%;
  }
  .question {
    font-weight: 400;
  }
  .floatLeft{ float: left; width:23%;}
  .regulation { font-weight: 400; }
  .pageMonitorPosition { position: absolute; bottom:16px;}
  .height-Overflow{ max-height:calc(100vh - 305px); overflow-y:auto;}
  
  .error{
    color: #C23934;
  }
  
  .subbar-section{ position: relative; margin-top: -20px; padding-left:20%;}
  .borderRedCut .slds-button {      border: 1px solid #CECDD2 !important;}
  .noinspectionRecords{ position: absolute; width:100%; z-index: 300;}
  .mcr_left{ float: left;}
  .mcr_right{ float:right;  position: relative; z-index: 500;}
  .scroll_Overflow{ max-height:calc(100% - 110px);}