<template>
  <template if:false={recordNewModel}>
    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-5 mcr_left">
      <template if:true={hasStaffEnable}>
        <lightning-input disabled type="text" value={programSiteName} name="programSite" label="Program Site">
        </lightning-input>
      </template>
    </div>
    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-5 mcr_right">
      <template if:true={hasStaffCreate}>
        <lightning-combobox name="staff" value={staffId} options={staffLists} label="Select Staff"
          onchange={createNewRecordModelPop} required></lightning-combobox>
      </template>
    </div>
    <div class="pullRight">
      <div if:true={hasStaffEnable} style="padding: 14px 0;"></div>
      <div if:false={hasStaffEnable} style="padding: 5px 0;"></div>
      <lightning-button if:false={hideAddButton} label={newRecordCreate} class="btn btn-pri slds-m-left--small"
        variant="brand" onclick={createNewRecordModelPop} disabled={disableFields}></lightning-button>
    </div>
    <lightning-datatable if:true={dataTableShow} class="custom-tbl generalTable scroll_Overflow"
      style="margin-top: 10px;" key-field="id" data={datas} columns={columns} hide-checkbox-column
      default-sort-direction={defaultSortDirection} sorted-direction={sortDirection} sorted-by={sortedBy}
      onsort={onHandleSort} onrowaction={handleRowAction}>
    </lightning-datatable>
    <div class="pageMonitorPosition">
      <c-common-pagination if:true={dataTableShow} get-count={totalRecordsCount} page={page} setsize={setPagination}
        perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
      </c-common-pagination>
    </div>
    <div if:false={dataTableShow}>
      <div class="text-center file-upload slds-p-vertical--xx-large noinspectionRecords">
        <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
        <p class="font-bold padtop10">No Records Available</p>
      </div>
    </div>

  </template>
  <!-- //POPUP Window For Conformation Start-->
  <template if:true={recordNewModel}>
    <div class="parentTbl">
      <table class="newRecordPop">
        <thead>
          <tr style="border-bottom: 1px solid #E8E8E8;">
            <th class="th-col1"><span class="padleft18">Regulations</span></th>
            <th class="th-col2">Compliance</th>
            <th class="th-col3">Date <span class="error">*</span></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="height-Overflow parentTbl">
      <table>
        <tbody for:each={questions} for:item="question" key={question.rowId}>
          <tr>
            <td class="td-col1">
              <div class="padleft18"> <span class="question">{question.Question__c}</span> <br />
                <span class="regulation">{question.Regulations__c}</span></div>
            </td>
            <td class="td-col2">
              <lightning-button label="Compliant" class="disabled btn btn-pri borderRedCut borderRedLeft" data-id="1"
                name={question.rowId} variant="brand-outline" onclick={selectedCompliance} disabled={disableFields}>
              </lightning-button>
              <lightning-button label="Non-Compliant" class="disabled btn btn-pri borderRedCut" data-id="2"
                name={question.rowId} variant="brand-outline" onclick={openNewRow} disabled={disableFields}>
              </lightning-button>
              <lightning-button label="Not Applicable" class="disabled btn btn-pri borderRedCut" data-id="3"
                name={question.rowId} variant="brand-outline" onclick={selectedNonApplicable} disabled={disableFields}>
              </lightning-button>
              <lightning-button label="Pending"
                class="disabled btn btn-pri borderRedCut borderRedRight backgroComboColor" data-id="4"
                name={question.rowId} variant="brand" onclick={selectedPending} disabled={disableFields}>
              </lightning-button>
            </td>
            <td class="td-col3">
              <div class="rightMargin">
                <lightning-input name={question.rowId} autocomplete="off" class="date" value={question.Date__c}
                  onchange={handleDate} type="date" year="numeric" month="2-digit" day="2-digit"
                  disabled={disableFields}>
                </lightning-input>
              </div>
            </td>
          </tr>
          <tr class="displayNone">
            <td colspan="3" class="alignCenter">
              <div class="subbar-section">
                <div
                  class="slds-col--padded slds-p-left--none slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-6 floatLeft">
                  <lightning-combobox name={question.rowId} value={question.FrequencyofDeficiency__c}
                    placeholder="Frequency Of Deficiency" options={frequencyDefis} onchange={handleFreq}
                    disabled={disableFields}>
                  </lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left--none slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-6 floatLeft">
                  <lightning-combobox name={question.rowId} value={question.ImpactofDeficiency__c}
                    placeholder="Impact Of Deficiency" options={impactDefis} onchange={handleImpact}
                    disabled={disableFields}>
                  </lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left--none slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-6 floatLeft">
                  <lightning-combobox name={question.rowId} value={question.Scope_of_Deficiency__c}
                    placeholder="Scope Of Deficiency" options={scopeDefis} onchange={handleScope}
                    disabled={disableFields}></lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left--none slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-6 floatLeft">
                  <lightning-input name={question.rowId} value={question.Findings__c} placeholder="Finding"
                    onchange={handlefind} disabled={disableFields}>
                  </lightning-input>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottomAlign">
        <div class="slds-clearfix">
          <div class="slds-float_left padleft18">
            <button class="slds-button slds-button_brand" style="float: left;" onclick={addRegulationPopup}
              disabled={disableFields}>
              ADD NEW REGULATIONS
            </button>
          </div>
          <div class="slds-float_right">
            <span class="btn btn-sec"> <button class="slds-button slds-button_neutral mr-10" onclick={closeNewRecord}>
                CANCEL
              </button></span>
            <span class="btn btn-sec">
              <button if:true={btnEnable} class="slds-button slds-button_outline-brand mr-10" name="draft"
                onclick={createNewRecord} disabled={disableFields}>
                SAVE AS DRAFT
              </button></span>
            <button if:true={btnEnable} class="slds-button slds-button_brand" disabled={disableFields} name="submit"
              onclick={createNewRecord}>
              SUBMIT
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- modal footer start-->

  </template>
  <template if:true={openModel}>
    <div class="demo-only">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
              New Regulations, Standards and / or Policies.
            </h2>
            <button class="close-button" title="Close" onclick={closeModal}></button>
          </header>

          <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
            <div class="slds-grid slds-grid_align-spread">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <span>
                  <lightning-input type="text" name="regulations" label="Regulations,Standards and / or Policies"
                    onchange={comarOnChange} value={createComar.regulations} required></lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <span>
                  <lightning-input type="text" name="question" label="Description" onchange={comarOnChange}
                    value={createComar.question} required></lightning-input>
                </span>
              </div>
            </div>

            <div class="slds-grid slds-wrap mt-20">
              <div class="slds-col">
                <div class="slds-clearfix">
                  <div class="slds-float_right">
                    <lightning-button label="Cancel" variant="brand-outline" onclick={closeModal}
                      class="slds-m-left_medium mr-10"></lightning-button>
                    <lightning-button label="Save" variant="brand" onclick={createNewComar}></lightning-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
  <!-- //POPUP Window For Conformation Start-->
  <template if:true={openmodelDel}>
    <div class="demo-only">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
        <div class="slds-modal__container" style="width: 35%;">
          <div class="popborder">
            <header class="slds-modal__header">
              <button class="close-button" title="Close" onclick={closeModal}></button>
            </header>
            <!-- modal body start -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
              <div class="slds-align_absolute-center delete-icon">
                <p>Are you sure you want to delete?</p>
              </div>
            </div>
            <!-- modal footer start-->
            <footer class="slds-modal__footer slds-align_absolute-center">
              <button class="slds-button slds-button_text-destructive" onclick={deleteFrSure}>
                <lightning-spinner if:true={deleteLoader} size="small"></lightning-spinner>
                Yes
              </button>
              <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                No
              </button>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
  <!-- //POPUP Window For Conformation End-->
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>