/*
 * Copyright (c) 2019, salesforce.com, inc.
 * All rights reserved.
 * SPDX-License-Identifier: MIT
 * For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/MIT
 */

.slds-inline-logo {
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hiddenspan {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
  }
  
.customizedDropdownInputStatusLeft{
    position: absolute;   
    top:8px

}