.ConferenceTable { background: #fff; height: calc(100vh - 175px); overflow: hidden;
    border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
     position: fixed; width:calc(100vw - 20px);  }

     .conference-tbl .slds-table_bordered{ border-top:0 !important;}
     .conference-tbl .slds-truncate{ font-weight:500;}
     .conference-tbl .slds-table thead th, .conference-tbl .slds-table tbody td  { padding:10px;}
     .conference-tbl tbody th:nth-child(1){ padding-left:18px !important;} 
     .conference-tbl .slds-table_bordered tbody td{ padding: 5px 10px 5px 10px !important; }
.mleft{ margin-left:10px;}
.arrow-cls{ margin-left: 5px; margin-top: 3px; position: absolute;}
.btn-addConference{  position: fixed; right: 13px;  margin-top: -78px;}
.chevron{  width: 150px;  color: #1366F3;  border: 0; outline: none;  background: none;  }
.addexit-btn{ position: absolute; top: 8px;   right: 184px;}
.txtexitCenter{ text-align: center; height:49px;}

.conference-usernumber{
    color: black;
    border: 1px solid #ccc;
    position: relative;
    top: 1px;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    height: 23px;
    line-height: 19px;
    margin: 0px 4px 0px 4px;
}