<template>
    <template if:true={hideHeaderButton}>
        <c-public-providers-all-header-buttons onredirecttopubprovdashboard={redirectToPubProvDashboard}
            onredirecttostudyvisit={redirectTohomestudy}
            onredirecttoreconsiderationdetail={redirecttoreconsiderationdetailsComp}
            onredirecttoserviceinfo={redirectToServiceInfo} onredirecttopetinfo={redirectToPetInfo}
            onredirecttotraining={redirectToTraining} show-add-service={showAddService}
            show-pet-details={showPetDetails} show-training-details={showTrainingDetails}
            show-add-home-study={showAddHomeStudy} onredirecttoprovtabset={redirectToPubProvTabSet}
            show-reconsideration-tabset={providersTabsetView} show-add-reconsideration={showAddReconsideration}
            reconsideration-name={reconsiderationName} provider-name={providerName}>
        </c-public-providers-all-header-buttons>
    </template>
    <div if:true={providersTabsetView}>
        <div class="innerParent-Tab innerPage-main applicationTabset">
            <lightning-tabset active-tab-value={activeTab}>
                <lightning-tab label="LICENSE INFO" value="licenseInfo" onactive={handleActiveTabButtons}>
                    <c-public-providers-license-info onredirecteditapplication={redirectToPublicApplication}></c-public-providers-license-info>
                </lightning-tab>
                <lightning-tab label="HOME INFO" onactive={handleActiveTabButtons}>
                    <c-public-providers-home-information></c-public-providers-home-information>
                </lightning-tab>
                <lightning-tab label="HOUSEHOLD MEMBERS" value="houseHoldMember" onactive={handleActiveTabButtons}>
                    <c-public-providers-household-member-list
                        onredirecttoaddhouseholdmembersearch={handleAddMemberSearch}
                        onredirecttoaddhouseholdmembers={handleAddMember} onviewofhouseholdmembers={handleAddMemberView}
                        ondatacardhhmembertrue={handleMeeting}>
                    </c-public-providers-household-member-list>
                </lightning-tab>
                <lightning-tab label="NARRATIVE" onactive={handleActiveTabButtons}>
                    <c-public-providers-narrative></c-public-providers-narrative>
                </lightning-tab>
                <lightning-tab label="DOCUMENT" class="attach-doc" onactive={handleActiveTabButtons}>
                    <c-public-providers-document></c-public-providers-document>
                </lightning-tab>
                <lightning-tab label="RECONSIDERATION" value="reconsideration" onactive={handleActiveTabButtons}>
                    <c-public-providers-re-consideration reconsideration-btn={reconsideration}
                        onreconsiderationmodalclose={reconsiderationModalCloseHandler}
                        onaddmodalclose={addModalCloseHandler}
                        onredirecttoreconsiderationtabset={showReconsiderationTabset}>
                    </c-public-providers-re-consideration>
                </lightning-tab>
                <lightning-tab label="PLACEMENTS" onactive={handleActiveTabButtons}>
                    <c-public-providers-placements></c-public-providers-placements>
                </lightning-tab>
                <lightning-tab label="SANCTIONS" value="sanctions" onactive={handleActiveTabButtons}>
                    <c-complaints-provider-sanctions></c-complaints-provider-sanctions>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </div>

    <template if:true={showPublicProviderAddmember}>
        <c-public-provider-add-house-hold-members onredirttoholdmembersdashboard={redirectToHousHoldDashboard}
            onredirecttoholdmembersearch={handleAddMemberSearchFromAddHouse} search-holder-show={searchHolder}
            is-disabled={isView}></c-public-provider-add-house-hold-members>
    </template>
    <template if:true={showPublicProviderAddmemberSearch}>
        <c-public-provider-search-house-hold-members onredirecttoaddhouseholdmemberhome={handleAddMemberHome}
            onredirecttoaddhouseholdaddmember={redirectHandleAddMember} show-result={showResult}
            search-house-hold-members-lists-from-add-member={showListParent}>
        </c-public-provider-search-house-hold-members>
    </template>

    <div if:true={providersReconsiderationTabsetView}>
        <div class="innerParent-Tab innerPage-main applicationTabset mtabs-reconsideration">
            <lightning-tabset>
                <lightning-tab label="BACKGROUND CHECKS" onactive={handleActiveTabButtons}>
                    <c-public-providers-background-check></c-public-providers-background-check>
                </lightning-tab>
                <lightning-tab label="SERVICES" value="AddServices" onactive={handleActiveTabButtons}>
                    <c-public-providers-services ontogglecomponents={handleToggleComponentsForService}
                        open-service-modal={openServiceInfoModal}>
                    </c-public-providers-services>
                </lightning-tab>
                <lightning-tab label="CONTACT NOTES" onactive={handleActiveTabButtons}>
                    <c-public-providers-contact-notes></c-public-providers-contact-notes>
                </lightning-tab>
                <lightning-tab label="TRAINING" value="Training" onactive={handleActiveTabButtons}>
                    <c-public-providers-training ontogglecomponents={handleToggleComponents}
                        open-training-modal={openTrainingModal}>
                    </c-public-providers-training>
                </lightning-tab>
                <lightning-tab label="PLACEMENT SPECIFICATIONS" onactive={handleActiveTabButtons}>
                    <c-public-providers-placement-spec></c-public-providers-placement-spec>
                </lightning-tab>
                <lightning-tab label="NARRATIVE" onactive={handleActiveTabButtons}>
                    <c-public-providers-reconsideration-narrative></c-public-providers-reconsideration-narrative>
                </lightning-tab>
                <lightning-tab label="HOME STUDY VISIT" value="StudyVisit" onactive={handleActiveTabButtons}>
                    <c-public-providers-home-study open-study-model={homeVisitModal}
                        ontogglecomponents={handleToggleComponentsForHomeVisit}> </c-public-providers-home-study>
                </lightning-tab>
                <lightning-tab label="HOUSEHOLD CHECKLIST" onactive={handleActiveTabButtons}>
                    <c-public-providers-household-check></c-public-providers-household-check>
                </lightning-tab>
                <lightning-tab label="HOUSEHOLD MEMBER CHECKLIST" onactive={handleActiveTabButtons}>
                    <c-public-providers-household-member-check-list></c-public-providers-household-member-check-list>
                </lightning-tab>
                <lightning-tab label="DOCUMENTS" onactive={handleActiveTabButtons} class="attach-doc">
                    <c-public-providers-reconsideration-document></c-public-providers-reconsideration-document>
                </lightning-tab>
                <lightning-tab label="PET INFO" value="PetInfo" onactive={handleActiveTabButtons}>
                    <c-public-providers-pet-information ontogglecomponents={handleTogglePetComponents}
                        open-pet-modal={openPetInfoModal}>
                    </c-public-providers-pet-information>
                </lightning-tab>
                <lightning-tab label="DECISION" onactive={handleActiveTabButtons}>
                    <c-public-providers-reconsideration-decision></c-public-providers-reconsideration-decision>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </div>
</template>