<template>
    <div class="slds-float_right" if:false={isSuperUserFlow}>
        <lightning-button variant="brand" label="ADD LICENSE SERVICES" onclick={openLicenseModel}
            class="btn btn-pri btn-topright" style="top:0px;">
        </lightning-button>
    </div>

    <div class="application-table">
        <div class="slds-align_absolute-center">
            <lightning-datatable class="custom-tbl" key-field="id" data={currentPageLicenseData} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>
        <div class="paginationPosition">
            <c-common-pagination get-count={totalLicenseCount} page={page} setsize={setPagination} perpage={perpage}
                onprogressvaluechange={hanldeProgressValueChange}>
            </c-common-pagination>
        </div>
    </div>

   <div if:true={noRecordsFound} class="applicationStaff-screen">
       <div class="text-center file-upload slds-p-vertical&#45;&#45;xx-large">
           <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
           <p class="font-bold padtop10">No License Service Details Available</p>
           <p class="subfont">Add License Details by clicking Add License Services Button </p>
       </div>
   </div> 

    <template if:true={openModel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">

                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {title}</h2>
                            <button class="close-button" title="Close" onclick={closeLicenseModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="12">
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="Category" label="Category"
                                                placeholder="Select Category" options={CategoryOptions}
                                                onchange={LicenseOnChange} required value={Licensedetails.Category__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="AvailableTasks" label="Available Tasks"
                                                placeholder="Select Available Tasks" options={AvailableTasksOptions}
                                                required onchange={LicenseOnChange} value={Licensedetails.Task__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small ">
                                            <lightning-input type="Date" name="StartDate" label="Start Date" required
                                                onchange={LicenseOnChange} value={Licensedetails.StartDate__c}
                                                min={mindate} max={maxdate} placeholder="Select Start Date">
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input type="Date" name="EndDate" label="End Date" required
                                                onchange={LicenseOnChange} value={Licensedetails.EndDate__c}
                                                min={mindate} max={maxdate} placeholder="Select End Date" disabled={isDisableEndDate}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input type="Number" name="Cost" label="$ Cost"
                                                onchange={LicenseOnChange} value={Licensedetails.Cost__c} placeholder="Enter Cost" required>
                                            </lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="Unit" label="Unit" placeholder="Select Unit"
                                                options={UnitOptions} required onchange={LicenseOnChange}
                                                value={Licensedetails.Unit__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="PaidBy" label="Paid By"
                                                placeholder="Select Paid By" options={PaidByOptions} required
                                                onchange={LicenseOnChange} value={Licensedetails.PaidBy__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="Classification" label="Classification"
                                                placeholder="Select Classification" options={ClassificationOptions}
                                                required onchange={LicenseOnChange}
                                                value={Licensedetails.Classification__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input type="Text" name="ServiceDescription"
                                                label="Service Description" onchange={LicenseOnChange}
                                                value={Licensedetails.ServiceDescription__c} placeholder="Enter Service Description">
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-size_1-of-1">
                                            <div class="btnSec pr-0">
                                                <lightning-button class="btn btn-sec" onclick={cancelLicenseDetails}
                                                    label="CANCEL"></lightning-button>
                                                <lightning-button label={btnLabel}
                                                    class="btn btn-pri slds-m-left_x-small"
                                                    onclick={CreateLicenseDetails} disabled={disabled}>
                                                </lightning-button>
                                            </div>
                                        </div>
                                    </div>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>


    <template if:true={viewModel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">
                                License Services Details</h2>
                            <button class="close-button" title="Close" onclick={closeLicenseModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-2">
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="12">
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-combobox name="Category" label="Category" placeholder="Select Category"
                                                options={CategoryOptions} onchange={LicenseOnChange} disabled required
                                                value={Licensedetails.Category__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="AvailableTasks" label="Available Tasks"
                                                placeholder="Select Available Tasks" options={AvailableTasksOptions} disabled
                                                onchange={LicenseOnChange} required value={Licensedetails.Task__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small ">
                                            <lightning-input type="Date" name="StartDate" label="Start Date" disabled
                                                onchange={LicenseOnChange} required value={Licensedetails.StartDate__c} placeholder="Select Start Date">
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small ">
                                            <lightning-input type="Date" name="EndDate" label="End Date" disabled
                                                onchange={LicenseOnChange} required value={Licensedetails.EndDate__c} placeholder="Select End Date">
                                            </lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input type="Number" max-length="2" name="Cost" label="$ Cost"
                                                onchange={LicenseOnChange} disabled value={Licensedetails.Cost__c}
                                                placeholder="Enter Cost" required>
                                            </lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-combobox name="Unit" label="Unit" placeholder="Select Unit"
                                                options={UnitOptions} disabled required onchange={LicenseOnChange}
                                                value={Licensedetails.Unit__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-combobox name="PaidBy" label="Paid By" placeholder="Select Paid By"
                                                options={PaidByOptions} disabled required onchange={LicenseOnChange}
                                                value={Licensedetails.PaidBy__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-combobox name="Classification" label="Classification"
                                                placeholder="Select Classification" options={ClassificationOptions} required
                                                onchange={LicenseOnChange} disabled
                                                value={Licensedetails.Classification__c}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input type="Text" name="ServiceDescription"
                                                label="Service Description" disabled onchange={LicenseOnChange}
                                                value={Licensedetails.ServiceDescription__c} placeholder="Enter Service Description">
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-size_1-of-1 slds-col--padded slds-p-vertical_medium">
                                            <div class="btnSec">
                                                <lightning-button class="btn btn-sec" onclick={cancelLicenseDetails}
                                                    label="CANCEL"></lightning-button>
                                            </div>
                                        </div>
                                    </div>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>