<template>
    <template if:false={pageSpinner}>
        <div class="slds-grid slds-wrap" style="height:100%;">
            <div class="slds-col  slds-size_1-of-1">
                <template if:false={dataStringNotEmpty}>
                    <div class="">
                    <div class="text-center file-upload">
                        <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
                        <p class="font-bold padtop10">No Documents Available</p>
                        <p class="subfont" if:false={btnDisable}>Add necessary documents relevant to this case by clicking Upload button</p>
                        <button class="btn-upload mt-30" onclick={handleOpenModal} if:false={btnDisable}>
                            <img src={uploadicon} class="slds-p-right_x-small" /> UPLOAD </button>
                    </div>
                </div>
                </template>

                <template if:true={isOpenModal}>
                    <div style="height: 500px;">
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                            aria-describedby="modal-content-id-1"
                            class="slds-modal slds-fade-in-open slds-modal--medium">
                            <div class="slds-modal__container">
                                <header class="slds-modal__header">
                                    <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                                        Upload Documents
                                    </h2>
                                    <button class="close-button" title="Close" onclick={handleCloseModal}>
                                    </button>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                    <lightning-layout multiple-rows="true">

                                        <template if:true={isBare}>
                                            <div class="slds-grid slds-wrap progressbar">
                                                <div class="slds-col slds-size_1-of-1">
                                                    <div class="slds-grid slds-wrap">
                                                        <div class="slds-col slds-col--padded slds-size_1-of-2">
                                                            <!-- Uploaded Files -->
                                                            <h4><b>{fileName}</b></h4>
                                                        </div>
                                                        <div
                                                            class="slds-col slds-col--padded slds-size_1-of-2 text-right">
                                                            {progress}%
                                                        </div>
                                                    </div>
                                                    <div class="slds-grid slds-wrap mt-10">
                                                        <div class="slds-col slds-col--padded slds-size_1-of-1">
                                                            <lightning-progress-bar value={progress}
                                                                class="slds-p-top_x-small"></lightning-progress-bar>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                        <lightning-layout-item size="12">
                                            <lightning-layout>
                                                <lightning-layout-item size="4" class="slds-p-around_x-small">
                                                    <label> Title*</label>
                                                    <lightning-input name="documentTitle" label="Title*"
                                                        variant="label-hidden" data-id="documentTitle"
                                                        onchange={assignValue}>
                                                    </lightning-input>
                                                </lightning-layout-item>
                                                <!-- <lightning-layout-item size="4" class="slds-p-around_x-small">
                                                   <label> Document*</label>
                                                    <select class="slds-select" name="category" onchange={assignValue}>
                                                        <template for:each={CategoryList} for:item=val>
                                                            <option value={val} key={val}>{val}</option>
                                                        </template>
                                                    </select>
                                                </lightning-layout-item> -->
                                                <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon mdd-h150 ">
                                                    <label> CW-Health*</label>
                                                    <!-- <lightning-input  name="subCategory" variant="label-hidden" data-id="subcatogery" value={subCategory} onchange={assignValue}>
                                                </lightning-input> -->
                                                    <!-- <select class="slds-select" style="width: 300px;" name="subCategory"
                                                        onchange={assignValue}>
                                                        <template for:each={subCategoryList} for:item=val>
                                                            <option value={val.value} key={val.value}>{val.label}
                                                            </option>
                                                        </template>
                                                    </select> -->
                                                    <lightning-combobox name="subCategory" 
                                                    options={subCategoryList} onchange={assignValue} label="Site Address" variant="label-hidden">
                                                </lightning-combobox>

                                                </lightning-layout-item>
                                            </lightning-layout>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="12">
                                            <lightning-layout>
                                                <lightning-layout-item size="12" class="slds-p-around_x-small">
                                                    <lightning-input name="description" label="Description"
                                                        placeholder="Description" value={description}
                                                        onchange={assignValue}>
                                                    </lightning-input>
                                                </lightning-layout-item>
                                            </lightning-layout>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="12">
                                            <lightning-layout>
                                                <lightning-layout-item size="12" class="slds-p-around_x-small ">
                                                    <div class="slds-grid slds-wrap">
                                                        <div class="slds-col  slds-size_1-of-2">
                                                            <p><span style="font-weight: 500">Uploaded By:</span>
                                                                {userName}
                                                            </p>
                                                        </div>
                                                        <div class="slds-col  slds-size_1-of-2">
                                                            <span style="font-weight: 500">Uploaded Date: </span>
                                                            <lightning-formatted-date-time year="numeric"
                                                                month="numeric" day="numeric" hour="2-digit"
                                                                minute="2-digit" hour12="true" value={uploadedDate}>
                                                            </lightning-formatted-date-time>
                                                        </div>
                                                    </div>
                                                </lightning-layout-item>
                                            </lightning-layout>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <div class="btnSec pad-0 ">
                                        <lightning-button label="Cancel" class="btn btn-sec mr-10"
                                            onclick={handleCloseModal}>
                                        </lightning-button>
                                        <lightning-file-upload label="" variant="label-hidden" name="fileUpload"
                                            class="mfileUpload" accept={acceptedFilesFormat}
                                            record-id={documentIdForAttachment} multiple
                                            onuploadfinished={handleFileUpload}></lightning-file-upload>
                                    </div>

                                </div>
                            </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                    </div>
                </template>

                <!-- Modal Box which open when user Edit File-->
                <template if:true={hasModalOpen}>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header ">
                                <lightning-button-icon icon-name="utility:close" onclick={closeModel}
                                    alternative-text="close" variant="bare-inverse" class="slds-modal__close">
                                </lightning-button-icon>
                                <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Edit File</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                                <div class="slds-clearfix">
                                    <div class="slds-grid slds-gutters slds-text-align_left  ">
                                        <div class="slds-col slds-size_1-of-3">
                                            <select class="slds-select" name="category" onchange={assignValue}>
                                                <option value="">Category</option>
                                                <template for:each={CategoryList} for:item=val>
                                                    <option value={val} key={val}>{val}</option>
                                                </template>
                                            </select>
                                        </div>
                                        <div class="slds-col slds-size_1-of-3">
                                            <select class="slds-select" name="subCategory" onchange={assignValue}>
                                                <option value="">Sub Category</option>
                                                <template for:each={subCategoryList} for:item=val>
                                                    <option value={val} key={val}>{val}</option>
                                                </template>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="slds-text-align_right">
                                    <!--    <lightning-button label="Upload" class="btn"> </lightning-button>-->
                                    <lightning-button label="Save" class="btn" onclick={saveEditFile}>
                                    </lightning-button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>

                <template if:true={dataStringNotEmpty}>
                    <!-- <div class="slds-m-around_small">
                    <lightning-button label="upload" variant="brand" onclick={handleOpenModal} class="slds-float_right"> </lightning-button>
                </div> -->
                    <!-- <b>Uploaded Documents</b> -->
                    <div class="btnSec btn-topright">
                        <!-- <lightning-button label="upload" class="btn btn-pri" variant="brand" onclick={handleOpenModal}></lightning-button> -->
                        <button class="btn-upload" onclick={handleOpenModal} if:false={btnDisable}>
                            <img src={uploadicon} class="slds-p-right_x-small" /> UPLOAD </button>
                    </div>
                    <div class="">
                    <div class="slds-grid slds-wrap slds-col--padded pad-wrap10">
                        <h2 class="upload-title mt-10">UPLOADED DOCUMENTS</h2>
                    </div>
                    <div class="slds-grid slds-wrap">
                        <template for:each={dataStr} for:item="att">
                            <div data-id={att.id} key={att.Id}
                                class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                                <div class="file-attached">
                                    <div class="card-header">
                                        <div style="display: inline-block;">
                                            <span style="float: left;">
                                                <!--<lightning-icon icon-name={doctype} alternative-text="Doc image"></lightning-icon> </lightning-icon>-->
                                                <c-referral-attachments-icon document-type={att.FileType}>
                                                </c-referral-attachments-icon>
                                            </span>
                                            <span style="float: left;padding-left: 10px;">
                                                <p class="fw-500">{att.Title}</p>
                                                <p> {att.DocumentSize__c} </p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table>
                                            <tr>
                                                <td class="vtop widtd">Referral Number</td>
                                                <td class="vtop">:</td>
                                                <td class="fw-500 vtop">{CaseNumber}</td>
                                            </tr>
                                            <tr>
                                                <td class="vtop">Referral Date</td>
                                                <td class="vtop">:</td>
                                                <td class="fw-500 vtop">
                                                    <lightning-formatted-date-time year="numeric" month="numeric"
                                                        day="numeric" hour="2-digit" minute="2-digit" hour12="true"
                                                        value={ReceivedDate}>
                                                    </lightning-formatted-date-time>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="vtop">CWHealth</td>
                                                <td class="vtop">:</td>
                                                <td class="fw-500 vtop"><div class="text-overflowHiddencw">{att.CWHealth__c}</div></td>
                                            </tr>
                                            <tr>
                                                <td class="vtop">Uploaded By</td>
                                                <td class="vtop">:</td>
                                                <td class="fw-500 vtop">{att.CreatedBy.Name}</td>
                                            </tr>
                                            <tr>
                                                <td class="vtop">Uploaded Date</td>
                                                <td class="vtop">:</td>
                                                <td class="fw-500 vtop">
                                                    <lightning-formatted-date-time year="numeric" month="numeric"
                                                        day="numeric" hour="2-digit" minute="2-digit" hour12="true"
                                                        value={att.CreatedDate}>
                                                    </lightning-formatted-date-time>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="vertical-align:top;">Description</td>
                                                <td align="left" style="vertical-align:top;">:</td>
                                                <td align="left" style="vertical-align:top;">
                                                    <div class="text-overflowHidden fw-500"> {att.Description}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="card-footer">
                                        <a href="javascript:void(0)" id={att.ContentDocumentId}
                                            data-id={att.ContentDocumentId} onclick={viewFile}
                                            class="slds-p-top_x-small">View</a>

                                        <div class="btnSec f-right slds-float_right" if:false={displayDeleteIcon}>
                                            <a href="javascript:void(0)" id={att.ContentDocumentId}
                                                data-id={att.ContentDocumentId} onclick={downloadFile}
                                                class="slds-m-right_xx-small ">
                                                <lightning-button-icon icon-name="utility:download" size="x-large"
                                                    alternative-text="Download"></lightning-button-icon>
                                            </a>
                                            <a href="javascript:void(0)" id={att.ContentDocumentId}
                                                data-id={att.ContentDocumentId} onclick={deleteConformation}
                                                class="slds-m-right_xx-small">
                                                <lightning-button-icon icon-name="utility:delete" size="x-large"
                                                    class="del-red" alternative-text="Delete"></lightning-button-icon>
                                            </a>
                                        </div>

                                        <div class="btnSec f-right slds-float_right" if:true={displayDeleteIcon}>
                                            <a href="javascript:void(0)" id={att.ContentDocumentId}
                                                data-id={att.ContentDocumentId} onclick={downloadFile}
                                                class="slds-m-right_xx-small ">
                                                <lightning-button-icon icon-name="utility:download" size="x-large"
                                                    alternative-text="Download"></lightning-button-icon>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    </div>

                </template>

                <!--Sundar Modifed Delete Upload File-->
                <template if:true={deleteModel}>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
                        <div class="slds-modal__container" style="width: 35%;">
                            <div class="popborder">
                                <header class="slds-modal__header">
                                    <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                                </header>
                                <!-- modal body start -->
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                                    <div class="slds-align_absolute-center delete-icon">
                                        <p>Are you sure you want to delete? </p>
                                    </div>
                                </div>
                                <!-- modal footer start-->
                                <footer class="slds-modal__footer slds-align_absolute-center">
                                    <button class="slds-button slds-button_text-destructive"
                                        onclick={handleDelete}>Yes</button>
                                    <button class="slds-button slds-button_outline-brand"
                                        onclick={closeDeleteModal}>No</button>
                                </footer>
                            </div>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </template>
            </div>
        </div>
    </template>
    <template if:true={pageSpinner}>
        <div class="slds-spinner_inline spinner-padding">
            <c-common-loading-spinner></c-common-loading-spinner>
        </div>
    </template>
</template>