.iconpadbot{ margin-bottom:5px;}
.bottomAlign {
    position: fixed;
    bottom: 0px;
    background: #FCFCFC 0 0 no-repeat padding-box;
    padding: 6px;
    border: 1px solid #EBEBEB;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
    overflow: hidden;
    width: calc(100vw - 20px);
    /* padding-right: 30px; */
}
.box-wrap{ 
    float: left;
    width: 28%;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding:20px 27px; margin-top:20px;
    }