<template>
  <div class="application-table">
    <div class="slds-grid slds-wrap padtop10">
      <div class="slds-col bottomAlign">
        <div class="slds-clearfix">
          <div class="slds-float_right btnSec">
            <lightning-button label="Save As Draft" onclick={DraftMethod} disabled={isSaveAsDraftDisable} class="btn btn-sec mr-10">
            </lightning-button>
            <lightning-button label="Submit" onclick={saveMethod}  disabled={isBtnDisable} class="btn btn-pri">
            </lightning-button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-align_absolute-center">
      <div class="box-wrap">
        <div class="slds-grid slds-wrap">
          <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
            <img src={decisionIcon} class="iconpadbot" />
          
          </div>
          <div class="slds-col slds-col--padded slds-size_1-of-1">
            <lightning-combobox name="Status" label="Status" disabled={isStatusDisable} onchange={changeHandler} placeholder="Select" value={decisionStatus} options={stageNameValues}
             required>
            </lightning-combobox>
          </div>
          <div class="slds-col slds-col--padded slds-size_1-of-1">
            <lightning-textarea label="Comments" onchange={commentsHandler}   disabled={commentsDisabled} value={Comments__c}>
            </lightning-textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>