.training-wrapper {
    background: #fff;
    height: calc(100vh - 277px);
    width: calc(100vw - 20px);
    margin: 0px 10px 0px 10px;
    overflow: hidden;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0 0 10px #e9e9ea;
  }
  .align{
    margin-top: 10px;
    margin-right: 15px;
}
  .paginationPosition {
    position: relative;
    top: -28px;
  }
  .pagination{ padding:5px 10px 0px 10px;}
.pagination .slds-button-group-row{ border:  #E8E8E8;
    border-radius: 2px
    }
.pagination .slds-button { border-radius:0;}
.pagination .slds-button:focus, .pagination .slds-button:active { box-shadow:none;}
.pagination .slds-button_neutral[disabled],.pagination .slds-button_neutral:disabled{background: #F8F8FB; padding: 0px 10px; color: #000;}
.pagination .slds-button-group-row, .pagination .slds-button-group-item+.slds-button-group-item { margin-left:0;}
.pagination .active{background: #0A69B9; color: #fff;     border: 1px solid #0A69B9; padding:0px 16px}
.font18{ font-size: 18px;}
.font18 .slds-button.slds-button_neutral{ padding:0 10px;}