<template>
  <div class="training-wrapper">
    <lightning-datatable class="custom-tbl" key-field="uniqueId" data-status={Status__c} data={currentPageData}
      columns={_options} onrowaction={handleRowAction} hide-checkbox-column>
    </lightning-datatable>


    <div class="paginationPosition">
      <lightning-layout multiple-rows="true">
        <lightning-layout-item size="12" padding="around-medium">
          <div class="pagination">
            <ul class="slds-button-group-row">
              <template if:true={hasPrev}>
                <li class="slds-button-group-item font18">
                  <button class="slds-button slds-button_neutral" onclick={onPrev}>
                    &ltrif;
                  </button>
                </li>
              </template>
              <template if:false={hasPrev}>
                <li class="slds-button-group-item font18">
                  <button disabled class="slds-button slds-button_neutral" onclick={onPrev}>
                    &ltrif;
                  </button>
                </li>
              </template>
              <template for:each={pagesList} for:item="pageNumber">
                <li class="slds-button-group-item" key={pageNumber}>
                  <button class="slds-button slds-button_neutral" data-id={pageNumber} onclick={onPageClick}>
                    {pageNumber}
                  </button>
                </li>
              </template>
              <template if:true={hasNext}>
                <li class="slds-button-group-item font18">
                  <button class="slds-button slds-button_neutral" onclick={onNext}>
                    &rtrif;
                  </button>
                </li>
              </template>
              <template if:false={hasNext}>
                <li class="slds-button-group-item font18">
                  <button disabled class="slds-button slds-button_neutral" onclick={onNext}>
                    &rtrif;
                  </button>
                </li>
              </template>
            </ul>
            <div class="slds-float_left align">
              Showing: <b>{page} </b> - <b>{pagePerTime}</b> out of
              <b> {pagesLength}</b>
              </p>
            </div>
          </div>
        </lightning-layout-item>
      </lightning-layout>
    </div>
  </div>


  <template if:true={_hidePagination}>
    <div class="slds-align_absolute-center">
      <div class="text-center file-upload slds-p-vertical--xx-large">
        <img class="icon-attachment" src={descriptionIcon} />
        <p class="font-bold padtop10">{noRecordsFoundMessage}</p>
      </div>
    </div>
  </template>


</template>