<template>
    <h2 class="sub-title"><a onclick={RedirecttoContractDashboard}>Contract</a> - {contractNo}</h2>
    <div class="innerParent-Tab innerPage-main applicationTabset">
        <lightning-tabset>
            <lightning-tab label="BASIC INFORMATION"  style="overflow:hidden">
                <c-provider-basic-contract-info></c-provider-basic-contract-info>
            </lightning-tab>
            <lightning-tab label="LICENSE SERVICES">
                <c-provider-license-services></c-provider-license-services>
            </lightning-tab>
            <lightning-tab label="RATES">
                <c-providers-contract-rates></c-providers-contract-rates>
            </lightning-tab>
            <lightning-tab label="NARRATIVE">
                <c-contract-narrative></c-contract-narrative>
            </lightning-tab>
            <lightning-tab label="DECISION">
                <c-providers-contract-review onredirecttocontractdashboard={handleContractDashboard}></c-providers-contract-review>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>