<template>
    <div class="slds-p-around_x-small  slds-card">
        <lightning-input-rich-text label="Narrative" value={Narrative__c} onchange={narrativeOnChange} disabled={richTxtDisable}></lightning-input-rich-text>
        <div class="speech-icon" >
            <c-common-speech-to-text onspeechtotext={handleSpeechToText}></c-common-speech-to-text>
        </div>
        <div class="slds-clearfix text-right">
            <div class="mt-10">
                <lightning-button class="btn btn-pri" label="SAVE" variant="brand" onclick={saveNarrativeDetails} disabled={saveBtnDisable}></lightning-button>
            </div>
        </div>
    </div>
</template>