<template>
    <div class="slds-grid slds-wrap mt-20">
        <div class="slds-col--padded">
            <div class="slds-clearfix">
                <div class="slds-float_right tab-content btn-topright">
                    <template if:true={addSearchbtnShowHide}>
                        <lightning-button label="Search and Add New Household Members" variant="brand" onclick={addSearchHouseMemberRedirect}>
                        </lightning-button>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <div class="document-screen">
        <div if:false={norecorddisplay}>
            <div class="text-center file-upload slds-p-vertical--xx-large norecord">
                <img class="icon-attachment" src={attachmentIcon} style="width:70px;" />
                <p class="font-bold padtop10">No Household Members Found !</p>
                <p class="subfont">Please Search and add by Household Members</p>
            </div>
        </div>
        <div class="slds-grid slds-wrap mt-20" if:true={norecorddisplay}>
            <div class="slds-col--padded">
                <h2>HOUSEHOLD PERSON DETAILS</h2>
            </div>
            <lightning-datatable key-field="id" data={ContactDetailsOfCard} columns={columns} hide-checkbox-column="true" onrowaction={handleRowAction} class="custom-tbl mt-20">
            </lightning-datatable>
        </div>
        <footer class="slds-modal__footer posback">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1">
                    <div class="slds-float_left">
                        <lightning-button label="Back" class="btn btn-outline-primary" onclick={bactToAddressRedirect}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete} disabled={disableDelClick}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>