<template>
  <div class="application-table application_fieldset">
    <div class="slds-col--padded mt-10">
      <fieldset>
        <legend class="sec-title">RATES</legend>
        <div class="slds-grid slds-grid_align-spread">
          <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-5">
            <span>
              <lightning-input type="text" name="CompletionDate" autocomplete="off" value={AvailableRateCodes}
                label="Available Rate Codes" required="True" disabled="True">
              </lightning-input>
            </span>
          </div>
          <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-5">
            <span>
              <lightning-input type="date" value={StartDate} label="Start Date" disabled="True"></lightning-input>
            </span>
          </div>
          
          <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-5">
            <span>
              <lightning-input type="date" autocomplete="off" value={EndDate} label="EndDate" disabled="True">
              </lightning-input>
            </span>
          </div>
       
          <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-5">
            <span>
              <lightning-input type="number" autocomplete="off" value={PerDiemRate} label="$ Per Diem Rate"
                required="True" formatter="Currency" disabled="True"></lightning-input>

            </span>
          </div>
          <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-5">
            <span>
              <lightning-input type="number" value={MonthlyRates} label="$ Monthly Rates" formatter="Currency"
                required="True" disabled="True"></lightning-input>
            </span>
          </div>
          <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-5">
            <span>
              <lightning-input type="number" name="CompletionDate" autocomplete="off" value={AnnualRates}
                label="$ Annual Rates" disabled="True" formatter="Currency"></lightning-input>
            </span>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</template>