<template>
    <template if:true={_showDatatable}>
     <div class="public-bg-table">
<div class="pageWrapInstructor" if:false={norecorddisplay}>
        <div class="salesforceTable">

            <table>
                <thead>
                    <tr>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>GENDER</th>
                        <th>PHONE NUMBER</th>
                        <th>EMAIL ADDRESS</th>
                        <th></th>
                        <th class="Lchild-wid"></th>
                    </tr>
                </thead>
                <tbody>

                    <template for:each={currentPageInstructorData} for:item="instructorDetails">
                        <tr key={instructorDetails.Id} id={instructorDetails.Id} onmouseleave={ShowOfEditDelView}>
                            <td>
                                <span>{instructorDetails.FirstName}</span>
                            </td>
                            <td>
                                <span>{instructorDetails.LastName}</span>
                            </td>
                            <td>
                                <span>{instructorDetails.Gender__c}</span>
                            </td>
                            <td>
                                <span>{instructorDetails.Phone}</span>
                            </td>
                            <td>
                                <span>{instructorDetails.Email}</span>
                            </td>

                            <td>
                                <div class="txtright"> 
                                    <div class="threedots" data-id={instructorDetails.Id} onclick={handleRowAction}>
                                     <div  class="edit-delpopup intlist slds-hide"  id={instructorDetails.Id}>
                                     <div class="edit-delview">
                                    <ul>
                                        <li class="bdr-btm" data-id={instructorDetails.Id}  onclick={editModelDetails} > 
                                            <div class="txtWrap" data-id={instructorDetails.Id}  onclick={editModelDetails}>Edit</div> 
                                            <div class="iconWrap">
                                            <lightning-icon icon-name="utility:edit" size="x-small"  class="iconColor" data-id={instructorDetails.Id}  onclick={editModelDetails}>
                                            </lightning-icon> 
                                           </div>
                                         </li>
                                    <li data-id={instructorDetails.Id}  onclick={deleteModelDetails}> 
                                        <div class="txtWrap" data-id={instructorDetails.Id}  onclick={deleteModelDetails}>Delete</div>
                                        <div class="iconWrap">
                                        <lightning-icon icon-name="utility:delete" class="iconColor" data-id={instructorDetails.Id}  onclick={deleteModelDetails} size="x-small" >
                                    </lightning-icon>
                                </div> </li>
                                </ul> 
                            </div>
                         </div>
                        </div>
                    </div>
                   </td>
                        <td class="Lchild-wid">
                                 <div data-id={instructorDetails.Id}  onclick={toggleRow} class="btn dropdown" > </div> 
                        </td>
                    </tr>
                    <tr id={instructorDetails.Id} key={instructorDetails.Id} class="conli slds-hide">
                            <td colspan="8" class="padzero">
                                <div class="nestedTable-wrap nestedsalesForce">
                                    <table>
                                        <thead>
                                            <th>TRAINING NUMBER</th>
                                            <th>TOPIC DESCRIPTION</th>
                                            <th class="wid5"></th>
                                        </thead>
                                        <tbody>
                                             <template for:each={trainingCombineItem} for:item="trainingItem">
                                            <tr key={trainingItem.Id} id={trainingItem.Id}>
                                                <td>{trainingItem.Name}</td>
                                                <td><img class="mr-10" src={descriptionIcon} style="width:15px" data-id={trainingItem.Description__c} onclick={descriptionModal}/>
                                                    {trainingItem.Description__c}</td>
                                                <td class="wid5"></td>
                                            </tr>
                                        </template>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </template>

                </tbody>
            </table>
        
        </div>
        <div class="paginationPosition padleft10">
            <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination}
            perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
        </c-common-pagination>
    </div>
    </div>
       
    </div>
         
</template>

<div class="text-center file-upload slds-p-vertical--xx-large" if:true={norecorddisplay}>
    <img class="icon-attachment" src={instructorIcon}  />
    <p class="font-bold padtop10">No Instructor Information Found</p>
    </div>

 

 <template if:true={modalVisible}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {title}</h2>
                            <button class="close-button" title="Close" onclick={closeInstructorModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="12">
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="FirstName" label="First Name"
                                                placeholder="Enter First Name" onchange={instructorOnChange}
                                                value={instructorDetails.FirstName} required>
                                            </lightning-input>
                                        </lightning-layout-item>

                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="LastName" label="Last Name"
                                                placeholder="Enter Last Name" onchange={instructorOnChange}
                                                value={instructorDetails.LastName} required>
                                            </lightning-input>
                                        </lightning-layout-item>

                                        <lightning-layout-item size="4" class="slds-p-around_x-small custom-dropdwon">
                                            <lightning-combobox name="Gender" label="Gender" options={genderOptions}
                                                placeholder="Select Gender" onchange={instructorOnChange}
                                                value={instructorDetails.Gender__c} required>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                    </lightning-layout>



                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="PhoneNumber" label="Phone Number"
                                                placeholder="Enter Phone" onchange={instructorOnChange} maxlength="14"
                                                minlength="14" value={instructorDetails.Phone} required>
                                            </lightning-input>
                                        </lightning-layout-item>

                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="EmailAddress" label="Email Address"
                                                placeholder="Enter Email" onchange={instructorOnChange}
                                                value={instructorDetails.Email} maxlength="80"
                                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                                message-when-pattern-mismatch="Invalid Email" required>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button class="btn-sec" label="CANCEL" onclick={closeInstructorModel}>
                            </lightning-button>
                            <lightning-button label={labeltext} variant="brand" onclick={saveInstructorDetails}
                                disabled={disabled} class="btn-pri slds-m-left_x-small">
                            </lightning-button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

 
    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>


    <template if:true={descModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Description</h2>
                        <button class="close-button" title="Close" onclick={closeDescModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            {descriptionView}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
	
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
      </div>
</template>