.public-bg-table{  padding:3px 10px 3px 10px; } 
.salesforceTable{display: inline-block;
  height: calc(100vh - 336px);overflow-y: auto;}
.salesforceTable table{ border-collapse:collapse; box-shadow: 0px 1px 5px 0px #45414E1C; background: #FFFFFF;
  border-radius: 4px; box-sizing: border-box; }
.salesforceTable thead th{font-weight: 500; font-size: 12px;}
.salesforceTable  td, th{ padding : 8px;  border-bottom : 1px solid #E8E8E8;  display: table-cell;}
.salesforceTable thead{ display: table;
  width: 100%; background: #FBFBFB; border: 1px solid #E8E8E8; border-radius: 0px 2px 0px 0px; text-transform: uppercase; }
.salesforceTable tbody tr {  border-left:5px solid transparent ;}
  .salesforceTable tbody tr:hover{
  background: #FCFCFC ;
  border-left:5px solid blue !important;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

/* .salesforceTable tbody { display: block; max-height: calc(100vh - 384px); overflow-y: auto; }  */
.salesforceTable table tr {  width: 100%;
  display: table;
  table-layout: fixed;
}

.Lchild-wid{ width: 5%;}


.nestedTable-wrap{width:70%; margin-left:auto; margin-right:auto}
.nestedsalesForce table{ border-collapse:collapse; box-shadow: none;  background: #FCFCFC; border-radius: 4px; box-sizing: border-box; }
.nestedsalesForce thead th{font-weight: 500; font-size: 12px;}
.nestedsalesForce th{ padding: 15px; border:0 !important;}
.nestedsalesForce  td{ padding : 15px; border-top : 1px solid #E8E8E8; border-bottom : 0; }
.nestedsalesForce thead{  background: #FBFBFB; border:none;  border-radius:none; text-transform: uppercase; }
.nestedsalesForce tbody tr {  border-left:0 !important;}
  .nestedsalesForce tbody tr:hover{
  background:none ;
  border-left:0 !important;
  }  
  .nestedsalesForce thead tr {  border-left:0 !important;}
  .nestedsalesForce thead tr:hover{
  background:none;
  border-left:0 !important;
  }  


  .padzero{ padding: 0 !important;}

  .dropdown{ 
    position:relative; cursor: pointer;
  }
  .dropdown:after{
    position:absolute;
    content:'';
    left:0px;
    top: 0px;
    width: 10px;
    height: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #0A69B9 ;
  }

    .threedots:after {
      content: '\2807';
      font-size: 17px;
      cursor: pointer;
      text-align: right;
      width:20px;
      }

      .edit-delpopup{    position: relative;
        z-index: 500;}
      .edit-delview{     position: absolute;
        top: 21px;
        right: 5px;
        background: #fff 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px #00000029;     text-align: left;
        width: 100px;
        border: 1px solid #dfe5ec; color: #061C40; font-size: 11px;
      }
      .txtright{text-align: right; float:right;}
      .edit-delview li{padding: 15px;}
      .edit-delview li.delbdr{padding: 15px;}
      .bdr-btm{border-bottom: 1px solid #F4F6FA;}
      .txtWrap{ width:75%; display:inline-block; cursor: pointer; }  .iconWrap{ width:5%; display:inline-block}
      .pageWrapInstructor{ background: #fff;
        height: calc(100vh - 277px);
        width: calc(100vw - 20px);
        
        overflow: hidden;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        box-shadow: 0 0 10px #e9e9ea;
        background: rgb(255, 255, 255);}
      .padleft10{padding-left: 10px;}
      .paginationPosition  {
        position: relative;
        top:6px;
    }
    .padleft10{padding-left:10px;}