<template>
    <template if:false={showProvidersDashoard}>
        <c-public-providers-dashboard onredirecttopublicproviderinfo={handleToShowPublicProvTab}
            onredirecttoprivateproviderinfo={handleToShowPrivateProvTab}
            onredirecteditmonitering={handleredirectToMoniterTo}
            onredirecttocontractdashboard={handleContractDashboardTo}>
        </c-public-providers-dashboard>
    </template>
    <template if:true={showPrivateProvidersTabSet}>
        <template if:true={showProviderInfo}>
            <c-providers-tabset onredirecteditmonitering={handleProviderMoniteringTabs} active-tab={activeTab}
                onredirecttocontractmanage={handleContractManage} onredirecttocontractadd={handleContractAdd}
                onredirecttostaffinfo={handleredirectToStaffInfo} onredirecteditapplication={handletoApplication}>
            </c-providers-tabset>
        </template>
        <template if:true={showProviderMonitering}>
            <c-providers-monitoring-tabs onredirecteditmonitering={handleredirectToMoniter}>
            </c-providers-monitoring-tabs>
        </template>
        <template if:true={showContractInfo}>
            <c-contract-tabs onredirecttocontractdashboard={handleContractDashboard}></c-contract-tabs>
        </template>
        <template if:true={showContractAdd}>
            <c-providers-contract-add-license-info onredirecttocontractdashboard={handleContractDashboard}>
            </c-providers-contract-add-license-info>
        </template>
        <template if:true={showStaffInfo}>
            <c-providers-view-staff-info onredirecttostaffinfo={handleredirectToStaffInfo}
                get-provider-staff-id={providerStaffId}></c-providers-view-staff-info>
        </template>
        <template if:true={showApplicationTabs}>
            <c-application-tabset></c-application-tabset>
        </template>
    </template>
    <template if:true={showPublicApplications}>
        <c-public-providers-all-tabset-cmps onredirecteditapplication={redirectToPublicApplication} onredirecttopubprovdashboard={redirectToDashboard}
            provider-name={providerName} active-tab="licenseInfo">
        </c-public-providers-all-tabset-cmps>
    </template>
    <template if:true={showRedirectPublicApplications}>
         <c-public-application-all-tab-cmps show-public-application-dashboard={showPublicApplicationDashboard}
         hide-header-button={hideHeaderButton}
         show-public-application-tabs={showPublicApplicationTabs} ></c-public-application-all-tab-cmps>
    </template>
  
</template>