.sec-topSlider {
  margin: 10px auto;
  padding: 10px 30px 20px;
  max-width: 650px;
  border: 1px solid #eee;
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  -webkit-appearance: none;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  margin-top: -1px;
  -webkit-appearance: none;
  height: 15px;
  cursor: pointer;
  box-shadow: -400px 0 0 400px #0a69b9;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-top: -25px;
}
.public-homeInformation {
  background-color: #fff;
  padding-top: 1px;
  height: calc(100vh - 326px);
  overflow-y: auto;
}
.slider1 {
  margin-bottom: 25px;
}
.questions {  
padding: 10px;
  background: #FCFCFC 0% 0% no-repeat padding-box;
border: 1px solid #EBEBEB;
opacity: 1;
font-family: "Poppins", sans-serif;
font-weight: 500;
}
.sec-topSlider .slds-size_large {
  width: auto;
}

.margin-top-adj {
  margin-top: -18px;
}

.dynamicCSS{
border:1px solid rgb(117, 201, 243);
color: black;
}

.box-col1{ border: 1px solid #EBEBEB;
  border-radius: 3px;
  }
.box-col1 .slds-p-vertical--xx-large{ margin-top: 50px; margin-bottom: 50px;}
.box-col1.bluebdr{ border: 1px solid #0A69B9;
  border-radius: 3px; color: #061C40;

  }
.plus-icon{ margin-left:5px; margin-right: 5px;}
.widContainerpop{ width:64%}
.padtop{ margin-top: 50px;}
.padtop-lastCard{ margin-top: 37px;}
.boxLink a{ text-decoration: none; color: #959DA5; text-decoration: none;}

.value-slider1 {
    position: relative;
    top: -6px;
    height: 24px;
    width: 35px;
    text-align: center;
}

.heightSlider{ height: 40px;} 
.monitorRadioGroup {position: relative; margin-top: -10px;}
.application-table{    height: calc(100vh - 273px) !important;}