<template>
  <div class="application-table">
    <div class="public-homeInformation">
      <div class="sec-topSlider">
        <div class="icon-home-information">
          Home Information
        </div>
        <div class="slider1">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="slider-id-01">
              <span class="slds-slider-label">
                Number of Children Residing
                <abbr title="required" class="slds-required">*</abbr>
              </span>
            </label>
            <div class="slds-form-element__control heightSlider">
              <div class="slds-slider slds-size_large">
                <iframe src={childrenSlider} style="border:none;width:100%;"></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="slider2">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="slider-id-01">
              <span class="slds-slider-label">
                Number of Bedrooms
                <abbr title="required" class="slds-required">*</abbr>
              </span>
            </label>
            <div class="slds-form-element__control heightSlider">
              <div class="slds-slider slds-size_large">

                <iframe src={bedRoomSlider}  style="border:none;width:100%; "></iframe>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="sec-questions">
        <div class="questions-list">
          <div class="slds-grid slds-wrap">
            <div class="slds-col--padded slds-size--1-of-1 questions">
              1. Does the Resource Home have waterfront property, a fish or duck pond, or similar body of water at or
              near
              the
              Resource Family Home?
            </div>
            <div class="slds-p-around_medium slds-size--1-of-1 ">
              <div class="monitorRadioGroup slds-col--padded">
                <div class="monitorRadioPosition">
                  <lightning-radio-group class="waterProperty"  options={WaterfrontProperty} value={homeInformation.WaterfrontProperty__c} name="WaterfrontProperty__c"
                    onchange={handleButtonGroupWater} disabled={disableStatus} type="button">
                  </lightning-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="questions-list">
          <template if:false={poolLocatedYes}>
            <div class="slds-grid slds-wrap questions">
              <div if:false={poolLocatedYes}
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                2. Is there a swimming pool?
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div if:false={poolLocatedYes}
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={SwimmingPool} class="swimmingPool" name="SwimmingPool__c"
                      onchange={handleButtonGroupSwimmingPool} disabled={disableStatus} value={homeInformation.SwimmingPool__c} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template if:true={poolLocatedYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                2. Is there a swimming pool?
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                2(a). Please select where the pool is Located
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={SwimmingPool}  value={homeInformation.SwimmingPool__c} class="swimmingPool" name="SwimmingPool__c"
                      onchange={handleButtonGroupSwimmingPool} disabled={disableStatus} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={poolLocated} default="In Ground" class="poolLocated" name="PoolLocated__c"
                      onchange={handleButtonGroupPoolLocated} disabled={disableStatus} value={homeInformation.PoolLocated__c} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>

        <div class="questions-list">
          <template if:false={agencyNameYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                3. Currently Licensed with another Agency
              </div>

            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={LicensedAgency} class="licensedAgency" name="LicensedAgency__c"
                      onchange={handleButtonGroupLicensedAgency} disabled={disableStatus} value={homeInformation.LicensedAgency__c} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>

            </div>
          </template>
          <template if:true={agencyNameYes}>
            <div class="slds-grid slds-wrap questions">

              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                3. Currently Licensed with another Agency
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                3(a). Enter agency name
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={LicensedAgency}  value={homeInformation.LicensedAgency__c} disabled={disableStatus} class="licensedAgency" name="LicensedAgency__c"
                      onchange={handleButtonGroupLicensedAgency} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <lightning-input class="margin-top-adj agencyName"  value={homeInformation.AgencyName__c} disabled={disableStatus} onchange={handleChange} name="AgencyName__c"
                  type="text">
                </lightning-input>
              </div>
            </div>
          </template>

        </div>

        <div class="questions-list">
          <template if:false={providerDetailsYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                4. Are you a Licensed Child Care Provider?
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 monitorRadioPosition">

                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={LicensedProvider} class="licensedProvider"
                      name="LicensedProvider__c" value={homeInformation.LicensedProvider__c} disabled={disableStatus} onchange={LicensedProvideronchange} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>

            </div>
          </template>
          <template if:true={providerDetailsYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                4. Are you a Licensed Child Care Provider?
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                4(a). Enter child care provider details
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 monitorRadioPosition">

                <div class="monitorRadioGroup">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group options={LicensedProvider} class="licensedProvider"
                      name="LicensedProvider__c" value={homeInformation.LicensedProvider__c} disabled={disableStatus} onchange={LicensedProvideronchange} type="button">
                    </lightning-radio-group>
                  </div>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <lightning-input class="margin-top-adj providerDetails" disabled={disableStatus} value={homeInformation.LicensedProviderDetail__c} onchange={handlechangeDetails}
                  name="providerDetails" type="text">
                </lightning-input>
              </div>
            </div>
          </template>


        </div>
      </div>

    </div>
    <footer class="slds-modal__footer">
    <div class="slds-grid slds-wrap padtop10">
      <div class="slds-col slds-col--padded">
        <div class="slds-clearfix">
          <div class="slds-float_right btnSec">
            <lightning-button label="Clear" onclick={onHandleClear} class="btn-sec mr-10">
            </lightning-button>
            <lightning-button label="Save" disabled={disableStatus} onclick={handleSubmit} class="btn-pri">
            </lightning-button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>
 
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>