<template>
  <template if:true={referralName}>
    <div class="referal-headbottom">
      <div class="slds-clearfix">
        <div class="slds-float_left">
          <h2 class="mt-10 fontbold">Referrals</h2>
        </div>
        <div class="slds-float_right">
          <div class="dashboard-btn">
            <lightning-button label="New Referral" class="btn btn-pri slds-m-left--small mr-10" variant="brand"
              onclick={openModel} style="display: inline-block;"></lightning-button>
          </div>
          <div class="dashboard-search">
            <lightning-input type="search" onchange={handleChange} class="input-search" label=""
              placeholder="Search By Referral No.." value={searchKey} variant="label-hidden">
            </lightning-input>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template if:true={publicReferralDataShow}>
    <div class="slds-grid slds-wrap ref-summary">
      <div class=" slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 card-box">
        <div class="slds-card pending pending-cls">
          <c-dashboard-card class="slds-card__header slds-grid" status={pendingStatus} heading={pending}
            data-id={pending} onclick={handleStatusCard}>
          </c-dashboard-card>
        </div>
      </div>

      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 card-box">
        <div class="slds-card approved">
          <c-dashboard-card class="slds-card__header slds-grid" status={approvedStatus} heading={approved}
            data-id={approved} onclick={handleStatusCard}>
          </c-dashboard-card>
        </div>
      </div>

      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 card-box">
        <div class="slds-card rejected">
          <c-dashboard-card class="slds-card__header slds-grid" status={rejectedStatus} heading={rejected}
            data-id={rejected} onclick={handleStatusCard}>
          </c-dashboard-card>
        </div>
      </div>

      <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 card-box">
        <div class="slds-card total">
          <c-dashboard-card class="slds-card__header slds-grid" status={totalStatus} heading={total} data-id={total}
            onclick={handleStatusCard}>
          </c-dashboard-card>
        </div>
      </div>
    </div>

    <template if:true={showPublicPrivateBtn}>
      <div class="btn-publicProvider">
        <span class="btn1 active">
        <button name="Public" title="Non-primary action" type="button" disabled onclick={handleClick}
          class="slds-button slds-button_neutral">Public</button></span>
          <span class="btn2">
        <button name="Private" title="Non-primary action" type="button" class="slds-button slds-button_neutral"
          onclick={handleClick}>Private</button></span>
      </div>
    </template>

    <template if:true={tableDataVisible}>
      <div class="newReferal-table">
        <c-public-provider-dashboard-datatable onredirecttopublicproviderhomepage={handleSetValues} dashboard-data={getPendingData}></c-public-provider-dashboard-datatable>
      </div>
    </template>


    <template if:true={showPendingData}>
      <div class="newReferal-table">
        <c-public-provider-dashboard-datatable onredirecttopublicproviderhomepage={handleSetValues} dashboard-data={getPendingData}></c-public-provider-dashboard-datatable>
      </div>
    </template>

    <template if:true={showApprovedData}>
      <div class="newReferal-table">
        <c-public-provider-dashboard-datatable onredirecttopublicproviderhomepage={handleSetValues} dashboard-data={getApprovedData}></c-public-provider-dashboard-datatable>
      </div>
    </template>


    <template if:true={showRejectedData}>
      <div class="newReferal-table">
        <c-public-provider-dashboard-datatable onredirecttopublicproviderhomepage={handleSetValues} dashboard-data={getRejectedData}></c-public-provider-dashboard-datatable>
      </div>
    </template>



    <template if:true={showTotalData}>
      <div class="newReferal-table">
        <c-public-provider-dashboard-datatable onredirecttopublicproviderhomepage={handleSetValues} dashboard-data={getTotalData}></c-public-provider-dashboard-datatable>
      </div>
    </template>
  </template>


  <template if:true={privateReferralDataShow}>
    <c-referral-home-view-all-providers redirect={redirection}></c-referral-home-view-all-providers>
  </template>

  <template if:true={openModelwindow}>
    <c-common-new-referral-create onintimateparenttoclosemodal={intimateParentToCloseModal}>
    </c-common-new-referral-create>
  </template>
</template>