<template>
    <h2 class="sub-title"><a onclick={handleComplaintDashboard}>Complaint </a> &gt; <a onclick={handleComplaintSanctionRedirection}>Sanction</a> &gt; {sanctionName}</h2>
    <div class="innerParent-Tab innerPage-main applicationTabset">
        <template if:true={showSuspensionTab}>
            <c-complaints-sanction-suspension onredirecttocomplaintsanctions={handleComplaintSanctionRedirection} selected-sanction-id={selectedSanctionId} sanction-action-name={sanctionActionName} sanction-page-type={sanctionPageType}></c-complaints-sanction-suspension>
        </template>
        <template if:true={showRevocationTab}>
            <c-complaints-sanction-revocation onredirecttocomplaintsanctions={handleComplaintSanctionRedirection} selected-sanction-id={selectedSanctionId} sanction-action-name={sanctionActionName} sanction-page-type={sanctionPageType}></c-complaints-sanction-revocation>
        </template>
        <template if:true={showLimitaionTab}>
            <c-complaints-sanction-limitation onredirecttocomplaintsanctions={handleComplaintSanctionRedirection} selected-sanction-id={selectedSanctionId} sanction-action-name={sanctionActionName} sanction-page-type={sanctionPageType}></c-complaints-sanction-limitation>
        </template>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>