<template>
  <div class="slds-card">
      <lightning-input-Rich-Text label="NARRATIVE DETAILS" class="richtxt" value={narrativeDescription}
        onchange={narrativeOnChange} disabled={richTxtDisable}>
      </lightning-input-Rich-Text>
      <div class="speech-icon" >
      <c-common-speech-to-text onspeechtotext={handleSpeechToText}></c-common-speech-to-text>
    </div>
    <div class="slds-clearfix text-right">
      <div class="mt-10">
      <lightning-button label="Save" class="btn btn-pri" variant="brand" onclick={handleSave}
        disabled={btnDisable}></lightning-button>
      </div>
    </div>
  </div>
</template>