<template>
    <div class="slds-grid slds-wrap">
      <div class="slds-col">
        <div class="slds-clearfix">
          <div class="slds-float_right tab-content btn-topright">
            <template if:true={addSearchbtnShowHide}>
            <lightning-button label="Add New Household Member"  variant="brand" class="mr-10"
              onclick={addHouseMemberRedirect}>
            </lightning-button>
            <lightning-button label="Search and Add New Household Members" variant="brand" 
              onclick={addSearchHouseMemberRedirect}>
            </lightning-button>
          </template>
          </div>
        </div>
      </div>
    </div>
  
    <div class="document-screen">
      <div if:false={norecorddisplay}>
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
          <img class="icon-attachment" src={attachmentIcon} style="width:70px;" />
          <p class="font-bold padtop10">No Household Members Found !</p>
          <p class="subfont">Please Search and add by Household Members</p>
        </div>
      </div>
    <div class="slds-grid slds-wrap" if:true={norecorddisplay}>
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-m-bottom_medium mt-10"
        for:each={ContactDetailsOfCard} for:item="contact" key={contact.Id}>
        <div class="mcard houseHoldMemberList">
          <div class="mcard-header" >
  
            <div class="profile_img">
              <img src={contact.signUrl} />
            </div>
            <div class="profile_dec">
              <h4>{contact.Title__c}{contact.FirstName} {contact.LastName}</h4>
              <p>{contact.Role__c}</p>
            </div>
  
            <div class="threedots" data-id={contact.Id} onclick={editDeLDetails}>
              <div class="edit-delpopup EditDelDots slds-hide" id={contact.Id}>
                <div class="edit-delview">
                  <ul>
                    <template if:true={editdeleteShowHide}>
                      <li style="border-bottom: 1px solid #F4F6FA;" data-id={contact.Id} onclick={handleEdit}>
                        <lightning-icon icon-name="utility:edit" data-id={contact.Id} onclick={handleEdit} size="x-small"
                          class="marginRight10 iconColor">
                        </lightning-icon>Edit
                      </li>
                      <li data-id={contact.ActorId} onclick={DeleteModal}>
                          <lightning-icon icon-name="utility:delete" data-id={contact.ActorId} onclick={DeleteModal}
                            size="x-small" class="marginRight10 iconColor">
                          </lightning-icon>Delete
                      </li>
                    </template>
                    <template if:false={editdeleteShowHide}>
                      <li data-id={contact.Id} onclick={handleView}>
                        <lightning-icon icon-name="utility:preview" data-id={contact.Id} onclick={handleView} size="x-small"
                          class="marginRight10 iconColor">
                        </lightning-icon>View
                      </li>
                    </template>
                  </ul>
                </div>
              </div>
            </div>
  
            <template if:true={deleteModel}>
              <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
                <div class="slds-modal__container" style="width: 35%;">
                  <div class="popborder">
                    <header class="slds-modal__header">
                      <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                      <div class="slds-align_absolute-center delete-icon">
                        <p>Are you sure you want to delete? </p>
                      </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                      <button class="slds-button slds-button_text-destructive" onclick={handleDelete} disabled={disabled}>Yes</button>
                      <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                  </div>
                </div>
              </section>
              <div class="slds-backdrop slds-backdrop_open"></div>
            </template>
  
  
          </div>
          <div class="mcard-body">
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--5-of-8">
                <table>
                  <tr>
                    <td>Cjams PID#</td>
                    <td>{contact.ContactNumber__c}</td>
                  </tr>
                  <tr>
                    <td>DOB</td>
                    <td>{contact.DOB__c}</td>
                  </tr>
                  <tr>
                    <td>Age</td>
                    <td>{contact.ApproximateAge__c}</td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td>{contact.Gender__c}</td>
                  </tr>
                  <tr>
                    <td>SSN</td>
                    <td> {contact.SSN__c}</td>
                  </tr>
                  <tr>
                    <td>Role(s)</td>
                    <td>{contact.Role__c}</td>
                  </tr>
                </table>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--3-of-8">
                <div class="mprogressbar">
                  <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-1">
                    <span>Background Check</span>
                    <span aria-hidden="true">
                      <strong>{contact.BackgroungCheckPercentage__c}%</strong>
                    </span>
                  </div>
                  <lightning-progress-bar size="medium" value={contact.BackgroungCheckPercentage__c} variant="circular"></lightning-progress-bar>
                </div>
  
                <div class="mprogressbar">
                  <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-4">
                    <span>Profile</span>
                    <span aria-hidden="true">
                      <strong>{contact.ProfilePercentage__c}% </strong>
                    </span>
                  </div>
                  <lightning-progress-bar size="medium" value={contact.ProfilePercentage__c} variant="circular">
                  </lightning-progress-bar>
                </div>
  
  
                <div class="mprogressbar">
                  <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-3">
                    <span>Service Training</span>
                    <span aria-hidden="true">
                      <strong>{contact.TrainingPercentage__c}%</strong>
                    </span>
                  </div>
                  <lightning-progress-bar size="medium" value={contact.TrainingPercentage__c} variant="circular"></lightning-progress-bar>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
      <c-common-loading-spinner></c-common-loading-spinner>
    </div>
  </div>
  
  
  </template>