<template>
    <h2 class="sub-title">
        <a style="text-decoration: none;" onclick={redirectToTraining}>TRAINING </a>- {trainingNo}
    </h2>
    <div class="public-bg">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Training Number</p>
                <span class="label-disable">{trainingNo}</span>
            </div>

            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Type</p>
                <span class="label-disable">{type}</span>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Session Type</p>
                <span class="label-disable">{sessionType}</span>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Medium</p>
                <span class="label-disable">{medium}</span>
            </div>
            <div class="slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
                <div class="slds-grid slds-wrap">
                    <div
                        class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
                        <p class="label">Date</p>
                        <span class="label-disable">{date}</span>
                    </div>
                    <div
                        class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
                        <p class="label">Start Time</p>

                        <span class="label-disable"> {startTime} </span>
                    </div>
                    <div
                        class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
                        <p class="label">End Time</p>

                        <span class="label-disable"> {endTime} </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap mt-10">
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Instructor(s)</p>
                <span class="label-disable">{instructors}</span>
            </div>

            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Topic Description</p>
                <span class="label-disable pad30">{topicDescription} </span>
                <img class="txtlabelimg" src={descriptionIcon} onclick={descriptionModal} />
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <template if:true={hasAddresSwitch}>
                    <p class="label">Address</p>
                    <span class="label-disable">{address}</span>
                </template>
                <template if:true={hasUrlSwitch}>
                    <p class="label">URL</p>
                    <span> <a href={URL} target="_blank" class="lable-graybg">{URL}</a></span>
                </template>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
                <p class="label">Jurisdiction</p>
                <span class="label-disable">{Jurisdiction}</span>
            </div>

            <div class="slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
                <div class="slds-grid slds-wrap">
                    <div
                        class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
                        <p class="label">Duration</p>
                        <span class="label-disable">{duration}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template if:true={dataTrainingCard}>
        <div class="public-bg-table">
            <div class="pageWraptraining">
                <div class="salesforceTable">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>{referralLabel}</th>
                                <th>PHASE</th>
                                <th>PROGRAM</th>
                                <th>PROGRAM TYPE</th>
                                <th>TRAINEE FIRST NAME</th>
                                <th>TRAINEE LAST NAME</th>
                                <template if:true={hasDurationTable}>
                                    <th>DURATION</th>
                                </template>
                                <template if:true={hasAttendTraningTable}>
                                    <th>DID CANDIDATE ATTEND</th>
                                </template>
                                <th class="Lchild-wid"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <template for:each={otherPrideDatas} for:item="traning">
                                <tr key={traning.meetingInfoId} id={traning.meetingInfoId}>
                                    <td>
                                        <span>{traning.referralNo}</span>
                                    </td>
                                    <td>
                                        <span>{traning.phase}</span>
                                    </td>
                                    <td>
                                        <span>{traning.program}</span>
                                    </td>
                                    <td>
                                        <span>{traning.programType}</span>
                                    </td>
                                    <td>
                                        <span>{traning.traineeFirstName}</span>
                                    </td>
                                    <td>
                                        <span>{traning.traineeLastName}</span>
                                    </td>
                                    <template if:true={hasDurationValue}>
                                        <td>
                                            <span class={traning.colorstatus}>{traning.duration}</span>
                                        </td>
                                    </template>
                                    <template if:true={hasRadioButtonTable}>
                                        <td>

                                            <div class="monitorRadioGroup">
                                                <div class="monitorRadioPosition">
                                                    <lightning-radio-group options={hasCandidateAttend}
                                                        value={traning.CandidateAttend} type="button"
                                                        onchange={otherPrideHistoryRadioOnChange}
                                                        disabled={traning.disablestatusCA}
                                                        data-id={traning.meetingInfoId}>
                                                    </lightning-radio-group>
                                                </div>
                                            </div>

                                        </td>
                                    </template>
                                    <td class="Lchild-wid">
                                        <template if:true={hasDropdownTable}>

                                            <div data-id={traning.meetingInfoId} data-value={traning.actorid} onclick={prideSessionHistoryLoad}
                                                class="dropdown">
                                            </div>


                                        </template>
                                    </td>

                                </tr>

                                <tr id={traning.meetingInfoId} key={traning.meetingInfoId} class="conli slds-hide">
                                    <td colspan="8" class="padzero">
                                        <div class="nestedTable-wrap nestedsalesForce">
                                            <table>
                                                <thead>
                                                    <th>SESSIONS</th>
                                                    <th>DATE</th>
                                                    <th>START TIME</th>
                                                    <th>END TIME</th>
                                                    <th>DURATION</th>
                                                    <th>DID CANDIDATE ATTEND</th>
                                                    <th class="wid5"></th>
                                                </thead>

                                                <tbody style="height:auto;">
                                                    <template for:each={PrideHistoryDatas} for:item="meetingHistory">
                                                        <tr key={meetingHistory.meetingInfoId}
                                                            id={meetingHistory.meetingInfoId}>
                                                            <td>{meetingHistory.sessionNumber}</td>
                                                            <td>{meetingHistory.date}</td>
                                                            <td>{meetingHistory.startDate}</td>
                                                            <td>{meetingHistory.endDate}</td>
                                                            <td> {meetingHistory.duration}</td>
                                                            <td>
                                                                <div class="monitorRadioGroup">
                                                                    <div class="monitorRadioPosition">
                                                                        <lightning-radio-group
                                                                            options={hasCandidateAttend}
                                                                            value={meetingHistory.CandidateAttend}
                                                                            type="button"
                                                                            onchange={PrideHistoryRadioChange}
                                                                            disabled={meetingHistory.disablestatusCA}
                                                                            data-id={meetingHistory.meetingInfoId}>
                                                                        </lightning-radio-group>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="wid5"></td>
                                                        </tr>
                                                    </template>

                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </template>


                        </tbody>
                    </table>
                    <div class="slds-grid slds-wrap padtop10">
                        <div class="slds-col bottomAlign">
                            <div class="slds-clearfix">
                                <div class="slds-float_left">
                                    <div class="pageMonitorPosition">
                                        <c-common-pagination if:true={dataTableShow} get-count={totalRecordsCount}
                                            page={page} setsize={setPagination} perpage={perpage}
                                            onprogressvaluechange={hanldeProgressValueChange}>
                                        </c-common-pagination>
                                    </div>
                                </div>
                                <div class="slds-float_right btnSec">
                                    <lightning-button label="CANCEL" class="btn-sec mr-10"
                                        onclick={redirectToTrainingSessionDashboard}>
                                    </lightning-button>
                                    <lightning-button label="SAVE" onclick={handleSave} disabled={saveDisable}
                                        class="btn-pri">
                                    </lightning-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template if:true={NoTrainingCard}>
        <div class="application-table">
            <div class="text-center file-upload slds-p-vertical--xx-large ">
                <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
                <p class="font-bold" style="padding-top:5px;">No Training Session</p>
            </div>

        </div>
    </template>

    <template if:true={descModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Description</h2>
                        <button class="close-button" title="Close" onclick={closeDescModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            <template for:each={topicDescriptionPopup} for:item="trainingItem">
                                {trainingItem}
                            </template>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>


    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>

</template>