<template>
  <h2 class="sub-title"><a href="#" onclick={PageRedirecttoDashBoard}>REFERRAL</a> <span style="padding:0px 15px;">&#62;</span> {labelHeader}</h2>
  <div class="reftop-summary">

    <ul>
      <li>
        <p class="label">New Referral Number</p>
        <span if:true={showhidecaserecord} class="label-disable">{getrecords.CaseNumber}</span>
      </li>
      <li>
        <p class="label">Agency</p>
        <span if:true={showhidecaserecord} class="label-disable">{Agency__c}</span>
      </li>
      <li>
        <p class="label">Created Date</p>
        <lightning-formatted-date-time year="numeric" month="short" day="2-digit" hour="2-digit" class="label-disable"
          minute="2-digit" hour12="true" value={getrecords.CreatedDate} if:true={showhidecaserecord}>
        </lightning-formatted-date-time>
      </li>
      <li>
        <p class="label">Author</p>
        <span if:true={showhidecaserecord} class="label-disable">{getrecords.Owner.Name}</span>
      </li>
      <li>
        <p class="label"><span class="required">*</span> Communication</p>
            <lightning-combobox variant="label-hidden" name="progress" value={getrecords.Origin} options={stageNameValues} label="Communication" if:true={showhidecaserecord}
              onchange={communicationchange} placeholder='Select Communication' required disabled={isDisableCommunicationReceived}></lightning-combobox>
            
      </li>
      <li>
        <p class="label"><span class="required">*</span> Received Date and Time</p>
            <lightning-input type="datetime" name="input1" variant="label-hidden" label="Received Date and Time"
              value={getrecords.ReceivedDate__c} onchange={receiveddatechange} time-style="medium"
              if:true={showhidecaserecord} required min="1970-03-01T10:49:11.000Z" max={maxdate} disabled={isDisableCommunicationReceived}></lightning-input>
          
      </li>
     
    </ul>

    <!-- <div class="slds-grid slds-wrap">
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
        <p class="label">New Referral Number</p>
        <span if:true={showhidecaserecord} class="label-disable">{getrecords.CaseNumber}</span>
      </div>
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6 ">
        <p class="label">Agency</p>
        <span if:true={showhidecaserecord} class="label-disable">{Agency__c}</span>
      </div>
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6 ">
        <p class="label">Created Date</p>
        <lightning-formatted-date-time year="numeric" month="short" day="2-digit" hour="2-digit" class="label-disable"
          minute="2-digit" hour12="true" value={getrecords.CreatedDate} if:true={showhidecaserecord}>
        </lightning-formatted-date-time>
      </div>
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6 ">
        <p class="label">Author</p>
        <span if:true={showhidecaserecord} class="label-disable">{getrecords.Owner.Name}</span>
      </div>
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6 ">
        <div class="slds-grid slds-wrap">
          <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6">
            <p class="label"><span class="required">*</span> Communication</p>
            <lightning-combobox variant="label-hidden" name="progress" value={getrecords.Origin}
              options={stageNameValues} label="Communication" if:true={showhidecaserecord}
              onchange={communicationchange} placeholder='Select Communication' required disabled={isDisableCommunicationReceived}></lightning-combobox>
            </div>
          <div
            class="slds-col slds-col--padded slds-p-right--none slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_4-of-6">
            <p class="label"><span class="required">*</span> Received Date and Time</p>
            <lightning-input type="datetime" name="input1" variant="label-hidden" label="Received Date and Time"
              value={getrecords.ReceivedDate__c} onchange={receiveddatechange} time-style="medium"
              if:true={showhidecaserecord} required min="1970-03-01T10:49:11.000Z" max={maxdate} disabled={isDisableCommunicationReceived}></lightning-input>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>