<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fw-500"><a href="#" onclick={redirectToPubAppDashboard}>Applications</a> <span
                        class="unicode-rightarr">&#62;</span> Applicant
                    id: {ApplicationName}</h2>
            </div>
            <div class="slds-float_right sec-btnright">
                <lightning-button if:true={showAddService} label="Add Services" variant="brand" class="mr-10"
                    onclick={RedirectServiceInfo}>
                </lightning-button>
                <lightning-button if:true={showPetDetails} label="Add Pet Details" variant="brand" class="mr-10"
                    onclick={RedirectPetInfo}>
                </lightning-button>
                <lightning-button if:true={showRefChecks} label="Add Reference Checks" variant="brand" class="mr-10"
                    onclick={redirectToAddReference}>
                </lightning-button>
                <lightning-button if:true={showAssignTraining} label="Assign Training Session" variant="brand"
                    class="mr-10" onclick={RedirectSessionInfo}>
                </lightning-button>
                <lightning-button if:true={showAddHomeStudy} variant="brand" label="Add Home Study Details"
                    onclick={openStudyModel} class="">
                </lightning-button>
            </div>
        </div>
    </div>
</template>