<template>
  <lightning-layout multiple-rows="true">
    <lightning-layout-item size="12">
      <div class="pagination">
        <ul class="slds-button-group-row">
          <template if:true={hasPrev}>
            <li class="slds-button-group-item font18">
              <button class="slds-button slds-button_neutral" onclick={onPrev}>
                &ltrif;
              </button>
            </li>
          </template>
          <template if:false={hasPrev}>
            <li class="slds-button-group-item font18">
              <button disabled class="slds-button slds-button_neutral" onclick={onPrev}>
                &ltrif;
              </button>
            </li>
          </template>
          <template for:each={pagesList} for:item="pageNumber">
            <li class="slds-button-group-item" key={pageNumber}>
              <button data-id={pageNumber} class="slds-button slds-button_neutral" onclick={onPageClick}>
                {pageNumber}
              </button>
            </li>
          </template>
          <template if:true={hasNext}>
            <li class="slds-button-group-item font18">
              <button class="slds-button slds-button_neutral" onclick={onNext}>
                &rtrif;
              </button>
            </li>
          </template>
          <template if:false={hasNext}>
            <li class="slds-button-group-item font18">
              <button disabled class="slds-button slds-button_neutral" onclick={onNext}>
                &rtrif;
              </button>
            </li>
          </template>
        </ul>
        <div class="slds-float_left align">
          <template if:true={totalpage}>
            Showing: <b>{page} </b> - <b>{pagePerTime}</b> out of
            <b> {pageInTotal}</b>
          </template>
          </p>
        </div>
      </div>
    </lightning-layout-item>
  </lightning-layout>
</template>