<template>
  <template if:true={_reconsiderationModalEnable}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open slds-modal_small"
    >
      <div class="slds-modal__container popup-small">
        <div class="popborder">
          <header class="slds-modal__header">
            <h2
              id="modal-heading-01"
              class="slds-text-heading_medium slds-hyphenate fontweight"
            >
              Reconsideration Details
            </h2>
            <button
              class="close-button"
              title="Close"
              onclick={closeModalFormData}
            ></button>
          </header>
          <div
            class="slds-modal__content slds-p-around_medium overVisible"
            id="modal-content-id-1"
          >
            <div class="slds-grid slds-wrap">
              <lightning-input
                type="date"
                name="ReconsiderationDate"
                label="Reconsideration Date"
                onchange={onchangeHandler}
                required
              ></lightning-input>
              <lightning-combobox
                label="Reconsideration Type"
                name="ReconsiderationType"
                required
                options={comboBoxOption}
                onchange={onchangeHandler}
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2"
              >
              </lightning-combobox>
            </div>
          </div>
          <footer class="slds-modal__footer">
            <button
              class="slds-button slds-button_neutral"
              onclick={closeModalFormData}
            >
              Cancel
            </button>
            <button
              class="slds-button slds-button_neutral"
              onclick={saveModalFormData}
            >
              Add
            </button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <!-- data table start  -->
  <div class="application-table">
    <div class="slds-align_absolute-center">
      <lightning-datatable
        if:false={showNoData}
        key-field="Id"
        data={reconsiderationTableData}
        hide-checkbox-column
        class="custom-tbl"
        columns={columns}
        onrowselection={handleSelectedRow}
        onrowaction={handleRowAction}
      >
      </lightning-datatable>
    </div>

    <div
      class="text-center file-upload slds-p-vertical--xx-large"
      if:true={showNoData}
    >
      <img class="icon-attachment" src={attachmentIcon} style="width: 89px;" />
      <p class="font-bold padtop10">No Reconsideration Found !</p>
      <p class="subfont">Please add Reconsideration details here</p>
    </div>
  </div>
  <!-- data table end -->

  <!-- delete modal -->
  <template if:true={deleteModalOpen}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-3"
      class="slds-modal slds-fade-in-open delete-popup"
    >
      <div class="slds-modal__container" style="width: 35%;">
        <div class="popborder">
          <header class="slds-modal__header">
            <button
              class="close-button"
              title="Close"
              onclick={closeDeleteModal}
            ></button>
          </header>
          <!-- modal body start -->
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-3"
          >
            <div class="slds-align_absolute-center delete-icon">
              <p>Are you sure you want to delete?</p>
            </div>
          </div>
          <!-- modal footer start-->
          <footer class="slds-modal__footer slds-align_absolute-center">
            <button
              class="slds-button slds-button_text-destructive"
              onclick={handleDelete}
            >
              Yes
            </button>
            <button
              class="slds-button slds-button_outline-brand"
              onclick={closeDeleteModal}
            >
              No
            </button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <!-- delete modal end -->

  <!-- edit Modal start -->
  <template if:true={editModalOpen}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open slds-modal_small"
    >
      <div class="slds-modal__container popup-small">
        <div class="popborder">
          <header class="slds-modal__header">
            <h2
              id="modal-heading-02"
              class="slds-text-heading_medium slds-hyphenate fontweight"
            >
              Reconsideration Details
            </h2>
            <button
              class="close-button"
              title="Close"
              onclick={editCloseModalFormData}
            ></button>
          </header>
          <div
            class="slds-modal__content slds-p-around_medium overVisible"
            id="modal-content-id-2"
          >
            <div class="slds-grid slds-wrap">
              <lightning-input
                type="date"
                value={editReconsiderationDate}
                name="ReconsiderationDate"
                label="Reconsideration Date"
                onchange={onchangeHandler}
                required
              ></lightning-input>
              <lightning-combobox
                label="Reconsideration Type"
                value={editReconsiderationType}
                name="ReconsiderationType"
                required
                options={comboBoxOption}
                onchange={onchangeHandler}
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2"
              >
              </lightning-combobox>
            </div>
          </div>

          <footer class="slds-modal__footer">
            <button
              class="slds-button slds-button_neutral"
              onclick={editCloseModalFormData}
            >
              Cancel
            </button>
            <button
              class="slds-button slds-button_neutral"
              onclick={editModalFormData}
            >
              update
            </button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!-- edit Modal end -->
</template>
