<template>
    <div class="demo-only slds-grid" style="height:366px;max-width:340px;background:#f4f6f9;padding:1rem;">
        <div class="slds-panel slds-grid slds-grid_vertical slds-nowrap" style="height:370px;">
            <div class=" slds-form slds-form_stacked slds-grow slds-scrollable_y myscroll">
                <div class="slds-panel__section">
                    <template for:each={chatList} for:item="chatItem" for:index="index">
                        <div key={chatItem.index} class={chatItem.className1}>{chatItem.userName}</div>
                        <div class={chatItem.className2} key={chatItem.index}>
                            {chatItem.chatText}
                        </div>
                    </template>

                </div>
            </div>
            <template if:true={showLoader}>
                <span class="slds-badge slds-badge_inverse">Fetching data ... </span>
            </template>

        </div>
    </div>
    <div class="demo-only slds-grid slds-noscroll" style="max-width:340px;background:#f4f6f9;padding:1rem;">
        <div class="slds-grid_vertical slds-nowrap slds-noscroll ">

            <span onkeypress={keycheck}>
                <lightning-textarea value={userChat} onchange={postUserChat} autocomplete="off"
                    placeholder="Chat here ...">
                </lightning-textarea>
            </span>

        </div>

    </div>

</template>