.slds-badge_inverse {
    width: 290px;
}

.blockleft-txt {
    width: 100%;
    text-align: left;
    float: left;
}

.blockright-txt {
    width: 100%;
    text-align: right;
    float: right;
}

.slds-theme_warning {
    background-color: #071e41;
}

.bgcolor {
    color: white;
}