<template>
  <template if:true={showFosterParentSection}>
    <div class="foster-parenting" if:false={showAddFosterParentBtn}>
      <div class="slds-align_absolute-center">
        <div class="text-center file-upload slds-p-vertical--xx-small">
          <img class="icon-attachment" src={attachmentIcon} />
          <p class="font-bold padtop10">No Record found in Foster Parent!</p>
          <p class="subfont">
            Please add Foster Parent! by Clicking the below "Add Foster Parent"
            button
          </p>
          <div class="mt-10" if:false={disableBtnForCaseworker}>
            <lightning-button
              variant="brand"
              onclick={handleOpenModal}
              label="Add Foster Parent"
              name="Add Foster Parent"
            >
            </lightning-button>
          </div>
        </div>
      </div>
    </div>
    <template if:true={fosterParentModal}>
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open slds-modal_small"
      >
        <div class="slds-modal__container">
          <div class="popborder">
            <header class="slds-modal__header">
              <h2
                id="modal-heading-01"
                class="slds-text-heading_medium slds-hyphenate fontweight"
              >
                Add Foster Parent
              </h2>
              <button
                class="close-button"
                title="Close"
                onclick={handleCloseModal}
              ></button>
            </header>
            <div
              class="slds-modal__content slds-p-around_medium"
              id="modal-content-id-1"
            >
              <div class="slds-grid slds-wrap">
                <lightning-combobox
                  name="Foster Parent"
                  value={fosterParent}
                  label="Select Foster Parent"
                  options={fosterParentDropDownData}
                  disabled={disableFosterParent}
                  onchange={handleFosterParentOnchange}
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-combobox>
                <lightning-input
                name="First Name"
                label="First Name"
                value={fosterParentFirstName}
                  onchange={handleFosterParentOnchange}
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  value={fosterParentLastName}
                  name="Last Name"
                  onchange={handleFosterParentOnchange}
                  label="Last Name"
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  name="Address Line 1"
                  label="Address Line1"
                  onchange={handleFosterParentOnchange}
                  value={fosterParentAddressLine1}
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  name="AddressLine2"
                  label="Address Line 2"
                  value={fosterParentAddressLine2}
                  onchange={handleFosterParentOnchange}
                  disabled={showFosterParentPreviewModal}
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  name="State"
                  label="State"
                  value={fosterParentState}
                  onchange={handleFosterParentOnchange}
                  options={stateData}
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  name="City"
                  label="City"
                  value={fosterParentCity}
                  onchange={handleFosterParentOnchange}
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  name="County"
                  label="County"
                  options={county}
                  value={fosterParentCounty}
                  onchange={handleFosterParentOnchange}
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
                <lightning-input
                  name="Zip Code"
                  label="Zip Code"
                  value={fosterParentZipCode}
                  onchange={handleFosterParentOnchange}
                  disabled={showFosterParentPreviewModal}
                  required
                  class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
                >
                </lightning-input>
              </div>
            </div>
            <footer class="slds-modal__footer">
              <div class="slds-grid slds-wrap">
                <div class="slds-col">
                  <div class="slds-clearfix">
                    <div class="slds-float_right">
                      <span if:true={showAddBtn}>
                      <lightning-button
                        label="Cancel"
                        variant="brand-outline"
                        onclick={handleCloseModal}
                        class="mr-10"
                      >
                      </lightning-button>
                    </span>
                      <span if:true={showAddBtn}>
                      <lightning-button
                        label="Add"
                        variant="neutral"
                        onclick={handleSaveFosterParent}
                      ></lightning-button>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <div if:true={showAddFosterParentBtn}>
      <div class="slds-clearfix">
        <div class="slds-float_left">
          <div class="slds-grid slds-wrap">
            <div
              class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 mt-20 mb-20"
            >
              <span class="font500">Showing Foster Parent</span>
            </div>
          </div>
        </div>
        <div class="slds-float_right" if:false={disableBtnForCaseworker}>
          <div class="slds-grid slds-wrap">
            <div
              class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 mt-20 mb-20"
            >
              <lightning-button
                variant="brand"
                label="Add Foster Parent"
                title="Primary action"
                onclick={handleOpenModal}
                class="slds-m-left_x-small"
              ></lightning-button>
            </div>
          </div>
        </div>
      </div>

      <div class="incident-datatable">
        <lightning-datatable
          key-field="id"
          class="custom-tbl mt-20"
          data={fosterParentDataTableData}
          hide-checkbox-column
          columns={fosterParentColumn}
          onrowaction={handleFosterParantRowAction}
        >
        </lightning-datatable>
      </div>
    </div>
  </template>
</template>