<template>
  <div class="referral-main">
    <c-referral-provider-header onreferralid={handleReferralId} onredirecttoreferralhome={redirectToReferralHome}></c-referral-provider-header>
    <template if:false={pageType}>
      <div class="slds-grid slds-wrap mt-10 ref-innerpage">
        <div class="slds-col slds-size--1-of-1">
          <lightning-tabset>
            <lightning-tab label="PROVIDER">
              <c-referral-provider-add-or-edit page-type-from={pageTypeFrom}></c-referral-provider-add-or-edit>
            </lightning-tab>
            <lightning-tab label="NARRATIVE">
              <c-referral-provider-narrative></c-referral-provider-narrative>
            </lightning-tab>
            <lightning-tab label="DOCUMENTS">
              <c-referral-provider-attachments></c-referral-provider-attachments>
            </lightning-tab>
            <lightning-tab onactive={tabSelected} label="DECISION">
              <c-referral-provider-decision></c-referral-provider-decision>
            </lightning-tab>
          </lightning-tabset>
        </div>
      </div>
    </template>
    <template if:true={pageType}>
      <c-referral-provider-view-existing onproviderid={handleProviderId}></c-referral-provider-view-existing>

    </template>
  </div>
</template>