.decision-screen {
    background: #fff;
    height: calc(100vh - 175px);
    overflow: hidden;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    position: fixed;
    width: calc(100vw - 20px);
}

.decision_fieldset {
    width: 100%;
}

.displayMain {
    padding-top: 5px;
}

.displayMain label {
    font-size: 12px;
}

.display-box {
    border: 1px solid #ccc;
    height: 120px;
    z-index: 1;
    position: absolute;
    width: 27%;
}

.upload-wrapper {
    float: left;
    position: relative;
    margin-top: -35px;
    width: 99%;
    left: 3px;
}

.refresh-btn {
    color: #1366F3;
    outline: none;
    background: none;
    top: 8px;
    position: relative;
    border: 0px;
    right: 10px;
}

.sign-box {
    border: 1px solid #CECDD2;
    background: transparent;
    width:100%;
    height:320px;
}

.writeText {
    position: relative;
    top: 3px;
    left: 5px;
}
.btn-bottom-pos.right20{ right:20px;}