<template>
    <h2 class="sub-title">
      <a style="text-decoration: none;" onclick={redirectToMonitering}>Monitoring </a>- {moniteringName}
    </h2>
    <div class="innerParent-Tab innerPage-main applicationTabset moniteringTabset">
      <lightning-tabset>
        <lightning-tab label="Activities" onactive={handleActiveTab}>
            <c-complaints-monitoring-activities get-active-tab={activeTabValue}></c-complaints-monitoring-activities>
        </lightning-tab>
        <lightning-tab label="Conference" onactive={handleActiveTab}>
            <c-complaints-monitoring-conference get-active-tab={activeTabValue}></c-complaints-monitoring-conference>
        </lightning-tab>
        <lightning-tab label="Staff Record" value="staffTab" onactive={handleActiveTab}>
          <c-complaints-monitering-comar-records get-active-tab={activeTabValue}></c-complaints-monitering-comar-records>
        </lightning-tab>
        <lightning-tab label="Physical Site Inspection" value="plantTab" onactive={handleActiveTab}>
          <c-complaints-monitering-comar-records get-active-tab={activeTabValue}></c-complaints-monitering-comar-records>
        </lightning-tab>
        <lightning-tab label="Office Inspection" value="officeTab" onactive={handleActiveTab}>
          <c-complaints-monitering-comar-records get-active-tab={activeTabValue}></c-complaints-monitering-comar-records>
        </lightning-tab>
        <lightning-tab label="Documents">
          <c-complaints-monitoring-document get-active-tab={activeTabValue}></c-complaints-monitoring-document>          
        </lightning-tab>
        <lightning-tab label="Staff Interview" value="staffIntTab" onactive={handleActiveTab}>
          <c-complaints-monitoring-board-interview get-active-tab={activeTabValue}></c-complaints-monitoring-board-interview>
        </lightning-tab>
        <lightning-tab label="Board Interview" value="boardIntTab" onactive={handleActiveTab}>
          <c-complaints-monitoring-board-interview get-active-tab={activeTabValue}></c-complaints-monitoring-board-interview>
        </lightning-tab>
      </lightning-tabset>
    </div>
  </template>