<template>

    <template if:false={editPageOpen}>
        <div class="heightExtra">
            <div class="padwrap">
                <div class="bdr-main">
                    <div class="questionBar">{_monitoringData}</div>
                    <div class="monitorTextGroup">
                        <template if:true={textBox}>
                            <lightning-textarea onchange={onChangeHandler} value={_commentsAnswer}
                                placeholder="Comments" data-type={_monitoringFieldtype} data-id={_monitoringId}
                                data-question={_monitoringData} class="comments-textArea" disabled={disableFields}>
                            </lightning-textarea>
                        </template>
                    </div>

                    <template if:true={radioButton}>
                        <div class="monitorRadioGroup">
                            <div class="monitorRadioPosition">
                                <lightning-radio-group onchange={onChangeHandler} options={options}
                                    data-type={_monitoringFieldtype} value={_profitAnswer} type="button"
                                    data-id={_monitoringId} data-question={_monitoringData} disabled={disableFields}>
                                </lightning-radio-group>
                            </div>
                        </div>
                    </template>
                </div>

                <template if:true={subHeading}>
                    <h4 class="sec-title fw-500">{_subHeading}</h4>
                </template>
            </div>
        </div>
    </template>



</template>