/* .heightExtra{overflow-y:auto; height:400px;} */
.bdr-main{border: 1px solid #E8E8E8;     float: left; margin-bottom: 5px;
    width: 100%;}
.padwrap{padding: 5px 10px; }
.questionBar{background: #F6F6F9; padding:10px; float: left; width:100%;} 
.comments-textArea{  
    position: relative;
    margin-top: -27px;
    top: 6px; float: left;
    width: 100%;
}
.monitorTextGroup{float: left; width:100%;}
.monitorRadioGroup{padding: 0px 10px 10px 10px; float: left;}    
.monitorRadioPosition{ position: relative;
    margin-top: -2px;}