<template>
  <h2 class="sub-title">
    <a style="text-decoration: none;" onclick={redirectToMonitering}>Monitoring </a>- {moniteringName}
  </h2>
  <div class="innerParent-Tab innerPage-main applicationTabset">
    <lightning-tabset>
        <lightning-tab label="Licence Info">
        <c-providers-monitoring-license-info></c-providers-monitoring-license-info>
      </lightning-tab> 
      <lightning-tab label="Activities">
        <c-application-monitoring-activity></c-application-monitoring-activity>
      </lightning-tab>
      <lightning-tab label="Conference">
        <c-application-monitoring-conference></c-application-monitoring-conference>
      </lightning-tab>
      <lightning-tab label="Staff Record" value="staffTab" onactive={handleActiveTab}>
        <div class="providerScreen-Wrapper">
          <c-monitering-comar-records get-active-tab={activeTabValue}></c-monitering-comar-records>
        </div>
      </lightning-tab>
      <lightning-tab label="Physical Plant Inspection" value="plantTab" onactive={handleActiveTab}>
        <div class="providerScreen-Wrapper">
          <c-monitering-comar-records get-active-tab={activeTabValue}></c-monitering-comar-records>
        </div>
      </lightning-tab>
      <lightning-tab label="Office Inspection" value="officeTab" onactive={handleActiveTab}>
        <div class="providerScreen-Wrapper">
          <c-monitering-comar-records get-active-tab={activeTabValue}></c-monitering-comar-records>
        </div>
      </lightning-tab>
      <lightning-tab label="Documents" class="attach-doc">
    <c-application-monitoring-document></c-application-monitoring-document>
      </lightning-tab>
      <lightning-tab label="Staff Interview" value="staffIntTab" onactive={handleActiveTab}>
        <div class="providerScreen-Wrapper">
          <c-monitoring-board-interview get-active-tab={activeTabValue}></c-monitoring-board-interview>
        </div>
      </lightning-tab>
      <lightning-tab label="Board Interview" value="boardIntTab" onactive={handleActiveTab}>
        <div class="providerScreen-Wrapper">
          <c-monitoring-board-interview get-active-tab={activeTabValue}></c-monitoring-board-interview>
        </div>
      </lightning-tab>
      <lightning-tab label="DECISION">
        <c-providers-monitoring-review onredirecteditmonitering={redirectToMonitering}></c-providers-monitoring-review>
      </lightning-tab>
    </lightning-tabset>
  </div>
</template>