<template>
    <div class="template-screen">
      <div class="slds-grid slds-wrap mt-10 bdr-bot">
          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-4">
          <div class="profile_img col-left" onmouseleave={handleMouseOutButtonHouseholdMember}>
            <img src={HouseholdProfilePhoto} />
          </div>
          <div class="col-right">
          <p class="label">Select Household member</p>
          <!-- Customized Dropdown Start -->
          <div class="slds-form-element supervisor-disable">
            <div class="slds-form-element__control">
              <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                  aria-expanded="true" aria-haspopup="listbox" role="combobox">
                  <div class="slds-pill_container slds-input-has-icon slds-input-has-icon_right"
                    onclick={handleHouseholdMember}>
                    <span class="padwhole">{dropdownSelectedValue} - <span class={dropdownSelectedValueStatusColor}>{dropdownSelectedValueStatus}</span></span>
                    <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                      <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                        title="Connected">
                      </lightning-icon>
                    </span>
                  </div>
                  <div if:true={toggledivForHouseholdMember} id="listbox-id-4"
                    class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox"
                    onmouseleave={handleMouseOutButtonHouseholdMember}>
                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
  
                      <template for:each={selectHouseholdMemberOptions} for:item="HouseholdMember">
                        <li role="presentation" class="slds-listbox__item" id={HouseholdMember.id}
                          key={HouseholdMember.id}>
                          <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                            role="option" onclick={selectHouseholdMember} id={HouseholdMember.id}>
                            <span class="slds-media__figure slds-listbox__option-icon" id={HouseholdMember.id}></span>
                            <span class="slds-media__body" id={HouseholdMember.id}>
                              <span class="slds-truncate" title="Accounts" id={HouseholdMember.id}>
                                {HouseholdMember.value} - <span class={HouseholdMember.statusColor}
                                  id={HouseholdMember.id}>{HouseholdMember.status}</span></span>
                            </span>
                          </div>
                        </li>
                      </template>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Customized Dropdown End -->
        </div>
        <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-8" onmouseleave={handleMouseOutButtonHouseholdMember}>
          <p class="label">Type</p>
          <span class="label-disable">{houseHoldType}</span>
        </div>
        <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-8">
          <p class="label">CJAMS PID#</p>
          <span class="label-disable">{houseHoldCJAMSPID}</span>
        </div>
        <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-8">
          <p class="label">DOB</p>
          <span class="label-disable">{houseHoldDOB}</span>
        </div>
        <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-12">
          <p class="label">Age</p>
          <span class="label-disable">{houseHoldAge}</span>
        </div>
        <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-12">
          <p class="label">Gender</p>
          <span class="label-disable">{houseHoldGender}</span>
        </div>
        <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-8 padrightzero address-wid">
          <p class="label">Address</p>
          <span class="label-disable">{houseHoldAddress}</span>
        </div>
  
      </div>
  
      <div class="slds-grid slds-wrap">
        <div class="slds-col--padded">
          <fieldset for:each={questions} for:item="question" key={question.rowId}>
            <legend class="sec-title"> {question.Question__c}</legend>
            <div class="slds-grid slds-wrap Wraphousehold">
              <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                <div class="monitorRadioGroup padtopbottom10">
                  <div class="monitorRadioPosition">
                    <lightning-radio-group class="waterProperty" name={question.rowId} label="Status" options={options}
                      value={question.AnsStatus} type="button" onchange={statusChange} disabled={SuperVisorFlowBtnDisable}>
                    </lightning-radio-group>
                  </div>
                </div>
              </div>
              <div class="dropdown"></div>
              <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-8 greybg calendarIcon">
                <lightning-input type="date" name={question.rowId} year="numeric" month="short" day="2-digit"
                value={question.AnsDate} label="Received Date" onchange={receivedDateChange} required disabled={SuperVisorFlowBtnDisable}></lightning-input>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-12"></div>
  
              <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2 padtopbottom10">
                <lightning-input type="text" value={question.AnsComments} name={question.rowId} label="Comments" onchange={commentsChange} disabled={SuperVisorFlowBtnDisable}>
                </lightning-input>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <footer class="slds-modal__footer mt-10">
        <div class="slds-grid slds-wrap padtop10 mp-20">
          <div class="slds-col bottomAlign slds-col--padded">
            <div class="slds-clearfix">
              <div class="slds-float_right btnSec">
                <lightning-button label="Save" onclick={handleSubmit} class="btn-pri" disabled={SuperVisorFlowBtnDisable}>
                </lightning-button>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
      <c-common-loading-spinner></c-common-loading-spinner>
    </div>
  </template>