.iconpadbot {
    margin-bottom:5px;
}

.bottomAlign {
    position: fixed;
    bottom: 0px;
    background: #FCFCFC 0 0 no-repeat padding-box;
    padding: 6px;
    border: 1px solid #EBEBEB;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
    overflow: hidden;
    width: calc(100vw - 20px);
    /* padding-right: 30px; */
}

.decision-form {
    width:420px;
    margin:10px auto;
    border:1px solid #cecdd2;
    padding:10px 50px;
}

.decision-form .btn-link .slds-button {
    padding: 6px 14px;
    background: #4e8bf6;
    border-radius: 20px;
    color: #fff;
}

.displayMain {
    padding-top: 5px;
}

.displayMain label {
    font-size: 12px;
}

.display-box {
    border: 1px solid #ccc;
    height: 112px;
    margin-top: 29px;
}

.upload-wrapper {
    background: #f6f6f9;
    float: left;
    position: relative;
    margin-top: -35px;
    width: 99%;
    left: 3px;
}

.refresh-btn {
    color: #1366F3;
    outline: none;
    background: none;
    top: 8px;
    position: relative;
    border: 0px;
}

.sign-box {
    border: 1px solid #CECDD2;
    background: transparent;
    width:100%;
    height:320px;
}

.writeText {
    position: relative;
    top: 3px;
    left: 5px;
}

.application-decision .slds-card {
    overflow: auto;
    height: calc(100vh - 265px);
}