<template>
  <template if:false={showDashboard}>
    <c-dashboard
      onredirecteditapplication={handleredirectApplicationTabs}
    ></c-dashboard>
  </template>
  <template if:true={showApplicationTabSet}>
    <c-application-tabset onredirecteditmonitering={handleredirectMoniteringTabs} active-tab={activeTab}></c-application-tabset>
  </template>
  <template if:true={showMoniteringTabSet}>
    <c-monitering-tabs onredirecteditmonitering={handleredirectMoniteringTabs}></c-monitering-tabs>
  </template>
</template>