<template>
    <template if:true={providerTabView}>
        <h2 class="sub-title">Provider Name - {providerName}</h2>
        <div class="innerParent-Tab innerPage-main applicationTabset">
            <lightning-tabset active-tab-value={activeTab}>
                <lightning-tab label="Corporate Information" value="Corporate Information">
                    <c-provider-corporate-info></c-provider-corporate-info>
                </lightning-tab>
                <lightning-tab label="Staff">
                    <c-provider-staff-details></c-provider-staff-details>
                </lightning-tab>
                <lightning-tab label="Documents">
                    <c-provider-myprofile-documents></c-provider-myprofile-documents>
                </lightning-tab>
                <lightning-tab label="Investigation / Findings" value="Investigation Findings">
                    <c-complaints-investigation-findings-dashboard
                        onredirectiontoinvestigationdetailpage={handleRedirectionFromInvestigationDashboard}>
                    </c-complaints-investigation-findings-dashboard>
                </lightning-tab>
                <lightning-tab label="Sanctions" value="Sanctions">
                    <c-complaints-provider-sanctions></c-complaints-provider-sanctions>
                </lightning-tab>
                <template if:true={CPAHomeShowHide}>
                    <lightning-tab label="CPA Home" value="CPA Home" class="cpa-homeDashboard">
                        <c-cpa-home-dashboard onredirecttocpahomepage={handleRedirecttocpaHome}
                            onredirecttoclearance={redirecttoclearance}></c-cpa-home-dashboard>
                    </lightning-tab>
                </template>
            </lightning-tabset>
        </div>
    </template>
    <template if:false={providerTabView}>
        <template if:false={clearanceView}>
            <template if:false={addressHouseholdView}>
                <c-complaints-investigation-findings-detail-page
                    onredirecttoinvestigationdashboard={handleRedirectionFromInvestigationDetailPage}
                    cap-details={capDetailsFromInvestigation}></c-complaints-investigation-findings-detail-page>
            </template>

            <template if:true={addressHouseholdView}>
                <c-cpa-address-house-hold-members-path address-and-path-component={detailofCpa}
                    onredirecttocpahome={handleBackToCpa} onredirecttoaddhhm={handleBackToAdd}>
                </c-cpa-address-house-hold-members-path>
            </template>
        </template>

        <template if:true={clearanceView}>
            <c-cpa-clearance-medical-info cpa-home-id={cpaHomeId} onredirecttocpahomedashboard={handleRedirectToCpaHomeDashboard}>
            </c-cpa-clearance-medical-info>
        </template>
    </template>
</template>