.singleRow{
    display: inline-block;
}

.fontwgt{
    font-weight: bolder;
    padding-left: 10px;
}

.applicationTabset .slds-tabs_default__content {
    background: #fff;
    padding: 0;
    height: calc(100% - 40px);
    overflow: auto;
    box-shadow: 0px 0px 5px #d8d8d891;
    border-radius: 6px;
}