.norecord{
    width: 30%;
    padding: 40px;
    border: 1px solid #EBEBEB;
    margin: 50px auto 0;
 }
 .descpopborder{ border:4px solid #696969;}

 .margin-label {
    margin-left: 25px;
    font-size: 11px;
}