<template>
  <template if:true={openPetModal}>
    <div class="demo-only" style="height:700px;">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
        <div class="slds-modal__container">
          <div class="popborder">
            <header class="slds-modal__header">
              <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                {title}</h2>
              <button class="close-button" title="Close" onclick={closePetModal}>
              </button>
            </header>
            <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
              <lightning-layout multiple-rows="true">
                <lightning-layout-item size="12">

                  <lightning-layout>
                    <lightning-layout-item size="2" class="slds-p-around_x-small">
                      <lightning-input name="PetType" label="Pet Type" placeholder="Enter Pet Type"
                        onchange={ModalOnChange} value={PetType} required disabled={disabledView}>
                      </lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="3" class="slds-p-around_x-small">
                      <lightning-input name="PetBreed" label="Pet Breed" placeholder="Enter Pet Breed"
                        onchange={ModalOnChange} value={PetBreed} required disabled={disabledView}>
                      </lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="3" class="slds-p-around_x-small custom-dropdwon">
                      <lightning-input name="PetName" label="Pet Name" placeholder="Enter Pet Name"
                        onchange={ModalOnChange} value={PetName} required disabled={disabledView}>
                      </lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="1" class="slds-p-around_x-small">
                      <lightning-input type="number" name="PetAge" label="Pet Age" placeholder="Age" value={PetAge}
                        onchange={ModalOnChange} required disabled={disabledView}>
                      </lightning-input>
                    </lightning-layout-item>

                    <lightning-layout-item size="3" class="slds-p-around_x-small calendarIcon">
                      <lightning-input type="date" name="ExpiryDate" class="dummyDate"
                        label="Rabies Certificate Expiry Date" placeholder="Select Expiry Date" onchange={ModalOnChange}
                        value={ExpiryDate} max={maxdate} required disabled={disabledView}></lightning-input>
                    </lightning-layout-item>
                  </lightning-layout>

                </lightning-layout-item>
              </lightning-layout>
            </div>
            <footer class="slds-modal__footer">
              <template if:true={ViewHide}>
                <lightning-button class="btn-sec" label="CANCEL" onclick={closePetModal}>
                </lightning-button>
                <lightning-button label={btnLabel} variant="brand" onclick={handleSave} disabled={disableClick}
                  class="btn-pri slds-m-left_x-small">
                </lightning-button>
              </template>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>

  <template if:true={deleteModel}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
      aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
      <div class="slds-modal__container" style="width: 35%;">
        <div class="popborder">
          <header class="slds-modal__header">
            <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
          </header>
          <!-- modal body start -->
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
            <div class="slds-align_absolute-center delete-icon">
              <p>Are you sure you want to delete? </p>
            </div>
          </div>
          <!-- modal footer start-->
          <footer class="slds-modal__footer slds-align_absolute-center">
            <button class="slds-button slds-button_text-destructive" onclick={handleDelete}
              disabled={disableDelClick}>Yes</button>
            <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <div class="application-table" if:true={norecorddisplay}>
    <div class="slds-align_absolute-center">
      <lightning-datatable key-field="id" data={currentPagePetData} columns={columns} hide-checkbox-column="true"
        onrowaction={handleRowAction} class="table-hrs custom-tbl">
      </lightning-datatable>
    </div>
    <div class="paginationPosition">
      <c-common-pagination if:true={norecorddisplay} get-count={totalRecordsCount} page={page} setsize={setPagination}
        perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
    </div>
  </div>

  <div class="template-screen" if:false={norecorddisplay}>
    <div class="text-center file-upload slds-p-vertical--xx-large norecord">
      <img class="icon-attachment" src={petIcon} />
      <p class="font-bold padtop10">No Pet Info Found !</p>
      <p class="subfont">Please add Pet Information</p>
    </div>
  </div>

</template>