<template>
    <h2 class='sub-title'><a href="#" onclick={PageRedirecttoDashBoard}>APPLICATIONS</a> <span
            style="padding:0px 15px;">&#62;</span> APPLICATION ID - {applicationName}</h2>
    <div class="innerParent-Tab innerPage-main applicationTabset">
        <lightning-tabset active-tab-value={activeTab}>
            <lightning-tab label="GENERAL INFO" value="general">
                <c-application-general-info></c-application-general-info>
            </lightning-tab>
            <lightning-tab label="NARRATIVE">
                <c-providernarrative-history></c-providernarrative-history>
            </lightning-tab>
            <lightning-tab label="MONITORING" value="monitoring">
                <c-application-monitoring onredirecteditmonitering={handleredirectMoniteringTabs}>
                </c-application-monitoring>
            </lightning-tab>
            <lightning-tab class="attach-doc" label="DOCUMENTS">
                <c-application-document></c-application-document>
            </lightning-tab>
            <lightning-tab label="STAFF">
                <c-application-staff></c-application-staff>
            </lightning-tab>
            <lightning-tab label="CONTACT NOTES">
                <c-private-application-contact-notes></c-private-application-contact-notes>
            </lightning-tab>
            <lightning-tab label="LICENSE INFO">
                <c-application-license-information onlicencedate={handleLicenceDate}>
                </c-application-license-information>
            </lightning-tab>
            <lightning-tab label="DECISION" style="position: relative;">
                <c-applicationprovider-decision get-license-date-flag={licenseDateFlag}>
                </c-applicationprovider-decision>
            </lightning-tab>

        </lightning-tabset>
    </div>

</template>