<template>
    <template if:false={showPublicApplicationDashboard}>
        <c-public-application-dashboard onredirecttopubapptabinfo={redirectToPubAppTabs}
            onredircttoprivateapptabinfo={handlePrivateAppTabInfo}>
        </c-public-application-dashboard>
    </template>
    <template if:true={hideHeaderButton}>
        <c-public-application-all-header-buttons onredirecttoserviceinfo={redirectToServiceInfo}
            onredirecttosessioninfo={redirectToSessionInfo} onredirecttopetinfo={redirectToPetInfo}
            onredirecttoaddref={redirectToAddRefPop} show-ref-checks={showReferenceAddBtn}
            onredirecttostudyvisit={redirecttoStudyVisit} show-pet-details={showPetDetails}
            show-add-home-study={showAddHomeStudy} show-assign-training={showAssignTraining}
            show-add-service={showAddService} onredirecttopubappdashboard={redirectToDashboard}>
        </c-public-application-all-header-buttons>
    </template>
    <template if:true={showPublicApplicationTabs}> 
        <div class="innerParent-Tab innerPage-main applicationTabset">
            <lightning-tabset active-tab-value={activeTab}>
                <lightning-tab label="BASIC INFORMATION" value="basicInfo" onactive={handleActiveTabButtons}>
                    <c-public-application-basic-info></c-public-application-basic-info>
                </lightning-tab>
                <lightning-tab label="HOME INFORMATION" onactive={handleActiveTabButtons}>
                    <c-public-application-home-info></c-public-application-home-info>
                </lightning-tab>
                <lightning-tab label="HOUSEHOLD MEMBERS" value="houseHoldMember" onactive={handleActiveTabButtons} class="publicapp-hhm">
                    <c-public-provider-house-hold-members-home
                        onredirecttoaddhouseholdmembersearch={handleAddMemberSearch}
                        onredirecttoaddhouseholdmembers={handleAddMember} onviewofhouseholdmembers={handleAddMemberView}
                        ondatacardhhmembertrue={handleMeeting}>
                    </c-public-provider-house-hold-members-home>
                </lightning-tab>
                <lightning-tab label="BACKGROUND CHECKS" onactive={handleActiveTabButtons}>
                    <c-public-application-background-checks> </c-public-application-background-checks>
                </lightning-tab>
                <lightning-tab label="SERVICES" value="AddServices" onactive={handleActiveTabButtons}>
                    <c-public-application-services ontogglecomponents={handleToggleComponentsForService}
                        open-service-modal={openServiceInfoModal}>
                    </c-public-application-services>
                </lightning-tab>
                <lightning-tab label="HOUSEHOLD CHECKLIST" onactive={handleActiveTabButtons}>
                    <c-public-application-household-checklist></c-public-application-household-checklist>
                </lightning-tab>
                <lightning-tab label="HOUSEHOLD MEMBER CHECKLIST" onactive={handleActiveTabButtons}>
                    <c-public-application-household-member-checklist></c-public-application-household-member-checklist>
                </lightning-tab>
                <lightning-tab label="HOME STUDY VISIT" value="StudyVisit" onactive={handleActiveTabButtons}>
                    <c-public-application-home-study-visit ontogglecomponents={handleToggleComponentsForHomeVisit}
                        open-study-model={homeVisitModal} onhomestudycompletedflag={handleHomeStudyCompletedFlag}>
                    </c-public-application-home-study-visit>
                </lightning-tab>
                <lightning-tab label="CONTACT NOTES" onactive={handleActiveTabButtons}>
                    <c-public-application-contactnotes></c-public-application-contactnotes>
                </lightning-tab>
                <lightning-tab label="NARRATIVE" onactive={handleActiveTabButtons} class="publicApp-narrative">
                    <c-public-application-narrative></c-public-application-narrative>
                </lightning-tab>
                <lightning-tab label="DOCUMENTS" class="attach-doc" onactive={handleActiveTabButtons}>
                    <c-public-application-documents></c-public-application-documents>
                </lightning-tab>
                <lightning-tab label="REFERENCE CHECKS" value="referenceCheck" onactive={handleActiveTabButtons}>
                    <c-public-application-reference-checks reference-det-pop={showPop}
                        onredirecttoaddrefoff={redirectAddOff} oncomarregulationans={handleComarRegulations} onreferencecheckflag={handleReferenceCheckFlag}>
                    </c-public-application-reference-checks>
                </lightning-tab>
                <lightning-tab label="PET INFO" value="PetInfo" onactive={handleActiveTabButtons}>
                    <c-public-application-pet-info ontogglecomponents={handleToggleComponents}
                        open-pet-modal={openPetInfoModal}>
                    </c-public-application-pet-info>
                </lightning-tab>
                <lightning-tab label="PRE-SERVICE TRAINING" value="TrainService" onactive={handleActiveTabButtons}>
                    <c-public-application-service-training onsessionhoursflag={handleSessionFlag}
                        onhidebtn={handleSupervisorButton} ontogglecomponents={handleToggleSessionComponents}
                        open-session-modal={openSessionModal} onpridesessionnotfound={handlePrideFlag}>
                    </c-public-application-service-training>
                </lightning-tab>
                <lightning-tab label="PLACEMENT SPECIFICATIONS" onactive={handleActiveTabButtons}>
                    <c-public-application-placement></c-public-application-placement>
                </lightning-tab>
                <lightning-tab label="DECISION" onactive={handleActiveTabButtons}>
                    <c-public-application-decision home-study-completed-flag={homeStudyCompletedFlag} session-hours-flag={sessionHoursFlag} pride-session-not-found={prideSessionNotFound} reference-check-flag={referenceCheckFlag}></c-public-application-decision>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </template>
    <template if:true={showPublicProviderAddmember}>
        <c-public-provider-add-house-hold-members onredirttoholdmembersdashboard={redirectToHousHoldDashboard}
            onredirecttoholdmembersearch={handleAddMemberSearchFromAddHouse} search-holder-show={searchHolder}
            is-disabled={isView}></c-public-provider-add-house-hold-members>
    </template>
    <template if:true={showPublicProviderAddmemberSearch}>
        <c-public-provider-search-house-hold-members onredirecttoaddhouseholdmemberhome={handleAddMemberHome}
            onredirecttoaddhouseholdaddmember={redirectHandleAddMember} show-result={showResult}
            search-house-hold-members-lists-from-add-member={showListParent}>
        </c-public-provider-search-house-hold-members>
    </template>
    <template if:true={showPrivateApplicationTabs}>
        <c-applications-all-tab-cmbs show-dashboard=true show-application-tab-set=true></c-applications-all-tab-cmbs>
    </template>
</template>