<template>
    <lightning-input type='toggle' checked={isChecked} disabled={isDisabled} message-toggle-active=''
        message-toggle-inactive='' name='input1' onchange={handleToggleChange} record-id={recordId}></lightning-input>
</template>