.left-license-column {
    width: 15%;
    /* height: calc(100vh - 210px); */
    float: left;
    height: 100%;
}

.right-license-column {
    width: 85%;
    /* height: calc(100vh - 230px); */
    /* height: calc(100% - 10px); */
    float: left;
}

.rightlicense-col-wrapper {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px #E0E0E0;
    /* height: calc(100vh - 209px); */
    height: calc(100% - 2px);
    overflow: auto;
}

.left-col-container {
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 5px 3px 10px 5px;
    position: relative;
    right: 3px;
}

.left-col-container .submenu {
    background: #FFFFFF;
    border: 1px solid #CECECE80;
    border-radius: 0px 2px 2px 2px;
    margin-bottom: 9px;
}

.submenu.license-main {
    padding: 0px 5px;
}

.license-main .bdr_bot {
    border-bottom: 1px solid #CECECE80;
}

.license-id {
    /*color:#626574;*/
    color: #6B6A6A;
    padding: 6px 10px;
}

.license-name {
    /*color:#22273E;*/
    color: #6B6A6A;
    padding: 6px 10px;
}

/* .left-col-container .slds-nav-vertical__item { color:#22273E; font-size:12px;font-weight: 400;cursor: pointer;} */
.left-col-container .slds-nav-vertical__item {
    color: #22273E;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    background: #fff;
    border: 1px solid hsla(0, 0%, 80.8%, .5);
    border-radius: 0 2px 2px 2px;
}

.left-col-container .slds-nav-vertical__item:hover,
.slds-nav-vertical__item.slds-is-active .license-id,
.slds-nav-vertical__item.slds-is-active .license-name {
    color: #626676 !important;
}

.left-col-container .slds-nav-vertical__item:hover:before,
.left-col-container .slds-nav-vertical__item.slds-is-active:before {
    box-shadow: 0 0px 2px #A1A7EE;
    border: #A1A7EE solid 2px;
    background: none;
}

.slds-card {
    background: #FEFEFE;
}

.slds-card__body.slds-card__body_inner.mZero {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    height: 280px;
}

.pps-dateLicense-col1 {
    width: 40%;
}

.pps-dateLicense-col2 {
    width: 40%;
    margin-left: 16px;
    margin-right: 16px;
}

.license-genaral-info {
    width: calc(50% - 14px);
    background: #FEFEFE;
    overflow: auto;
    margin-right: 14px;
}

.license-cardinfo {
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}

.license-cardinfo-header .slds-media {
    padding-top: 0px;
}

.license-cardinfo-header .m-list-inline-block {
    border: none;
    display: block;
    padding: 10px 10px;
}

.license-cardinfo-header .m-list-inline-block li {
    margin-right: 25px;
    font-weight: 500;
}

.license-cardinfo-header .m-list-inline-block li:before {
    display: none
}

.license-cardinfo-header .m-list-inline-block li img {
    vertical-align: sub;
    width: auto;
}

.slds-card__header {
    text-align: center;
}

.license-pad .slds-col--padded {
    padding: 10px 0;
}

.license-siteother-info {
    width: 50%;
}

.siteInfo_address .site-cardinfo {
    border: 1px solid #EBEBEB;
    border-radius: 3px;
}

.blue-txt {
    color: #1366F3;
}

.licenseinfo-card-row {
    display: flex;
    margin-left: 10px;
    justify-content: left;
}

.provider-license-cards {
    width: 55%;
    background: #fff;
    border-radius: 3px;
    margin-right: 20px;
    border: 1px solid #F2F2F2;
}

.license_fieldset fieldset {
    display: block;
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.license_fieldset {
    width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.figure-marginoRight {
    margin-right: 0px;
    text-align: center;
    height: 59px;
}

/***********************to be included in stylesheet*************************************/
.emailicon {
    width: 23px;
    margin-left: 3px;
}

.posright {
    position: relative;
    left: -3px;
}

.provider-license-cards .slds-card__header {
    background: #F6F6F6;
    margin: 0;
}

.margintop15 {
    margin-top: 15px;
}

.provider-license-cards .card-value {
    height: 30px;
}

.profile_img {
    display: inline-block;
    padding: 8px 0;
}

.profile_img img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    /* vertical-align: super; */
    /* margin: 0px 10px; */
    margin: 0 10px;
}

.profile_dec {
    width: calc(100% - 62px);
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    /* border: 1px solid hsla(0, 0%, 80.8%, .5); */
    border-radius: 0 2px 2px 2px;
    /* margin-bottom: 9px; */
}

.profile_dec .license-name,
.profile_dec .applicant-type {
    color: #6B6A6A;
    padding: 6px 10px;
}

.profile_dec .license-name {
    font-weight: 500;
    border-bottom: 1px solid #E6E6E6;
}