<template>
    <template if:true={OpenLicenseCard}>
        <div class="left-license-column">
            <div class="left-col-container">
                <nav class="slds-nav-vertical slds-nav-vertical_compact">
                    <div class="slds-nav-vertical__section">
                        <ul>
                            <template for:each={licensesIdList} for:item="license">
                                <li key={license.Id} class="slds-nav-vertical__item  divHighLight" onclick={licenseInformation} data-id={license.Id} data-value={license.dataIndex}>
                                    <div class="profile_img">
                                        <img src={signUrl} />
                  </div>
                                        <div class="profile_dec">
                                            <h4 class="license-name">{license.Title}{license.Name}</h4>
                                            <p class="applicant-type">Applicant</p>
                                        </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="right-license-column">
            <template if:true={licenseInfoVisible}>
                <div class="rightlicense-col-wrapper">
                    <div class="slds-grid slds-wrap">
                        <div class="license-genaral-info">
                            <div class="license-cardinfo">
                                <article class="slds-card">
                                    <div class="license-cardinfo-header slds-align--absolute-center">
                                        <div class="slds-card__header slds-grid">
                                            <header class="slds-media slds-media_center slds-has-flexi-truncate ">
                                                <div class="slds-media__body">
                                                    <h2 class="fw-500"><img src={siteicon} class="slds-p-right_x-small mb-10" /><br /> License
                            Information
                          </h2>
                                                </div>
                                            </header>
                                        </div>
                                    </div>
                                    <div class="slds-card__body slds-card__body_inner mZero">
                                        <div class="slds-grid slds-wrap">
                                            <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size_12-of-12">
                                                <div class="slds-grid slds-wrap license-pad">
                                                    <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                        Application Id
                                                    </div>
                                                    <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_6-of-12">
                                                        <a class="blue-txt" style="text-decoration: none;" onclick={redirectToApplication}>
                              {ApplicationNumber}</a>
                                                    </div>
                                                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                        Program
                                                    </div>
                                                    <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                        {Program}
                                                    </div>
                                                    <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                        Program Type
                                                    </div>
                                                    <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                        {ProgramType}
                                                    </div>
                                                    <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                        Applicant
                                                    </div>
                                                    <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                        {hasApplicantName}
                                                    </div>
                                                    <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                        Co-Applicant
                                                    </div>
                                                    <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                        {CoApplicantName}
                                                    </div>
                                                    <div class="slds-grid slds-wrap">
                                                        <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 pps-dateLicense-col1">
                                                            <span>
                                <lightning-input type="date" name="LicenseStartdate__c" label="Start Date" disabled
                                  value={effectiveDate}></lightning-input>
                              </span>
                                                        </div>
                                                        <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 pps-dateLicense-col2">
                                                            <span>
                                <lightning-input type="date" name="LicenseEnddate__c" label="End Date" disabled
                                  value={expirationDate}></lightning-input>
                              </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="license-siteother-info">
                            <div class="siteInfo_address">
                                <div class="site-cardinfo">
                                    <article class="slds-card">
                                        <div class="site-cardinfo-header slds-align--absolute-center">
                                            <div class="slds-card__header slds-grid">
                                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                                    <div class="slds-media__body">
                                                        <h2 class="fw-500"><img src={addressIcon} class="slds-p-right_x-small mb-10" />
                              <br />Address Information</h2>
                                                    </div>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="slds-card__body slds-card__body_inner mZero">
                                            <div class="slds-grid slds-wrap">
                                                <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size_12-of-12">
                                                    <div class="slds-grid slds-wrap license-pad">
                                                        <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                            <img src={fireIcon} class="slds-p-right_x-small" /> Payment Address
                            </div>
                                                            <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                                {paymentAddressLine1}
                                                            </div>
                                                            <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                                <img src={mobile} class="slds-p-right_x-small posright" /> Mobile Number
                            </div>
                                                                <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                                    {paymentMobile}
                                                                </div>
                                                                <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                                    <img src={email} class="slds-p-right_x-small emailicon" /> Email Address
                            </div>
                                                                    <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                                        {paymentEmail}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-grid slds-wrap mt-10" style="border-top: 1px solid #ebebeb;">
                                                            <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size_12-of-12">
                                                                <div class="slds-grid slds-wrap license-pad">
                                                                    <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                                        <img src={homeIcon} class="slds-p-right_x-small" /> Home Address
                            </div>
                                                                        <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                                            {homeAddressLine1}
                                                                        </div>
                                                                        <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                                            <img src={mobile} class="slds-p-right_x-small posright" /> Mobile Number
                            </div>
                                                                            <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                                                {homeMobile}
                                                                            </div>
                                                                            <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                                                                <img src={email} class="slds-p-right_x-small emailicon" /> Email Address
                            </div>
                                                                                <div class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                                                                    {homeEmail}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-wrap license_fieldset">
                            <div class="slds-col slds-size_1-of-1">
                                <fieldset>
                                    <div class="licenseinfo-card-row">
                                        <div class="provider-license-cards">
                                            <article class="slds-card">
                                                <div class="slds-card__header slds-grid">
                                                    <header class="slds-media_center slds-has-flexi-truncate">
                                                        <div class="slds-media__figure figure-marginoRight">
                                                            <img src={ppsbedIcon} class="slds-p-right_x-small margintop15" />
                            </div>
                                                            <div class="slds-media__body text-center mt-10 mb-10">
                                                                <h2 class="card-label">
                                No of Bedrooms
                              </h2>
                                                            </div>
                                                    </header>
                                                </div>
                                                <h2 class="card-value fw-500 slds-align--absolute-center">{bedRooms}</h2>
                                            </article>
                                        </div>
                                        <div class="provider-license-cards">
                                            <article class="slds-card">
                                                <div class="slds-card__header slds-grid">
                                                    <header class="slds-media_center slds-has-flexi-truncate">
                                                        <div class="slds-media__figure figure-marginoRight">
                                                            <img src={ppskidsbaby} class="slds-p-right_x-small mt-10" />
                            </div>
                                                            <div class="slds-media__body text-center mt-10 mb-10">
                                                                <h2 class="card-label">
                                No of Children Residing
                              </h2>
                                                            </div>
                                                    </header>
                                                </div>
                                                <h2 class="card-value fw-500 slds-align--absolute-center">{childrenResiding} </h2>
                                            </article>
                                        </div>
                                        <div class="provider-license-cards">
                                            <article class="slds-card">
                                                <div class="slds-card__header slds-grid">
                                                    <header class=" slds-media_center slds-has-flexi-truncate">
                                                        <div class="slds-media__figure figure-marginoRight">
                                                            <img src={ppsgender} class="slds-p-right_x-small mt-20" />
                            </div>
                                                            <div class="slds-media__body text-center mt-10 mb-10">
                                                                <h2 class="card-label">
                                Gender
                              </h2>
                                                            </div>
                                                    </header>
                                                </div>
                                                <h2 class="card-value fw-500 slds-align--absolute-center">{ Gender}</h2>
                                            </article>
                                        </div>
                                        <div class="provider-license-cards">
                                            <article class="slds-card">
                                                <div class="slds-card__header slds-grid">
                                                    <header class=" slds-media_center slds-has-flexi-truncate">
                                                        <div class="slds-media__figure figure-marginoRight">
                                                            <img src={raceIcon} class="slds-p-right_x-small mt-10" />
                            </div>
                                                            <div class="slds-media__body text-center mt-10 mb-10">
                                                                <h2 class="card-label">
                                Race
                              </h2>
                                                            </div>
                                                    </header>
                                                </div>
                                                <h2 class="card-value fw-500 slds-align--absolute-center">{ Race}</h2>
                                            </article>
                                        </div>
                                        <div class="provider-license-cards">
                                            <article class="slds-card">
                                                <div class="slds-card__header slds-grid">
                                                    <header class=" slds-media_center slds-has-flexi-truncate">
                                                        <div class="slds-media__figure figure-marginoRight">
                                                            <img src={restroom} class="slds-p-right_x-small mt-10" />
                            </div>
                                                            <div class="slds-media__body text-center mt-10 mb-10">
                                                                <h2 class="card-label">
                                Age
                              </h2>
                                                            </div>
                                                    </header>
                                                </div>
                                            </article>
                                            <h2 class="card-value fw-500 slds-align--absolute-center">{MinAge}-{MaxAge} Yrs</h2>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </template>
    <template if:true={NoLicenseCard}>
        <div class="application-table">
            <div class="text-center file-upload slds-p-vertical--xx-large ">
                <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
                <p class="font-bold" style="padding-top:5px;">No License Available</p>
            </div>
        </div>
    </template>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>