<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fw-500">
                    <a href="#" onclick={backtoDashBoard}>Incident Report</a>
                    <span class="unicode-rightarr">&#62;</span>
                    <a href="#" onclick={backtoListPage}>Person/kid/chiild</a>
                    <span class="unicode-rightarr">&#62;</span>{title}
                </h2>
            </div>
            <div class="slds-float_right sec-btnright"></div>
        </div>
    </div>
    <lightning-card class="incidentperson-screen">
        <div class="slds-grid slds-wrap incidentperson_fieldset">
            <div class="slds-col slds-large-size_1-of-1">
                <div class="decision_fieldset">
                    <div class="slds-grid slds-wrap mb-10">
                        <div class="slds-col--padded slds-large-size_1-of-1">
                            <fieldset class="padwhole">
                                <legend class="bdr-addperson">
                                    ADD PERSON/KID/CHILD
                                </legend>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col--padded  slds-size_1-of-1 slds-large-size_1-of-4">
                                        <lightning-input name="firstName" label="First Name"
                                            value={addPersonkidchildContact.FirstName__c} onchange={handlechange}
                                            placeholder="" required disabled={isDisabled} autocomplete="off">
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                                        <lightning-input name="lastName" label="Last Name" placeholder=""
                                            value={addPersonkidchildContact.LastName__c} onchange={handlechange}
                                            required disabled={isDisabled} autocomplete="off">
                                        </lightning-input>
                                    </div>
                                    <div class="slds-size_1-of-1 slds-large-size_1-of-4">
                                        <div class="slds-grid slds-wrap">
                                            <div
                                                class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2 greybg calendarIcon">
                                                <lightning-input type="date" value={addPersonkidchildContact.DOB__c}
                                                    onchange={handlechange} name="dob" year="numeric" month="short"
                                                    day="" label="Date of Birth" max={currentDate} required
                                                    disabled={isDisabled} autocomplete="off">
                                                </lightning-input>
                                            </div>
                                            <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2">
                                                <lightning-input name="identifyNumber" label="Identifier Number"
                                                    placeholder="" value={addPersonkidchildContact.IdentifierNumber__c}
                                                    onchange={handlechange} required disabled={isDisabled} autocomplete="off">
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-size_1-of-1 slds-large-size_1-of-4">
                                        <div class="slds-grid slds-wrap">
                                            <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2">
                                                <lightning-input type='number' name="admittingChange"
                                                    label="Admitting Charge"
                                                    value={addPersonkidchildContact.AdmittingCharge__c}
                                                    onchange={handlechange} placeholder="" required
                                                    disabled={isDisabled} autocomplete="off">
                                                </lightning-input>
                                            </div>
                                            <div
                                                class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2 incidentPerson-kid">
                                                <lightning-combobox name="placingAgency" label="Placing Agency"
                                                    value={addPersonkidchildContact.PlacingAgency__c}
                                                    onchange={handlechange} options={placementoptions} required
                                                    disabled={isDisabled} autocomplete="off">
                                                </lightning-combobox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                                    <!--        address fields -->
                                
                                        <div class="slds-grid slds-wrap">
                                            <div
                                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
                                                <lightning-input type="text" label="Address Line1" name="Address Line1"
                                                    value={addressOfReporter.AddressLine1__c} disabled={isDisabled}
                                                    onchange={offSiteAddressChangeHandler} autocomplete="off" required>
                                                </lightning-input>

                                                   <!--  google api drop down -->
                                    <div id="listbox-suggestions" class={tabClass} role="listbox" if:true={googleDropdown}
                                        style="width: 300px; left: -200px;">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space incidentpop-dropbox"
                                            role="presentation">
                                            <template for:each={dataFromGoogleAPI.predictions} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.place_id} data-description={item.description}
                                                        class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                                        role="option" onclick={handleSelectedAddress}>
                                                        {item.description}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                
                                <!-- google api drop down -->
                                            </div>
                                            <div
                                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
                                                <lightning-input type="text" label="Address Line2" name="Address Line2"
                                                    value={addressOfReporter.AddressLine2__c} disabled={isDisabled}
                                                    onchange={offSiteAddressChangeHandler} autocomplete="off">
                                                </lightning-input>
                                            </div>
                                            <div
                                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
                                                <lightning-input type="text" label="State" name="State"
                                                    value={addressOfReporter.State__c} disabled={isDisabled}
                                                    onchange={offSiteAddressChangeHandler} autocomplete="off" required>
                                                </lightning-input>
                                            </div>
                                            <div
                                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4">
                                                <lightning-input type="text" label="City" name="City"
                                                    value={addressOfReporter.City__c} disabled={isDisabled}
                                                    onchange={offSiteAddressChangeHandler} autocomplete="off" required>
                                                </lightning-input>
                                            </div>
                                            <div
                                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4 mt-5">
                                                <lightning-input type="text" label="County" name="County"
                                                    value={addressOfReporter.County__c} disabled={isDisabled}
                                                    onchange={offSiteAddressChangeHandler} autocomplete="off" required>
                                                </lightning-input>
                                            </div>
                                            <div
                                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-4 mt-5">
                                                <lightning-input label="Zip Code" name="Zip Code" type="text"
                                                    pattern="(\d{5}([\-]\d{4})?)" maxlength="5"
                                                    value={addressOfReporter.ZipCode__c}  disabled={isDisabled}
                                                    onchange={offSiteAddressChangeHandler} autocomplete="off" required>
                                                </lightning-input>
                                            </div>
                                            <div
                                            class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 mt-5 assignclick">
                                            Assign
                                            <lightning-input type="toggle" name="assign" checked={isChecked}
                                                onchange={handlechangeincident} disabled={isDisabled}></lightning-input>
                                        </div>
                                        </div>
                                    <!--     end   address fields -->    
                             
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap">
                    <div class="bdr-box">
                        Please fill below if involved in the incident
                    </div>
                </div>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                        <div class="monitorRadioGroup padtopbottom10 roleincident">
                            <div class="monitorRadioPosition">
                                <lightning-radio-group name="roleincident" value={incidentInvloved.RoleinIncident__c}
                                    onchange={handlechangeincident} label="Role in Incident"
                                    options={roleIncidentOptions} type="button" disabled={isDisabled} required>
                                </lightning-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-grid slds-wrap decision_fieldset">
                    <div class="slds-col--padded mt-10 mb-10">
                        <fieldset class="padwhole">
                            <legend class="person-title">
                                Physical Restraint
                            </legend>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                                    <lightning-combobox name="physicalrestraint"
                                        value={incidentInvloved.PhysicalRestrainedType__c}
                                        onchange={handlechangeincident} options={PhysicalRestrainedOptions}
                                        label="Physical Restraint Type Used" disabled={isDisabled}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                                    <lightning-combobox name="durationrestraint"
                                        value={incidentInvloved.DurationofPhysicalRestraint__c}
                                        onchange={handlechangeincident} options={DurationPhysicalRestrainedOptions}
                                        label="Duration of Physical Restraint" disabled={isDisabled}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_2-of-4 no_fieldset">
                                    Reason
                                    <lightning-checkbox-group name="Checkbox Group" value={modes}
                                        onchange={handlechangereason} options={PreventionOptions}
                                        class="checkbox-horizontal reason" disabled={isDisabled}>
                                    </lightning-checkbox-group>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="slds-grid slds-wrap decision_fieldset">
                    <div class="slds-col--padded mt-10 mb-10">
                        <fieldset class="padwhole">
                            <legend class="person-title">
                                Mechanical Restraint
                            </legend>
                            <div class="slds-grid slds-wrap">
                                <!-- Pill Multiple checkbox Starts-->
                                <div
                                    class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                                    <label class="slds-form-element__label inputRequired3" for="combobox-id-47"><abbr
                                            title="required" class="slds-required"></abbr>Mechanical Restraint Type
                                        Used</label>
                                    <div class="slds-form-element__control" onmouseleave={handleMouseOutButton}>
                                        <div class="slds-combobox_container">
                                            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                                                aria-expanded="true" aria-haspopup="dialog" role="combobox">
                                                <div if:false={toggledivForPtype}
                                                    class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                                    role="none" onclick={handlePType}>
                                                    <input type="text" required class="slds-input slds-combobox__input"
                                                        id="combobox-id-47" aria-controls="popover-unique-id-02"
                                                        role="textbox" placeholder="" readonly="" />
                                                    <span
                                                        class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                        <lightning-icon icon-name="utility:down" size="x-small"
                                                            alternative-text="Connected" title="Connected">
                                                        </lightning-icon>
                                                    </span>
                                                </div>
                                                <div if:true={toggledivForPtype}
                                                    class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap"
                                                    onclick={handlePType}>
                                                    <ul class="slds-listbox slds-listbox_horizontal" role="listbox"
                                                        aria-label="Selected Options:" aria-orientation="horizontal">
                                                        <template for:each={pillvalueForPType} for:item="pills">
                                                            <li class="slds-listbox-item slds-truncate"
                                                                role="presentation" key={pills.value}
                                                                style="width:120px;" title={pills.value}>
                                                                <lightning-pill label={pills.value}
                                                                    onremove={handleRemove} disabled={isDisabled}>
                                                                </lightning-pill>
                                                            </li>
                                                        </template>
                                                    </ul>
                                                    <span
                                                        class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                        <lightning-icon icon-name="utility:down" size="x-small"
                                                            alternative-text="Connected" title="Connected">
                                                        </lightning-icon>
                                                    </span>
                                                </div>
                                                <section aria-describedby="dialog-body-id-26"
                                                    aria-label="Language Options" class={ForPTypeClass}
                                                    id="popover-unique-id-02" role="dialog"
                                                    onmouseleave={handleMouseOutButton}>
                                                    <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                                                        id="dialog-body-id-26">
                                                        <fieldset class="slds-form-element">
                                                            <div class="slds-form-element__control">
                                                                <template for:each={mechanicalOptionsForDisplay}
                                                                    for:item="PType">
                                                                    <div class="slds-checkbox" key={PType.value}>
                                                                        <input data-id="checkbox" type="checkbox"
                                                                            name="options" id={PType.value}
                                                                            value={PType.value}
                                                                            onclick={handleclickofPTypeCheckBox}
                                                                            disabled={isDisabled} />
                                                                        <label class="slds-checkbox__label"
                                                                            for={PType.value}>
                                                                            <span class="slds-checkbox_faux"></span>
                                                                            <span
                                                                                class="slds-form-element__label">{PType.label}</span>
                                                                        </label>
                                                                    </div>
                                                                </template>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pill Multiple checkbox Ends-->
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                                    <lightning-combobox name="durationmechanical"
                                        value={incidentInvloved.DurationofMechanicalRestraint__c}
                                        onchange={handlechangeincident} options={DurationMechanicalRestraintOptions}
                                        label="Duration Of Mechanical Restraint" disabled={isDisabled}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-6"></div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="slds-grid slds-wrap decision_fieldset">
                    <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-1">
                        <fieldset class="padwhole">
                            <legend class="person-title">
                                Staff involved in restraint
                            </legend>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                                    <lightning-combobox name="staffinvolved" value={incidentInvloved.StaffInvolved__c}
                                        onchange={handlechangeincident} options={StaffInvolvedOptions}
                                        label="Staff Involved" disabled={isDisabled}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <div class="monitorRadioGroup padtopbottom10">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group name="deescalation"
                                                value={incidentInvloved.DeescalationEffortMade__c}
                                                onchange={handlechangeincident} options={DeEscalationOptions}
                                                label="De-escalation Efforts Made" type="button" disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <div class="monitorRadioGroup padtopbottom10">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group name="injuiry"
                                                value={incidentInvloved.InjurySustained__c}
                                                onchange={handlechangeincident} label="Injury Sustained" type="button"
                                                options={InjurySustainedOptions} disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <div class="monitorRadioGroup padtopbottom10">
                                        <div class="personkidRadioBtn">
                                            <lightning-radio-group name="injuirylevel"
                                                value={incidentInvloved.InjurySeverityLevel__c}
                                                onchange={handlechangeincident} label="Injury severity level"
                                                options={injuirylevel} type="button" disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap mt-10">
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <div class="monitorRadioGroup padtopbottom10">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group name="injuiryrestraint"
                                                value={incidentInvloved.InjuryResultingfromRestraint__c}
                                                onchange={handlechangeincident} label="Injury resulting from restraint?"
                                                type="button" options={InjuryResultingfromRestraintOptions}
                                                disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <div class="monitorRadioGroup padtopbottom10">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group name="seenmedical"
                                                value={incidentInvloved.SeenByMedical__c}
                                                onchange={handlechangeincident} label="Seen by Medical?"
                                                options={SeenByMedicalOptions} type="button" disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <div class="monitorRadioGroup padtopbottom10">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group name="seclusion"
                                                value={incidentInvloved.Seclusion__c} onchange={handlechangeincident}
                                                label="Seclusion" options={SeclusionOptions} type="button"
                                                disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 no_fieldset">
                                    <lightning-combobox name="durationSeclusion"
                                        value={incidentInvloved.DurationofSeclusion__c} onchange={handlechangeincident}
                                        options={DurationofSeclusionOptions} label="Duration of Seclusion"
                                        disabled={isDisabled}>
                                    </lightning-combobox>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-modal__footer">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1">
                    <div class="btnSec pr-0">
                        <lightning-button class="btn btn-sec" onclick={cancelIncidentPersonKidDetails} label="CANCEL">
                        </lightning-button>
                        <template if:true={SaveUpdateShowHide}>
                            <lightning-button label={SaveUpdateButton} class="btn btn-pri slds-m-left_x-small"
                                onclick={saveIncidentDetails}></lightning-button>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>