.incidentperson-screen {
    height: calc(100vh - 244px);
    margin: 10px;
    display: inline-block;
    width: calc(100vw - 18px);
}

.incidentperson_fieldset {
    width: 100%;
    height: calc(100vh - 253px);
    overflow: auto;
}



.referal-headbottom {
    padding: 0px 15px 4px;
    width: 100%;
    height: 40px;
    background: rgb(251, 251, 251);
    box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
    text-transform: uppercase;
}

.unicode-rightarr {
    padding: 0px 15px;
}

.bdr-box {
    border: 1px solid #EBEBEB;
    background: #FCFCFC;
    padding: 15px;
    text-transform: uppercase;
    color: #061C40;
    width: 100%;
    font-weight: 600;
}

.bdr-addperson {
    text-transform: uppercase;
    font-weight: 600; 
}

.person-title {
    font-size: 12px;
    background: transparent;
    box-shadow: none;
    padding: 0px 5px;
    font-weight: 600;
}

.mt-5 {
    margin-top: 5px;
}

.padwhole {
    padding: 0 10px 10px 10px
}

.roleincident {
    padding: 10px 0px 10px 20px;
}

.assignclick{
    width: 73px ;
    margin-top: 10px;
}

.incidentpop-dropbox {
    position: absolute;
    z-index: 500;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #45414e29;
    border-radius: 3px;
    max-height: 200px;
    overflow-y: auto;
    left:35px;
}