.contract-screen{ background: #fff; height: calc(100vh - 175px); overflow: hidden;
    border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
     position: fixed; width:calc(100vw - 20px);  }
.pageMonitorPosition { position: absolute; bottom:16px;}