<template>
  <div class="slds-grid slds-wrap">
    <div class="slds-col">
      <div class="slds-clearfix">
        <div class="slds-float_right tab-content btn-topright" if:false={isSuperUserFlow}>
          <lightning-button label="ADD CONTRACT" variant="brand" onclick={addOpenModal}>
          </lightning-button>
        </div>
      </div>
    </div>
  </div>
  <div class="application-table">
    <div if:true={norecorddisplay}>
      <lightning-datatable key-field="id" data={currentPageContractData} columns={columns} hide-checkbox-column
        default-sort-direction={defaultSortDirection} sorted-direction={sortDirection} sorted-by={sortedBy}
        onsort={onHandleSort} onrowaction={handleRowAction} class="custom-tbl">
      </lightning-datatable>
      <div class="pageMonitorPosition">
        <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
          onprogressvaluechange={hanldeProgressValueChange}>
        </c-common-pagination>
      </div>
    </div>

    <div class="slds-align_absolute-center recordFile" if:false={norecorddisplay}>
      <p>No Contract Records Found</p>
    </div>
  </div>

  <template if:true={openmodelDel}>
    <div class="demo-only">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
        <div class="slds-modal__container" style="width: 35%;">
          <div class="popborder">
            <header class="slds-modal__header">
              <button class="close-button" title="Close" onclick={closeModal}></button>
            </header>
            <!-- modal body start -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
              <div class="slds-align_absolute-center delete-icon">
                <p>Are you sure you want to delete?</p>
              </div>
            </div>
            <!-- modal footer start-->
            <footer class="slds-modal__footer slds-align_absolute-center">
              <button class="slds-button slds-button_text-destructive" onclick={deleteFrSure}>
                Yes
              </button>
              <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                No
              </button>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>