.contract-tbl {
    display: inline-block;
    width: calc(100vw - 30px);
}

.scroll_Overflow{ max-height:calc(100% - 110px);}
.padtop10{ padding-top:10px;}
.wid-25{width:25%;}
.wid-25Contract{    width: 25%;
    position: relative;
    right: -15%;
    margin-bottom: 20px;
    margin-top: 20px;}