<template>
    <template if:true={Select1}>
        <div class="text-center file-upload" style="margin-top:20px;">
            <p class="font-bold padtop10">Add License to your contract by choosing from the below drop down</p>
        </div>
    </template>
    <template if:true={Select2}>
        <div class="slds-float_right">
            <div class="slds-col--padded">
                <div class="font-bold padtop10">Please Select License Level</div>
            </div>
        </div>
    </template>
    <template if:true={Select3}>
        <div class="slds-align_absolute-center wid-25" if:true={Select1}>
            <!-- <div class="slds-float_right wid-25Contract"> -->
            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-1">
                <lightning-combobox name="ProgramName__c" options={optionsLicenseProgram} placeholder="Select"
                    onchange={handleChange} value={SelectedProgramName} disabled={isDisable}></lightning-combobox>
            </div>
        </div>
        <!-- <div class="slds-align_absolute-center wid-25"> -->
        <div class="slds-float_right wid-25Contract" if:false={Select1}>
            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-1">
                <lightning-combobox name="ProgramName__c" options={optionsLicenseProgram} placeholder="Select"
                    onchange={handleChange} value={SelectedProgramName} disabled={isDisable}></lightning-combobox>
            </div>
        </div>
    </template>

    <template if:true={Select4}>
        <div class="">
            <lightning-datatable key-field="Id" data={currentPageLicenseData} columns={columns} max-row-selection="1"
                onrowselection={handleRowSelection} default-sort-direction={defaultSortDirection}
                selected-rows={ContractRowID} sorted-direction={sortDirection} sorted-by={sortedBy}
                onsort={onHandleSort} class="contract-tbl">
            </lightning-datatable>
        </div>
        <div class="slds-clearfix">
            <div class="slds-col--padded">
                <div class="slds-float_right btn btn-pri">
                    <lightning-button label="PROCEED" class="" disabled={isDisableProceed} onclick={handleProceed}>
                    </lightning-button>
                </div>
            </div>
        </div>
    </template>

</template>