<template>
    <div class="public-margintop10">
        <div class="application-table application_fieldset bdrLeftRadiuszero">
            <div class="ppbhScroll">
                <div class="slds-col slds-col--padded slds-size_1-of-1 ">
                    <fieldset>
                        <legend class="font600">CHOOSE YOUR PROGRAM</legend>
                        <div class="slds-align_absolute-center ppbasicinfoipad">
                            <div class="box-col1"  onclick={boxbordercolorchange}>

                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                                        <img class="iconpadbot" src={resourceIcon} /> <br />
                                        Resource Home
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-combobox  label="Program Type" class="ptyperesetforResource" required="True" onchange={handleonChange1}
                                            options={ReferenceResourceHomeOptions} name="ProgramType"
                                            value={ResourceHomeProgramType} disabled={isDisabledresourceHome} placeholder="Select Program Type"
                                            >
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-combobox required="True" onchange={handleonChange2}
                                            options={PublicProviderPPBasicInfo} label="Referral Source"
                                            name="inquirySource" value={ResourceHomeInquirySource} class="rsourceresetforResource"
                                            placeholder="Select Referral source" disabled={isDisabledresourceHome}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-1 ageGroup">

                                        <!-- Multiselect checkbox Code Start -->
                                        <label class="slds-form-element__label inputRequired3"
                                            for="combobox-id-47"><abbr title="required"
                                                class="slds-required">*</abbr>Age Group</label>
                                        <div class="slds-form-element__control" onmouseleave={handleMouseOutButton}>
                                            <div class="slds-combobox_container">
                                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                                                    aria-expanded="true" aria-haspopup="dialog" role="combobox">
                                                    <div if:false={toggledivForPtype}
                                                        class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                                        role="none" onclick={handlePType}>
                                                        <input type="text" readonly="True" required
                                                            class="slds-input slds-combobox__input"  id="combobox-id-47"
                                                            aria-controls="popover-unique-id-02" role="textbox"
                                                            placeholder="Select" autocomplete="off" 
                                                            disabled={isDisabledresourceHome} />
                                                        <span
                                                            class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                            <lightning-icon icon-name="utility:down" size="x-small"
                                                                alternative-text="Connected" title="Connected">
                                                            </lightning-icon>
                                                        </span>
                                                    </div>
                                                    <div if:true={toggledivForPtype}
                                                        class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap pad7whole"
                                                        onclick={handlePType}>
                                                        <ul class="slds-listbox slds-listbox_horizontal" role="listbox"
                                                            aria-label="Selected Options:"
                                                            aria-orientation="horizontal">
                                                            <template for:each={pillvalueForPType} for:item="pills">
                                                                <li class="slds-listbox-item slds-truncate"
                                                                    style="width:280px;" role="presentation"
                                                                    key={pills.value} title={pills.value}
                                                                    if:true={pillSingleValueCondition}>
                                                                    <lightning-pill label={pills.value}
                                                                        onremove={handleRemove}></lightning-pill>
                                                                </li>
                                                            </template>
                                                            <li class="slds-listbox-item slds-truncate"
                                                                style="width:280px;" role="presentation"
                                                                key={pillSingleValueForPtype}
                                                                title={pillSingleValueForPtype}
                                                                if:false={pillSingleValueCondition}>
                                                                <lightning-pill label={pillSingleValueForPtype}
                                                                    onremove={handleRemove}>
                                                                </lightning-pill>
                                                                <span class="conference-usernumber">
                                                                    +{pillSingleValueForPtypeCount}</span>
                                                            </li>
                                                        </ul>
                                                        <span
                                                            class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                            <lightning-icon icon-name="utility:down" size="x-small"
                                                                alternative-text="Connected" title="Connected">
                                                            </lightning-icon>
                                                        </span>
                                                    </div>
                                                    <section aria-describedby="dialog-body-id-26"
                                                        aria-label="Language Options" class={tabClassForPType}
                                                        id="popover-unique-id-02" role="dialog"
                                                        onmouseleave={handleMouseOutButton}
                                                        style="position: absolute;top:33px;">
                                                        <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                                                            id="dialog-body-id-26">
                                                            <fieldset class="slds-form-element">
                                                                <div class="slds-form-element__control">
                                                                    <template for:each={ageGroupData} for:item="PType">
                                                                        <div class="slds-checkbox" key={PType.Id}>
                                                                            <input data-id="checkbox" type="checkbox"
                                                                                name="options" id={PType.value}
                                                                                value={PType.label}
                                                                                onclick={handleclickofPTypeCheckBox} />
                                                                            <label class="slds-checkbox__label"
                                                                                for={PType.value}>
                                                                                <span class="slds-checkbox_faux"></span>
                                                                                <span
                                                                                    class="slds-form-element__label">{PType.label}</span>
                                                                            </label>
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Multiselect checkbox Code end -->
                                        <!-- <lightning-combobox name="AgeGroup" label="Age Group" options={ageGroupData} disabled={isDisabledresourceHome}>
                                        </lightning-combobox> -->
                                    </div>
                                    
                                    <div class="slds-col slds-col--padded slds-size_1-of-1">
                                        <!-- SLider -->
                                      <div class="capacityInput">
                                       <lightning-input type="number"   required="True" class="amount" onchange={handleChange}
                                       value={ResourceHomeCapacity} disabled={isDisabledresourceHome}   label="Capacity">
                                        </lightning-input>
                                        </div>
                                        <div class="widslider"><div id="slider" class="my_slider"></div></div> 
                                        <!-- SLider -->
                                        <!-- <lightning-slider required="True" label="Capacity" onchange={handleChange}
                                            name="Capacity"  step="1" min="1" max="10" value={ResourceHomeCapacity}  disabled={isDisabledresourceHome}>
                                        </lightning-slider> -->
                                    </div>
                                </div>

                            </div>
                            <div class="box-col2">or</div>
                            <div class="box-col3" onclick={boxbordercolorchangeForkinship}>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                                        <img src={kinshipIcon} class="iconpadbot1" />
                                        <br />
                                        Kinship
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-combobox name="ProgramType" onchange={handleonChange1} class="ptyperesetKinship"
                                            label="Program Type" placeholder="Select Program Type"
                                            value={KinshipProgramType} required="True" options={ReferenceKinshipOptions}
                                            disabled={isDisabledkinship}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-combobox options={PublicProviderPPBasicInfo} onchange={handleonChange2}
                                            name="inquirySource" required="True" value={KinshipInquirySource} class="rsourceresetforKinship"
                                            placeholder="Select Referral source" label="Referral Source"
                                            disabled={isDisabledkinship}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-1 ageGroup">

                                        <!-- Multiselect checkbox Code Start -->
                                        <label class="slds-form-element__label inputRequired3"
                                            for="combobox-id-471"><abbr title="required"
                                                class="slds-required">*</abbr>Age Group</label>

                                        <div class="slds-form-element__control"
                                            onmouseleave={handleMouseOutButtonkinship}>
                                            <div class="slds-combobox_container">
                                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                                                    aria-expanded="true" aria-haspopup="dialog" role="combobox">
                                                    <div if:false={toggledivForPtypekinship}
                                                        class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                                        role="none" onclick={handlePTypekinship}>
                                                        <input type="text" required
                                                            class="slds-input slds-combobox__input" id="combobox-id-471"
                                                            aria-controls="popover-unique-id-02" role="textbox"
                                                            placeholder="Select" autocomplete="off" readonly="True"
                                                            disabled={isDisabledkinship} />
                                                        <span
                                                            class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                            <lightning-icon icon-name="utility:down" size="x-small"
                                                                alternative-text="Connected" title="Connected">
                                                            </lightning-icon>
                                                        </span>
                                                    </div>
                                                    <div if:true={toggledivForPtypekinship}
                                                        class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap pad7whole"
                                                        onclick={handlePTypekinship}>
                                                        <ul class="slds-listbox slds-listbox_horizontal" role="listbox"
                                                            aria-label="Selected Options:"
                                                            aria-orientation="horizontal">
                                                            <template for:each={pillvalueForPTypekinship}
                                                                for:item="pills">
                                                                <li class="slds-listbox-item slds-truncate"
                                                                    style="width:280px;" role="presentation"
                                                                    key={pills.value} title={pills.value}
                                                                    if:true={pillSingleValueConditionkinship}>
                                                                    <lightning-pill label={pills.value}
                                                                        onremove={handleRemovekinship}></lightning-pill>
                                                                </li>
                                                            </template>
                                                            <li class="slds-listbox-item slds-truncate"
                                                                style="width:280px;" role="presentation"
                                                                key={pillSingleValueForPtypekinship}
                                                                title={pillSingleValueForPtypekinship}
                                                                if:false={pillSingleValueConditionkinship}>
                                                                <lightning-pill label={pillSingleValueForPtypekinship}
                                                                    onremove={handleRemovekinship}>
                                                                </lightning-pill>
                                                                <span class="conference-usernumber">
                                                                    +{pillSingleValueForPtypeCountkinship}</span>
                                                            </li>
                                                        </ul>
                                                        <span
                                                            class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                            <lightning-icon icon-name="utility:down" size="x-small"
                                                                alternative-text="Connected" title="Connected">
                                                            </lightning-icon>
                                                        </span>
                                                    </div>
                                                    <section aria-describedby="dialog-body-id-261"
                                                        aria-label="Language Options" class={tabClassForPTypekinship}
                                                        id="popover-unique-id-021" role="dialog"
                                                        onmouseleave={handleMouseOutButtonkinship}
                                                        style="position: absolute;top:33px;">
                                                        <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                                                            id="dialog-body-id-261">
                                                            <fieldset class="slds-form-element">
                                                                <div class="slds-form-element__control">
                                                                    <template for:each={ageGroupDatakinship}
                                                                        for:item="PTypeKinship">
                                                                        <div class="slds-checkbox"
                                                                            key={PTypeKinship.Id}>
                                                                            <input data-id="checkbox" type="checkbox"
                                                                                name="options" id={PTypeKinship.value}
                                                                                value={PTypeKinship.label}
                                                                                onclick={handleclickofPTypeCheckBoxkinship} />
                                                                            <label class="slds-checkbox__label"
                                                                                for={PTypeKinship.value}>
                                                                                <span class="slds-checkbox_faux"></span>
                                                                                <span
                                                                                    class="slds-form-element__label">{PTypeKinship.label}</span>
                                                                            </label>
                                                                        </div>
                                                                    </template>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Multiselect checkbox Code end -->
                                        <!-- <lightning-combobox name="Age Group" label="Age Group" options={ageGroupData}
                                            disabled={isDisabledkinship}>
                                        </lightning-combobox> -->
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-1">
                                        <!-- SLider -->
                                      <div class="capacityInput">
                                        <lightning-input type="number"  required="True" class="amount2" onchange={handleChange1}
                                        value={KinshipCapacity} disabled={isDisabledkinship} name="Capacity" label="Capacity">
                                         </lightning-input>
                                         </div>
                                         <div class="widslider"><div id="slider2" class="my_slider2"></div></div>
                                         <!-- SLider -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
</div>
            <footer class="slds-modal__footer">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col bottomAlign slds-col--padded">
                      <div class="slds-clearfix">
                        <div class="slds-float_right btnSec">
                            <lightning-button label="CANCEL" onclick={PageRedirecttoDashBoard}
                                class="btn btn-sec mr-10">
                            </lightning-button>
                            <lightning-button label="SAVE" onclick={handleSave} disabled={PageDefaultSave}
                                class="btn btn-pri">
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>


    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
      </div>
</template>