.public-bg{  background:#fff; box-shadow: 0 1px 5px #45414E1A; padding: 10px; padding-bottom: 15px; }
.public-bg-table{  padding:10px; } 

.public-margintop10{ margin-top:0px;}

.application_fieldset fieldset{padding:10px;}
 .mb-10{ margin-bottom: 10px;}
.box-col1{  float: left; width: calc(50% - 40px); border: 1px solid #EBEBEB; border-radius: 4px;  padding:12px 27px 39px 27px; }
.box-col2{  float: left; width: 60px; text-align: center; padding:12px 5px; }
.box-col3{  float: left; width: calc(50% - 40px); border: 1px solid #EBEBEB; border-radius: 4px; padding:12px 27px 39px 27px; }
.padtop10{ padding-top:10px;}
.ppbhScroll{ height: calc(100vh - 325px); overflow-y: auto;}
.iconpadbot{ margin-bottom:5px;}



.highlightBox{ border: 1px solid #0A69B9;
}

.unicode-rightarr{ padding:0px 15px;}


.boxbordercolorchange
{
    width: calc(50% - 40px); border: 1px solid #0A69B9;
    border-radius: 4px;  
    
}
.bdrLeftRadiuszero{ border-top-left-radius:0px;}


.disabledbutton {
    pointer-events: none;
    opacity: 0.8;
}
.ageGroup .slds-combobox{height:40px;}
.font600{ font-weight: 600;}
.application-table{    height: calc(100vh - 273px) !important;}