<template>
    <div class="application-decision">    

        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-p-right_x-small slds-size_7-of-12">
                <div class="slds-card slds-p-around_small">
                    <div class="decision-form">
                        <div class="slds-col slds-size_1-of-1 slds-m-top_small text-center">
                            <img src={decisionIcon} class="iconpadbot"/>
                            <p>Decision</p>
                        </div>
                        
                        <div class="slds-col slds-size_1-of-1 slds-m-top_small">
                            <lightning-combobox name="Recommendation" label="Select Recommendation" placeholder="Select Recommendation" onchange={decisionOnChange} value={decisionDetails.CommonDecision__c} options={recommendationOptions} required disabled={isRecommendationDisable}></lightning-combobox>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-m-top_small" if:false={isSuperUserFlow}>
                            <lightning-textarea name="Comments" class="slds-m-top_small" label="Comments(Caseworker)" placeholder="Enter Comments" onchange={decisionOnChange} value={decisionDetails.ApprovalComments__c} disabled={isCommentsDisable}></lightning-textarea>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-m-top_small" if:true={isSuperUserFlow}>
                            <lightning-textarea name="Comments" class="slds-m-top_small" label="Comments(Supervisor)" placeholder="Enter Comments" onchange={decisionOnChange} value={decisionDetails.SupervisorComments__c} disabled={isCommentsDisable}></lightning-textarea>
                        </div>

                        <div class="slds-col slds-size_1-of-1 text-right slds-m-top_small" if:true={showSignatureBtn}>
                            <lightning-button label="Add Signature" class="btn btn-link"
                            onclick={handleSignatureModel} disabled={isSignatureDisable}></lightning-button>
                        </div>

                        <div class="slds-col slds-col--padded slds-size_1-of-1 text-center slds-m-top_small" if:true={showTierofApprovalBtn}>
                            <lightning-button label="ASSIGN FOR TIER APPROVAL" class="btn btn-pri"
                                onclick={handleSuperUserModel} disabled={isTierApprovalBtnDisable}>
                            </lightning-button>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap generalTable" if:true={isSuperUserAssigned}>
                        <lightning-datatable key-field="id" data={assignedSuperUserTableData} columns={assignedSuperUserTableHeader} hide-checkbox-column="true" default-sort-direction={defaultSortDirection} sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction} class="custom-tbl">
                        </lightning-datatable>
                    </div>
                </div>
            </div>

            <div class="slds-col slds-size_5-of-12">
                <div class="slds-card slds-p-around_small">
                    <fieldset>
                        <legend class="housHoldFwt_1000">REFERENCE CHECK COMAR REGULATIONS</legend>
                        <ul class="checklist">
                            <li class="completed">There must be atleast 3 references</li>
                            <li class="completed">Atleast two of the references must have a Face-to-Face contact</li>
                            <li class="completed">Atleast two of the references must have a Relation as 'Non-Relative'</li>
                        </ul>
                    </fieldset>
                    <!--<fieldset>
                        <legend class="housHoldFwt_1000">Comar Regulations</legend>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 linepad unCheckedReference">
                                <label class="pad unchecked">
                                    <span class="CrecordPos">There must be at least 3 references.</span>
                                </label>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 linepad unCheckedReference">
                                <label class="pad unchecked">
                                    <span class="CrecordPos">At least two of the references must have a Face-to-Face contact.</span>
                                </label>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 linepad unCheckedReference">
                                <label class="pad unchecked">
                                    <span class="CrecordPos">At least two of the references must have a Relation ="Non-Relative".</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>-->
                    <fieldset>
                        <legend class="housHoldFwt_1000">PRE-SERVICE TRAINING INFORMATION</legend>
                        <ul class="checklist">
                            <li class="completed">Total number of hours attended must be more than 27 hours</li>
                        </ul>
                    </fieldset>

                    <fieldset>
                        <legend class="housHoldFwt_1000">HOME STUDY VISIT DETAILS</legend>
                        <ul class="checklist">
                            <li class="completed">Home study visit must be completed</li>
                        </ul>
                    </fieldset>
                </div>
                
            </div>
        </div>
        <div class="slds-grid slds-wrap padtop10">
            <div class="slds-col bottomAlign">
                <div class="slds-clearfix">
                    <div class="slds-float_right btnSec">
                        <lightning-button label="Save As Draft" class="btn btn-sec mr10" onclick={handleDraftMethod} disabled={isDraftBtnDisable}></lightning-button>
                        <lightning-button label="Submit" class="btn btn-pri slds-m-left_x-small" onclick={handleSubmitMethod} disabled={isSubmitBtnDisable}></lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template if:true={openSignatureModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Add Signature</h2>
                    <button class="close-button" title="Close" onclick={signatureCloseModel}></button>
                </header>
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <!--<div class=" slds-size_1-of-1">
                        <canvas lwc:dom="manual" name="canvasItem" class="sign-box" width="600" height="320"></canvas>
                    </div>-->
                    <div class="slds-size_1-of-1" if:false={SignatureShowHide}>
                        <canvas name="canvasItem" class="sign-box" width="600" height="320"></canvas>
                    </div>
                    <div class="slds-size_1-of-1" if:true={SignatureShowHide}>
                        <img src={SignatureValidationView}>
                    </div>
                    <div class="upload-wrapper">
                        <div class="slds-float_left dropzone">
                            <span class="writeText">Write your signature above or</span>
                            <lightning-input data-id="fuploader" class="file-upload dropsVgNone dis-inb"
                                onchange={handleFilesChange} type="file" name="file" label="" variant="label-hidden">
                            </lightning-input>
                        </div>
                        <div class="slds-float_right">
                            <button onclick={handleClearClick} class="refresh-btn">Refresh<img src={refreshIcon}/></button>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="btn btn-sec" label="Cancel" title="Cancel" onclick={signatureCloseModel}></lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" onclick={handleSaveClick}
                        class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={openSuperUserModel}>
        <div style="height: 500px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true"
                aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assign Supervisor</h2>
                        <button class="close-button" title="Close" onclick={superUserCloseModel}>
                        </button>
                    </header>
                    <div class="slds-modal__content" id="modal-content-id-2">
                        <div class="slds-text-heading_small slds-text-align_center">
                            <lightning-datatable key-field="Id" data={superUsersTableData}
                                onrowselection={handleSuperUserRowSelection} columns={superUserTableColumns}
                                max-row-selection="1" selected-rows={selectedRows}>
                            </lightning-datatable>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="ASSIGN" class="btn btn-pri slds-m-left_x-small"
                            onclick={handleAssignMethod} disabled={assignBtnDisable}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={openPreviewModel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true"
                aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assignment/Decision
                        </h2>
                        <button class="close-button" title="Close" onclick={previewCloseModel}>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-3">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-input name="Author" label="Author" value={previewDetails.authorName}
                                            disabled>
                                        </lightning-input>
                                        <lightning-input name="Status" label="Status"
                                            value={previewDetails.assignedStatus} class="mt-10" disabled>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2 ">
                                        <lightning-input name="Date" label="Assigned Date"
                                            value={previewDetails.assignedDate} disabled>
                                        </lightning-input>
                                        <lightning-input name="Comments" label="Comments" disabled
                                            value={previewDetails.comments} class="mt-10">
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-large-size_4-of-12 displayMain">
                                <div class="display-box">
                                    <img src={previewDetails.SignatureValue}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button variant="neutral" label="Done" title="Done" onclick={previewCloseModel}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <canvas name="canvasItem1" style="display:none;"></canvas>

    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>