<template>
  <h2 class="sub-title">
    <a style="text-decoration: none;" onclick={redirectToMonitering}>Monitoring </a>- {moniteringName}
  </h2>
  <div class="innerParent-Tab innerPage-main applicationTabset moniteringTabset">
    <lightning-tabset>
      <lightning-tab label="Activities">
        <c-application-monitoring-activity></c-application-monitoring-activity>
      </lightning-tab>
      <lightning-tab label="Conference">
        <c-application-monitoring-conference></c-application-monitoring-conference>
      </lightning-tab>
      <lightning-tab label="Staff Record" value="staffTab" onactive={handleActiveTab}>
        <c-monitering-comar-records get-active-tab={activeTabValue}></c-monitering-comar-records>
      </lightning-tab>
      <lightning-tab label="Physical Site Inspection" value="plantTab" onactive={handleActiveTab}>
        <c-monitering-comar-records get-active-tab={activeTabValue}></c-monitering-comar-records>
      </lightning-tab>
      <lightning-tab label="Office Inspection" value="officeTab" onactive={handleActiveTab}>
        <c-monitering-comar-records get-active-tab={activeTabValue}></c-monitering-comar-records>
      </lightning-tab>
      <lightning-tab label="Documents">
        <c-application-monitoring-document></c-application-monitoring-document>
      </lightning-tab>
      <lightning-tab label="Staff Interview" value="staffIntTab" onactive={handleActiveTab}>
        <c-monitoring-board-interview get-active-tab={activeTabValue}></c-monitoring-board-interview>
      </lightning-tab>
      <lightning-tab label="Board Interview" value="boardIntTab" onactive={handleActiveTab}>
        <c-monitoring-board-interview get-active-tab={activeTabValue}></c-monitoring-board-interview>
      </lightning-tab>
    </lightning-tabset>
  </div>
</template>