<template>
    <div class="slds-card__body slds-card__body_inner">
        <div class="slds-box">
            <h2 class="header">Basic Combobox</h2>
            <c-combobox
                        name="progress"
                        label="Status"
                        value={value}
                        placeholder="Select Progress"
                        options={options}
                        onchange={handleChange}
            ></c-combobox>
        </div>
    </div>
</template>