<template>
  <div class="slds-grid slds-wrap basicinfo_fieldset">
    <div class="left-col-info">
      <fieldset>
        <legend class="sec-title">
          Program Details
        </legend>
        <div class="slds-grid slds-wrap">
          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
            <lightning-input type="text" label="Program" value={program} disabled></lightning-input>
          </div>

          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
            <lightning-input type="text" label="Program Type" value={programType} disabled></lightning-input>
          </div>

          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
            <lightning-input type="text" label="Age Group" value={ageGroup} disabled placeholder="Enter Age Group"
              ></lightning-input>
          </div>

          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6 mt-10">
            <lightning-input type="text" label="Referral Source" value={referralSource}
              placeholder="Enter Referral Source" disabled></lightning-input>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend class="sec-title">Payment Information</legend>
        <div class="slds-grid slds-wrap">
          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
            <lightning-input type="text" label="Payee First Name" value={payeeFirstName} max="50" disabled={supervisor}
              onchange={inputOnChangeHandler} placeholder="Enter Payee First Name"></lightning-input>
          </div>

          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
            <lightning-input type="text" label="Payee Last Name" value={payeeLastName} max="50" disabled={supervisor}
              onchange={inputOnChangeHandler} placeholder="Enter Payee Last Name"></lightning-input>
          </div>

          <div
            class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6 monitorRadioGroup">
            <lightning-radio-group name="radioGroup" label="1099 Indicator" options={options} value={indicator}
              type="button" disabled={supervisor} onchange={inputOnChangeHandler}></lightning-radio-group>
          </div>

          <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6 mt-10">
            <lightning-input type="checkbox" label="Medicaid Provider" checked={medicaidProvider} disabled={supervisor}
              onchange={inputOnChangeHandler}></lightning-input>
          </div>
        </div>
      </fieldset>
    </div>


    <div class="right-col-info">
      <div class="slds-grid slds-wrap mt-20">
        <div class="slds-col slds-col--padded slds-size_1-of-1">
          <div class="sec-title mb-10">Placement Structure</div>
          <label class="slds-form-element__label inputRequired3" for="combobox-id-47"><abbr title="required"
              class="slds-required mt-20">*</abbr>Placement
            Structure</label>
          <div class="slds-form-element__control" onmouseleave={handleMouseOutButton}>
            <div class="slds-combobox_container">
              <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                aria-expanded="true" aria-haspopup="dialog" role="combobox">
                <div if:false={toggledivForPtype}
                  class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none"
                  onclick={handlePType}>
                  <input type="text" required class="slds-input slds-combobox__input" id="combobox-id-47"
                    aria-controls="popover-unique-id-02" role="textbox" placeholder="Select Placement"
                    autocomplete="off" readonly="" disabled={isDisableProgramType} />
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                      title="Connected">
                    </lightning-icon>
                  </span>
                </div>
                <div if:true={toggledivForPtype}
                  class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap"
                  onclick={handlePType}>
                  <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:"
                    aria-orientation="horizontal">
                    <template for:each={getpillvalueForPType} for:item="pills">
                      <li class="slds-listbox-item slds-truncate" style="width:96%;" role="presentation"
                        key={pills.value} title={pills.value} if:true={pillSingleValueCondition}>
                        <lightning-pill label={pills.value} onremove={handleRemove}></lightning-pill>
                      </li>
                    </template>
                    <li class="slds-listbox-item slds-truncate" style="width:96%;" role="presentation"
                      key={pillSingleValueForPtype} title={pillSingleValueForPtype} if:false={pillSingleValueCondition}>
                      <lightning-pill label={pillSingleValueForPtype} onremove={handleRemove}>
                      </lightning-pill>
                      <span if:true={showHideDivForPlacementCount} class="conference-usernumber">
                        +{pillSingleValueForPtypeCount}</span>
                    </li>
                  </ul>
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                      title="Connected">
                    </lightning-icon>
                  </span>
                </div>

                <section aria-describedby="dialog-body-id-26" aria-label="Language Options" class={tabClassForPType}
                  id="popover-unique-id-02" role="dialog" onmouseleave={handleMouseOutButton}
                  style="position: absolute;top:33px;">
                  <div class="slds-popover__body slds-popover__body_small slds-popover_fluid" id="dialog-body-id-26">
                    <fieldset class="slds-form-element">
                      <div class="slds-form-element__control">
                        <template for:each={dropdownReferenceValue} for:item="PType">
                          <div class="slds-checkbox" key={PType.Id}>
                            <input data-id="checkbox" type="checkbox" name="options" id={PType.Id} value={PType.value}
                              onclick={handleclickofPTypeCheckBox} />
                            <label class="slds-checkbox__label" for={PType.Id}>
                              <span class="slds-checkbox_faux"></span>
                              <span class="slds-form-element__label">{PType.value}</span>
                            </label>
                          </div>
                        </template>
                      </div>
                    </fieldset>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-20">
        <div class="right_scrollBar">
          <template if:false={pillSingleValueCondition}>
            <lightning-datatable key-field="id" data={getpillvalueForPType} hide-checkbox-column
              onrowaction={handleRowAction} columns={columns} class="general-tbl btn-nobdr table-test">
            </lightning-datatable>
          </template>

          <template if:true={pillSingleValueCondition}>
            <div class="text-center slds-p-vertical--xx-large">
              <img class="icon-attachment" src={attachmentIcon} style="width: 89px;" />
              <p class="font-bold padtop10">Add Placement Structure Here</p>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <footer class="slds-modal__footer">
    <lightning-button variant="neutral" label="Cancel" onclick={handleClick} class="btn btn-sec mr-10">
    </lightning-button>
    <lightning-button variant="brand" label="Save" class="btn btn-pri" onclick={handleSave}></lightning-button>
  </footer>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>