.left-col-info {
    width: calc(72% - 14px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 15px #45414E14;
    padding: 10px 12px;
    height: calc(100vh - 228px);
    overflow: auto;
    margin-right: 14px;
}

.right-col-info {
    width: 28%;
    height: calc(100vh - 228px);
    border: 1px solid #EBEBEB;
    overflow: hidden;
    border: #eaeaea 1px solid;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    position: relative;
    overflow-x: hidden;
}
.basicinfo_fieldset  fieldset {
    display: block;
    padding: 10px 0px 10px 10px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    margin-bottom: 10px;
}

.sec-title {
    text-transform: uppercase;
}

.right_scrollBar{ max-height:calc(100vh - 398px); overflow-y: auto;}