<template>
    <div class="attachmentDocument-screen">
    <c-common-documents document-id-for-attachment={applicationID} sobject-type={sobjectNameToFetch} get-user-profile-name={getUserProfileName}>
    </c-common-documents>
    </div>
</template>