<template>
  <h2 class="sub-title">
    <a onclick={RedirecttoInvestigationDashboard}>Cap Notifications</a>
    <span style="padding: 0px 15px;">&gt;</span> {capDetails.CapNumber}
  </h2>
  <lightning-card class="cap-notification">
    <div class="in-content">
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-large-size_1-of-1">
          <div class="slds-grid slds-wrap">
            <div class="slds-col slds-col--padded slds-size_4-of-12 slds-medium-size--1-of-2 slds-large-size_4-of-12">
              <div class="boxbdr-wrap">
                <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                  <img class="imgAlign" src={helpIcon} /> <br />
                  <span class="fontMedium clrhead">License Information</span>
                </div>
                <div class="slds-clearfix">
                  <div class="slds-float_left wid75">
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>CAP Number</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.CapNumber}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>License Number</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.LicenseNumber}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Coordinator Name</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.CoordinatorName}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Coordinator Email</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.CoordinatorEmail}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Coordinator Number</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.CoordinatorPhone}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slds-col slds-col--padded slds-size_4-of-12 slds-medium-size--1-of-2 slds-large-size_4-of-12">
              <div class="boxbdr-wrap">
                <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                  <img class="imgAlign" src={privateIcon} /> <br />
                  <span class="fontMedium clrhead">Program Information</span>
                </div>
                <div class="slds-clearfix">
                  <div class="slds-float_left wid75">
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Program Name</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ProgramName}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Program Admin</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ProgramAdmin}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Program Address</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ProgramAddress}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Program Email</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ProgramEmail}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Program Number</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ProgramPhone}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slds-col slds-col--padded slds-size_4-of-12 slds-medium-size--1-of-2 slds-large-size_4-of-12">
              <div class="boxbdr-wrap">
                <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                  <img class="imgAlign" src={helpIcon} /> <br />
                  <span class="fontMedium clrhead">Deficiency/Violation Information</span>
                </div>
                <div class="slds-clearfix">
                  <div class="slds-float_left wid75">
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Deficiency/Violation</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.Deficiency}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Citation</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.Citation}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Frequency Of Deficiency</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.FrequencyofDeficiency}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Impact Of Deficiency</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ImpactofDeficiency}</span>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div class="slds-col slds-size_1-of-2">
                        <span>Scope Of Deficiency</span>
                      </div>
                      <div class="slds-col slds-size_1-of-2">
                        <span class="lightGrey">{capDetails.ScopeofDeficiency}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-col slds-large-size_1-of-1">
          <div class="slds-grid slds-wrap">
            <div class="accord-box">
              <div class="slds-clearfix">
                <div class="slds-float_left">
                  INVESTIGATION DOCUMENTS
                </div>
                <div class="slds-float_right">
                  <lightning-button variant="neutral" class="chevron accord-arrow-right" icon-name="utility:down"
                    onclick={handleComplaintDocuments}>
                  </lightning-button>
                </div>
              </div>
              <div class="slds-clearfix">
                <template if:true={complaintDocumentShowHide}>
                  <template if:false={noRecordDisplay}>
                    <div class="slds-grid slds-wrap">
                      <template for:each={dataStr} for:item="att">
                        <div data-id={att.id} key={att.Id}
                          class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                          <div class="file-attached">
                            <div class="card-header">
                              <div style="display: inline-block;">
                                <span style="float: left;">
                                  <!--<lightning-icon icon-name={doctype} alternative-text="Doc image"></lightning-icon> </lightning-icon>-->
                                  <c-referral-attachments-icon document-type={att.FileType}>
                                  </c-referral-attachments-icon>
                                </span>
                                <span style="float: left;padding-left: 10px;">
                                  <p class="fw-500">{att.Title}</p>
                                  <p> {att.DocumentSize__c} </p>
                                </span>
                              </div>
                            </div>
                            <div class="card-body">
                              <table>
                                <tr>
                                  <td class="vtop widtd">Complaint Number</td>
                                  <td class="vtop">:</td>
                                  <td class="fw-500 vtop">{capDetails.ComplaintNumber}</td>
                                </tr>
                                <tr>
                                  <td class="vtop">Complaint Date</td>
                                  <td class="vtop">:</td>
                                  <td class="fw-500 vtop">
                                    <lightning-formatted-date-time year="numeric" month="numeric" day="numeric"
                                      hour="2-digit" minute="2-digit" hour12="true" value={capDetails.ComplaintDate}>
                                    </lightning-formatted-date-time>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="vtop">CWHealth</td>
                                  <td class="vtop">:</td>
                                  <td class="fw-500 vtop">
                                    <div class="text-overflowHiddencw">{att.CWHealth__c}</div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="vtop">Uploaded By</td>
                                  <td class="vtop">:</td>
                                  <td class="fw-500 vtop">{att.CreatedBy.Name}</td>
                                </tr>
                                <tr>
                                  <td class="vtop">Uploaded Date</td>
                                  <td class="vtop">:</td>
                                  <td class="fw-500 vtop">
                                    <lightning-formatted-date-time year="numeric" month="numeric" day="numeric"
                                      hour="2-digit" minute="2-digit" hour12="true" value={att.CreatedDate}>
                                    </lightning-formatted-date-time>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="vertical-align:top;">Description</td>
                                  <td align="left" style="vertical-align:top;">:</td>
                                  <td align="left" style="vertical-align:top;">
                                    <div class="text-overflowHidden fw-500"> {att.Description}</div>
                                  </td>
                                </tr>
                              </table>
                            </div>
                            <div class="card-footer">
                              <a href="javascript:void(0)" id={att.ContentDocumentId} data-id={att.ContentDocumentId}
                                onclick={viewFile} class="slds-p-top_x-small">View</a>
                              <div class="btnSec f-right slds-float_right">
                                <a href="javascript:void(0)" id={att.ContentDocumentId} data-id={att.ContentDocumentId}
                                  onclick={downloadFile} class="slds-m-right_xx-small ">
                                  <lightning-button-icon icon-name="utility:download" size="x-large"
                                    alternative-text="Download"></lightning-button-icon>
                                </a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                  </template>
                  <template if:true={noRecordDisplay}>
                      <div class="text-center file-upload slds-p-vertical--xx-large norecord">
                          <img class="icon-attachment" src={InvestigationFindingsIcon}/>
                          <p class="font-bold padtop10">No Documents Found</p>
                      </div>
                  </template>
                </template>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-col slds-large-size_1-of-1">
          <div class="slds-grid slds-wrap">
            <div class="slds-col complaint slds-size_1-of-1">
              <fieldset>
                <legend class="sec-title">CASEWORKER RESPONSE</legend>
                <div class="slds-clearfix">
                  <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                      <lightning-input name="Findings" value={capDetails.Findings} label="Findings" disabled>
                      </lightning-input>
                      <img class="descriptionIcon" src={descriptionIcon} />
                    </div>
                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                      <lightning-input name="Comments" value={capDetails.Comments} label="Comments" disabled>
                      </lightning-input>
                      <img class="descriptionIcon" src={descriptionIcon} />
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend class="sec-title">SUPERVISOR RESPONSE</legend>
                <div class="slds-clearfix">
                  <div class="slds-col slds-col--padded slds-size_3-of-12">
                    <lightning-input name="PlanofCorrection" value={SuperVisorResponse}
                      label="Plan of Correction" disabled>
                    </lightning-input>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend class="sec-title">PROVIDER DECISION</legend>
                <div class="slds-clearfix">
                  <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_3-of-12 slds-col--padded">
                      <lightning-combobox name="ProviderDecisionStatus" value={providerStatus} label="Status"
                        options={ProviderDecisionStatusOptions} onchange={handleChange} required disabled={DisableStatusAndComments}>
                      </lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_9-of-12 slds-col--padded complaintsInvestigation">
                      <lightning-textarea name="ProviderDecisionComments" value={providerComments} label="Comments"
                        onchange={handleChange} disabled={DisableStatusAndComments}>
                      </lightning-textarea>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 decision-form complaints">
                <!-- <lightning-button label={SignatureLabel} class="btn btn-link fontweight" onclick={signatureOpenModal}
                    style="position: absolute; bottom:3px" disabled={DisableStatusAndComments}></lightning-button> -->
                    <div class="slds-col slds-size_1-of-1  slds-m-top_small" if:false={addsign}>
                      <lightning-button label="Add Signature" class="btn btn-link" disabled={DisableStatusAndComments}
                          onclick={signatureOpenModal}></lightning-button>
                  </div>
                  <div class="slds-col slds-col--padded slds-size_1-of-1 slds-m-top_small decision-form complaints" if:true={addsign}>
                      <label class="btn btn-link"><div class="slds-button slds-button_neutral">Signature Added</div></label>
                      <a class="slds-icon-utility-edit" onclick={signatureOpenModal}> <span
                          class="slds-icon_container slds-icon-utility-edit slds-input__icon slds-input__icon_right complaint-edit-decision">
                          <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" class="editIcon-pos"></lightning-icon>
                      </span></a>
                  </div>
            </div>
            </div>
            <div class="slds-col slds-size_1-of-1 mt-20">
              <div class="slds-modal__footer">
                <lightning-button label="Save As Draft" class="btn btn-pri slds-m-left_x-small"
                  onclick={handleSaveAsDraft} disabled={DisableStatusAndComments}>
                </lightning-button>
                <lightning-button label="Submit" onclick={handleSubmit} class="btn btn-pri slds-m-left_x-small" disabled={DisableStatusAndComments}>
                </lightning-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </lightning-card>
  <!-- Signature Modal Popup Start -->
  <template if:true={SignatureModalShow}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <!-- modal header start -->
            <header class="slds-modal__header">
                <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Add Signature
                </h2>
                <button class="close-button" title="Close" onclick={signatureCloseModal}>
                </button>
            </header>
            <!-- modal body start -->
            <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                <div class=" slds-size_1-of-1 " if:false={SignatureShowHide}>
                    <canvas name="canvasItem" class="sign-box" width="600" height="320"></canvas>
                </div>
                <div class=" slds-size_1-of-1 " if:true={SignatureShowHide}>
                    <img src={SignatureValidationView}>
                </div>

                <div class="upload-wrapper">
                    <div class="slds-float_left dropzone">
                        <span class="writeText">Write your signature above or</span>
                        <lightning-input data-id="fuploader" class="file-upload dropsVgNone dis-inb"
                            onchange={handleFilesChange} type="file" name="file" label="" variant="label-hidden">
                        </lightning-input>
                    </div>
                    <div class="slds-float_right">
                        <button onclick={handleClearClick} class="refresh-btn">Refresh <img
                                src={refreshIcon} /></button>
                    </div>

                </div>

            </div>
            <!-- modal footer start-->
            <footer class="slds-modal__footer">

                <lightning-button class="btn btn-sec" label="Cancel" title="Cancel" onclick={signatureCloseModal}>
                </lightning-button>
                <lightning-button variant="brand" label="Save" title="Save" onclick={handleSaveClick}
                    class="slds-m-left_x-small"></lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>
<!-- Signature Modal Popup End -->
</template>