.boxbdr-wrap {
    background: #FEFEFE;
    border: 1px solid #EBEBEB;
    padding: 20px;
    /* height:300px; */
    min-height: 300px;
    margin-bottom: 5px;
}

.cap-notification {
    height: calc(100vh - 186px);
    margin: 10px;
    display: inline-block;
}

.wid75 {
    width: 85%;
    line-height: 29px;
    margin-top: 20px;
}

.fontMedium {
    font-weight: 500;
}

.clrhead {
    color: #061C40
}

.lightGrey {
    color: #959DA5;
}

.imgAlign {
    margin-bottom: 10px;
    width: 39px;
}

.accord-box {
    background: #FCFCFC;
    border: 1px solid #EBEBEB;
    padding: 15px;
    margin: 15px;
    width: 100%;
}

.accord-arrow-right {
    width: 100px;
    float: right;
}


.complaint fieldset {
    display: block;
    padding: 10px 0px 10px 10px;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    border-radius: 3px;
}

.in-content {
    width: 100%;
    height: calc(100vh - 215px);
    overflow: hidden;
    overflow-y: auto;
}

.descriptionIcon {
    width: 15px;
    right: 15px;
    position: relative;
    top: -26px;
    float: right;
}

.editIcon-pos {
    position: relative;
    right: 25px;
    top: 0px;
}

.decision-form.complaints .btn-link .slds-button {
    color: #061C40 !important;
}