<template>
  <template if:false={showDashboard}>
    <c-complaints-dashboard onredirecttocomplaintstabset={redirectComplaintsTabset}
      onredirecttoproviderpublictabs={redirecttoProviderPublictabs}
      onredirecttoproviderprivatetabs={redirecttoProviderPrivatetabs}></c-complaints-dashboard>
  </template>
  <template if:true={monitoringTabs}>
    <c-complaints-monitoring-tabs onredirecteditmonitering={backtomonitoringAdd}></c-complaints-monitoring-tabs>
  </template>
  <template if:true={showComplaintsTabsetCmps}>
    <c-complaints-all-header-button case-number={caseNumber}
      onredirecttocompliantdashboard={redirectToComplaintDashboard} onshowbuttoncontactmodel={buttonContactButton}
      onshowbuttondeficiencyviolation={buttondeficiencyviolations}
      show-add-deficiency-violations={showAddDeficiencyViolations} show-hide-add-contact={showHideAddContact}
      deficiency-btn-disable={deficiencyAddBtndisable}>
    </c-complaints-all-header-button>
    <div class="public-margintop10">
      <div class="innerParent-Tab innerPage-main applicationTabset">
        <lightning-tabset active-tab-value={activeTab}>
          <lightning-tab label="COMPLAINT REFERRAL" value="complaintreferral" onactive={handleActiveTabButtons}>
            <c-complaints-referral oncasenumbersetinheader={caseNumberSet}
              onredirecttocomplaintsrefdashboard={redirctToComRefDashboard}></c-complaints-referral>
          </lightning-tab>

          <lightning-tab label="NARRATIVE" onactive={handleActiveTabButtons}>
            <c-complaints-narrative></c-complaints-narrative>
          </lightning-tab>
          <template if:true={showComplaintsTabsCaseSupervisor}>
            <lightning-tab label="CONTACTS" value="contacts" onactive={handleActiveTabButtons}>
              <c-complaints-contacts show-button-contacts={showButtonForContacts}
                oncontactstogglecomponents={handleToggleComponentsForContacts}></c-complaints-contacts>
            </lightning-tab>

            <lightning-tab label="COMPLAINT REVIEW" onactive={handleActiveTabButtons}>
              <c-complaints-review></c-complaints-review>
            </lightning-tab>

            <lightning-tab label="MONITOR ACTIVITY" value="monitor" onactive={handleActiveTabButtons}>
              <c-complaints-monitoring-add onmonitoringdecisonflag={handleMonitoringAddedFlag}
                onredirecteditmonitering={redirecttoMonitoringtabs}>
              </c-complaints-monitoring-add>
            </lightning-tab>

            <lightning-tab label="DEFICIENCY/VIOLATION" value="deficiencyviolation" onactive={handleActiveTabButtons}>
              <c-complaints-deficiency-violations show-button-deficiency={showButtonForDeficiency}
                ondeficiencytogglecomponents={handleToggleComponentsForDeficiency}
                ondeficiencydispatchdata={handledeficiencyDispatchData} ondeficiencybtndisable={handleDisable}>
              </c-complaints-deficiency-violations>
            </lightning-tab>

            <lightning-tab label="SUMMARY" onactive={handleActiveTabButtons}>
              <c-complaints-summary></c-complaints-summary>
            </lightning-tab>

            <lightning-tab label="OUTCOMES" onactive={handleActiveTabButtons}>
              <c-complaints-outcomes></c-complaints-outcomes>
            </lightning-tab>

            <lightning-tab label="DOCUMENTS" onactive={handleActiveTabButtons}>
              <c-complaints-document></c-complaints-document>
            </lightning-tab>
            <template if:true={SanctionTabShowHide}>
              <lightning-tab label="SANCTIONS" value="complaintsanction" onactive={handleActiveTabButtons}>
                <c-complaints-supervisor-sanctions onredirecttosanctiontype={handleRedirectionSanction}
                  onsanctionflag={handleSanctionAddedFlag}>
                </c-complaints-supervisor-sanctions>
              </lightning-tab>
            </template>
          </template>
          <lightning-tab label="DECISION" onactive={handleActiveTabButtons}>
            <c-complaints-decision send-monitoring-flag={sendMonitoringFlag} sanction-flag={sanctionFlag}>
            </c-complaints-decision>
          </lightning-tab>
        </lightning-tabset>
      </div>
    </div>
  </template>

  <template if:true={showPublicPrivatetabsforProvider}>
    <c-public-provider-all-tab-cmbs show-private-providers-tab-set={showPrivateProvidersTabSet}
      show-public-applications={showPublicApplications} show-providers-dashoard={showProvidersDashoard}
      provider-name={providerName} show-provider-info={showProviderInfo}></c-public-provider-all-tab-cmbs>
  </template>

  <template if:true={showSanctionType}>
    <c-complaint-sanction-tabs sanction-page-type={sanctionDetail}
      onredirecttocomplaintsanctiontab={handleComplaintSanction}
      onredirecttocomplaintdashboard={handleComplaintDashboardTab} selected-sanction-id={selectedSanctionId}
      sanction-action-name={sanctionActionName} sanction-name={sanctionName}></c-complaint-sanction-tabs>
  </template>
</template>