.dashboard-search {
    display: inline-block;
  }
  
  .dashboard-btn {
         display: inline-block;
  }
  .fontbold{font-weight: 600;}

  .referal-headbottom{ 
    padding: 0px 15px 4px;
    width: 100%;
    background: rgb(251, 251, 251);
    box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
    text-transform: uppercase;
}

.application-box{
    /* width:22%; */
     padding-right:10px;
    }
    
    .application-box .slds-card {
      transition: transform .1s; cursor: pointer; }
    
      .application-box .slds-card::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .2);
        content: '';
        opacity: 0;
        z-index: -1;
      }
    
      .application-box .slds-card:hover
      { 
        transform: scale3d(1,1,1); }
    
        .application-box .slds-card::after {
          opacity: 1;
        }

        .cardtraining-cls {
            border:1px solid #0A69B9 !important;
          } 
          
          .cardinstructor-cls {
            border:1px solid #0A69B9 !important;
          }