<template>

  <div class="referal-headbottom">
    <div class="slds-clearfix">
      <div class="slds-float_left">
        <h2 class="mt-10 fontbold">Training</h2>
      </div>
      <div class="slds-float_right">
        <div class="dashboard-btn btnSec">
          <lightning-button  label="Add Instructor" name="Add Instructor"
          disabled={addInstructorButtonDisbled} onclick={handleBtnRedirect} class="btn btn-pri mr-10">
        </lightning-button>

          <lightning-button label="Add Training" name="Add Training" onclick={handleBtnRedirect}
            class="btn btn-pri mr-10" disabled={addTraingButtonDisbled}></lightning-button>
        </div>
        <div class="dashboard-search">
          <lightning-input name="enter-search" placeholder="Search By Training No.." type="search"
            variant="label-hidden" value={searchString} onchange={handleSearch}>
          </lightning-input>
        </div>
      </div>
    </div>
  </div>


  <div class="slds-grid slds-wrap ref-summary">
    <div class=" slds-col slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box Padleftnone">
      <div class="slds-card cardtraining cardtraining-cls" onclick={handleStatusCard} data-title={instructor} id={totalTraining}>
        <div class="slds-card__header slds-grid">
          <div class="slds-grid slds-gutters">
            <div class="slds-col">
              <p class="title">{instructor}</p>
              <p class="value"> {_totalInstructorDataLength}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-5 slds-large-size_1-of-6 application-box Padleftnone">
      <div class="slds-card cardinstructor" onclick={handleStatusCard} data-title={totalTraining} data-id={instructor}>
        <div class="slds-card__header slds-grid">
          <div class="slds-grid slds-gutters">
            <div class="slds-col">
              <p class="title">{totalTraining}</p>
              <p class="value"> {_totalTrainingDataLength}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <template if:true={trainingDatatable}>
    <c-public-provider-training-datatable option={options} oneditclicked={handleEditBtn} onviewclicked={handleViewBtn}
      table-data={totalTrainingData} onrowclickedid={getRowIdFromDatatable}>
    </c-public-provider-training-datatable>
  </template>


  <!-- <template if:true={addInstructorModalVisible}> -->
  <c-public-provider-add-instructor ontoggleinstructor={handleInstructorModal} table-data={getInstructorDatatable}
    modal-visible={getModalVisible} edit-modal-visible={editInstructorModal}>
  </c-public-provider-add-instructor>
  <!-- </template> -->


  <template if:true={spinner}>Loading....</template>
</template>