<template>
  <template if:true={privateReferralDataShow}>
    <div class="slds-grid slds-wrap ref-summary">
      <div for:each={byTypes} for:item="byType" key={byType.Id}
        class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 card-box">
        <div class="slds-card">
          <div class="slds-card__header slds-grid" data-id={byType.Id} onclick={handleByStatus}>
            <div id={byType.id} class="slds-grid slds-gutters">
              <div class="slds-col" id={byType.id}>
                <p id={byType.id} class="title">{byType.title}</p>
                <p id={byType.id} class="value">{byType.count}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <template if:true={showPublicPrivateBtn}>
    <div class="btn-publicProvider">
      <!-- <button name="Public" title="Non-primary action" type="button" disabled onclick={handleClick} class="slds-button slds-button_neutral">Public</button>
      <button name="Private" title="Non-primary action" type="button" class="slds-button slds-button_neutral" onclick={handleClick}>Private</button> -->
      <!-- <lightning-button label="Public" title="Non-primary action" name="Public" disabled={showPublicBtn}
        onclick={handleClick} class="margin5px"></lightning-button>
      <lightning-button label="Private" title="Non-primary action" name="Private" disabled={showPrivateBtn}
        onclick={handleClick}></lightning-button> -->
        <span class="btn1">
        <button name="Public" title="Non-primary action" type="button" disabled={showPublicBtn} onclick={handleClick}
          class="slds-button slds-button_neutral">Public</button></span>
          <span class="btn2 active">
        <button name="Private" title="Non-primary action" type="button" class="slds-button slds-button_neutral" disabled={showPrivateBtn}
          onclick={handleClick}>Private</button></span>
    </div>
  </template>

  <template if:true={privateReferralDataShow}>
    <div class="newReferal-table" if:false={supervisorFlow}>
      <lightning-datatable class="custom-tbl" key-field="id" data={currentPageRecords} columns={columns}
        hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
        sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
      </lightning-datatable>
      <div class="pagePosition">
        <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
          onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
      </div>
    </div>
  </template>

  <template if:true={privateReferralDataShow}>
    <div class="newReferal-table aligntable" if:true={supervisorFlow}>
      <lightning-datatable class="custom-tbl-supr" key-field="id" data={currentPageRecords} columns={columns}
        hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
        sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
      </lightning-datatable>
      <div class="pageSupPosition">
        <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
          onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
      </div>
    </div>
  </template>
  <template if:true={publicReferralDataShow}>
    <c-public-provider-all-tab-set-cmps child-redirect-to-public-provider={redirectToPublicProvider}>
    </c-public-provider-all-tab-set-cmps>
  </template>
</template>