<template>
  <div if:false={Spinner} class="referral-parent">
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-large-size_1-of-2">
        <div class="application_fieldset">
          <fieldset>
            <legend class="sec-title" style="padding:0px 5px 0 0">
              BASIC DETAILS
            </legend>

            <div class="slds-grid slds-wrap grid-coltop10">
              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <lightning-input name="ProviderType" label="Provider Type" disabled placeholder="Private">
                </lightning-input>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <lightning-input label="Parent Corporation" type="text" maxlength="80" value={ParentCorporation}
                  name="ParentCorporation" placeholder="Enter Parent Corporation" disabled={freezeReferralScreen}>
                </lightning-input>
              </div>
              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <lightning-combobox name="Program" label="Program" id="Program" placeholder="Select Program"
                  value={Program} class="inputRequired mandateProgram" required options={programOptions}
                  onchange={programOnChange} disabled={freezeReferralScreen}></lightning-combobox>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="Corporation" type="text" maxlength="80" value={Corporation} name="Corporation"
                  placeholder="Enter Corporation" disabled={freezeReferralScreen}>
                </lightning-input>
              </div>
              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <label class="slds-form-element__label inputRequired3" for="combobox-id-47"><abbr title="required"
                    class="slds-required">*</abbr>Program
                  Type</label>
                <div class="slds-form-element__control" onmouseleave={handleMouseOutButton}>
                  <div class="slds-combobox_container">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                      aria-expanded="true" aria-haspopup="dialog" role="combobox">
                      <div if:false={toggledivForPtype}
                        class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none"
                        onclick={handlePType}>
                        <input type="text" required class="slds-input slds-combobox__input" id="combobox-id-47"
                          aria-controls="popover-unique-id-02" role="textbox" placeholder="Select Program Type"
                          readonly="" disabled={isDisableProgramType} />
                        <span
                          class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                          <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                            title="Connected">
                          </lightning-icon>
                        </span>
                      </div>
                      <div if:true={toggledivForPtype}
                        class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap"
                        onclick={handlePType}>
                        <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:"
                          aria-orientation="horizontal">
                          <template for:each={pillvalueForPType} for:item="pills">
                            <li class="slds-listbox-item slds-truncate" role="presentation" key={pills.value}
                              style="width:280px;" title={pills.value}>
                              <lightning-pill label={pills.value} onremove={handleRemove}
                                disabled={isDisableProgramType}></lightning-pill>
                            </li>
                          </template>
                        </ul>
                        <span
                          class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                          <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                            title="Connected">
                          </lightning-icon>
                        </span>
                      </div>
                      <section aria-describedby="dialog-body-id-26" aria-label="Language Options"
                        class={tabClassForPType} id="popover-unique-id-02" role="dialog"
                        onmouseleave={handleMouseOutButton}>
                        <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                          id="dialog-body-id-26">
                          <fieldset class="slds-form-element">
                            <div class="slds-form-element__control">
                              <template for:each={programTypeOptionsForDisplay} for:item="PType">
                                <div class="slds-checkbox" key={PType.value}>
                                  <input data-id="checkbox" type="checkbox" name="options" id={PType.value}
                                    value={PType.value} onclick={handleclickofPTypeCheckBox}
                                    disabled={isDisableProgramType} />
                                  <label class="slds-checkbox__label" for={PType.value}>
                                    <span class="slds-checkbox_faux"></span>
                                    <span class="slds-form-element__label">{PType.label}</span>
                                  </label>
                                </div>
                              </template>
                            </div>
                          </fieldset>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                <lightning-input label="Tax Id" id="TaxId" class="inputRequired2 mandateTaxID" required value={TaxId}
                  maxlength="11" name="TaxId" placeholder="Enter Tax Id" onchange={handleTaxChange}
                  disabled={freezeReferralScreen}>
                </lightning-input>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="slds-grid slds-wrap slds-p-top_medium">
          <div class="slds-size--1-of-1 slds-p-top_x-small">
            <div class="application_fieldset otherDetails">
              <fieldset>
                <legend class="sec-title" style="padding:0px 5px 0 0">
                  OTHER DETAILS
                </legend>
                <div class="slds-grid slds-wrap slds-p-vertical_x-small">
                  <div class="slds-size--1-of-2 slds-p-top_medium">
                    <p><img src={iconSON} class="icon" /> Is there a Statement of Need (SON) </p>
                  </div>
                  <div class="slds-size--1-of-2">
                    <div class="monitorRadioGroup">
                      <div class="monitorRadioPosition">

                        <lightning-radio-group name="SON" class="radio-horizontal" options={SON}
                          onchange={handleChangeRadioButton} value={SONValue} type="button"
                          disabled={freezeReferralScreen}></lightning-radio-group>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="slds-grid slds-wrap slds-p-vertical_x-small">
                  <div class="slds-size--1-of-2 slds-p-top_medium">
                    <p><img src={iconRFP} class="icon" /> Is there a Request for Proposal (RFP) </p>
                  </div>
                  <div class="slds-size--1-of-2">
                    <div class="monitorRadioGroup">
                      <div class="monitorRadioPosition">
                        <lightning-radio-group name="proposal" class="radio-horizontal" options={RFP}
                          onchange={handleChangeRadioButton} value={proposal} type="button"
                          disabled={freezeReferralScreen}></lightning-radio-group>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="slds-grid slds-wrap slds-p-vertical_x-small">
                  <div class="slds-size--1-of-2 slds-p-top_medium">
                    <p><img src={iconTAX} class="icon" /> Does the Provider have a FEIN / Tax ID </p>
                  </div>
                  <div class="slds-size--1-of-2">
                    <div class="monitorRadioGroup">
                      <div class="monitorRadioPosition">
                        <lightning-radio-group name="FEIN" class="radio-horizontal" options={FEIN}
                          onchange={handleChangeRadioButton} value={FEINValue} type="button"
                          disabled={freezeReferralScreen}></lightning-radio-group>
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>
            </div>

          </div>
        </div>
      </div>
      <div class="slds-col slds-large-size_1-of-2 slds-col--padded slds-p-right_none">

        <div class="application_fieldset">
          <fieldset>
            <legend class="sec-title">
              PERSONAL DETAILS
            </legend>
            <div class="slds-grid slds-wrap">
              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input type="text" label="Provider Name" id="ProviderName"
                  class="inputRequired3 mandateProviderName" placeholder="Enter Provider Name" maxlength="80" required
                  name="Name" value={Name} disabled={freezeReferralScreen}>
                </lightning-input>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <!-- need change -->
                <lightning-input label="Address Line 1" maxlength="80" required class="inputRequired4 mandateAddress1"
                  type="text" name="strStreetAddress" id="AddressLineOne" value={strStreetAddress}
                  onchange={getStreetAddress} placeholder="Enter Address" disabled={freezeReferralScreen}>
                </lightning-input>

                <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" style="width:305px;left:1185px;"
                  class={tabClass} role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                    role="presentation">
                    <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                      <li key={item.id} role="presentation" class="slds-listbox__item">
                        <div data-id={item.place_id} data-description={item.description}
                          class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                          role="option" onclick={selectStreetAddress}>
                          {item.description}
                        </div>
                      </li>
                    </template>
                  </ul>
                </div>
              </div>
              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="slds-grid slds-wrap slds-grid--pull-padded slds-p-left_none">
                  <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                    <lightning-input type="text" label="First Name" maxlength="80" placeholder="First Name"
                      value={FirstName} name="FirstName" disabled={freezeReferralScreen} required> 
                    </lightning-input>
                  </div>
                  <div class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                    <lightning-input type="text" label="Last Name" maxlength="80" placeholder="Last Name"
                      name="LastName" value={LastName} disabled={freezeReferralScreen} required>
                    </lightning-input>
                  </div>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="Address Line 2" maxlength="80" type="text" value={ShippingStreet}
                  name="ShippingStreet" placeholder="Enter Address" onchange={addressOnChange}
                  disabled={freezeReferralScreen}>
                </lightning-input>
              </div>

              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="Email" required id="Email" maxlength="80" class="inputRequired5 mandateEmail"
                  type="email" value={Email} name="Email" placeholder="Enter Email" disabled={freezeReferralScreen}>
                </lightning-input>
              </div>

              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="State" name="State" type="search" class="dummyState" placeholder="Enter State"
                  aria-autocomplete="false" value={selectedState} onchange={stateOnChange} required
                  disabled={freezeReferralScreen}>
                </lightning-input>
                <div if:true={showStateBox} id="listbox-id-16" class="slds-dropdown_length-with-icon-7 popup-dropbox"
                  style="width: 305px;" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                    role="presentation">
                    <template for:each={filteredStateArr} for:item="item">
                      <li key={item.id} role="presentation" class="slds-listbox__item">
                        <div data-id={item.Id} data-value={item.Value}
                          class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                          role="option" onclick={setSelectedState}>
                          {item.Value}
                        </div>
                      </li>
                    </template>
                  </ul>
                </div>
              </div>
              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="Phone Number" maxlength="14" value={Phone} name="PhoneNumber"
                  onchange={handlePhoneChange} placeholder="Enter Phone" disabled={freezeReferralScreen}>
                </lightning-input>
              </div>


              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input name="City" label="City" id="City" placeholder="Enter City" class="dummyCity"
                  onchange={addressOnChange} value={selectedCity} required disabled={freezeReferralScreen}>
                </lightning-input>
              </div>

              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="Mobile Number" maxlength="14" value={MobileNumber} name="MobileNumber"
                  onchange={handleMobileChange} placeholder="Enter Mobile" disabled={freezeReferralScreen}>
                </lightning-input>
              </div>


              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="County" name="County" type="search" class="dummyCounty"
                  placeholder="Enter County" aria-autocomplete="false" value={selectedCounty} onchange={countyOnChange}
                  required disabled={freezeReferralScreen}>
                </lightning-input>
                <div if:true={showCountyBox} id="listbox-id-17" class="popup-dropbox slds-dropdown_length-with-icon-7"
                  style="width: 305px;" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                    role="presentation">
                    <template for:each={filteredCountyArr} for:item="item">
                      <li key={item.label} role="presentation" class="slds-listbox__item">
                        <div data-id={item.label} data-value={item.value}
                          class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                          role="option" onclick={setSelectedCounty}>
                          {item.value}
                        </div>
                      </li>
                    </template>
                  </ul>
                </div>
              </div>

              <div
                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input label="Fax Number" maxlength="14" onchange={handleFaxChange} value={Fax} name="Fax"
                  placeholder="Enter Fax Number" disabled={freezeReferralScreen}>
                </lightning-input>
              </div>


              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <lightning-input name="ZipCode" label="Zip Code" id="ZipCode" placeholder="Enter Zip Code"
                  class="dummyZipCode" maxlength="5" onchange={addressOnChange} value={selectedZipCode} required
                  disabled={freezeReferralScreen}>
                </lightning-input>
              </div>
            </div>


            <div>
              <div class="slds-grid slds-wrap">

                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                  <lightning-combobox name="Accreditation" label="Accreditation" value={Accreditation}
                    placeholder="Select Accreditation" options={accreditationOptions} disabled={freezeReferralScreen}>
                  </lightning-combobox>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                  <div class="mprovider-profit-fieldset">
                    <div class="monitorRadioGroup">
                      <div class="monitorRadioPosition">
                        <lightning-radio-group name="valueProfit" class="radio-horizontal" options={Profit}
                          style="margin-top: 28px;" value={valueProfit} onchange={handleChangeRadioButton} type="button"
                          disabled={freezeReferralScreen}></lightning-radio-group>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>
    <div class="btnSec slds-p-top_small savebtn">
      <lightning-button variant="brand" label="Save" disabled={isSaveBtnDisabled} onclick={saveForm}></lightning-button>
    </div>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>