.radio-horizontal .slds-form-element__control .slds-radio,
.checkbox-horizontal .slds-form-element__control .slds-checkbox{
   display: inline-block;
margin-right: 10px;
}
img.icon{height: 22px; margin-right: 10px;}
.otherDetails .slds-wrap{border-bottom: 1px solid #f2f2f2;}
.otherDetails .slds-wrap:last-child{border-bottom: none;}
.savebtn{ margin-right: 44px; }