<template>

  <div class="slds-grid slds-wrap ref-summary">
    <div class="slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
      <lightning-combobox name="progress" value={decisionStatus.DecisionStatus__c} options={stageNameValues}
        onchange={changeHandler} placeholder='Select Status' disabled={isStatusDisable} label="Status" required>
      </lightning-combobox>
      <lightning-textarea label="Comments" value={decisionStatus.Comments__c} onchange={commentsHandler}
        disabled={commentsDisabled}>
      </lightning-textarea>
    </div>
  </div>
  <br />
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-1 ">
      <div class="btnSec pr-0">
        <lightning-button class="btn btn-sec" onclick={DraftMethod} disabled={isSaveAsDraftDisable}
          label="Save As Draft"></lightning-button>
        <lightning-button label="Submit" class="btn btn-pri slds-m-left_x-small" onclick={saveMethod}
          disabled={isBtnDisable}></lightning-button>
      </div>
    </div>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>