<template>
    <div class="referal-headbottom ">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fw-500"><a href="#" onclick={redirectToIncidentDashboard}>Incident Report</a> <span
                        class="unicode-rightarr">&#62;</span> {caseNumber} </h2>
            </div>
            <div class="slds-float_right sec-btnright">
                <lightning-button if:true={showAddStaffBtn} variant="brand" label="Assign Staff Member" class="mr-10"
                    onclick={redirectToStaffMem}>
                </lightning-button>
                <lightning-button if:true={showStaffDetailsBtn} variant="brand" label="Assign Staff Details"
                    class="mr-10" style="top:2px;" onclick={redirectToStaffDetails} disabled={enableStaffDetails}>
                </lightning-button>
                <lightning-button if:true={showPersonButton} label="Add Person/Kid/child"
                    class="btn btn-pri slds-m-left_x-small" onclick={redirecttoInfoPersonchild}>
                </lightning-button>
                <lightning-button if:true={showWitnessButton} label="ADD WITNESS" variant="brand"
                    class="btn btn-pri slds-m-left_x-small" onclick={redirecttoWitnessButton}>
                </lightning-button>
            </div>
        </div>
    </div>
</template>