.unicode-rightarr {
  padding: 0px 15px;
}
.floatRight {
  float: right;
  text-align: right;
  margin-right: 10px;
}
.referal-headbottom {
  padding: 0px 15px 4px;
  width: 100%;
  background: rgb(251, 251, 251);
  height: 38px;
  box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
  text-transform: uppercase;
}
.mb-10 {
  margin-bottom: 10px;
}
.sec-btnright {
  margin-top: 2px;
}