<template>
    <div class="decision-screen">
        <div class="slds-grid slds-wrap decision_fieldset">
            <div class="slds-col slds-large-size_1-of-1 slds-p-around_small">
                <fieldset>
                    <legend class="sec-title">REVIEW</legend>
                    <div class="slds-grid slds-wrap grid-coltop10">
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                            <lightning-combobox name="Status" value={reviewDetails.ReviewStatus__c}
                                options={statusOptions} onchange={reviewOnChange} label="Select Status" required
                                disabled={isStatusDisable}>
                            </lightning-combobox>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4" if:false={isSuperUserFlow}>
                            <lightning-textarea class="textArea-height" name="Comments" label="Comments(Caseworker)"
                                value={reviewDetails.ReviewComments__c} onchange={reviewOnChange}
                                disabled={isCommentsDisable}>
                            </lightning-textarea>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4" if:true={isSuperUserFlow}>
                            <lightning-textarea class="textArea-height" name="Comments" label="Comments(Supervisor)"
                                value={reviewDetails.SupervisorComments__c} onchange={reviewOnChange}
                                disabled={isCommentsDisable}>
                            </lightning-textarea>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                            <lightning-button label="Add Signature" class="btn btn-link fontweight"
                                style="position: absolute; bottom:3px;" onclick={handleSignatureModel}
                                disabled={isSignatureDisable}></lightning-button>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 text-right"
                            if:false={isSuperUserFlow}>
                            <lightning-button label="ASSIGN FOR TIER APPROVAL" class="btn btn-pri btn-assign-approval"
                                onclick={handleSuperUserModel} disabled={isTierApprovalBtnDisable}>
                            </lightning-button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="slds-grid slds-wrap generalTable" if:true={isSuperUserAssigned}>
            <lightning-datatable key-field="id" data={assignedSuperUserTableData} columns={assignedSuperUserTableHeader}
                hide-checkbox-column="true" default-sort-direction={defaultSortDirection}
                sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort}
                onrowaction={handleRowAction} class="custom-tbl">
            </lightning-datatable>

        </div>
    </div>

    <template if:true={openSuperUserModel}>
        <div style="height: 500px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true"
                aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assign Supervisor</h2>
                        <button class="close-button" title="Close" onclick={superUserCloseModel}>
                        </button>
                    </header>
                    <div class="slds-modal__content " id="modal-content-id-2">
                        <div class="slds-text-heading_small slds-text-align_center">
                            <lightning-datatable key-field="Id" data={superUsersTableData}
                                onrowselection={handleSuperUserRowSelection} columns={superUserTableColumns}
                                max-row-selection="1" selected-rows={selectedRows}>
                            </lightning-datatable>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="ASSIGN" class="btn btn-pri slds-m-left_x-small"
                            onclick={handleAssignMethod} disabled={assignBtnDisable}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={openPreviewModel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true"
                aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assignment/Decision
                        </h2>
                        <button class="close-button" title="Close" onclick={previewCloseModel}>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-3">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-input name="Author" label="Author" value={previewDetails.authorName}
                                            disabled>
                                        </lightning-input>
                                        <lightning-input name="Status" label="Status"
                                            value={previewDetails.assignedStatus} class="mt-10" disabled>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2 ">
                                        <lightning-input name="Date" label="Assigned Date"
                                            value={previewDetails.assignedDate} disabled>
                                        </lightning-input>
                                        <lightning-input name="Comments" label="Comments" disabled
                                            value={previewDetails.comments} class="mt-10">
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-large-size_4-of-12 displayMain">
                                <div class="display-box">
                                    <img src={previewDetails.SignatureValue}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button variant="neutral" label="Done" title="Done" onclick={previewCloseModel}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <div class="slds-grid slds-wrap btn-bottom-pos right20">
        <div class="slds-col slds-size_1-of-1">
            <div class="btnSec slds-p-around_small">
                <lightning-button if:false={isSuperUserFlow} label="SAVE AS DRAFT" class="btn btn-sec" onclick={handleDraftMethod}
                    disabled={isDraftBtnDisable}></lightning-button>
                <lightning-button label="Submit" class="btn btn-pri slds-m-left_x-small" onclick={handleSubmitMethod}
                    disabled={isSubmitBtnDisable}>
                </lightning-button>
            </div>
        </div>
    </div>

    <template if:true={openSignatureModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Add Signature</h2>
                    <button class="close-button" title="Close" onclick={signatureCloseModel}></button>
                </header>
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <div class=" slds-size_1-of-1">
                        <canvas lwc:dom="manual" name="canvasItem" class="sign-box" width="600" height="320"></canvas>

                    </div>
                    <div class="upload-wrapper">
                        <div class="slds-float_left dropzone">
                            <span class="writeText">Write your signature above or</span>
                            <lightning-input data-id="fuploader" class="file-upload dropsVgNone dis-inb"
                                onchange={handleFilesChange} type="file" name="file" label="" variant="label-hidden">
                            </lightning-input>
                        </div>
                        <div class="slds-float_right">
                            <button onclick={handleClearClick} class="refresh-btn">Refresh<img
                                    src={refreshIcon} /></button>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button class="btn btn-sec" label="Cancel" title="Cancel" onclick={signatureCloseModel}>
                    </lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" onclick={handleSaveClick}
                        class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <canvas name="canvasItem1" style="display:none;"></canvas>
</template>