<template>
    <template if:true={generateSanctionModel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container widContainerpop">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                Generate Sanctions</h2>
                            <button class="close-button" title="Close" onclick={closeModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3 boxLink">
                                    <button name="Suspension" class="box-col1" onclick={handleSanctionRedirect}>
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="iconsuspension" src={suspensionIcon} />
                                            <p class="font-bold padtop">Suspension</p>
                                        </div>
                                    </button>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3 boxLink">
                                    <button name="Revocation" class="box-col2"
                                        onclick={handleSanctionRedirect}>
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="iconrevocation" src={revocationIcon} />
                                            <p class="font-bold padtop">Revocation</p>
                                        </div>
                                    </button>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3 boxLink">
                                    <button name="Limitation" onclick={handleSanctionRedirect} class="box-col3">
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="iconlimitation" src={limitationIcon} />
                                            <p class="font-bold padtop-lastCard">Limitation</p>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button label="Cancel" class="btn btn-sec mr10" onclick={closeModel}>
                            </lightning-button>
                            <lightning-button label="Next" class="btn btn-pri slds-m-left_x-small" onclick={handleRedirection} disabled={isDisableNextBtn}>
                            </lightning-button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>