.dashboard-search {
    display: inline-block;
}

.dashboard-btn {
    display: inline-block;
}

.fontbold {
    font-weight: 600;
}

.referal-headbottom {
    padding: 0px 15px 4px;
    width: 100%;
    background: rgb(251, 251, 251);
    box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
    text-transform: uppercase;
}

.card-box {
    /* width: 25%; */
    padding-right: 10px;
}

.pending-cls {
    border: 1px solid #fda409 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.approved-cls {
    border: 1px solid #1AC424 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.rejected-cls {
    border: 1px solid #fe6969 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.total-cls {
    border: 1px solid #4e8bf6 !important;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.card-box .slds-card {
    transition: transform 0.1s;
    cursor: pointer;
}

.card-box .slds-card::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    z-index: -1;
}

.card-box .slds-card:hover {
    transform: scale3d(1, 1, 1);
}

.card-box .slds-card::after {
    opacity: 1;
}

.aligntable {
    margin-top: 32px;
}


.btn-referal-position {
    position: relative;
    margin-top: -30px;
    float: right;
    right: 15px;
    width: 15%;
}

.box-col1,
.box-col2,
.box-col3 {
    border: 1px solid #EBEBEB !important;
    display: block;
    border-radius: 3px;
    width: 100%;
    background-color: #fff !important;
    outline: none;
    color: #959DA5;
}


.box-col1 .slds-p-vertical--xx-large,
.box-col2 .slds-p-vertical--xx-large,
.box-col3 .slds-p-vertical--xx-large {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bluebdr {
    border: 1px solid #0A69B9 !important;
    border-radius: 3px;
    color: #061C40;
    display: block;
    width: 100%;
    background-color: #fff !important;
    outline: none;

}

.plus-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.widContainerpop {
    width: 60%
}

.padtop {
    margin-top: 50px;
}

.padtop-lastCard {
    margin-top: 50px;
}

.iconlimitation {
    height: 88px;
}

.boxLink a {
    text-decoration: none;
}