<template>
    <div class="slds-grid slds-wrap parentpopup-tab">
        <div class="slds-col slds-col--padded slds-p-top_x-small slds-size_1-of-1">
            <lightning-tabset variant="vertical">
                <lightning-tab label="CORPORATE INFORMATION">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_4-of-12">
                            <lightning-input type="date" name="corporatereqdate" required value={corporateinfo.creqdate}
                                onchange={handleCreqdate} label="Request Date" placeholder="Select Request Date" min={minCorporateRequestDate}></lightning-input>
                            <lightning-input type="date" name="corporateresdate" required value={corporateinfo.cresdate}
                                onchange={handleCresdate} label="Response Date" min={minCorporateResponseDate} placeholder="Select Response Date" disabled={isDisableCorporateDate}></lightning-input>
                        </div>
                        <div class="slds-col slds-size_8-of-12 slds-col--padded">
                            <lightning-radio-group name="radioCorporateRssGroup" class="radio-horizontal"
                                label="RCC: Clearance is complaint as outlined in COMAR 07.05.01.09?" options={rcc}
                                value={corporateinfo.value} type="radio" onchange={rccselectval}>
                            </lightning-radio-group>
                            <lightning-radio-group name="radioCorporateCspGroup" class="radio-horizontal mt-10"
                                label="CPA: Clearance is complaint as outlined in COMAR 14.31.06.05?" options={cpa}
                                value={corporateinfo.cpavalue} type="radio" onchange={cpaselectval}>
                            </lightning-radio-group>
                            <div class="clearance-btn">
                                <lightning-button label="Add" title="Primary action"
                                    onclick={handleCorporationSave} class="btn btn-pri slds-m-left_x-small" disabled={isSaveBtnDisabled}></lightning-button>
                            </div>
                        </div>
                    </div>
                </lightning-tab>
                <lightning-tab label="STATE CLEARANCE" title="2nd tab extended title">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_4-of-12">
                            <lightning-input type="date" name="statereqdate" required value={state.sreqdate}
                                onchange={handleSreqdate} label="Request Date" placeholder="Select Request Date" min={minStateRequestDate}></lightning-input>
                            <lightning-input type="date" name="stateresdate" required value={state.sresdate}
                                onchange={handleSresdate} label="Response Date" placeholder="Select Response Date" min={minStateResponseDate} disabled={isDisableStateDate}></lightning-input>
                        </div>
                        <div class="slds-col slds-size_8-of-12 slds-col--padded">
                            <lightning-radio-group name="radioStateRssGroup" class="radio-horizontal"
                                label="RCC: Clearance is complaint as outlined in COMAR 07.05.01.09?" options={rccstate}
                                value={state.rccstatevalue} type="radio" onchange={rccstateselectval}>
                            </lightning-radio-group>
                            <lightning-radio-group name="radioStateCspGroup" class="radio-horizontal mt-10"
                                label="CPA: Clearance is complaint as outlined in COMAR 14.31.06.05?" options={cpastate}
                                value={state.cpastatevalue} type="radio" onchange={cpastateselectval}>
                            </lightning-radio-group>
                            <div class="clearance-btn">
                                <lightning-button label="Add" title="Primary action"
                                    onclick={handleStateClick} class="btn btn-pri slds-m-left_x-small" disabled={isSaveBtnDisabled}></lightning-button>
                            </div>
                        </div>
                    </div>
                </lightning-tab>
                <lightning-tab label="FEDERAL CLEARANCE">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_4-of-12">
                            <lightning-input type="date" name="federalreqdate" required value={federal.freqdate}
                                onchange={handleFreqdate} label="Request Date" placeholder="Select Request Date" min={minFederalRequestDate}></lightning-input>
                            <lightning-input type="date" name="federalresdate" required value={federal.fresdate}
                                onchange={handleFresdate} label="Response Date" placeholder="Select Response Date" min={minFederalResponseDate} disabled={isDisableFederalDate}></lightning-input>
                        </div>
                        <div class="slds-col slds-size_8-of-12 slds-col--padded">
                            <lightning-radio-group name="radioFederalRssGroup" class="radio-horizontal"
                                label="RCC: Clearance is complaint as outlined in COMAR 07.05.01.09?"
                                options={rccfederal} value={federal.rccfederalvalue} type="radio"
                                onchange={rssfederalselectval}>
                            </lightning-radio-group>
                            <lightning-radio-group name="radioFederalCspGroup" class="radio-horizontal mt-10"
                                label="CPA: Clearance is complaint as outlined in COMAR 14.31.06.05?"
                                options={cpafederal} value={federal.cpafederalvalue} type="radio"
                                onchange={cpafederalselectval}>
                            </lightning-radio-group>
                            <div class="clearance-btn">
                                <lightning-button label="Add" title="Primary action"
                                    onclick={handleFederalClick} class="btn btn-pri slds-m-left_x-small" disabled={isSaveBtnDisabled}></lightning-button>
                            </div>
                        </div>

                    </div>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </div>
    <div class="slds-grid slds-wrap mt-20">
        <div class="slds-col slds-size_1-of-1 slds-col--padded fontweight">STAFF CLEARANCE</div>
    </div>
    <div class="slds-grid slds-wrap mt-20">
        <div class="slds-col slds-size_1-of-1">
            <div class="popup-table">
                <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Type">Type</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Request Date">Request Date</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Response Date">Response Date</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="RCC">RCC</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="CPA">CPA</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody if:true={recordfound}>
                        <tr class="slds-hint-parent">
                            <td>Corporate</td>
                            <td>
                                <lightning-formatted-date-time value={data.CIRequestDate__c} year="numeric"
                                    month="numeric" day="numeric"></lightning-formatted-date-time>
                            </td>
                            <td>
                                <lightning-formatted-date-time value={data.CIResponseDate__c} year="numeric"
                                    month="numeric" day="numeric"></lightning-formatted-date-time>
                            </td>
                            <td>{data.CIRCC__c}</td>
                            <td>{data.CICPA__c}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>
                                <lightning-formatted-date-time value={data.SCRequestDate__c} year="numeric"
                                    month="numeric" day="numeric"></lightning-formatted-date-time>
                            </td>
                            <td>
                                <lightning-formatted-date-time value={data.SCResponseDate__c} year="numeric"
                                    month="numeric" day="numeric"></lightning-formatted-date-time>
                            </td>
                            <td>{data.SCRCC__c}</td>
                            <td>{data.SCCPA__c}</td>
                        </tr>
                        <tr>
                            <td>Federal</td>
                            <td>
                                <lightning-formatted-date-time value={data.FCRequestDate__c} year="numeric"
                                    month="numeric" day="numeric"></lightning-formatted-date-time>
                            </td>
                            <td>
                                <lightning-formatted-date-time value={data.FCResponseDate__c} year="numeric"
                                    month="numeric" day="numeric"></lightning-formatted-date-time>
                            </td>
                            <td>{data.FCRCC__c}</td>
                            <td>{data.FCCPA__c}</td>
                        </tr>
                    </tbody>
                    <tbody if:false={recordfound}>
                        <tr>
                            <td colspan="5" style="
                                text-align: center;">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>