.left-narrative-column {
    width: 20%;
    height: calc(100vh - 210px);
    float: left;
}

/* .right-narrative-column{ width:80%; height:calc(100vh - 210px); float:left;} */
.right-narrative-column {
    width: 78.8%;
    height: calc(100vh - 210px);
    float: left;
    left: 20.5%;
    position: fixed;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    background: #fff;
    overflow: hidden;
}

.left-col-history {
    height: calc(100vh - 200px);
    overflow-y: auto;
    /*padding:10px 10px 10px 5px;*/
    padding: 5px 3px 10px 5px;
    position: relative;
    right: 3px;
}

.left-col-history .shadow {
    box-shadow: 0 0px 2px #f1f1f3;
    margin-bottom: 9px;
    border: #e0e0e0 solid 1px;
}

.author-cls {
    padding: 8px 5px 8px 49px;
    background-color: #fbfbfc;
    border-bottom: #e0e0e0 1px solid;
}

.time-cls {
    padding: 8px 5px 8px 49px;
    background-color: #ffffff;
}

.left-col-history .slds-nav-vertical__item {
    color: #22273E;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.left-col-history .slds-nav-vertical__item:hover,
.left-col-history .slds-nav-vertical__item.slds-is-active {
    color: #626676 !important;
}

.left-col-history .slds-nav-vertical__item:hover:before,
.left-col-history .slds-nav-vertical__item.slds-is-active:before {
    box-shadow: 0 0px 2px #a1a7ee;
    border: #a1a7ee solid 2px;
    background: none;
}

/* .narrative-wrapper{background: #fff; height: calc(100vh - 210px); overflow: hidden;
    border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
     position: fixed;     width: calc(100vw - 285px);
    } */

.narrative-left-main {
    height: calc(100vh - 215px);
    overflow-y: auto;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 5px #d8d8d891;
    position: relative;
    top: -1px;
}

.mtop {
    margin-top: 108px;
}

.font-bold.padtop10 {
    padding-top: 10px;
}

.speechIcon {
    position: relative;
    top: -60px;
    border: 0;
    z-index: 300;
    outline: none;
}

.save_Position {
    position: relative;
    z-index: 500
}

.speechPosition {
    position: relative;
    right: -50px;
}