<template>
    <lightning-file-upload label="" name="fileUploader" accept={acceptedFormats} variant="label-hidden" class="uploadfile mfileUpload" record-id={recordId} onuploadfinished={handleUploadFinished} multiple></lightning-file-upload>
</template>