.dashboard {
  float: right;
  position: relative;
  top: -37px;
  width: 22%;
  right: 5px;
}

.card-box {
  /* width: 25%; */
  padding-right: 10px;
}

.pending-cls {
  border: 1px solid #fda409 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.approved-cls {
  border: 1px solid #1ac424 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.rejected-cls {
  border: 1px solid #fe6969 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.total-cls {
  border: 1px solid #4e8bf6 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.returned-cls {
  border: 1px solid #22273e !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.pendingIncident-cls {
  border: 1px solid #fda409 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.acknowldgedIncident-cls {
  border: 1px solid #1ac424 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.rejectedIncident-cls {
  border: 1px solid #fe6969 !important;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2) !important;
}

.card-box .slds-card {
  transition: transform 0.1s;
  cursor: pointer;
}

.card-box .slds-card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  content: "";
  opacity: 0;
  z-index: -1;
}

.card-box .slds-card:hover {
  transform: scale3d(1, 1, 1);
}

.card-box .slds-card::after {
  opacity: 1;
}

.aligntable {
  margin-top: 32px;
}

.btn-referal-position {
  position: relative;
  margin-top: -30px;
  float: right;
  right: 15px;
  width: 15%;
}

.margin5px {
  margin-right: 5px;
}

.fontbold {
  font-weight: 600;
}

.headerRow {
  padding: 0px 15px 4px;
  width: 100%;
  background: rgb(251, 251, 251);
  box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
  text-transform: uppercase;
}

.dashboard-search {
  display: inline-block;
  margin-top: -15px;
  margin-bottom: -13px;
}

.dashboard-btn {
  display: inline-block;
}

.btn-publicProvider {
  position: relative;
  margin-top: -6px;
  float: right;
  right: 7px;
  width: 300px;
}

.newReferal-table {
  height: calc(100vh - 270px);
}

.nanCard-table {
  height: calc(100vh - 197px);
}
