<template>
    <div class="slds-grid slds-wrap ref-summary">
        <div for:each={byTypes} for:item="byType" key={byType.Id}
            class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 card-box">
            <div class="slds-card">
                <div class="slds-card__header slds-grid" data-id={byType.Id} onclick={handleByStatus}>
                    <div id={byType.id} class="slds-grid slds-gutters">
                        <div class="slds-col" id={byType.id}>
                            <p id={byType.id} class="title">{byType.title}</p>
                            <p id={byType.id} class="value">{byType.count}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template if:false={hidePrivatePublic}>
        <template if:false={supervisorFlow}>
            <div class="btn-publicProvider">
                <span class="btn1 active">
                    <button name="Public" title="Public" type="button" disabled={showPublicBtn} onclick={handleClick}
                        class="slds-button slds-button_neutral">{public}</button></span>
                <span class="btn2">
                    <button name="Private" title="Private" type="button" class="slds-button slds-button_neutral"
                        disabled={showPrivateBtn} onclick={handleClick}>{private}</button></span>
            </div>
        </template>

        <template if:true={supervisorFlow}>
            <div class="btn-publicProvider aligntable">
                <span class="btn1 active">
                    <button name="Public" title="Public" type="button" disabled={showPublicBtn} onclick={handleClick}
                        class="slds-button slds-button_neutral">{public}</button></span>
                <span class="btn2">
                    <button name="Private" title="Private" type="button" class="slds-button slds-button_neutral"
                        disabled={showPrivateBtn} onclick={handleClick}>{private}</button></span>
            </div>
        </template>
    </template>

    <template if:false={hidePrivatePublic}>
        <div class="newReferal-table" if:false={supervisorFlow}>
            <lightning-datatable class="custom-tbl" key-field="id" data={currentPageRecords} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
            <div class="pagePosition">
                <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
                    onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
            </div>
        </div>

        <div class="newReferal-table" if:true={supervisorFlow}>
            <lightning-datatable class="custom-tbl-supr" key-field="id" data={currentPageRecords} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
            <div class="pageSupPosition">
                <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
                    onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
            </div>
        </div>
    </template>

    <template if:true={hidePrivatePublic}>
        <div class="nanCard-table" if:false={caseworkFlow}>
            <lightning-datatable class="custom-tbl" key-field="id" data={currentPageRecords} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
            <div class="pagePosition">
                <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
                    onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
            </div>
        </div>

        <div class="nanCard-table" if:true={caseworkFlow}>
            <lightning-datatable class="custom-tbl-supr-case" key-field="id" data={currentPageRecords} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
            <div class="pageSupPosition">
                <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
                    onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
            </div>
        </div>
    </template>
</template>