<template>
    <div>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
            <div class="slds-modal__container">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                            Add Characteristics
                        </h2>
                        <button class="close-button" title="Close" onclick={handleCloseModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-grid slds-wrap">
                            <div
                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
                                <div class="suggestion-list">
                                    <div class="suggestion-list_header"><span class="suggestion-list_title">
                                            Characteristics</span>
                                        <lightning-button class="btn btn-pri slds-float_right"
                                            onclick={addAllChildCharacteristics} label="Add All"></lightning-button>
                                    </div>

                                    <div class="suggestion-list_options">
                                        <ul class="slds-listbox slds-listbox_vertical">
                                            <template for:each={suggestionData} for:item="item">
                                                <li class="slds-listbox__item" key={item.Id} data-id={item.Id}
                                                    data-value={item.Activity__c}
                                                    onclick={handleSuggestionToSelectedData}>
                                                    <div data-value={item.Activity__c}
                                                        class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline">
                                                        {item.Activity__c}
                                                        <div class="arrow-right"></div>
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
                                <div class="suggestion-list">
                                    <div class="suggestion-list_header"><span class="suggestion-list_title">Selected  Characteristics</span>
                                        <lightning-button class="btn btn-pri slds-float_right"
                                            onclick={removeAllChildCharacteristics} label="Remove All">
                                        </lightning-button>
                                    </div>
                                    <div class="suggestion-list_options">
                                        <ul class="slds-listbox slds-listbox_vertical">
                                            <template for:each={selectedData} for:item="item">

                                                <li class="slds-listbox__item" key={item.Id} data-id={item.Id}
                                                    data-value={item.Activity__c}
                                                    onclick={handleSelectedToSuggestionData}>
                                                    <div data-value={item.Activity__c}
                                                        class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline">
                                                        {item.Activity__c}
                                                        <div class="arrow-left"></div>
                                                    </div>
                                                </li>

                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" variant="brand-outline" onclick={childCharacteristicsModal}
                            class="mr-10">
                        </lightning-button>
                        <lightning-button label="Save" variant="neutral" onclick={saveSelectedData}></lightning-button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>