<template>
    <div class="complaintSuspension">
        <div class="complaintSuspension-inner">
            <div class="slds-grid slds-wrap topsec">
                <div class=" slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                    <lightning-input type="date" name="RevocationDate" label="Revocation Date" placeholder="Select Date" value={revocationDetails.StartDate__c} onchange={revocationOnChange} required disabled={isRevocationDateDisable}></lightning-input>
                </div>
                <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4">
                    <lightning-combobox label="Document" name="Document" value={revocationDetails.Document__c} placeholder="Select Document" options={documentOptions} onchange={revocationOnChange} required disabled={isDocumentDisable}></lightning-combobox>
                </div>
                <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_1-of-4" if:true={showDelivery}>
                    <lightning-combobox label="Delivery" name="Delivery" value={revocationDetails.Delivery__c} placeholder="Select Delivery" options={deliveryOptions} onchange={revocationOnChange} required disabled={isDeliveryDisable}></lightning-combobox>
                </div>
            </div>
            <div class="slds-grid slds-wrap btn-bottom-pos">
                <div class="slds-col slds-col--padded slds-size_1-of-1 bottomAlign">
                    <div class="slds-clearfix">
                        <div class="slds-float_right btnSec">
                            <lightning-button label="Cancel" class="btn btn-sec mr10" onclick={handleCancelMethod}></lightning-button>
                            <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={handleSaveMethod} disabled={isSaveBtnDisable}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>