.mainTemplateScreen {
    background: #fff;
    height: calc(100vh - 175px);
    overflow-y: auto;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    border-top-left-radius: 0;
    box-shadow: 0px 0px 5px #d8d8d891;
    width: 100%;
}

.mainTemplateScreen .application_fieldset fieldset {
    width: 99.5%;
}

.btnbottom {
    position: absolute;
    bottom: 5px;
    right: 20px;
}