<template>
    <div class="mainTemplateScreen">
        <div class="slds-grid slds-wrap application_fieldset">
            <div class="slds-col slds-size_1-of-1 marAlignment">
                <fieldset>
                    <legend class="sec-title" title={receiveddate}>CORPORATE INFORMATION
                    </legend>
                    <div class="slds-grid slds-wrap grid-coltop10">
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-input name="Name" label="Provider Corporate Name" placeholder="Enter Corporate Name" value={getREC1.Name} onchange={handleChange} disabled>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-input label="DBA Name" type="text" maxlength="80" value={getREC1.DBAName__c} name="DBAName__c" placeholder="Enter DBA Name" onchange={handleChange}>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-input label="First Name" type="text" maxlength="80" name="FirstName__c" placeholder="Enter First Name" value={getREC1.FirstName__c} onchange={handleChange} disabled>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-input label="Last Name" type="text" maxlength="80" name="LastName__c" placeholder="Enter Last Name" value={getREC1.LastName__c} onchange={handleChange} disabled>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-input label="Tax Id" id="TaxId" class="inputRequired3 mandateProviderName" required value={getREC1.TaxId__c} maxlength="11" name="TaxId__c" placeholder="Enter Tax ID" onchange={handleChange} disabled>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-input label="Website" id="Website" class="inputRequired4 mandateAddress1" name="Website" value={getREC1.Website} placeholder="Enter Website" onchange={handleChange}>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-combobox name="Accrediation__c" label="Accreditation" value={getREC1.Accrediation__c} placeholder="Select Accreditation Type" options={AccreditationOptions} onchange={handleChange} disabled>
                            </lightning-combobox>
                        </div>
                        <div class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                            <lightning-radio-group name="Profit__c" class="radio-fieldsetNone" label=" " options={ProfitNonProfitOptions} onchange={handleChange} value={getREC1.Profit__c} type="radio" disabled>
                            </lightning-radio-group>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <c-provider-contact-details-add-or-edit></c-provider-contact-details-add-or-edit>
        <div class="btnSec slds-p-around_x-small btnbottom">
            <lightning-button class="btn btn-pri" label="Save" onclick={handleSave}>
            </lightning-button>
        </div>
    </div>
</template>