<template>
    <div class="application-table" if:false={noRecordsFound}>
        <div class="slds-align_absolute-center">
            <lightning-datatable class="custom-tbl" key-field="id" data={totalHomeStudy} columns={columns}
                hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>
        <div class="paginationPosition">
            <c-common-pagination get-count={totalHomeStudyVisitCount} page={page} setsize={setPagination}
                perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
            </c-common-pagination>
        </div>
    </div>
    <div if:true={noRecordsFound} class="template-screen">
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
            <img class="icon-attachment" src={attachmentIcon} />
            <p class="font-bold padtop10">No Data Found In Study Visit!</p>
            <p class="subfont">Please Generate/Add</p>
        </div>
    </div>
    <template if:true={openStudyModel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">

                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {title}</h2>
                            <button class="close-button" title="Close" onclick={closeStudyModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">


                            <div class="slds-grid slds-wrap">
                                <div class="slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-2">
                                    <div class="slds-grid slds-wrap">
                                        <div
                                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-3">
                                            <label class="slds-form-element__label inputRequired3"
                                                for="combobox-id-47"><abbr title="required"
                                                    class="slds-required">*</abbr>Select Persons</label>
                                            <div class="slds-form-element__control  mcust-ddlist"
                                                onmouseleave={handleMouseOutButton}>
                                                <div class="slds-combobox_container">
                                                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                                                        aria-expanded="true" aria-haspopup="dialog" role="combobox">
                                                        <div if:false={toggledivForPtype}
                                                            class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                                            role="none" onclick={handlePType}>
                                                            <input type="text" required
                                                                class="slds-input slds-combobox__input"
                                                                id="combobox-id-47" aria-controls="popover-unique-id-02"
                                                                role="textbox" placeholder="Select Persons"
                                                                autocomplete="off" readonly="" disabled={diabledView} />
                                                            <span
                                                                class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                                <lightning-icon icon-name="utility:down" size="x-small"
                                                                    alternative-text="Connected" title="Connected">
                                                                </lightning-icon>
                                                            </span>
                                                        </div>
                                                        <div if:true={toggledivForPtype}
                                                            class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap"
                                                            onclick={handlePType}>
                                                            <ul class="slds-listbox slds-listbox_horizontal"
                                                                role="listbox" aria-label="Selected Options:"
                                                                aria-orientation="horizontal">
                                                                <template for:each={pillvalueForPType} for:item="pills">
                                                                    <li class="slds-listbox-item slds-truncate"
                                                                        style="width:280px;" role="presentation"
                                                                        key={pills.value} title={pills.value}
                                                                        if:true={pillSingleValueCondition}>
                                                                        <lightning-pill label={pills.value}
                                                                            onremove={handleRemove}>
                                                                        </lightning-pill>
                                                                    </li>
                                                                </template>
                                                                <li class="slds-listbox-item slds-truncate"
                                                                    style="width:280px;" role="presentation"
                                                                    key={pillSingleValueForPtype}
                                                                    title={pillSingleValueForPtype}
                                                                    if:false={pillSingleValueCondition}>
                                                                    <lightning-pill label={pillSingleValueForPtype}
                                                                        onremove={handleRemove}>
                                                                    </lightning-pill>
                                                                    <span class="conference-usernumber">
                                                                        +{pillSingleValueForPtypeCount}</span>
                                                                </li>
                                                            </ul>
                                                            <span
                                                                class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                                <lightning-icon icon-name="utility:down" size="x-small"
                                                                    alternative-text="Connected" title="Connected">
                                                                </lightning-icon>
                                                            </span>
                                                        </div>
                                                        <section aria-describedby="dialog-body-id-26"
                                                            aria-label="Language Options" class={tabClassForPType}
                                                            id="popover-unique-id-02" role="dialog"
                                                            onmouseleave={handleMouseOutButton}
                                                            style="position: absolute;top:33px;">
                                                            <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                                                                id="dialog-body-id-26">
                                                                <fieldset class="slds-form-element">
                                                                    <div class="slds-form-element__control">
                                                                        <template for:each={selectPersonOptions}
                                                                            for:item="PType">
                                                                            <div class="slds-checkbox" key={PType.Id}>
                                                                                <input data-id="checkbox"
                                                                                    type="checkbox" name="options"
                                                                                    id={PType.Id} value={PType.value}
                                                                                    onclick={handleclickofPTypeCheckBox} />
                                                                                <label class="slds-checkbox__label"
                                                                                    for={PType.Id}>
                                                                                    <span
                                                                                        class="slds-checkbox_faux"></span>
                                                                                    <span
                                                                                        class="slds-form-element__label">{PType.label}</span>
                                                                                    <span
                                                                                        class="margin-label">{PType.role}</span>
                                                                                </label>
                                                                            </div>
                                                                        </template>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-3 errorMsg">
                                            <lightning-input type="date" class="dummyDate" name="Date"
                                                label="Interview Date" placeholder="Select Date"
                                                value={studyDetails.Date__c} required onchange={homeStudyOnChange}
                                                disabled={diabledView}>
                                            </lightning-input>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-2">
                                    <div class="slds-grid slds-wrap">
                                        <div
                                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-3 errorMsg">
                                            <lightning-input type="time" name="StartTime" class="dummyTime"
                                                label="Start Time" required placeholder="Select Time"
                                                value={studyDetails.StartTime__c} onchange={homeStudyOnChange}
                                                disabled={diabledView}>
                                            </lightning-input>
                                        </div>
                                        <div
                                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-3 errorMsg">
                                            <lightning-input type="time" name="EndTime" label="End Time" required
                                                value={studyDetails.EndTime__c} onchange={homeStudyOnChange}
                                                min={mintime} disabled={diabledView}>
                                            </lightning-input>
                                        </div>
                                        <div
                                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-3">
                                            <lightning-input name="Duration" value={studyDetails.Duration__c}
                                                label="Duration" onchange={homeStudyOnChange} disabled>
                                            </lightning-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap mt-10">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-3 mt-10">
                                    <div class="slds-col--padded slds-size--1-of-1 questions">
                                        Is Location address same as Home Address?
                                    </div>
                                    <div class="monitorRadioGroup slds-col--padded">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group class="waterProperty" options={homeAddress}
                                                name="HomeAddess__c" onchange={homeStudyOnChange}
                                                value={studyDetails.HomeAddess__c} disabled={diabledView} type="button">
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-3">
                                    <lightning-textarea name="Comments" label="Comments"
                                        value={studyDetails.Comments__c} disabled={diabledView}
                                        onchange={homeStudyOnChange} placeholder="Enter Comments">
                                    </lightning-textarea>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-1">
                                    <div if:false={showInterviewLocation}>
                                        <lightning-textarea name="InterviewLocation" label="Interview Location"
                                            disabled={diabledView} value={studyDetails.InterviewLocation__c} required
                                            onchange={homeStudyOnChange}>
                                        </lightning-textarea><br />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1">
                                    <div class="btnSec pr-0">
                                        <lightning-button class="btn btn-sec" onclick={closeStudyModel} label="CANCEL">
                                        </lightning-button>
                                        <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small"
                                            onclick={addHomeDetails} disabled={addDisabled}>
                                        </lightning-button>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={commentsModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-4" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Comments</h2>
                        <button class="close-button" title="Close" onclick={closeCommentsModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            {topicCommentsPopup}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>


</template>