<template>
  <div class="law-enforcement" if:false={showAddLawEnforcementBtn}>
    <div class="slds-align_absolute-center">
      <div class="text-center file-upload slds-p-vertical--xx-small">
        <img class="icon-attachment" src={attachmentIcon} />
        <p class="font-bold padtop10">No Record found in Law Enforcement!</p>
        <p class="subfont">
          Please add Foster Parent! by Clicking the below "Add Law Enforcement"
          button
        </p>
        <div class="mt-10" if:false={disableBtnForCaseworker}>
          <lightning-button
            variant="brand"
            name="Add Law Enforcement"
            onclick={handleOpenModal}
            label="Add Law Enforcement"
          >
          </lightning-button>
        </div>
      </div>
    </div>
  </div>
  
  <template if:true={lawEnforcementModal}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open slds-modal_small"
    >
      <div class="slds-modal__container">
        <div class="popborder">
          <header class="slds-modal__header">
            <h2
              id="modal-heading-02"
              class="slds-text-heading_medium slds-hyphenate fontweight"
            >
              Add Law Enforcement
            </h2>
            <button
              class="close-button"
              title="Close"
              onclick={handleCloseModal}
            ></button>
          </header>
          <div
            class="slds-modal__content slds-p-around_medium overVisible"
            id="modal-content-id-2"
          >
            <div class="slds-grid slds-wrap">
              <lightning-input
                value={lawEnforcementFirstName}
                name="First Name"
                onchange={handleOnchangeLawEnforcement}
                label="First Name"
                disabled={showLawEnforcementPreviewModal}
                required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
              >
              </lightning-input>
              <lightning-input
                value={lawEnforcementLastName}
                name="Last Name"
                onchange={handleOnchangeLawEnforcement}
                label="Last Name"
                disabled={showLawEnforcementPreviewModal}
                required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
              >
              </lightning-input>
              <lightning-input
                value={lawEnforcementPhone}
                name="Phone"
                onchange={handleOnchangeLawEnforcement}
                label="Phone"
                disabled={showLawEnforcementPreviewModal}
                maxlength="14"
                required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
              >
              </lightning-input>
              <lightning-input
                value={lawEnforcementReportNumber}
                name="Report Number"
                onchange={handleOnchangeLawEnforcement}
                label="Report Number"
                disabled={showLawEnforcementPreviewModal}
                type="number"
                required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
              >
              </lightning-input>
              <lightning-input
                value={lawEnforcementDate}
                name="Date"
                type="date"
                onchange={handleOnchangeLawEnforcement}
                disabled={showLawEnforcementPreviewModal}
                label="Date"
                required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
              >
              </lightning-input>
              <lightning-input
                value={lawEnforcementTime}
                name="Time"
                type="time"
                onchange={handleOnchangeLawEnforcement}
                disabled={showLawEnforcementPreviewModal}
                label="Time"
                required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-3 slds-x_large-size_1-of-3 mb-10"
              >
              </lightning-input>
            </div>
          </div>
          <footer class="slds-modal__footer">
            <div class="slds-grid slds-wrap">
              <div class="slds-col">
                <div class="slds-clearfix">
                  <div class="slds-float_right">
                    <span if:false={showDoneBtn}>
                    <lightning-button
                      label="Cancel"
                      variant="brand-outline"
                      onclick={handleCloseModal}
                      class="mr-10"
                    >
                    </lightning-button>
                    </span>
                    <span if:true={showAddBtn}>
                      <lightning-button
                        label="Add"
                        variant="neutral"
                        onclick={handleSaveLawEnforcement}
                      ></lightning-button>
                    </span>
                    <!-- <span if:true={showDoneBtn}>
                      <lightning-button
                        label="Done"
                        variant="neutral"
                        onclick={handleCloseModal}
                      ></lightning-button>
                    </span> -->
                    <span if:true={showUpdateBtn}>
                      <lightning-button
                        label="Update"
                        title="Update"
                        variant="neutral"
                        onclick={handleSaveLawEnforcement}
                      ></lightning-button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>


  <template if:true={showAddLawEnforcementBtn}>
    <div class="slds-clearfix">
      <div class="slds-float_left">
        <div class="slds-grid slds-wrap">
          <div
            class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 mt-20 mb-20"
          >
            <span class="font500">Showing Law Enforcement</span>
          </div>
        </div>
      </div>
      <div class="slds-float_right" if:false={disableBtnForCaseworker}>
        <div class="slds-grid slds-wrap">
          <div
            class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 mt-20 mb-20"
          >
            <lightning-button
              variant="brand"
              label="Add Law Enforcement"
              title="Primary action"
              onclick={handleOpenModal}
              class="slds-m-left_x-small"
            ></lightning-button>
          </div>
        </div>
      </div>
    </div>
    <div class="incident-datatable">
      <lightning-datatable
        key-field="id"
        data={lawEnformentDataTableData}
        hide-checkbox-column
        columns={lawEnforcementColumn}
        class="custom-tbl mt-20"
        onrowaction={handleLawEnforcementRowAction}
      >
      </lightning-datatable>
    </div>
  </template>
</template>
