<template>
    <div class="slds-grid slds-wrap ">

        <div class="slds-col slds-col--padded slds-size_1-of-2
         slds-medium-size_2-of-4 slds-large-size_4-of-6
        slds-x_large-size_4-of-6">
            <div>
                <h1>Contact Information</h1>
            </div>

            <div class="slds-grid slds-wrap">
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="License-type">License Type</label>
                        <lightning-input type="text" value="ACME Inc."></lightning-input>
                    </div>
                </div>
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="License-status">Contact License Status</label>
                        <lightning-combobox
                                name="progress"
                                value={value}
                                placeholder="Select Progress"
                        ></lightning-combobox>

                    </div>
                </div>
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="fiscal-status">Fiscal Status</label>
                        <lightning-input type="date" name="input1"></lightning-input>
                    </div>
                </div>
            </div>


            <div class="slds-grid slds-wrap">
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="start-date">Start Date</label>
                        <lightning-input type="date" name="input1"></lightning-input>
                    </div>
                </div>
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="end-date">End Date</label>
                        <lightning-input type="date" name="input1"></lightning-input>

                    </div>
                </div>
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="License-beds">License Beds</label>
                        <lightning-input type="text" name="input1"></lightning-input>
                    </div>
                </div>
            </div>


            <div class="slds-grid slds-wrap">
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="irc-bed-capacity">IRC Bed Capacity</label>
                        <lightning-input type="text" value="ACME Inc."></lightning-input>
                    </div>
                </div>
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="contracted-beds">Contracted Beds</label>
                        <lightning-input type="text" value="ACME Inc."></lightning-input>
                    </div>
                </div>
                <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                    <div>
                        <label for="utilization-rate">Utilization Rate</label>
                        <lightning-input type="text" name="input1"></lightning-input>
                    </div>
                </div>
            </div>

            <div class="slds-grid slds-wrap">
                <div class="slds-col--padded slds-col slds-size_1-of-1 slds-medium-size_1-of-1-of-6 slds-large-size_1-of-1-of-6">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            Site ID
                        </div>
                        <div class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6">
                            123456
                        </div>
                    </div>

                    <div class="slds-grid slds-wrap">

                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            Site Address
                        </div>
                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            sample address
                        </div>
                    </div>


                    <div class="slds-grid slds-wrap">

                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            Mobile Number
                        </div>
                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            0987654321
                        </div>
                    </div>

                    <div class="slds-grid slds-wrap">

                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            Email Address
                        </div>
                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            example@gmail.com
                        </div>
                    </div>

                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_4-of-6 slds-large-size_4-of-6">
                        </div>

                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            <lightning-button
                                    variant="brand"
                                    label="Edit"
                                    title="Edit"
                            >
                            </lightning-button>

                        </div>
                        <div class="slds-col--padded slds-col slds-size_1-of-6 slds-medium-size_1-of-6 slds-large-size_1-of-6">
                            <lightning-button
                                    variant="brand"
                                    label="Save"
                                    title="Save"
                            >
                            </lightning-button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="slds-col slds-col--padded slds-size--1-of-2
        slds-medium-size--2-of-6 slds-large-size--2-of-6">
            <div style="height: 300px;">
                <lightning-datatable
                        key-field="id"
                        data={data}
                        hide-checkbox-column
                        columns={columns}>
                </lightning-datatable>
            </div>

        </div>
    </div>
</template>