<template>
  <h2 class='sub-title'><a href="#" onclick={PageRedirecttoDashBoard}>PROVIDERS</a> <span
      style="padding:0px 15px;">&#62;</span> PROVIDER ID - {providerName}</h2>
  <div class="innerParent-Tab innerPage-main applicationTabset">
    <lightning-tabset active-tab-value={activeTab}>
      <lightning-tab label="PROVIDER INFO" value="providerInfo">
        <c-provider-general-info></c-provider-general-info>
      </lightning-tab>
      <lightning-tab label="LICENSE INFO">
        <c-provider-licenses-info onredirecteditmonitering={handleredirectMoniteringTabs}
          onredirecteditapplication={handleredirecttoApplicationTabs}></c-provider-licenses-info>
      </lightning-tab>
      <lightning-tab label="STAFF" value="staff">
        <c-providers-staff onredirecttostaffinfo={handleRedirectToStaffInfo}></c-providers-staff>
      </lightning-tab>
      <lightning-tab label="IRC RATES">
        <c-providers-i-r-c></c-providers-i-r-c>
      </lightning-tab>
      <lightning-tab label="CONTRACT" value="contract">
        <c-providers-contract-dashboard onredirecttocontractmanage={handleRedirectToContractManage}
          onredirecttocontractadd={handleRedirectToContractAdd}></c-providers-contract-dashboard>
      </lightning-tab>
      <lightning-tab label="NARRATIVE">
        <c-provider-narrative></c-provider-narrative>
      </lightning-tab>
      <lightning-tab label="DOCUMENTS">
        <c-providers-document></c-providers-document>
      </lightning-tab>
      <lightning-tab label="MONITORING" value="monitoring">
        <c-providers-monitoring onredirecteditmonitering={handleredirectMoniteringTabs}></c-providers-monitoring>
      </lightning-tab>
      <lightning-tab label="SANCTIONS" value="sanctions">
        <c-complaints-provider-sanctions></c-complaints-provider-sanctions>
      </lightning-tab>

    </lightning-tabset>
  </div>

</template>