<template>
  <h2 class="sub-title">Application Id - Murugan</h2>
  <div class="innerParent-Tab innerPage-main applicationTabset">
    <lightning-tabset>
      <lightning-tab label="General Info">
        <div class="slds-grid slds-wrap">
          <div class="genaral-info">
            <div class="pvr-cardinfo">
              <article class="slds-card">
                <div class="pvr-cardinfo-header">
                  <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                      <div class="slds-media__figure">
                        <div class="pvrName-bg">
                          <!-- <img src={providernameicon} class="slds-p-right_x-small" />  -->
                          <h2 style="position: relative;
                          top: 26px;
                          left: 27px;">S</h2>
                        </div>

                      </div>
                      <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                          Provider Name: {ProviderName}
                        </h2>
                        <h3>{ProviderFirstName} {ProviderLastName}</h3>
                      </div>

                    </header>
                  </div>
                  <ul class="m-list-inline-block">
                    <li><img src={phone} class="slds-p-right_x-small" />{ProviderPhone}</li>
                    <li><img src={mobile} class="slds-p-right_x-small" />{ProviderCellNumber}</li>
                    <li><img src={fax} class="slds-p-right_x-small" />1234567890</li>
                    <li><img src={email} class="slds-p-right_x-small" />{ProviderEmail}</li>
                  </ul>
                </div>
                <div class="slds-card__body slds-card__body_inner">
                  <div class="slds-grid slds-wrap">
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                      <div class="slds-grid slds-wrap pvr-infodetails">
                        <div
                          class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                          Program
                        </div>
                        <div
                          class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                          {Program}
                        </div>
                        <div
                          class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                          Program Type
                        </div>
                        <div
                          class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                          {ProgramType}
                        </div>
                        <div
                          class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                          Corporation
                        </div>
                        <div
                          class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                          {Corporation}
                        </div>
                        <div
                          class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                          Parent Corporation
                        </div>
                        <div
                          class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                          {ParentCorporation}
                        </div>
                      </div>
                    </div>
                    <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                      <div class="slds-grid slds-wrap pvr-infodetails">
                        <div class=" slds-col--padded  slds-size--1-of-2">
                          Tax ID
                        </div>
                        <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                          {TaxId}
                        </div>
                        <div class=" slds-col--padded  slds-size--1-of-2">
                          SON ?
                        </div>
                        <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                          {SON}
                        </div>
                        <div class=" slds-col--padded  slds-size--1-of-2">
                          RFP ?
                        </div>
                        <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                          {RFP}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="m-card-row">
              <div class="m-cards">
                <article class="slds-card">
                  <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                      <div class="slds-media__figure">
                        <img src={bedcapacity} class="slds-p-right_x-small" />
                      </div>
                      <div class="slds-media__body">
                        <h2 class="card-label">
                          Bed Capacity
                        </h2>
                        <h2 class="card-value">12</h2>
                      </div>

                    </header>
                  </div>

                </article>
              </div>
              <div class="m-cards">
                <article class="slds-card">
                  <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                      <div class="slds-media__figure">
                        <img src={agerange} class="slds-p-right_x-small" />
                      </div>
                      <div class="slds-media__body">
                        <h2 class="card-label">
                          Age Range
                        </h2>
                        <h2 class="card-value">12 - 18</h2>
                      </div>

                    </header>
                  </div>

                </article>
              </div>
              <div class="m-cards">
                <article class="slds-card">
                  <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                      <div class="slds-media__figure">
                        <img src={iqrange} class="slds-p-right_x-small" />
                      </div>
                      <div class="slds-media__body">
                        <h2 class="card-label">
                          IQ Range
                        </h2>
                        <h2 class="card-value">60 - 95</h2>
                      </div>

                    </header>
                  </div>

                </article>
              </div>
              <div class="m-cards">
                <article class="slds-card">
                  <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                      <div class="slds-media__figure">
                        <img src={gender} class="slds-p-right_x-small" />
                      </div>
                      <div class="slds-media__body">
                        <h2 class="card-label">
                          Gender
                        </h2>
                        <h2 class="card-value">Male</h2>
                      </div>

                    </header>
                  </div>

                </article>
              </div>
            </div>
          </div>
          <div class="address-info">
            <div class="address">
              <div class="address-site">
                <div class="address-header">
                  <h2><img src={siteicon} class="slds-p-right_x-small" /> Site Address</h2>
                </div>
                <div class="address-lists">
                  <ul class="m-list-inline-block">
                    <li>12 layout, Allegany, Alaska, US, 9670</li>
                    <li> <img src={phone2} /> <span>1234567890</span></li>
                    <li><img src={email2} /> <span>Ianthomas@cjams.com</span></li>
                  </ul>

                  <ul class="m-list-inline-block">
                    <li>3552 inner ring Road, Allegany, Alaska, US, 65521</li>
                    <li><img src={phone2} /> <span>1234567890</span></li>
                    <li><img src={email2} /> <span>Ianthomas@cjams.com</span></li>
                  </ul>
                  <ul class="m-list-inline-block">
                    <li>655 Lanewit, Allegany, Alaska, US, 32255</li>
                    <li><img src={phone2} /> <span>1234567890</span></li>
                    <li><img src={email2} /> <span>Ianthomas@cjams.com</span></li>
                  </ul>
                </div>
              </div>
              <div class="address-site">
                <div class="address-header">
                  <h2> <img src={mainaddress} class="slds-p-right_x-small" /> Main Address</h2>
                </div>
                <div class="address-lists">
                  <ul class="m-list-inline-block">
                    <li>12 layout, Allegany, Alaska, US, 9670</li>
                    <li><img src={phone2} /> <span>1234567890</span></li>
                    <li><img src={email2} /> <span>Ianthomas@cjams.com</span></li>
                  </ul>

                </div>
              </div>
              <div class="address-site">
                <div class="address-header">
                  <h2> <img src={paymentaddress} class="slds-p-right_x-small" /> Payment Address</h2>
                </div>
                <div class="address-lists">
                  <ul class="m-list-inline-block">
                    <li>3552 inner ring Road, Allegany, Alaska, US, 65521</li>
                    <li><img src={phone2} /> <span>1234567890</span></li>
                    <li><img src={email2} /> <span>Ianthomas@cjams.com</span></li>
                  </ul>
                  <ul class="m-list-inline-block">
                    <li>655 Lanewit, Allegany, Alaska, US, 32255</li>
                    <li><img src={phone2} /> <span>1234567890</span></li>
                    <li><img src={email2} /> <span>Ianthomas@cjams.com</span></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </lightning-tab>
      <lightning-tab label="General Info Dynamic">
        <c-application-general-info></c-application-general-info>
      </lightning-tab>
      <lightning-tab label="Narrative">
        <c-applicationprovider-narrative></c-applicationprovider-narrative>
      </lightning-tab>
      <lightning-tab label="Monitoring">
        3333333333333
      </lightning-tab>
      <lightning-tab label="Documents">
        44444444444444
      </lightning-tab>
      <lightning-tab label="Staff">
        555555555555
      </lightning-tab>
      <lightning-tab label="CONTACT NOTES">
        <c-application-contact-details-add-or-edit></c-application-contact-details-add-or-edit>
      </lightning-tab>
      <lightning-tab label="LICENSE INFO">
        <c-application-license-info></c-application-license-info>
      </lightning-tab>
      <lightning-tab label="DECISION">
        <c-applicationprovider-decision></c-applicationprovider-decision>
      </lightning-tab>
    </lightning-tabset>
  </div>

</template>