.houseHoldMember{
   height: calc(100vh - 186px);
   margin: 10px;
   display: inline-block;
}
.houseHoldMember .application_fieldset{
   height: calc(100vh - 215px);
   overflow: auto;
}

.document-screen{   background: #fff; height: calc(100vh - 270px); overflow-y: auto;
   border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
    position: relative; width:calc(100vw - 20px);}
.application_fieldset .select_verification fieldset {
   display: block;
   padding: 0px !important;
   border:0 !important;
}
.checkbox-horizontal.select_verification .slds-form-element__control .slds-checkbox {
   display: inline-block;
   width: 50% !important;
}
.profile-pic{
    width: 100%;
    height:200px;
    border:1px solid #ccc;
}
.firstName{
    width:100%;
}
.firstName .fn_title{
    width:75px;
}
.firstName .fn_textbox{
   width: calc(100% - 90px);
   margin-left: 15px;
}
.mcard{
    width:100%;
    display:inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EBEBEB;
border-radius: 2px;
}
.male:after, .female:after{
    content:'';
    display:block;
   height: 5px;   
   border-radius: 0px 0px 2px 2px;
}
.male:after{
   background: #0A69B9 0% 0% no-repeat padding-box;
}
.female:after{
   background: #FF4282 0% 0% no-repeat padding-box;
}
.mcard-header{
   padding: 6px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
   border: 1px solid #EBEBEB;
   border-radius: 2px 2px 0px 0px;
   position:relative;
}
.mcard-body{
    padding:10px 0;
}
.profile_img{
   display: inline-block;
}
.profile_img img{
   border-radius: 50%;
   width: 42px;
   height: 42px;
   /* vertical-align: super; */
   margin: 0px 10px;
 }
.profile_dec{
   width:calc(100% - 70px);
   display:inline-block;
   vertical-align: middle;
}
.profile_dec h4{font-weight: 600;}
.male .profile_dec h4{color:#0A69B9;}
.female .profile_dec h4{color:#FF4282;}
.houseHoldMemberList table { width:100%}
.houseHoldMemberList table td{padding:7px 0;}
.houseHoldMemberList table td:nth-child(1){ width:60px;}
.houseHoldMemberList table td:nth-child(2){ width:120px; font-weight: 500;}
.mprogressbar{
   margin:15px 0;
}
.slds-progress-bar .slds-progress-bar__value {
   background: #FF4282 !important;
}

.threedots{
   position: absolute;
   top: 15px;
   right: 15px;
    width: 10px;
    cursor: pointer;
}
.threedots:after {
   content: '\2807';
   font-size: 17px;
   text-align: right;
   }
  .male .threedots:after {
     color:#0A69B9;
   }
   .female .threedots:after {
      color:#FF4282;
   }
   .edit-delpopup{    position: relative;
     z-index: 500;}
   .edit-delview{ 
   position: absolute;
     top: 21px;
     right: 0px;
     background: #fff 0 0 no-repeat padding-box;
     box-shadow: 0 3px 6px #00000029;     text-align: left;
     width: 120px;
     border: 1px solid #DFE5EC; color: #061C40; font-size: 11px;
     z-index: 3;
   }
   .marginRight10{margin-right: 10px;}
     .edit-delview li{padding: 15px;}
     .edit-delview li.delbdr{padding: 15px;}
   
   .norecord{
      width: 600px;
      padding: 40px;
      border: 1px solid #f2f2f2;
      margin: 50px auto 0;
   }
