<template>
  <div class="slds-theme_default">
    <div class="slds-float_right tab-content btn-topright">
      <lightning-button label="ADD STAFF MEMBER" variant="brand" onclick={openmodal}>
      </lightning-button>
    </div>
    <template if:true={openmodel}>
      <div class="demo-only staffboad-infomodel">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
          <div class="slds-modal__container">
            <header class="slds-modal__header">

              <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                Staff / Board information</h2>
              <button class="close-button" title="Close" onclick={closeModal}>
              </button>
            </header>
            <div class="slds-theme_default">
              <div class="slds-p-around_medium">
                <lightning-progress-indicator type="base" current-step={selectedStep}>

                  <lightning-progress-step label="Personnel Section" onstepfocus={selectStep1}
                    value="Personnel Section">
                  </lightning-progress-step>

                  <lightning-progress-step label="Staff Certification" onstepfocus={selectStep2}
                    value="Staff Certification">
                  </lightning-progress-step>
                  <lightning-progress-step label="Staff Trainings" onstepfocus={selectStep3} value="Staff Trainings">
                  </lightning-progress-step>
                  <lightning-progress-step label="Clearance Info" onstepfocus={selectStep4} value="Clearance Info">
                  </lightning-progress-step>

                </lightning-progress-indicator>
              </div>
            </div>
            <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
              <div if:true={PersonnelSection}>
                <c-staff-personal-section onintimateparentfornext={handleNextFromChild}></c-staff-personal-section>
              </div>

              <div if:true={StaffTrainings}>
                <c-staff-training></c-staff-training>
              </div>
              <div if:true={ClearanceInfo}>
                <c-clearance-information oncheckvalidationinfinalpage={handleValidationCheck}></c-clearance-information>
              </div>

              <div if:true={StaffCertification}>
                <c-provider-staff-certification></c-provider-staff-certification>
              </div>
            </div>
            <div class="slds-modal__content  overVisible">

            </div>
            <footer class="slds-modal__footer">
              <div class="slds-m-vertical_medium">
                <template if:true={isSelectStep1}>
                  <lightning-button label="Previous" style="float: left" class="slds-m-left_x-small"
                    onclick={handlePrev}>
                  </lightning-button>
                </template>

                <template if:false={isSelectStep4}>
                  <lightning-button variant="brand" style="float: right;" class="slds-m-left_x-small" label="Next"
                    onclick={handleNext}>
                  </lightning-button>
                </template>
                <template if:true={isSelectStep4}>
                  <lightning-button variant="brand" style="float: right;" class="slds-m-left_x-small" label="Finish"
                    onintimateparentfornext={handleFinishFromChild} onclick={handleFinish}>
                  </lightning-button>
                </template>
              </div>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
  </div>
</template>