.ConferenceTable {
    background: #fff;
    height: calc(100vh - 205px);
    overflow: hidden;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    position: fixed;
    width: calc(100vw - 20px);
}

.conference-tbl .slds-table_bordered {
    border-top: 0 !important;
}

.conference-tbl .slds-truncate {
    font-weight: 500;
}

.conference-tbl .slds-table thead th,
.conference-tbl .slds-table tbody td {
    padding: 10px;
}

.conference-tbl tbody th:nth-child(1) {
    padding-left: 18px !important;
}

.conference-tbl .slds-table_bordered tbody td {
    padding: 5px 10px 5px 10px !important;
}

.mleft {
    margin-left: 5px;
}

.arrow-cls {
    margin-left: 5px;
    margin-top: 2px;
    position: absolute;
}

.bdr-wrap {
    border: 1px solid #E8E8E8;
}

.bdr-wrap.wid-wrap {
    width: 80%;
    margin-left: 10%;
}

.fontNormal {
    font-weight: normal;
}

.txtexitCenter {
    text-align: center;
}

.padRecords {
    padding: 10px 0px !important;
}

.table-scroll {
    display: block;
    border-spacing: 0;
}

.table-scroll thead {
    position: relative;
    display: block;
}

.table-scroll tbody {
    display: block;
    position: relative;
    width: 100%;
    overflow-y: auto;
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td,
.table-scroll th {
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
}

.body-half-screen {
    max-height: 100px;
}

.slds-table_bordered .table-scroll tbody td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 12px !important;
}

.wid-90{width: 90%;
    white-space: normal;}

.btn-viewIcon {
    position: absolute;
    top: 3px;
}