<template>
    <div if:false={norecorddisplay}>
        <div class="application-table">
            <div class="text-center file-upload slds-p-vertical--xx-large">
                <img class="icon-attachment" src={staffIcon} style="width:89px;" />
                <p class="font-bold padtop10">No Staff Available</p>
            </div>

        </div>
    </div>
    <div if:true={norecorddisplay} class="ConferenceTable conference-tbl">
        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <tr>
                    <th>
                        <span class="slds-truncate mleft">SITE ID
                            <a data-id="addressId" onclick={sort}>
                                <span if:true={ascdscshowhide}> <img class="arrow-cls" src={upIcon} /></span>
                                <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="slds-truncate">SITE ADDRESS
                        </span>
                    </th>
                    <th>
                        <span class="slds-truncate">PROGRAM NAME
                            <a data-id="applicationProgram" onclick={sort}>
                                <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                                <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                            </a></span>
                    </th>
                    <th>
                        <span class="slds-truncate">PROGRAM TYPE
                            <a data-id="applicationProgramType" onclick={sort}>
                                <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                                <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                            </a></span>
                    </th>
                    <th>
                        <span class="slds-truncate">TOTAL STAFF
                            <a data-id="staffCount" onclick={sort}>
                                <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                                <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                            </a></span>
                    </th>
                    <th>
                        <span class="slds-truncate">ACTION</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={currentPageProvidersStaffData} for:item="staff">
                    <tr key={staff.addressId} id={staff.addressId} class="conName">
                        <td>
                            <span class="mleft">{staff.addressName}</span>
                        </td>
                        <td>
                            <p>{staff.address}</p>
                        </td>
                        <td>
                            <span>{staff.applicationProgram}</span>
                        </td>
                        <td>
                            <span>{staff.applicationProgramType}</span>
                        </td>
                        <td>
                            <span>{staff.staffCount}</span>
                        </td>
                        <td>
                            <lightning-button label="" name="Detail View" variant="neutral" data-id={staff.addressId}
                                onclick={toggleRow} class="btn chevron" icon-name="utility:chevrondown">
                            </lightning-button>
                        </td>
                    </tr>
                    <tr id={staff.addressId} key={staff.addressId} class="conli slds-hide" style="background: #fff">
                        <td colspan="6" style="padding:0;">
                            <table class="slds-table slds-table_bordered bdr-wrap wid-wrap table-scroll">
                                <thead>
                                    <th class="fontNormal">FIRST NAME</th>
                                    <th class="fontNormal">LAST NAME</th>
                                    <th class="fontNormal">AFFILIATION TYPE</th>
                                    <th class="fontNormal">JOB TITLE</th>
                                    <th class="fontNormal">EMPLOYEE TYPE</th>
                                    <th class="fontNormal">ACTION</th>
                                </thead>

                                <tbody style="background: #F8F8FABD" class="body-half-screen">
                                    <template for:each={staff.objproviderStaffCount} for:item="staffdetails"
                                        if:true={staff.nostaffrecorddisplay}>
                                        <tr key={staffdetails.staffId} id={staffdetails.staffId}>
                                            <td><span class="mleft">{staffdetails.FirstName}</span></td>
                                            <td><span class="mleft">{staffdetails.LastName}</span></td>
                                            <td><span class="mleft">{staffdetails.AffiliationType}</span></td>
                                            <td><span class="mleft">{staffdetails.JobTitle}</span></td>
                                            <td>
                                                <div class="wid-90 mleft">{staffdetails.EmployeeType}</div>
                                            </td>
                                            <td>
                                                <div class="btn-viewIcon">
                                                    <lightning-button name="ViewStaff" data-id={staffdetails.staffId}
                                                        class="download_button" onclick={ViewStaffDetails}
                                                        icon-name="utility:preview">
                                                    </lightning-button>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                    <template if:false={staff.nostaffrecorddisplay}>
                                        <tr key={staff.addressId} id={staff.addressId}>
                                            <td colspan="6" class="txtexitCenter padRecords">No Records Found</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>