<template>
    <button onclick={handleevent}>ddd</button>
    <div class="slds-grid slds-wrap application_fieldset">
        <div class="slds-col slds-large-size_1-of-1">
            <fieldset>
                <legend class="sub-title">
                    PROGRAM INFORMATION1
                </legend>
                <div class="slds-grid slds-wrap grid-coltop10">
                    <div
                        class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                        <lightning-input name="Program" label="Program" value={Program} onchange={handleChangeProgram}
                            disabled>
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                        <lightning-input name="Program Type" label="Program Type" value={ProgramType}
                            onchange={handleChangeProgramType} disabled>
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                        <lightning-input label="Program Name" type="text" maxlength="80"
                            class="inputRequired mandateProgramName" required value={ProgramName} name="Program Name"
                            onchange={handleChangeProgramName} placeholder="Select ">
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2  slds-large-size_1-of-4">
                        <lightning-input label=" Program Tax Id" id="ProgramTaxId" class="inputRequired2 mandateTaxID"
                            required value={TaxId} maxlength="11" name="Program Tax Id" placeholder="00-000000"
                            onchange={handleChangeTax}>
                        </lightning-input>
                    </div>
                    <div
                        class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                        <lightning-combobox name="Accreditation" label="Accreditation" value={Accrediation}
                            placeholder="Select" options={Accreditionoptions} onchange={handleChangeAccreditation}>
                        </lightning-combobox>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="slds-col  slds-large-size_1-of-1">
            <fieldset>
                <legend class="sub-title">
                    PROGRAM DETAILS
                </legend>

                <div class="slds-grid slds-wrap grid-coltop10">
                    <div
                        class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                        <lightning-combobox name="Gender" value={Gender} class="inputRequired mandateProgram"
                            label="Gender" placeholder="Select Status" required options={GenderOptions}
                            onchange={handleChangegender}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1">
                                <div class="slds-slider slds-size_xx-small inline-block">
                                    <lightning-slider class="agemin-Slider" label="Min Age" min="0" max="80" required
                                        value={MinAgevalue} onchange={handlechangeminAge}></lightning-slider>
                                </div>
                                <div class="slds-slider slds-size_xx-small inline-block">
                                    <lightning-slider class="agemax-Slider" label="Max Age" min={MinAgevalue} max="80"
                                        required value={MaxAgeValue} onchange={handlechangemaxAge}></lightning-slider>
                                </div>
                            </div>
                            <!-- <div class="slds-col slds-size_7-of-12">
                                <input class="one" readonly="1" min="1" max="20" step="1" type="range"
                                    value={MinAge} onchange={handleChangeEvent}>
                                <input class="two" min="1" max="20" step="1" type="range" value={MaxAge}
                                    onchange={handleChangeEventE}>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                Max Age<br /><input type="text" value={slide2} size="2" class="sld-input">
                            </div> -->
                        </div>
                    </div>
                    <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1">
                                <div class="slds-slider slds-size_xx-small inline-block">
                                    <lightning-slider class="agemin-Slider" label="Min IQ" min="0" max="80" required
                                        value={MinIQvalue} onchange={handlechangeminIQ}></lightning-slider>
                                </div>
                                <div class="slds-slider slds-size_xx-small inline-block">
                                    <lightning-slider class="agemax-Slider" label="Max IQ" max="80" required
                                        value={MaxIQvalue} onchange={handlechangemaxIQ}></lightning-slider>
                                </div>
                            </div>
                            <!-- <div class="slds-col slds-size_2-of-12">
                                MinIQ<br /><input type="text" value={slide1} size="2">
                            </div>
                            <div class="slds-col slds-size_7-of-12">
                                <input class="one" readonly="1" min="1" max="20" step="1" type="range"
                                    value={MinIQ} onchange={handleChangeMinIQ}>
                                <input class="two" min="1" max="20" step="1" type="range" value={MaxIQ}
                                    onchange={handleChangeMaxIQ}>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                MaxIQ<br /><input type="text" value={slide2} size="2">
                            </div> -->
                        </div>
                    </div>


                    <div
                        class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                        <lightning-input label=" Capacity" type="number" id="Capacity"
                            class="inputRequired2 mandateTaxID" required value={Capacity} maxlength="2" name="Capacity"
                            placeholder="" onchange={handleCapacityChange}>
                        </lightning-input>
                    </div>
                    <div class="slds-col--padded  slds-size_1-of-1 slds-large-size_6-of-8 radio-fieldsetNone mt-10">
                        <lightning-radio-group name="Profitvalue" label="Profit" options={ProfitOptions}
                            value={Profitvalue} onchange={handleRadioButton}>
                        </lightning-radio-group>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="slds-grid slds-wrap mt-10">
        <div class="slds-col--padded  slds-size_1-of-1 slds-large-size_1-of-1">
            <div class="slds-clearfix">
                <div class="slds-float_right">
                    <button class="slds-button slds-button_outline-brand default-btn" onclick={handleClicksave}>SAVE AS
                        DRAFT</button>
                </div>
            </div>
        </div>
    </div>

</template>