/******** Range Slider ********/
.inline-block{display:inline-block;}
.slds-slider-label__range{display:none}
.agemin-Slider .slds-slider__range{ margin-left: 22px;}
.agemin-Slider .slds-slider__value{ position: absolute;left: -7px;top: -7px;}
/* .agemin-Slider .slds-form-element__label{position: relative;top: -7px;} */