.box-col1{ border: 1px solid #EBEBEB;
  border-radius: 3px;
  }
.box-col1 .slds-p-vertical--xx-large{ margin-top: 50px; margin-bottom: 50px;}
.box-col1.bluebdr{ border: 1px solid #0A69B9;
  border-radius: 3px; color: #061C40;

  }
.plus-icon{ margin-left:5px; margin-right: 5px;}
.widContainerpop{ width:64%}
.padtop{ margin-top: 50px;}
.padtop-lastCard{ margin-top: 37px;}
.boxLink a{ text-decoration: none; color: #959DA5; text-decoration: none;}