<template>
    <!-- <template if:false={openModelwindow}> -->
    <div class="demo-only" style="height:700px;">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
            <div class="slds-modal__container widContainerpop">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                            Add New Referral Type</h2>
                        <button class="close-button" title="Close" onclick={closeModel}>
                        </button>
                    </header>
                    <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
                        <div class="slds-grid slds-wrap">
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3 boxLink">
                                <a onclick={privateProvider}>
                                    <div class="box-col1">
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="icon-attachment" src={privateIcon} />
                                            <p class="font-bold padtop">Private Provider</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3 boxLink">
                                <a onclick={existingProvider}>
                                    <div class="box-col1">
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="icon-attachment" src={existingIcon} /> <img class="plus-icon"
                                                src={plusIcon} /> <img class="icon-attachment" src={privateIcon} />
                                            <p class="font-bold padtop">New Program to an Existing Provider</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3 boxLink">
                                <a onclick={publicProvider}>
                                    <div class="box-col1">
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="icon-attachment" src={publicIcon} />
                                            <p class="font-bold padtop-lastCard">Public Provider</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" variant="brand-outline" class="mr-10">
                        </lightning-button>
                        <lightning-button label="Next" onclick={handleNext} variant="neutral"></lightning-button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <!-- </template> -->

    <!-- <lightning-card >
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                <lightning-radio-group  class="radio-horizontal provider-type"
                          label=""
                          options={options}
                          value={value}
                          onchange={radioOnChange}
                          type="radio">
                </lightning-radio-group>
                <div class="btnSec mt-20">
                    <lightning-button label="Next" class="btn btn-pri" variant="brand" onclick={handleNext} disabled={btnDisabled}></lightning-button>
                </div>
            </div>            
        </div>        
    </lightning-card> -->
</template>