.btn-addTraining{margin-top: 28px;display: inline-block;  }    
    .roomNo{width:100px; display:inline-block;}
    .address1{width:calc(100% - 120px); display:inline-block; margin-left:20px}


.addNewTraining .slds-form-element {
  padding-bottom: 0px;
}

.addNewTraining .slds-form-element .slds-form-element {
  padding-bottom: 0px;
}
.padbot10{ padding-bottom: 10px;}




.houseHoldMember{
  height: calc(100vh - 186px);
  margin: 10px;
  display: inline-block;
}
.houseHoldMember .application_fieldset{
  height: calc(100vh - 215px);
  overflow: auto;
}

.application_fieldset .select_verification fieldset {
  display: block;
  padding: 0px !important;
  border:0 !important;
}
.checkbox-horizontal.select_verification .slds-form-element__control .slds-checkbox {
  display: inline-block;
  width: 50% !important;
}

.profile-pic{
   width: 100%;
   height:200px;
   border:1px solid #ccc;
}

.firstName{
   width:100%;
}
.firstName .fn_title{
   width:75px;
}
.firstName .fn_textbox{
  width: calc(100% - 90px);
  margin-left: 15px;
}

.mcard{
   width:100%;
   display:inline-block;
   background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EBEBEB;
border-radius: 2px;
   
}
.male:after, .female:after{
   content:'';
   display:block;
  height: 5px;   
  border-radius: 0px 0px 2px 2px;
}
.male:after{
  background: #0A69B9 0% 0% no-repeat padding-box;
}
.female:after{
  background: #FF4282 0% 0% no-repeat padding-box;
}
.mcard-header{
  padding: 6px;
   background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 1px solid #EBEBEB;
  border-radius: 2px 2px 0px 0px;
}

.mcard-body{
   padding:10px 0;
}
.profile_img{
   width:50px;
   display:inline-block;
}
.profile_dec{
  width:calc(100% - 50px);
  display:inline-block;
}
.profile_dec h4{font-weight: 600;}
.male .profile_dec h4{color:#0A69B9;}
.female .profile_dec h4{color:#FF4282;}
.houseHoldMemberList table { width:100%}
.houseHoldMemberList table td{padding:5px 0;}
.houseHoldMemberList table td:nth-child(1){ width:60px;}
.houseHoldMemberList table td:nth-child(2){ width:120px; font-weight: 500;}

.mprogressbar{
  margin:15px 0;
}
.mprogressbar .slds-progress-bar__value {
  background: #FF4282;
}  


.btn-addTraining{margin-top: 28px;
display: inline-block;
}

.roomNo{width:100px; display:inline-block;}
.address1{width:calc(100% - 120px); display:inline-block; margin-left:20px}
.textArea-height .slds-textarea{height:80px;}

.mtable{
  max-height: 190px;
  overflow: auto;
  max-width: 100%;
  margin: 10px 0;
}
.mtable th{background-color: #ccc;}
.mtable th,.mtable td {
  text-align: left;
  padding: 7px;
}
.slds-modal__content {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 110px);
}
.duration{
  width: 10px;
  height: 17px;
  /* background: url(../images/icon-duration.png); */
  top: 35px;
  right: 20px;
  position: absolute;
  display: inline-block;
}