<template>
    <template if:true={decideClose}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">{title}</h2>
                            <button class="close-button" title="Close" onclick={closeTrainingModal}></button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                                    <lightning-combobox label="Type" name="Type" value={trainingDetails.Type__c} placeholder="Select Type" options={typeOptions} onchange={trainingOnChange} required disabled={isDisableType}></lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                                    <lightning-combobox label="Session Type" name="SessionType" value={trainingDetails.SessionType__c} placeholder="Select Session Type" options={sessionTypeOptions} onchange={trainingOnChange} disabled={isDisableSessionType} required></lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 custom-dropdwon">
                                    <lightning-combobox label="Jurisdiction" name="Jurisdiction" value={trainingDetails.Jurisdiction__c} placeholder="Select Jurisdiction" options={jurisdictionOptions} onchange={trainingOnChange} required>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                                    <lightning-combobox label="Medium" name="Medium" value={trainingDetails.Medium__c} placeholder="Select Medium" options={mediumOptions} onchange={trainingOnChange} disabled={isDisableMedium} required></lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6" if:true={showAddressFields}>
                                    <lightning-input label="Room No" name="RoomNo" value={trainingDetails.RoomNo__c} placeholder="Enter Room No" onchange={trainingOnChange}></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6" if:true={showAddressFields}>
                                    <lightning-input name="AddressLine1" label="Address Line 1" placeholder="Enter Address" onchange={getStreetAddress} value={trainingDetails.AddressLine1__c} required>
                                    </lightning-input>
                                    <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" class={tabClass} role="listbox" style="width: 287px; left: 784px;">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                            <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.place_id} data-description={item.description} class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" onclick={selectStreetAddress}>
                                                        {item.description}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6" if:true={showAddressFields}>
                                    <lightning-input label="State" name="State" type="search" class="dummyState" placeholder="Enter State" aria-autocomplete="false" value={selectedState} onchange={stateOnChange} required></lightning-input>
                                    <div if:true={showStateBox} id="listbox-id-16" class=" slds-dropdown_length-with-icon-7 popup-dropbox" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                            <template for:each={filteredStateArr} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.Id} data-value={item.Value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedState}>
                                                        {item.Value}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6" if:true={showAddressFields}>
                                    <lightning-input name="City" label="City" id="City" placeholder="Enter City" class="dummyCity" onchange={trainingOnChange} value={selectedCity} required>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6" if:true={showAddressFields}>
                                    <lightning-input label="County" name="County" type="search" class="dummyCounty" placeholder="Enter County" aria-autocomplete="false" value={selectedCounty} onchange={countyOnChange} required></lightning-input>
                                    <div if:true={showCountyBox} id="listbox-id-17" class="popup-dropbox slds-dropdown_length-with-icon-7" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                            <template for:each={filteredCountyArr} for:item="item">
                                                <li key={item.label} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.label} data-value={item.value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedCounty}>
                                                        {item.value}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6" if:true={showAddressFields}>
                                    <lightning-input name="ZipCode" label="Zip Code" id="ZipCode" placeholder="Enter Zip Code" class="dummyZipCode" maxlength="5" onchange={trainingOnChange} value={selectedZipCode} required></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 custom-dropdwon mdd-h150">
                                    <lightning-combobox label="Instructor 1" name="Instructor1" value={trainingDetails.Instructor1__c} placeholder="Select Instructor" options={instructor1Options} onchange={trainingOnChange} required>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 custom-dropdwon mdd-h150">
                                    <lightning-combobox label="Instructor 2" name="Instructor2" value={trainingDetails.Instructor2__c} placeholder="Select Instructor" options={instructor2Options} onchange={trainingOnChange}></lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6" if:true={showURL1}>
                                    <lightning-input type="url" name="URL1" label="URL" value={trainingDetails.URL__c} placeholder="Enter URL" onchange={trainingOnChange} required></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6" if:true={showSessionNo}>
                                    <lightning-combobox label="Select Session" name="SelectSession" value={trainingDetails.SessionNumber__c} placeholder="Select Session" options={selectSessionOptions} onchange={trainingOnChange} required>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6">
                                    <lightning-input type="date" name="Date" class="dummyDate" label="Date" placeholder="Select Date" value={trainingDetails.Date__c} onchange={trainingOnChange} min={minDate} required></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6">
                                    <lightning-input type="time" name="StartTime" label="Start Time" value={trainingDetails.StartTime__c} placeholder="Start Time" onchange={trainingOnChange} required></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6">
                                    <lightning-input type="time" name="EndTime" label="End Time" value={trainingDetails.EndTime__c} placeholder="End Time" min={minTime} onchange={trainingOnChange} required disabled={isDisableEndTime}>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6" style="position: relative;">
                                    <lightning-input type="text" label="Duration"  value={trainingDetails.Duration__c} onchange={trainingOnChange} placeholder="Duration" disabled></lightning-input>
                                    <div class="duration"><img src={durationIcon}/></div> 
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6" if:true={showSessionBtn}>
                                    <lightning-button variant="brand" label={sessionBtnLabel} onclick={handleSession} class="btn btn-sec btn-addTraining" disabled={isDisableSessionBtn}>
                                    </lightning-button>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap" if:true={showMeetingInfoTable}>
                                <div class="slds-col--padded slds-size--1-of-1">
                                    <div class="mtable">
                                        <table>
                                            <thead>
                                                <th>Session Number</th>
                                                <th>Date</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Duration</th>
                                            </thead>
                                            <tbody style="background: #F8F8FABD" class="body-half-screen">
                                                <template for:each={meetingInfoSessionDetailsArr} for:item="sessionDetails">
                                                    <tr key={sessionDetails.SessionNumber__c} id={sessionDetails.SessionNumber__c}>
                                                        <td>
                                                            <span class="mleft">{sessionDetails.SessionNumber__c}</span>
                                                        </td>
                                                        <td>
                                                            <span class="mleft">{sessionDetails.Date__c}</span></td>
                                                        <td>
                                                            <span class="mleft">{sessionDetails.StartTime__c}</span>
                                                        </td>
                                                        <td>
                                                            <span class="mleft">{sessionDetails.EndTime__c}</span>
                                                        </td>
                                                        <td>
                                                            <span class="mleft">{sessionDetails.Duration__c}</span>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap" if:true={showDescription}>
                                <div class="slds-col--padded slds-size--1-of-1">
                                    <lightning-textarea style="height:80px" name="Description1" label="Topic Description" value={trainingDetails.Description__c} placeholder="Enter Topic Description" onchange={trainingOnChange}>
                                    </lightning-textarea>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap" if:true={showURL2}>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6">
                                    <lightning-input type="url" name="URL2" label="URL" value={trainingDetails.URL__c} placeholder="Enter URL" onchange={trainingOnChange} required></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--4-of-6 slds-large-size--4-of-6">
                                    <lightning-textarea style="height:80px" name="Description2" label="Topic Description" onchange={trainingOnChange} value={trainingDetails.Description__c} placeholder="Enter Topic Description">
                                    </lightning-textarea>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1  slds-text-align_right">
                                    <lightning-button class="btn btn-sec" label="CANCEL" onclick={closeTrainingModal}>
                                    </lightning-button>
                                    <lightning-button variant="brand" label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={saveTrainingDetails} disabled={isDisableActionBtn}></lightning-button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <template if:true={viewTrainingModel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">{title}
                            </h2>
                            <button class="close-button" title="Close" onclick={closeTrainingModal}>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-2">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                                    <lightning-combobox label="Type" name="Type" value={trainingDetails.Type__c}
                                        placeholder="Select Type" options={typeOptions} onchange={trainingOnChange}
                                        required disabled></lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                                    <lightning-combobox label="Session Type" name="SessionType"
                                        value={trainingDetails.SessionType__c} placeholder="Select Session Type"
                                        options={sessionTypeOptions} onchange={trainingOnChange}
                                        disabled required></lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 custom-dropdwon">
                                    <lightning-combobox label="Jurisdiction" name="Jurisdiction"
                                        value={trainingDetails.Jurisdiction__c} placeholder="Select Jurisdiction"
                                        options={jurisdictionOptions} onchange={trainingOnChange} required disabled>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                                    <lightning-combobox label="Medium" name="Medium" value={trainingDetails.Medium__c}
                                        placeholder="Select Medium" options={mediumOptions} onchange={trainingOnChange}
                                        disabled required></lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6"
                                    if:true={showAddressFields}>
                                    <lightning-input label="Room No" name="RoomNo" value={trainingDetails.RoomNo__c}
                                        placeholder="Enter Room No" onchange={trainingOnChange} disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6"
                                    if:true={showAddressFields}>
                                    <lightning-input name="AddressLine1" label="Address Line 1"
                                        placeholder="Enter Address" onchange={getStreetAddress}
                                        value={trainingDetails.AddressLine1__c} required disabled>
                                    </lightning-input>
                                    <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions-01"
                                        class={tabClass} role="listbox" style="width: 287px; left: 784px;">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                                            role="presentation">
                                            <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.place_id} data-description={item.description}
                                                        class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                                        role="option" onclick={selectStreetAddress}>
                                                        {item.description}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6"
                                    if:true={showAddressFields}>
                                    <lightning-input label="State" name="State" type="search" class="dummyState"
                                        placeholder="Enter State" aria-autocomplete="false" value={selectedState}
                                        onchange={stateOnChange} required disabled></lightning-input>
                                    <div if:true={showStateBox} id="listbox-id-15"
                                        class=" slds-dropdown_length-with-icon-7 popup-dropbox" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                                            role="presentation">
                                            <template for:each={filteredStateArr} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.Id} data-value={item.Value}
                                                        class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                                        role="option" onclick={setSelectedState}>
                                                        {item.Value}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6"
                                    if:true={showAddressFields}>
                                    <lightning-input name="City" label="City" id="City1" placeholder="Enter City"
                                        class="dummyCity" onchange={trainingOnChange} value={selectedCity} required disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6"
                                    if:true={showAddressFields}>
                                    <lightning-input label="County" name="County" type="search" class="dummyCounty"
                                        placeholder="Enter County" aria-autocomplete="false" value={selectedCounty}
                                        onchange={countyOnChange} required disabled></lightning-input>
                                    <div if:true={showCountyBox} id="listbox-id-18"
                                        class="popup-dropbox slds-dropdown_length-with-icon-7" role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                                            role="presentation">
                                            <template for:each={filteredCountyArr} for:item="item">
                                                <li key={item.label} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.label} data-value={item.value}
                                                        class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                                        role="option" onclick={setSelectedCounty}>
                                                        {item.value}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6"
                                    if:true={showAddressFields}>
                                    <lightning-input name="ZipCode" label="Zip Code" id="ZipCode1"
                                        placeholder="Enter Zip Code" class="dummyZipCode" maxlength="5"
                                        onchange={trainingOnChange} value={selectedZipCode} required disabled></lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 custom-dropdwon mdd-h150">
                                    <lightning-combobox label="Instructor 1" name="Instructor1"
                                        value={trainingDetails.Instructor1__c} placeholder="Select Instructor"
                                        options={instructor1Options} onchange={trainingOnChange} required disabled>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 custom-dropdwon mdd-h150">
                                    <lightning-combobox label="Instructor 2" name="Instructor2"
                                        value={trainingDetails.Instructor2__c} placeholder="Select Instructor"
                                        options={instructor2Options} onchange={trainingOnChange} disabled></lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6"
                                    if:true={showURL1}>
                                    <lightning-input type="url" name="URL1" label="URL" value={trainingDetails.URL__c}
                                        placeholder="Enter URL" onchange={trainingOnChange} required disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6"
                                    if:true={showSessionNo}>
                                    <lightning-combobox label="Select Session" name="SelectSession"
                                        value={trainingDetails.SessionNumber__c} placeholder="Select Session"
                                        options={selectSessionOptions} onchange={trainingOnChange} required disabled>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6">
                                    <lightning-input type="date" name="Date" class="dummyDate" label="Date"
                                        placeholder="Select Date" value={trainingDetails.Date__c}
                                        onchange={trainingOnChange} min={minDate} required disabled></lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6">
                                    <lightning-input type="time" name="StartTime" label="Start Time"
                                        value={trainingDetails.StartTime__c} placeholder="Start Time"
                                        onchange={trainingOnChange} required disabled></lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6">
                                    <lightning-input type="time" name="EndTime" label="End Time"
                                        value={trainingDetails.EndTime__c} placeholder="End Time" min={minTime}
                                        onchange={trainingOnChange} required disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6" style="position: relative;">
                                    <lightning-input type="text" label="Duration" 
                                        value={trainingDetails.Duration__c} onchange={trainingOnChange}
                                        placeholder="Duration" disabled></lightning-input>
                                       <div class="duration"><img src={durationIcon} /></div> 
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--1-of-6"
                                    if:true={showSessionBtn}>
                                    <lightning-button variant="brand" label={sessionBtnLabel} onclick={handleSession}
                                        class="btn btn-sec btn-addTraining" disabled>
                                    </lightning-button>
                                </div>
                            </div>

                            <div class="slds-grid slds-wrap" if:true={showMeetingInfoTable}>
                                <div class="slds-col--padded slds-size--1-of-1">
                                    <div class="mtable">
                                        <table>
                                            <thead>
                                                <th>Session Number</th>
                                                <th>Date</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Duration</th>
                                            </thead>
                                            <tbody style="background: #F8F8FABD" class="body-half-screen">
                                                <template for:each={meetingInfoSessionDetailsArr}
                                                    for:item="sessionDetails">
                                                    <tr key={sessionDetails.SessionNumber__c}
                                                        id={sessionDetails.SessionNumber__c}>
                                                        <td><span class="mleft">{sessionDetails.SessionNumber__c}</span>
                                                        </td>
                                                        <td><span class="mleft">{sessionDetails.Date__c}</span></td>
                                                        <td><span class="mleft">{sessionDetails.StartTime__c}</span>
                                                        </td>
                                                        <td><span class="mleft">{sessionDetails.EndTime__c}</span></td>
                                                        <td><span class="mleft">{sessionDetails.Duration__c}</span></td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap" if:true={showDescription}>
                                <div class="slds-col--padded slds-size--1-of-1">
                                    <lightning-textarea style="height:80px" name="Description1"
                                        label="Topic Description" value={trainingDetails.Description__c}
                                        placeholder="Enter Topic Description" onchange={trainingOnChange} disabled>
                                    </lightning-textarea>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap" if:true={showURL2}>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-6 slds-large-size--2-of-6">
                                    <lightning-input type="url" name="URL2" label="URL" value={trainingDetails.URL__c}
                                        placeholder="Enter URL" onchange={trainingOnChange} required disabled></lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--4-of-6 slds-large-size--4-of-6">
                                    <lightning-textarea style="height:80px" name="Description2"
                                        label="Topic Description" onchange={trainingOnChange} value={trainingDetails.Description__c} placeholder="Enter Topic Description" disabled>
                                    </lightning-textarea>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <template if:true={Spinner}>
        <div class="slds-spinner_inline spinner-padding" style="z-index:1000;position:relative;">
            <c-common-loading-spinner></c-common-loading-spinner>
        </div>
    </template>
</template>