.lgc-bg {
  border-bottom: 1px solid #b0c4df;
  border-right: 1px solid #b0c4df;
  width: 100%;
  background-color: #f7f7ff;
}

.pad-btm {
  padding-bottom: 10px;
}

.just-space {
  display: flex;
  justify-content: space-between;
}

.pad-left {
  padding-left: 20px;
}

.marg-top {
  margin-top: var(--lwc-varSpacingVerticalMedium, 1rem);
}

.widht-24 {
  width: 24%;
}

.width-100 {
  width: 85%;
}

.pad-div {
  padding: 15px;
}

.card-border {
  border-bottom: 1px solid #4a414133;
  padding-bottom: 10px;
}

.bg-clr {
  background-color: #f7f7ff;
  border-top: 1px solid #c8c4c4;
}

.pentagon-text {
  position: relative;
  bottom: -18px;
  left: 30px;
  font-size: medium;
}

.pentagon {
  width: 60px;
  height: 60px;
}

.bck-clr {
  background-color: #f7f7ff;
}

.height-20 {
  height: 20px;
  background-color: #f7f7ff;
}

.display-flex {
  display: flex;
}

.mrg-left {
  margin-left: 30px;
}

.fnt-weight {
  font-size: 14px;
  font-weight: 500;
}