<template>
    <div class="decision-screen">
        <div class="slds-grid slds-wrap decision_fieldset">
            <div class="slds-col slds-large-size_1-of-1 slds-p-around_small">
                <fieldset>
                    <legend class="sec-title">
                        DECISION
                    </legend>
                    <div class="slds-grid slds-wrap grid-coltop10">
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4"
                            if:false={selectStatusShowHide}>
                            <lightning-combobox name="SelectStatus" value={ApprovalStatus__c} options={statusOptions}
                                disabled={isDisable} onchange={changeStatusHandler} label="Select Status" required>
                            </lightning-combobox>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4"
                            if:true={selectStatusShowHide}>
                            <lightning-combobox name="SelectStatus" value={ApprovalStatus__c} options={statusOptions}
                                disabled={isDisable} onchange={changeStatusHandler} label="Select Status" required>
                            </lightning-combobox>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                            <lightning-textarea label="Comments" value={ApprovalCommentsvalue} disabled={isDisable}
                                onchange={commentschangeHandler} class="textArea-height">
                            </lightning-textarea>
                        </div>

                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
                            <lightning-button label="Add Signature" class="btn btn-link fontweight"
                                disabled={isDisablesignature} onclick={signaturemodal}
                                style="position: absolute; bottom:3px"></lightning-button>
                        </div>

                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4 text-right"
                            if:true={tierapprovalShowHide}>
                            <lightning-button label="ASSIGN FOR TIER APPROVAL" class="btn btn-pri btn-assign-approval"
                                disabled={isDisableTierApproval} onclick={handleOpenModal} disable>
                            </lightning-button>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
        <div class="slds-grid slds-wrap generalTable" if:true={HideDatatable}>
            <lightning-datatable key-field="id" data={currenttablepage} columns={dataTableColumns}
                hide-checkbox-column="true" default-sort-direction={defaultSortDirection}
                sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort} onrowaction={dataAction}
                class="custom-tbl">
            </lightning-datatable>
        </div>
    </div>

    <!-- modal start -->
    <template if:true={bShowsignatureModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- modal header start -->
                <header class="slds-modal__header">
                    <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Add Signature
                    </h2>
                    <button class="close-button" title="Close" onclick={closeModal}>
                    </button>
                </header>
                <!-- modal body start -->
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <div class=" slds-size_1-of-1 " if:false={SignatureShowHide}>
                        <canvas name="canvasItem" class="sign-box" width="600" height="320"></canvas>
                    </div>
                    <div class=" slds-size_1-of-1 " if:true={SignatureShowHide}>
                        <img src={SignatureValidationView}>
                    </div>

                    <div class="upload-wrapper">
                        <div class="slds-float_left dropzone">
                            <span class="writeText">Write your signature above or</span>
                            <lightning-input data-id="fuploader" class="file-upload dropsVgNone dis-inb"
                                onchange={handleFilesChange} type="file" name="file" label="" variant="label-hidden">
                            </lightning-input>
                        </div>
                        <div class="slds-float_right">
                            <button onclick={handleClearClick} class="refresh-btn">Refresh <img
                                    src={refreshIcon} /></button>
                        </div>

                    </div>

                </div>
                <!-- modal footer start-->
                <footer class="slds-modal__footer">

                    <lightning-button class="btn btn-sec" label="Cancel" title="Cancel" onclick={closeModal}>
                    </lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" onclick={handleSaveClick}
                        class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>








    <!-- modal end -->

    <template if:true={isOpenModal}>
        <div style="height: 500px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assign Supervisor
                        </h2>
                        <button class="close-button" title="Close" onclick={handleCloseModal}>
                        </button>
                    </header>
                    <div class="slds-modal__content " id="modal-content-id-2">
                        <div class="slds-text-heading_small slds-text-align_center">
                            <lightning-datatable key-field="id" data={assignTierpopupshow} columns={ModalColumns}
                                max-row-selection="1" onrowselection={handleRowSelection}>
                            </lightning-datatable>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Assign" variant="neutral" disabled={assignDisable}
                            onclick={handleAssignModal}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>


    <template if:true={openmodel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">Assignment/Decision
                        </h2>
                        <button class="close-button" title="Close" onclick={closeModalAction}>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-5">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                                        <lightning-input type="text" name="Author" label="Author"
                                            onchange={AuthorChange} value={AuthorValue} disabled>
                                        </lightning-input>
                                        <lightning-input type="text" name="Status" label="Status"
                                            onchange={StatusChange} value={StatusValue} class="mt-10" disabled>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col slds-col--padded slds-size_1-of-2 ">
                                        <lightning-input type="text" name="Date" label="Date" onchange={DateChange}
                                            disabled value={DateValue}>
                                        </lightning-input>
                                        <lightning-input type="text" name="Comments" label="Comments" disabled
                                            value={ApprovalCommentsvalueview} class="mt-10">
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-large-size_4-of-12 displayMain">
                                <!-- <label>Signature</label> -->
                                <div class="display-box">
                                    <img src={SignatureValue}>

                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button variant="neutral" label="Done" title="Done" onclick={DoneModal}>
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <div class="slds-grid slds-wrap btn-bottom-pos">
        <div class="slds-col slds-size_1-of-1">
            <div class="btnSec slds-p-around_small">
                <lightning-button if:false={hideDraftBtn} class="btn btn-sec" onclick={saveAsDraftMethod}
                    label="SAVE AS DRAFT" disabled={isSaveAsDraftDisable}></lightning-button>
                <lightning-button label="Submit " class="btn btn-pri slds-m-left_x-small " onclick={submitMethod}
                    disabled={isSubmitBtnDisable}>
                </lightning-button>
            </div>
        </div>
    </div>
    <canvas name="canvasItem1" style="display:none;"></canvas>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>