<template>
  <div class="application-table">
    <div class="public-homeInformation">
      <div class="sec-topSlider">

        <div class="slds-grid slds-wrap">
          <div class=" slds-size--5-of-12 slds-p-around_medium " style="
          border: 1px solid #eee;
      ">
            <div class="icon-home-information">
              Home Information
            </div>
            <div class="slider1 mt-20">
              <div class="slds-form-element">
                <label class="slds-form-element__label" for="slider-id-01">
                  <span class="slds-slider-label">
                    Number of Children Residing
                    <abbr title="required" class="slds-required">*</abbr>
                  </span>
                </label>
                <div class="slds-form-element__control heightSlider">
                  <div class="slds-slider slds-size_large">
                    <iframe src={childrenSlider} style="border:none;width:100%;"></iframe>
                  </div>
                </div>
              </div>
            </div>    
            <div class="slider2">
              <div class="slds-form-element">
                <label class="slds-form-element__label" for="slider-id-01">
                  <span class="slds-slider-label">
                    Number of Bedrooms
                    <abbr title="required" class="slds-required">*</abbr>
                  </span>
                </label>
                <div class="slds-form-element__control heightSlider">
                  <div class="slds-slider slds-size_large">
    
                    <iframe src={bedRoomSlider} style="border:none;width:100%; "></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" slds-size--7-of-12 slds-p-horizontal_medium">
            <div class="">
              <div class="slds-form-element">
                <div class="slds-col slds-p-around_small slds-large-size_1-of-1 fieldset-border">
                  <fieldset class="fieldset-border1">
                    <legend class="fw-500 mar-left">LOCATION ADDRESS
                      <label class="requiredField">*</label>
                    </legend>
                    <div class="slds-grid slds-wrap">
                      <div
                        class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                        <lightning-input type="text" label="Address Line 1" maxlength="80"
                          class="inputRequired4 mandateAddress1" name="strStreetAddress" id="AddressLineOne"
                          value={addressDetails.AddressLine1__c} onchange={getStreetAddress} disabled={disableStatus}
                          placeholder="Enter Address" required>
                        </lightning-input>
                        <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions"
                          style="width:275px;left:149px;" class={tabClass} role="listbox">
                          <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                            role="presentation">
                            <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                              <li key={item.id} role="presentation" class="slds-listbox__item">
                                <div data-id={item.place_id} data-description={item.description}
                                  class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                  role="option" onclick={selectStreetAddress}>
                                  {item.description}
                                </div>
                              </li>
                            </template>
                          </ul>
                        </div>
                      </div>
                      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                        <lightning-input type="text" label="Address 2" maxlength="80" value={addressDetails.AddressLine2__c}
                          name="ShippingStreet" placeholder="Enter Address" disabled={disableStatus}
                          onchange={addressOnChange}></lightning-input>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div
                        class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                        <lightning-input name="City" label="City" id="City" placeholder="Enter City" class="dummyCity"
                          onchange={addressOnChange} value={addressDetails.City__c} required disabled={disableStatus}>
                        </lightning-input>
                      </div>
                      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                        <lightning-input label="State" name="State" class="dummyState" placeholder="Enter State"
                          aria-autocomplete="false" value={addressDetails.State__c} onchange={stateOnChange} required
                          disabled={disableStatus}>
                        </lightning-input>
                        <div if:true={showStateBox} id="listbox-id-16"
                          class="slds-dropdown_length-with-icon-7 popup-dropbox" style="width: 305px;" role="listbox">
                          <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                            role="presentation">
                            <template for:each={filteredStateArr} for:item="item">
                              <li key={item.id} role="presentation" class="slds-listbox__item">
                                <div data-id={item.Id} data-value={item.Value}
                                  class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                  role="option" onclick={setSelectedState}>
                                  {item.Value}
                                </div>
                              </li>
                            </template>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div
                        class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                        <lightning-input label="County" name="County" class="dummyCounty" placeholder="Enter County"
                          aria-autocomplete="false" value={addressDetails.County__c} onchange={countyOnChange} required
                          disabled={disableStatus}>
                        </lightning-input>
                        <div if:true={showCountyBox} id="listbox-id-17"
                          class="popup-dropbox slds-dropdown_length-with-icon-7" style="width: 305px;" role="listbox">
                          <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                            role="presentation">
                            <template for:each={filteredCountyArr} for:item="item">
                              <li key={item.label} role="presentation" class="slds-listbox__item">
                                <div data-id={item.label} data-value={item.value}
                                  class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                  role="option" onclick={setSelectedCounty}>
                                  {item.value}
                                </div>
                              </li>
                            </template>
                          </ul>
                        </div>
                      </div>
                      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                        <lightning-input type="text" label="Zipcode" name="ZipCode" id="ZipCode"
                          placeholder="Enter Zip Code" class="dummyZipCode" maxlength="5" onchange={addressOnChange}
                          value={addressDetails.ZipCode__c} disabled={disableStatus} required></lightning-input>
                      </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                      <div
                        class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                        <lightning-input type="email" class="email" name="Email" disabled={disableStatus}
                          onchange={handleEmailChange} value={addressDetails.Email__c} label="Email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        </lightning-input>
                      </div>
                      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                        <lightning-input type="text" label="Phone Number" disabled={disableStatus}
                          value={addressDetails.Phone__c} max-length=14 required placeholder="Enter Phone Number" onchange={handlePhoneChange}>
                        </lightning-input>
                      </div>
                    </div>
    
                  </fieldset>
                </div>
    
              </div>
            </div>
          </div>
        </div>    

      </div>

      <div class="sec-questions">
        <div class="questions-list">
          <div class="slds-grid slds-wrap">

            <div class="slds-p-around_medium slds-size--1-of-1 ">

              <div class="slds-grid slds-wrap slds-p-around_medium">
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                  <div class="monitorRadioGroup">
                    <lightning-combobox name="InterestedIn" label="Interested In" disabled={disableStatus}
                      placeholder="Select" options={InterestedIn} value={homeInformation.InterestedIn__c}
                      onchange={handleButtonGroupInterestedIn}></lightning-combobox>
                  </div>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                  <template if:true={interestShow}>
                    <div class="monitorRadioGroup">
                      <lightning-input class="wid-465" type="text" label="Please Provide Explanatory Text"
                        name="ExplanatoryText" onchange={handleButtonGroupExplanatoryText} disabled={disableStatus}
                        value={homeInformation.ExplanatoryText__c}></lightning-input>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="questions-list">
          <div class="slds-grid slds-wrap">
            <div class="slds-col--padded slds-size--1-of-1 questions">
              1. Does the Resource Home have waterfront property, a fish or duck pond, or similar body of water at or
              near
              the
              Resource Family Home?
            </div>
            <div class="slds-p-around_medium slds-size--1-of-1 ">
              <div class="monitorRadioGroup slds-col--padded">
                <lightning-radio-group class="waterProperty" options={WaterfrontProperty}
                  value={homeInformation.WaterfrontProperty__c} name="WaterfrontProperty__c"
                  onchange={handleButtonGroupWater} disabled={disableStatus} type="button">
                </lightning-radio-group>
              </div>
            </div>
          </div>
        </div>

        <div class="questions-list">
          <template if:false={poolLocatedYes}>
            <div class="slds-grid slds-wrap questions">
              <div if:false={poolLocatedYes}
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                2. Is there a swimming pool?
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div if:false={poolLocatedYes}
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <div class="monitorRadioGroup">
                  <lightning-radio-group options={SwimmingPool} class="swimmingPool" name="SwimmingPool__c"
                    onchange={handleButtonGroupSwimmingPool} disabled={disableStatus}
                    value={homeInformation.SwimmingPool__c} type="button">
                  </lightning-radio-group>
                </div>
              </div>
            </div>
          </template>
          <template if:true={poolLocatedYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                2. Is there a swimming pool?
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                2(a). Please select where the pool is Located
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <div class="monitorRadioGroup">
                  <lightning-radio-group options={SwimmingPool} value={homeInformation.SwimmingPool__c}
                    class="swimmingPool" name="SwimmingPool__c" onchange={handleButtonGroupSwimmingPool}
                    disabled={disableStatus} type="button">
                  </lightning-radio-group>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <div class="monitorRadioGroup">
                  <lightning-radio-group options={poolLocated} default="In Ground" class="poolLocated"
                    name="PoolLocated__c" onchange={handleButtonGroupPoolLocated} disabled={disableStatus}
                    value={homeInformation.PoolLocated__c} type="button">
                  </lightning-radio-group>
                </div>
              </div>
            </div>
          </template>
        </div>

        <div class="questions-list">
          <template if:false={agencyNameYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                3. Currently Licensed with another Agency
              </div>

            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={LicensedAgency} class="licensedAgency" name="LicensedAgency__c"
                    onchange={handleButtonGroupLicensedAgency} disabled={disableStatus}
                    value={homeInformation.LicensedAgency__c} type="button">
                  </lightning-radio-group>
                </div>
              </div>

            </div>
          </template>
          <template if:true={agencyNameYes}>
            <div class="slds-grid slds-wrap questions">

              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                3. Currently Licensed with another Agency
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                3(a). Enter agency name
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={LicensedAgency} value={homeInformation.LicensedAgency__c}
                    disabled={disableStatus} class="licensedAgency" name="LicensedAgency__c"
                    onchange={handleButtonGroupLicensedAgency} type="button">
                  </lightning-radio-group>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <lightning-input class="margin-top-adj agencyName" value={homeInformation.AgencyName__c}
                  disabled={disableStatus} onchange={handleChange} name="AgencyName__c" type="text">
                </lightning-input>
              </div>
            </div>
          </template>

        </div>

        <div class="questions-list">
          <template if:false={providerDetailsYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                4. Are you a Licensed Child Care Provider?
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={LicensedProvider} class="licensedProvider" name="LicensedProvider__c"
                    value={homeInformation.LicensedProvider__c} disabled={disableStatus}
                    onchange={LicensedProvideronchange} type="button">
                  </lightning-radio-group>
                </div>
              </div>

            </div>
          </template>
          <template if:true={providerDetailsYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                4. Are you a Licensed Child Care Provider?
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                4(a). Enter child care provider details
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={LicensedProvider} class="licensedProvider" name="LicensedProvider__c"
                    value={homeInformation.LicensedProvider__c} disabled={disableStatus}
                    onchange={LicensedProvideronchange} type="button">
                  </lightning-radio-group>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <lightning-input class="margin-top-adj providerDetails" disabled={disableStatus}
                  value={homeInformation.LicensedProviderDetail__c} onchange={handlechangeDetails}
                  name="providerDetails" type="text">
                </lightning-input>
              </div>
            </div>
          </template>


        </div>

        <div class="questions-list">
          <template if:false={ExistingResourceParentYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                5. Have you ever previously applied to become a resource parent with another source?
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={ExistingResourceParent} class="existingResourceParent"
                    name="ExistingResourceParent__c" value={homeInformation.ExistingResourceParent__c}
                    onchange={ExistingResourceParentonchange} disabled={disableStatus} type="button">
                  </lightning-radio-group>
                </div>
              </div>

            </div>
          </template>
          <template if:true={ExistingResourceParentYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                5. Have you ever previously applied to become a resource parent with another source?
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                5(a). Select State
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={ExistingResourceParent} class="existingResourceParent"
                    name="ExistingResourceParent__c" value={homeInformation.ExistingResourceParent__c}
                    onchange={ExistingResourceParentonchange} disabled={disableStatus} type="button">
                  </lightning-radio-group>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <lightning-combobox class="margin-top-adj providerDetails" disabled={disableStatus}
                  options={ResourceParentState} value={homeInformation.ResourceParentState__c}
                  onchange={handleButtonGroupResourceParentState} name="ResourceParentState">
                </lightning-combobox>
              </div>
            </div>
          </template>


        </div>

        <div class="questions-list">
          <template if:false={HomeownerYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                6. Homeowner or Renter?
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={Homeowner} class="homeowner" name="Homeowner__c"
                    value={homeInformation.Homeowner__c} disabled={disableStatus} type="button"
                    onchange={Homeowneronchange}>
                  </lightning-radio-group>
                </div>
              </div>

            </div>
          </template>
          <template if:true={HomeownerYes}>
            <div class="slds-grid slds-wrap questions">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                6. Homeowner or Renter?
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6 ">
                6(a). Year Property Built
              </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-around_medium">
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">

                <div class="monitorRadioGroup">
                  <lightning-radio-group options={Homeowner} class="homeowner" name="Homeowner__c"
                    value={homeInformation.Homeowner__c} disabled={disableStatus} type="button"
                    onchange={Homeowneronchange}>
                  </lightning-radio-group>
                </div>
              </div>
              <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-4 slds-large-size--2-of-6">
                <lightning-input class="margin-top-adj providerDetails" name="YearPropertyBuilt"
                  onchange={handleButtonGroupYearPropertyBuilt} disabled={disableStatus}
                  value={homeInformation.YearPropertyBuilt__c} type="text">
                </lightning-input>
              </div>
            </div>
          </template>


        </div>

      </div>
      <div class="slds-grid slds-wrap padtop10">
        <div class="slds-col bottomAlign slds-col--padded">
          <div class="slds-clearfix">
            <div class="slds-float_right btnSec">
              <lightning-button label="Cancel" onclick={onHandleClear} class="btn-sec mr-10">
              </lightning-button>
              <lightning-button label="Save" disabled={disableStatus} onclick={handleSubmit} class="btn-pri">
              </lightning-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>