.sec-topSlider {
  margin: 10px auto;
  padding: 10px 0px 20px;
  max-width: 85%;
  /* border: 1px solid #eee; */
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  -webkit-appearance: none;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  margin-top: -1px;
  -webkit-appearance: none;
  height: 15px;
  cursor: pointer;
  box-shadow: -400px 0 0 400px #0a69b9;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-top: -25px;
}

/* .icon-home-information {
  width: 120px;
  height: 80px;
  padding: 55px 0 0px;
  margin: 0 auto;
  background: url(../images/home-information.svg) no-repeat center 5px;
} */

.public-homeInformation {
  background-color: #fff;
  padding-top: 1px;
  height: calc(100vh - 230px);
  overflow-y: auto;
}
.slider1,
.slider2 {
  margin-bottom: 30px;
}
.questions {
  padding: 10px;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #ebebeb;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.sec-topSlider .slds-size_large {
  width: auto;
}

.margin-top-adj {
  margin-top: -18px;
}

.dynamicCSS {
  border: 1px solid rgb(117, 201, 243);
  color: black;
}

.box-col1 {
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.box-col1 .slds-p-vertical--xx-large {
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-col1.bluebdr {
  border: 1px solid #0a69b9;
  border-radius: 3px;
  color: #061c40;
}
.plus-icon {
  margin-left: 5px;
  margin-right: 5px;
}
.widContainerpop {
  width: 64%;
}
.padtop {
  margin-top: 50px;
}
.padtop-lastCard {
  margin-top: 37px;
}
.boxLink a {
  text-decoration: none;
  color: #959da5;
  text-decoration: none;
}

.value-slider1 {
  position: relative;
  top: -6px;
  height: 24px;
  width: 35px;
  text-align: center;
}

.heightSlider {
  height: 40px;
}
.monitorRadioGroup {
  position: relative;
  margin-top: -10px;
}

.requiredField {
  color: #f11010;
}

.startFrmEnd {
  align-self: flex-end;
  margin-bottom: 10px;
}

.monitorRadioPosition {
  position: relative;
  margin-top: -10px;
  left: -4px;
  margin-bottom: -10px;
}

/* .monitorRadioGroup {
  padding: 0px;
  float: none;
} */

.fieldset-border {
  height: fit-content;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  opacity: 1;
}

.mar-left {
  margin-left: 20px;
}

.wid-465 {
  width: 465px;
}
