<template>

    <div class="template-screen">
        <div class="slds-grid slds-wrap application_fieldset mb-10 mt-10">
            <div class="slds-col slds-col--padded slds-size_1-of-2 slds-medium-size_1-of-2 slds-large-size_1-of-2">
                <fieldset>
                    <legend class="housHoldFwt_1000">Regulations
                    </legend>
                    <div class="slds-grid slds-wrap">
                        <div
                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 linepad unCheckedReference">
                            <label class="pad unchecked"><span class="CrecordPos">There must be at least 3
                                    references.</span>
                            </label>
                        </div>
                        <div
                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 linepad unCheckedReference">
                            <label class="pad unchecked"><span class="CrecordPos">At least two of the references
                                    must have a Face-to-Face contact.</span>
                            </label>
                        </div>
                        <div
                            class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1 linepad unCheckedReference">
                            <label class="pad unchecked"><span class="CrecordPos">At least two of the references
                                    must have a Relation as "Non-Relative".</span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div if:true={noIconShow} class="slds-align_absolute-center nosearchicon">
                <p>No Reference Check</p>
            </div>
            <div if:false={noIconShow}
                class="refCheck-table mt-20 slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_1-of-1">
                <lightning-datatable key-field="id" data={currentPageRecords} columns={columns}
                    class="custom-tbl generalTable scroll_Overflow" hide-checkbox-column onrowaction={handleRowAction}>
                </lightning-datatable>
                <div class="paginationPosition">
                    <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination}
                        perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
                </div>
            </div>
        </div>
    </div>
    <template if:true={referenceDetPop}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {title}
                            </h2>
                            <button class="close-button" title="Close" onclick={closeAddRefModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                    <lightning-input type="date" name="dorc" class="dummyDate"
                                        label="Date of Reference Check" placeholder="Select Date" autocomplete="off"
                                        max={currentDate} value={referenceCheck.Date__c} onchange={onChangeHandlers}
                                        disabled={isDisabled} required>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                    <lightning-combobox name="typeOfCont" label="Type of Contact"
                                        options={typeOfContactValues} value={referenceCheck.TypeofContact__c}
                                        onchange={onChangeHandlers} placeholder="Select Contact" disabled={isDisabled}
                                        required>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                    <lightning-combobox name="relationBtnAppli" label="Relationship to Applicant"
                                        options={realationshipValues} value={referenceCheck.RelationshiptoApplicant__c}
                                        onchange={onChangeHandlers} placeholder="Select Relationship"
                                        disabled={isDisabled} required>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4"
                                    if:true={relationHouseHold}>
                                    <lightning-combobox name="householdmem" label="Select Household Member"
                                        options={householdmemValues} value={referenceCheck.Actor__c}
                                        onchange={onChangeHandlers} placeholder="Select Member" disabled={isDisabled}
                                        required>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4"
                                    if:false={relationHouseHold}>
                                    <lightning-input type="text" name="firstName" label="First Name" autocomplete="off"
                                        value={referenceCheck.FirstName__c} placeholder="Enter First Name"
                                        onchange={onChangeHandlers} disabled={isDisabled} required>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <lightning-input type="text" name="lastName" label="Last Name" autocomplete="off"
                                        value={referenceCheck.LastName__c} placeholder="Enter Last Name"
                                        onchange={onChangeHandlers} disabled={isDisabled} required>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <lightning-input type="text" name="mobileNumber" label="Phone Number"
                                        autocomplete="off" value={addressOfOther.Phone__c}
                                        placeholder="Enter Phone Number" max-length=14 onchange={onChangeHandlers}
                                        disabled={isDisabled}>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <!-- <lightning-input type="text" name="address1" label="Address 1"
                                            autocomplete="off" value={referenceCheck.AddressLine1__c}
                                            onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input> -->
                                    <lightning-input type="text" label="Address Line 1" maxlength="80"
                                        class="inputRequired4 mandateAddress1" name="address1" id="AddressLineOne"
                                        value={addressOfOther.AddressLine1__c} onchange={onChangeHandlers}
                                        disabled={isDisabled} placeholder="Enter Address">
                                    </lightning-input>
                                    <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" style="margin-top: 2px;
                                            width: 230px;
                                            left: 666px;" class={tabClass} role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                                            role="presentation">
                                            <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.place_id} data-description={item.description}
                                                        class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                                        role="option" onclick={selectStreetAddress}>
                                                        {item.description}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <lightning-input type="text" name="address2" label="Address 2" autocomplete="off"
                                        value={addressOfOther.AddressLine2__c} placeholder="Enter Address"
                                        onchange={onChangeHandlers} disabled={isDisabled}>
                                    </lightning-input>
                                    <!-- <lightning-input type="text" label="Address 2" maxlength="80"
                                            value={addressDetails.AddressLine2__c} name="ShippingStreet"
                                            placeholder="Enter Address" disabled={disableStatus}
                                            onchange={addressOnChange}></lightning-input> -->
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <!-- <lightning-input type="text" name="city" label="City" autocomplete="off"
                                            value={referenceCheck.City__c} onchange={onChangeHandlers}
                                            disabled={isDisabled}>
                                        </lightning-input> -->
                                    <lightning-input name="city" label="City" placeholder="Enter City" class="dummyCity"
                                        onchange={onChangeHandlers} value={addressOfOther.City__c}
                                        disabled={isDisabled}>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <!--  <lightning-input type="text" name="state" label="State" autocomplete="off"
                                            value={referenceCheck.State__c} onchange={onChangeHandlers}
                                            disabled={isDisabled}>
                                        </lightning-input> -->
                                    <lightning-input label="State" name="state" class="dummyState"
                                        placeholder="Enter State" aria-autocomplete="false"
                                        value={addressOfOther.State__c} onchange={onChangeHandlers}
                                        disabled={isDisabled}>
                                    </lightning-input>
                                    <div if:true={showStateBox} id="listbox-id-16"
                                        class="slds-dropdown_length-with-icon-7 popup-dropbox" style="width: 305px;"
                                        role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                                            role="presentation">
                                            <template for:each={filteredStateArr} for:item="item">
                                                <li key={item.id} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.Id} data-value={item.Value}
                                                        class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                                        role="option" onclick={setSelectedState}>
                                                        {item.Value}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <lightning-input label="County" name="county" placeholder="Enter County"
                                        aria-autocomplete="false" value={addressOfOther.County__c}
                                        onchange={onChangeHandlers} disabled={isDisabled}>
                                    </lightning-input>
                                    <div if:true={showCountyBox} id="listbox-id-17"
                                        class="popup-dropbox slds-dropdown_length-with-icon-7" style="width: 305px;"
                                        role="listbox">
                                        <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                                            role="presentation">
                                            <template for:each={filteredCountyArr} for:item="item">
                                                <li key={item.label} role="presentation" class="slds-listbox__item">
                                                    <div data-id={item.label} data-value={item.value}
                                                        class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                                        role="option" onclick={setSelectedCounty}>
                                                        {item.value}
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10"
                                    if:false={relationHouseHold}>
                                    <lightning-input type="text" name="zipcode" label="Zip Code" autocomplete="off"
                                        value={addressOfOther.ZipCode__c} placeholder="Enter Zip Code"
                                        onchange={onChangeHandlers} disabled={isDisabled}>
                                    </lightning-input>
                                    <!-- <lightning-input type="text" label="Zipcode" name="ZipCode" id="ZipCode"
                                            placeholder="Enter Zip Code" class="dummyZipCode" maxlength="5"
                                            onchange={onChangeHandlers} value={addressOfOther.ZipCode__c}
                                            disabled={disableStatus}></lightning-input> -->
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={schoolRefCheckValues} name="schoolRefCheck"
                                                type="button" label="Is this a school reference check"
                                                value={referenceCheck.SchoolReferenceCheck__c}
                                                onchange={onChangeHandlers} disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-10">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={refRecommentsValues} name="refRecomments"
                                                type="button" label="Reference Recommends"
                                                value={referenceCheck.ReferenceRecommends__c}
                                                onchange={onChangeHandlers} disabled={isDisabled} required>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 mt-10">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={relationValues} name="relation"
                                                type="button" value={referenceCheck.Relation__c} label="Relation"
                                                onchange={onChangeHandlers} disabled={isDisabled} required>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-large-size--1-of-1 mt-10">
                                    <lightning-textarea style="height:80px" name="comments" label="Comments"
                                        value={referenceCheck.Comments__c} placeholder="Type Comments"
                                        onchange={onChangeHandlers} disabled={isDisabled}>
                                    </lightning-textarea>
                                    <div class="speechIcon">
                                        <c-common-speech-to-text onspeechtotext={handleSpeechToText}>
                                        </c-common-speech-to-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1 slds-p-top_small slds-text-align_right">
                                    <lightning-button class="btn btn-sec" label="CANCEL" onclick={closeAddRefModel}>
                                    </lightning-button>
                                    <lightning-button if:false={isDisabled} variant="brand" label={saveOrUpdateLabel}
                                        class="btn btn-pri slds-m-left_x-small" onclick={saveOrUpdateRefCheck}
                                        disabled={isDisableActionBtn}>
                                    </lightning-button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>


    <template if:true={showCommentsPop}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Comments</h2>
                        <button class="close-button" title="Close" onclick={closeCommentsPop}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            {commentsOfPad}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <!-- //POPUP Window For Conformation Start-->
    <template if:true={openmodel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
                <div class="slds-modal__container" style="width: 35%;">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <button class="close-button" title="Close" onclick={closeModal}></button>
                        </header>
                        <!-- modal body start -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                            <div class="slds-align_absolute-center delete-icon">
                                <p>Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!-- modal footer start-->
                        <footer class="slds-modal__footer slds-align_absolute-center">
                            <button class="slds-button slds-button_text-destructive" onclick={deleteFrSure}>
                                Yes
                            </button>
                            <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                                No
                            </button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <!-- //POPUP Window For Conformation End-->
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>

</template>