.pad {
  padding-left: 20px;
}

.checked {
  color: #4caf50;
}

.unchecked {
  color: #ff0000;
}

.linepad {
  margin-top: 10px; width:100%;
}

.speechIcon {
  position: relative;
  margin-top: -50px;
  border: 0;
  z-index: 300;
  outline: none; float: right;
}

.CrecordPos{ position: relative; left:10px}

.refCheck-table .custom-tbl {
  display: inline-block;
  height: calc(100vh - 389px);
  width: 100%;
}
.refCheck-table .paginationPosition {
  position: relative;
  top: 5px;
}
