<template>
    <div if:false={showNoDataImage}>
        <lightning-datatable class="custom-tbl" key-field="Id" row-number-offset={rowOffset} columns={columns} onsort={handleSortData} sorted-direction={sortDirection} sorted-by={sortBy} hide-checkbox-column data={complaintsTabelData} onrowaction={handleRowAction}>
        </lightning-datatable>
    </div>
    <div if:true={showNoDataImage}>
        <div class="template-screen">
            <div class="text-center file-upload slds-p-vertical--xx-large">
                <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
                <p class="font-bold padtop10">No Records Available</p>
            </div>
        </div>
    </div>
    <template if:true={viewModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
            <div class="slds-modal__container">
                <div class="popborder">
                    <template if:true={suspensionModal}>
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
              Suspension
            </h2>
                            <button class="close-button" title="Close" onclick={handleCloseModal}></button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="max-height:300px;overflow-y:auto;">
                            <!-- supension modal start  -->
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={sanctionsViewStartDate} name="Start Date" label="Start Date" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={sanctionsViewEndDate} name="End Date" label="End Date" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={sanctionsViewDocument} name="Document" label="Document" disabled>
                                    </lightning-input>
                                </div>
                                <div if:false={deliveryLength} class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={sanctionsViewDelivery} name="Delivery" label="Delivery" disabled>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </template>
                    <!-- supension modal end -->
                    <!-- Revocation modal start  -->
                    <template if:true={rovocationModal}>
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">
                  Revocation
                </h2>
                            <button class="close-button" title="Close" onclick={handleCloseModal}></button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2" style="max-height:300px;overflow-y:auto;">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={limitationViewRevocationDate} name="Rovocation Date" label="Revocation Date" disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={limitationViewDocumentData} name="Document" label="Document" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={limitationViewDeliveryData} name="Delivery" label="Delivery" disabled>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </template>
                    <!-- Revocation modal end -->
                    <!-- Limitataion modal start -->
                    <template if:true={limitionModal}>
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate fontweight">
                  Limition
                </h2>
                            <button class="close-button" title="Close" onclick={handleCloseModal}></button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3" style="max-height:300px;overflow-y:auto;">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-col--padded slds-large-size_1-of-1">
                                    <h3>YOUTH LIMITATION</h3>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={numberOfYouthServed} name="Number of Youth Served" label="Number of Youth Served" disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={youthEndDate} name="End Date" label="End Date" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={populationEffectiveDate} name="Effective Date" label="Effective Date" disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={youthLimitationReason} name="Limitation Reason" label="Limitation Reason" disabled></lightning-input>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap mt-20">
                                <div class="slds-col slds-col--padded slds-large-size_1-of-1">
                                    <h3>POPULATION LIMITATION</h3>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={minAge} name="Minimum Age" label="Minimum Age" disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={maxAge} name="maximum Age" label="maximum Age" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={gender} name="Gender" label="Gender" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={populationLimitationReason} name="Limitation Reason" label="Limitation Reason" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={populationEffectiveDate} name="Effective Date" label="Effective Date" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={PopulationEndDate} name="End Date" label="End Date" disabled>
                                    </lightning-input>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap mt-20">
                                <div class="slds-col slds-col--padded slds-large-size_1-of-1">
                                    <h3>PROGRAM SERVICES</h3>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={providerAssignedService} name="Provider Assigned Services" label="Provider Assigned Services" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={programEffectiveDate} name="Effective Date" label="Effective Date" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={programLimitationReason} name="Limitation Reason" label="Limitation Reason" disabled></lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={delivery} name="Delivery" label="Delivery" disabled>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                    <lightning-input value={document} name="Document" label="Document" disabled>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </template>
                    <!-- <Limitataion modal end -->
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={handleCloseModal}>
                        Close
                    </button>
                </footer>
            </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>