<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-col--padded slds-size_1-of-1 mt-10">
            <div class="slds-clearfix">
                <div class="slds-float_left mt-20">
                    <legend class="sec-title">CONTACT INFORMATION</legend>
                </div>
                <div class="slds-float_right">
                    <lightning-button variant="brand" class="btn btn-pri slds-p-left_x-small" label="ADD NEW" onclick={openContactModel}>
                    </lightning-button>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-wrap" if:false={noRecordsFound} style="margin-top:5px;">
        <div class="slds-col  slds-size_1-of-1 generalTable">
            <lightning-datatable class="custom-tbl heightScroll" key-field="id" data={currentPageContactData} columns={columns} hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
            </lightning-datatable>
            <div class="cpagebottom">
                <c-common-pagination get-count={totalContactsCount} page={page} setsize={setPagination} perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
                </c-common-pagination>
            </div>
        </div>
    </div>
    <div if:true={noRecordsFound} class="slds-align_absolute-center noRecords-icon">
        <center>
            <p><b>No Contacts Available for the Provider</b></p>
        </center>
    </div>
    <template if:true={openModel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {title}</h2>
                            <button class="close-button" title="Close" onclick={closeContactModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium" id="modal-content-id-1">
                            <lightning-layout multiple-rows="true">
                                <lightning-layout-item size="12">
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-combobox name="AddressType" label="Address Type" placeholder="Select Type" options={addressTypeOptions} onchange={addressOnChange} value={addressDetails.type} required disabled={disableType}>
                                            </lightning-combobox>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="AddressLine1" label="Address Line 1" placeholder="Enter Address" onchange={getStreetAddress} value={addressDetails.addressLine1} required>
                                            </lightning-input>
                                            <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" class={tabClass} role="listbox" style="width: 250px;
                                                left: 411px;">
                                                <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                                    <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                                                        <li key={item.id} role="presentation" class="slds-listbox__item">
                                                            <div data-id={item.place_id} data-description={item.description} class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" onclick={selectStreetAddress}>
                                                                {item.description}
                                                            </div>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="AddressLine2" label="Address Line 2" placeholder="Enter Address" onchange={addressOnChange} value={addressDetails.addressLine2}>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input label="State" name="State" type="search" class="dummyState" placeholder="Enter State" aria-autocomplete="false" value={selectedState} onchange={stateOnChange} required>
                                            </lightning-input>
                                            <div if:true={showStateBox} id="listbox-id-16" class=" slds-dropdown_length-with-icon-7 popup-dropbox" role="listbox">
                                                <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                                    <template for:each={filteredStateArr} for:item="item">
                                                        <li key={item.id} role="presentation" class="slds-listbox__item">
                                                            <div data-id={item.Id} data-value={item.Value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedState}>
                                                                {item.Value}
                                                            </div>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="City" label="City" id="City" placeholder="Enter City" class="dummyCity" onchange={addressOnChange} value={selectedCity} required>
                                            </lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="ZipCode" label="Zip Code" id="ZipCode" placeholder="Enter Zip Code" class="dummyZipCode" maxlength="5" onchange={addressOnChange} value={selectedZipCode} required>
                                            </lightning-input>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input label="County" name="County" type="search" class="dummyCounty" placeholder="Enter County" aria-autocomplete="false" value={selectedCounty} onchange={countyOnChange} required>
                                            </lightning-input>
                                            <div if:true={showCountyBox} id="listbox-id-17" class="popup-dropbox slds-dropdown_length-with-icon-7" role="listbox">
                                                <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation">
                                                    <template for:each={filteredCountyArr} for:item="item">
                                                        <li key={item.label} role="presentation" class="slds-listbox__item">
                                                            <div data-id={item.label} data-value={item.value} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option" onclick={setSelectedCounty}>
                                                                {item.value}
                                                            </div>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input type="email" name="Email" label="Email" placeholder="Enter Email" onchange={addressOnChange} value={addressDetails.email} pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" message-when-pattern-mismatch="Invalid Email">
                                            </lightning-input>
                                            <!--<lightning-input name="Email" label="Email" placeholder="Enter Email"
                                                onchange={addressOnChange} value={addressDetails.email}>
                                            </lightning-input>-->
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-around_x-small">
                                            <lightning-input name="Phone" label="Phone Number" placeholder="Enter Phone Number" maxlength="14" onchange={addressOnChange} value={addressDetails.phone}>
                                            </lightning-input>
                                            <!--<lightning-input name="Phone" label="Phone" placeholder="Enter Phone"
                                                onchange={addressOnChange} value={addressDetails.phone}>
                                            </lightning-input>-->
                                        </lightning-layout-item>
                                    </lightning-layout>
                                    <lightning-layout>
                                        <lightning-layout-item size="6" class="slds-p-around_x-small">
                                            <p class="blue-font"><i>Use ',' to add more email and phone number</i></p>
                                        </lightning-layout-item>
                                        <!--<div class="btnRight">
                                        <lightning-layout>
                                            <lightning-layout-item size="12" class="slds-p-around_x-small">
                                                <lightning-button label="Done" variant="brand"
                                                    onclick={saveContactDetails} disabled={btnDisable}>
                                                </lightning-button>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                    </div>-->
                                        <lightning-layout-item size="6" class="slds-p-around_x-small">
                                            <div class="btnSec pr-0">
                                                <lightning-button class="btn btn-sec" onclick={cancelContactDetails} label="CANCEL"></lightning-button>
                                                <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={saveContactDetails} disabled={disabled}>
                                                </lightning-button>
                                            </div>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <template if:true={deleteModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}>
                        </button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>
                            <lightning-spinner if:true={deleteLoader} size="small"></lightning-spinner>
                            Yes
                        </button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>
                            No
                        </button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>