.btnRight {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

div input[readonly] {
    padding-left: 1.75rem !important;
}

.slds-input {
    padding-left: 1.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 56% !important;
}

.slds-icon_small,
.slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
}

.slds-p-left_none {
    position: relative;
}

.slds-dropdown {
    width: calc(100% - 28%);
}

.blue-font {
    color: #545EE4
}

.align {
    margin-top: 7px;
    margin-right: 15px;
}

.cpagebottom {
    position: absolute;
    bottom: 10px;
}

.heightScroll {
    height: 240px !important;
}