.popcontainer{width: 70%;}
.advanced-wrap{ margin-top:10px;}
.advanced-wrap p{ cursor: pointer; color: #087DE1; display: inline-block;}
.searchhousehold_fieldset fieldset {
    display: block;
    padding: 10px 0px 10px 7px;
    margin-top: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
  }
  .pad5px{ padding-left:5px;}
  .pad7whole{padding: 7px;}
  .clear-search{ float: left;  padding-left: 5px;}
  .unicode-rightarr{ padding:0px 15px;}
  .hhm-bg{  width:100%;
      position: fixed;  }
     .hhm-innerWrap{ background: #fff;
      box-shadow: 0 2px 5px #45414E1C;
      width: calc(100vw - 18px);
      height: calc(100vh - 343px); 
      margin:10px 10px 10px 9px;
      border-radius: 3px; }
.pad20{ padding:20px;}
  
.custom-tbl.hhg-tbl{ display: block;}
.search-screen{   background: #fff; height: calc(100vh - 175px); overflow-y: auto;
  border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
   position: fixed; width:calc(100vw - 20px);}

   .icon-mplus:before,  .icon-mminus:before{
    display: inline-block;
    content: "+";
    font-size: 17px;
    /* font-weight: 600; */
    background: #0a69b9;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    padding-left: 0px;
    color: #fff;
    border-radius: 20px;
    vertical-align: middle;
   }
   .icon-mminus:before{
    content: "-";
    padding-left: 2px;
   }
.font600{ font-weight: 600;}
