<template>
    <template if:true={openSearchHouseholdModel}>
        <div class="demo-only">
          <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
            <div class="slds-modal__container popcontainer">
              <header class="slds-modal__header">
                <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                  Search Household Members</h2>
                <button class="close-button" title="Close" onclick={searchHouseholdCloseModal}>
                </button>
              </header>
              <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
                <div class="slds-grid slds-wrap pad5px">
                  <div
                    class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-4">
                    <span>
                        <lightning-input name="FirstName"
                        value={searchHouseHoldMembersLists.FirstName} label="First Name" onchange={handleChange}>
                      </lightning-input>
                    </span>
                  </div>
                  <div
                    class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-4">
                    <span>
                        <lightning-input name="LastName"
                        value={searchHouseHoldMembersLists.LastName} label="Last Name" onchange={handleChange}>
                      </lightning-input>
                    </span>
                  </div>
                  <div
                    class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-4">
                    <span>
                        <lightning-input name="MaidenName"
                        value={nonSearchHouseHoldMembersLists.MaidenName} label="Maiden Name">
                      </lightning-input>
                    </span>
                  </div>
                  <div
                    class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-4">
                    <span>
                        <lightning-input name="AliasName"
                        value={nonSearchHouseHoldMembersLists.AliasName} label="Alias Name">
                      </lightning-input>
                    </span>
                  </div>                 
  
                </div>
                <div class="slds-grid slds-wrap mt-5 pad5px">
                    <div
                      class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-8">
                      <span>
                          <lightning-input type="date" name="DOB__c"
                          value={searchHouseHoldMembersLists.DOB__c} label="DOB" onchange={handleChange}>
                        </lightning-input>
                      </span>
                    </div>
                    <div
                      class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-8">
                      <span>
                        <lightning-combobox name="Gender__c" placeholder="Select"
                        value={searchHouseHoldMembersLists.Gender__c} label="Gender" options={GenderOptions} onchange={handleChange}>
                      </lightning-combobox>
                      </span>
                    </div>
                    <div
                      class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-8">
                      <span>
                          <lightning-input name="ApproximateAge__c"
                          value={searchHouseHoldMembersLists.ApproximateAge__c} label="Approx. Age" onchange={handleChange}>
                        </lightning-input>
                      </span>
                    </div>
                    <div
                      class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-8">
                      <span>
                          <lightning-input name="SSN__c"
                          value={searchHouseHoldMembersLists.SSN__c} label="SSN" onchange={handleChange}>
                        </lightning-input>
                      </span>
                    </div>                 
                    <div
                      class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_2-of-8">
                      <span>
                          <lightning-input name="StateID"
                          value={nonSearchHouseHoldMembersLists.StateID} label="State ID / Driver's License">
                        </lightning-input>
                      </span>
                    </div>
                    <div
                      class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_2-of-8">
                      <span>
                          <lightning-input name="PetitionId"
                          value={nonSearchHouseHoldMembersLists.PetitionId} label="Petition / Folder ID">
                        </lightning-input>
                      </span>
                    </div>
                                                      
                </div>
                <div if:true={advanceSearchLabel} class="searchhousehold_fieldset">
                    <fieldset>
                        <legend class="sec-title">
                            ADVANCE SEARCH
                          </legend>
                   
                    <div class="slds-grid slds-wrap">
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="FEIN"
                              value={nonSearchHouseHoldMembersLists.FEIN} label="FEIN">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Complaint"
                              value={nonSearchHouseHoldMembersLists.Complaint} label="Complaint">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Occupation"
                              value={nonSearchHouseHoldMembersLists.Occupation} label="Occupation">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Email"
                              value={nonSearchHouseHoldMembersLists.Email} label="Email">
                            </lightning-input>
                          </span>
                        </div>                 
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Phone"
                              value={nonSearchHouseHoldMembersLists.Phone} label="Phone">
                            </lightning-input>
                          </span>
                        </div>
                                                          
                    </div>   
                    <div class="slds-grid slds-wrap mt-5">
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="OldNos"
                              value={nonSearchHouseHoldMembersLists.OldNos} label="Old#s">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="CJAMSPID"
                              value={nonSearchHouseHoldMembersLists.CJAMSPID} label="CJAMS PID">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="CHESSIEPID"
                              value={nonSearchHouseHoldMembersLists.CHESSIEPID} label="CHESSIE PID">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="SocialMediaName"
                              value={nonSearchHouseHoldMembersLists.SocialMediaName} label="Social Media Name">
                            </lightning-input>
                          </span>
                        </div>                 
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Address1"
                              value={nonSearchHouseHoldMembersLists.Address1} label="Address 1">
                            </lightning-input>
                          </span>
                        </div>
                                                          
                    </div>                                       
                    <div class="slds-grid slds-wrap mt-5">
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Address2"
                              value={nonSearchHouseHoldMembersLists.Address2} label="Address 2">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="City"
                              value={nonSearchHouseHoldMembersLists.City} label="City">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="State"
                              value={nonSearchHouseHoldMembersLists.State} label="State">
                            </lightning-input>
                          </span>
                        </div>
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="Country"
                              value={nonSearchHouseHoldMembersLists.Country} label="County">
                            </lightning-input>
                          </span>
                        </div>                 
                        <div
                          class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-5">
                          <span>
                              <lightning-input name="ZipCode"
                              value={nonSearchHouseHoldMembersLists.ZipCode} label="Zip Code">
                            </lightning-input>
                          </span>
                        </div>
                                                          
                    </div> 
                  </fieldset>                     
                </div>
                <div class="advanced-wrap pad5px">
                  <p onclick={advanceSearch} if:false={advanceSearchLabel}>Advance Search <span class="icon-mplus"></span></p>
                  <p onclick={advanceSearch} if:true={advanceSearchLabel}>Hide Advance Search <span class="icon-mminus"></span></p>
                </div>         
            </div>
                <footer class="slds-modal__footer">
                  <lightning-button label="Clear Search" class="clear-search mr-10" variant="brand-outline" onclick={clearSearchHousehold}>
                  </lightning-button>
                    <lightning-button label="Cancel" class="mr-10" variant="brand-outline" onclick={searchHouseholdCloseModal}>
                    </lightning-button>
                    <lightning-button label="Search" variant="neutral" onclick={searchHouseHoldData} disabled={disableSearchButton}></lightning-button>
      
                  </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
      </template>


      <template if:true={searchHouseHoldTableView}>
        <h2 class="sub-title"><a onclick={redirectHouseHoldMemberHome}>HOUSEHOLD MEMBERS</a> <span class="unicode-rightarr">&#62;</span> SEARCH RESULTS</h2>
        <div class="hhm-bg"> 
          <div class="hhm-innerWrap">
          <div class="slds-grid slds-wrap pad20">
          <div
            class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_2-of-3">
            <span>
              <label>Search Criteria</label>
              <!-- Start Pill -->
              <div  class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap pad7whole"
              onclick={handlePType}>
              <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:"
                aria-orientation="horizontal">
                <template for:each={pillvalueForSearchHold} for:item="pills">
                  <li class="slds-listbox-item slds-truncate" role="presentation"
                    key={pills.value} title={pills.value}>
                    <lightning-pill label={pills.value} onremove={handleRemove}></lightning-pill>
                  </li>
                </template>
              </ul>
            </div>
         <!-- End Pill -->
            </span>

          </div>
              <div
              class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3 slds-large-size_1-of-3" style="padding-top:40px;">
              <span><a onclick={opensearchhouseholdmodel}><lightning-icon icon-name="utility:edit" size="x-small" class="marginRight10 iconColor"></lightning-icon> Edit Search</a></span>
          </div>
        </div>
        <template if:true={norecorddisplay}>
          <lightning-datatable key-field="Id" data={currentPageHouseHoldData} columns={columns} onrowaction={handleRowAction} onrowselection={handleRowSelection}
           max-row-selection="1" class="contract-tbl">
          </lightning-datatable>
        </template>
        <footer class="slds-modal__footer">
          <div class="slds-clearfix">
            <div class="slds-float_left">
              <c-common-pagination if:true={norecorddisplay} get-count={totalRecordsCount} page={page} setsize={setPagination}
              perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
            </div>
            <div class="slds-float_right">
              <lightning-button label="Cancel" variant="brand-outline" class="mr-10" onclick={redirectHouseHoldMemberHome}>
              </lightning-button>
              <lightning-button label="Next" variant="neutral" disabled={isDisableNextButton} onclick={redirectAddHouseHoldMember}></lightning-button>
            </div>
          </div>
        </footer>
      </div>
    </div>
    </template>

    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
      <c-common-loading-spinner></c-common-loading-spinner>
    </div>

  <template if:false={norecorddisplay}>
    <div class="search-screen">
    <div class="text-center file-upload slds-p-vertical--xx-large ">
        <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
        <p class="font-bold padtop10">No Search Data Found</p>
     </div>
    </div>
  </template>
     
     
</template>