.basic-col-wrapper{
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 10px #e0e0e0;
        height: calc(100vh - 209px);
        overflow: auto;
       
    }
  
    .left-col-info{
        width: calc(70% - 14px);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 15px #45414E14;
        padding: 15px 12px;
        height: calc(100vh - 207px);
        overflow: auto;
        margin-right: 14px;
      }
    
      .right-col-info{width:30%; height: calc(100vh - 207px); 
         border: 1px solid #EBEBEB;  overflow: hidden;
        border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
         position: relative; } 
       .siteInfo-headBar{ padding: 11px 0px 11px 13px; background-color: #F7F7FA; border: 1px solid #ECECEC;
        width:100%; border-top-left-radius:4px; border-top-right-radius:4px; }
      .siteInfo-bodyBar{  background-color: #FAFAFC; padding:10px 0px; }
      .siteInfo-bodyBar .slds-col--padded{ padding:10px;}
      .right_scrollBar{ height:calc(100vh - 207px); overflow-y: auto;}
      .btn-edit{ margin-top: 10px;}