<template>
  <div class="slds-grid slds-wrap">
    <div class="slds-col">
      <div class="slds-clearfix">
        <div class="slds-float_right tab-content btn-topright" if:false={isSuperUserFlow}>
          <lightning-button
            variant="brand"
            label="Add Characteristics"
            title="Add Characteristics"
            onclick={addChildCharacteristicsModalHandler}
          >
          </lightning-button>
        </div>
      </div>
    </div>
  </div>

  <div class="slds-grid slds-wrap decision_fieldset">
    <div class="left-col-info">
      <fieldset>
        <legend class="sec-title">
          CONTRACT INFORMATION
        </legend>
        <div class="slds-grid slds-wrap">
          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              type="text"
              label="License Number"
              value={licenseNumber}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>
          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              type="text"
              label="License Type"
              value={licenseStatus}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>
          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              label="Contract License Status"
              value={contractLicenseStatus}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>
        </div>

        <div class="slds-grid slds-wrap mt-10">
          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              label="Fiscal Date"
              type="date"
              value={fiscalStatus}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>

          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              label="Start Date"
              type="date"
              value={startDate}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>
          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              label="End Date"
              type="date"
              name="ContractEndDate__c"
              value={endDate}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>
        </div>

        <div class="slds-grid slds-wrap mt-10">
          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              label="License Beds"
              type="text"
              name={licenseBeds}
              value={licenseBeds}
              disabled
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>

          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <lightning-input
              label="IRC Bed Capacity"
              type="text"
              value={IRCBedCapacity}
              disabled
              name="IRCBedCapacity"
              onchange={inputChangeHandler}
            >
            </lightning-input>
          </div>

          <div
            class="slds-col--padded slds-col slds-size_2-of-6 slds-medium-size_2-of-6 slds-large-size_2-of-6"
          >
            <template if:true={editBasicInfo}>
              <lightning-input
                label="Contracted Beds"
                type="text"
                disabled
                value={contractedBeds}
                name="TotalContractBed__c"
                onchange={inputChangeHandler}
              >
              </lightning-input>
            </template>
            <template if:false={editBasicInfo}>
              <lightning-input
                label="Contracted Beds"
                type="text"
                value={contractedBeds}
                name="TotalContractBed__c"
                onchange={inputChangeHandler}
              >
              </lightning-input>
            </template>
          </div>
        </div>
      </fieldset>
      <div class="slds-grid slds-wrap mt-10">
        <div class="slds-col">
          <div class="siteInfo-headBar">SITE INFORMATION</div>
          <div class="siteInfo-bodyBar">
            <div class="slds-grid slds-wrap">
              <div
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_3-of-12"
              >
                Site ID
              </div>
              <div
                class="fw-500 slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_9-of-12"
              >
                {siteId}
              </div>

              <div
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_3-of-12"
              >
                Site Address
              </div>
              <div
                class="fw-500 slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_9-of-12"
              >
                {siteAddress}
              </div>

              <div
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_3-of-12"
              >
                <img
                  src={phone}
                  class="slds-p-right_x-small"
                  style="width: 23px;"
                />
                Mobile Number
              </div>
              <div
                class="fw-500 slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_9-of-12"
              >
                {mobileNumber}
              </div>

              <div
                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_3-of-12"
              >
                <img
                  src={email}
                  class="slds-p-right_x-small"
                  style="width: 23px;"
                />
                Email Address
              </div>
              <div
                class="fw-500 slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_9-of-12"
              >
                {emailAddress}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slds-clearfix">
        <div class="slds-float_right">
          <template if:false={hiddenEditButton}>
            <div class="btn-edit">
              <lightning-button
                variant="brand-outline"
                label="EDIT"
                title="EDIT"
                disabled={disabledEdit}
                onclick={editFormData}
                class="btn btn-sec"
              >
              </lightning-button>
            </div>
          </template>
          <template if:true={hiddenEditButton}>
            <div class="btn-edit">
              <lightning-button
                variant="neutral"
                label="Cancel" 
                title="Cancel"
                onclick={cancelHandler}
                class="btn btn-sec mr-10"
              >
              </lightning-button>
              <lightning-button
                variant="brand"
                label="SAVE"
                title="SAVE"
                onclick={saveHandler}
              >
              </lightning-button>
            </div>
          </template>
        </div>
      </div>
    </div>

    <div class="right-col-info">
      <div class="slds-col">
        <div class="right_scrollBar">
          <lightning-datatable
            if:false={childCharacteristicsDatatableData}
            key-field="id"
            data={ListSelectedData}
            hide-checkbox-column
            columns={columns}
            onrowaction={handleRowAction}
            class="general-tbl btn-nobdr table-test"
          >
          </lightning-datatable>
          <template if:true={childCharacteristicsDatatableData}>
            <div
              class="text-center file-upload slds-p-vertical--xx-large margintop100"
            >
              <img
                class="icon-attachment"
                src={attachmentIcon}
                style="width: 89px;"
              />
              <p class="font-bold padtop10">Add Characteristics Here</p>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <!-- childCharacteristicsData modal start  -->
  <template if:true={openAddChildCharacteristicsModal}>
    <c-add-child-chararcteristics-modal
      child-characteristics={childCharacteristicsData}
      onopenaddchildcharacteristicsmodal={closeChildCharacteristics}
      onselecteddatachildcharacteristics={saveSelectedData}
      list-selected={ListSelectedData}
    >
    </c-add-child-chararcteristics-modal>
  </template>
  <!-- childCharacteristicsData modal end -->

  <!-- deleteModal modal ui start  -->
  <template if:true={deleteModal}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-3"
      class="slds-modal slds-fade-in-open delete-popup"
    >
      <div class="slds-modal__container" style="width: 35%;">
        <div class="popborder">
          <header class="slds-modal__header">
            <button
              class="close-button"
              title="Close"
              onclick={closeDeleteModal}
            ></button>
          </header>
          <!-- modal body start -->
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-3"
          >
            <div class="slds-align_absolute-center delete-icon">
              <p>Are you sure you want to delete?</p>
            </div>
          </div>
          <!-- modal footer start-->
          <footer class="slds-modal__footer slds-align_absolute-center">
            <button
              class="slds-button slds-button_text-destructive"
              onclick={deleteOkHandler}
            >
              Yes
            </button>
            <button
              class="slds-button slds-button_outline-brand"
              onclick={deleteCancelHandler}
            >
              No
            </button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <!-- deleteModal modal ui end -->
</template>
