.licenseScreen{background: #fff;  height:calc(100vh - 175px);   overflow-y: auto;
  border: #EAEAEA 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
   position: relative; width:calc(100vw - 20px); border-top-left-radius: 0; }
  .license-headBar{ padding: 11px 0px 11px 13px; background-color: #F7F7FA; width:100%; border-top-left-radius:4px; border-top-right-radius:4px; }
  .license-bodyBar{  background-color: #FAFAFC; padding:10px 0px; }
  .license-infoPad .slds-col--padded{ padding:10px 0;}
  .license_fieldset fieldset { 
      display: block;
      padding: 10px 0px 10px 10px;
      border: 1px solid #F2F2F2;
      margin-top:10px;
      border-radius: 3px;
    }
    .licenseinfo-card-row{display: flex;
      /* margin-top: 10px; */
      margin-left: 10px;
      justify-content: left;}
    .licenseinfo-cards {  width: 55%;
      background: #fff;
      border-radius: 3px;
      margin-right: 20px;}
  .padtop10{ padding-top:10px;}
      .figure-marginoRight{ margin-right: 0px; text-align: center; height:60px;}
      h2.card-label{ margin-bottom:5px;}