<template>
    <div class="licenseScreen padtop10">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-col--padded slds-size_1-of-1">
                <div class="license-headBar fw-500">License Information</div>
                <div class="license-bodyBar">
                    <div class="slds-grid slds-wrap">
                        <div
                            class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_5-of-12">
                            <div class="slds-grid slds-wrap license-infoPad">
                                <div
                                    class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    License Number
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {LicenseNumber}
                                </div>
                                <div
                                    class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    Program
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {Program}
                                </div>
                                <div
                                    class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    Program Type
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {ProgramType}
                                </div>
                                <div
                                    class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    Provider Name
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {ProviderName}
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    License Start Date
                                    <div style="width:130px">
                                        <lightning-input type="date"  name="LicenseStartDate__c"
                                    value={LicenseStartDate} onchange={handleChange} disabled={disdate}></lightning-input>
                                </div>
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    License End Date
                                    <div style="width:130px">
                                        <lightning-input type="date"  name="LicenseEndDate__c"
                                    value={LicenseEndDate} onchange={handleChange} disabled={disdate}></lightning-input>
                                </div>
                                </div>

                               
                            </div>
                        </div>
                        <div
                            class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_5-of-12">
                            <div class="slds-grid slds-wrap license-infoPad">
                                <div class=" slds-col--padded  slds-size--1-of-2">
                                    Site Id
                                </div>
                                <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                                {SiteID}
                                </div>
                                <div class=" slds-col--padded  slds-size--1-of-2">
                                    Site Address
                                </div>
                                <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                                   {SiteAddress}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap license_fieldset">
            <div class="slds-col slds-col--padded slds-size_1-of-2">
                <fieldset>
                    <legend class="fw-500">Bed Information</legend>
                    <div class="licenseinfo-card-row">
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class=" slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={ircIcon} class="slds-p-right_x-small" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                IRC Bed Capacity
                                            </h2>
                                            <h2 class="card-value fw-500">{IRCCapacity}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight" style="height:59px">
                                            <img src={licenseBeds} class="slds-p-right_x-small"
                                                style="margin-top: 10px;" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                License Beds
                                            </h2>
                                            <h2 class="card-value fw-500">{LicenseBeds}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={contractedBeds} class="slds-p-right_x-small" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                Contracted Bed
                                            </h2>
                                            <h2 class="card-value fw-500">{ContractedBeds}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-2">
                <fieldset>
                    <legend class="fw-500">Other Information</legend>
                    <div class="licenseinfo-card-row">
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={ageRange} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                Age Range
                                            </h2>
                                            <h2 class="card-value fw-500">{MinAge} - {MaxAge}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={iQRange} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                IQ Range
                                            </h2>
                                            <h2 class="card-value fw-500">{MinIQ} - {MaxIQ}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={genderIcon} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                Gender
                                            </h2>
                                            <h2 class="card-value fw-500">{Gender}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                    </div>
                </fieldset>
            </div>
            
        </div>
        <div class="slds-grid slds-wrap mt-10"> 
            <div class="slds-col slds-col--padded">
            <div class="slds-clearfix">
            <div class="slds-float_right" if:true={isSaveButtonShow}>
                <lightning-button variant="brand" label="Save" onclick={handleSave}>
                </lightning-button>
            </div>
          </div></div>
        </div>
    </div>
</template>