<template>
  <h2 class="sub-title">SERVICES</h2>
  <div class="slds-grid slds-wrap ref-summary">
    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 referral-box Padleftnone">
      <div class="slds-card vacancies">
        <div class="slds-card__header slds-grid">
          <div class="slds-grid slds-gutters">
            <div class="slds-col">
              <p class="title">Total Vacancies</p>
              <p class="value">{capacityTotalCount}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 referral-box">
      <div class="slds-card staff">
        <div class="slds-card__header slds-grid">
          <div class="slds-grid slds-gutters">
            <div class="slds-col">
              <p class="title">Total Staff</p>
              <p class="value">{staffTotalCount}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="newReferal-table" if:true={dataTableShow}>
    <lightning-datatable class="custom-tbl" key-field="id" data={applicationsOfProv} columns={columns}
      hide-checkbox-column default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
      sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
    </lightning-datatable>

    <div class="pagePosition">
      <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
        onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
    </div>
  </div>

  <div if:false={dataTableShow} class="slds-align_absolute-center recordFile">
    <p>No Records Available for the Provider</p>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>