<template>
    <div class="slds-theme_default">
        <div class="slds-float_right tab-content btn-topright">
            <lightning-button label="ADD CPA Home" variant="brand" onclick={openCPAModal}>
            </lightning-button>
        </div>
    </div>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-p-top_small slds-col--padded slds-size_1-of-4">
            <lightning-combobox class="background-drop" name="household" label="Select Program Type"
                options={programTypeOptions} value={dropDownDefaultValue} onchange={programSelectOnChange} required>
            </lightning-combobox>
        </div>
    </div>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-1">
            <div class="refCheck-table mt-20">
                <div if:false={showNoDataImage}>
                    <lightning-datatable key-field="id" data={currentPageCPAData} columns={columns}
                        class="custom-tbl generalTable scroll_Overflow mmm" hide-checkbox-column
                        onrowaction={handleRowAction}>
                    </lightning-datatable>
                    <template if:true={paginationShow}>
                        <div class="pagination-bottom">
                            <div class="paginationPosition">
                                <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination}
                                    perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
                                </c-common-pagination>
                            </div>
                        </div>
                    </template>
                </div>
                <div if:true={showNoDataImage}>
                    <div class="">
                        <div class="text-center file-upload slds-p-vertical--xx-large">
                            <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
                            <p class="font-bold padtop10">No Records Available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template if:true={openaddCPAModel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true"
                aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">
                                Choose Program Type</h2>
                            <button class="close-button" title="Close" onclick={closeModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-2">
                            <!-- <ul>
                                        <template for:each={programTypeModel} for:item="programs">
                                            <li key={programs.value}>{programs.label}</li>
                                        </template>
                                    </ul> -->
                            <!-- <lightning-radio-group label="Account Type" class="radio-horizontal cpa-program-types" name="radioButtonGroup" onchange={onSelectProgramType} options={programTypeModel} type="radio"></lightning-radio-group> -->
                            <div class="slds-grid slds-wrap slds-p-top_x-small sec-main">
                                <template for:each={programTypeModel} for:item="programs">
                                    <div key={programs.value}
                                        class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-4 boxLink slds-m-bottom_small">
                                        <button name={programs.label} class={programs.imagesrc}
                                            onclick={onSelectProgramType}>
                                            <div class="text-center">
                                                <!-- <img class={programs.imagesrc} src={programs.imagesrc}  alt={programs.imagesrc}/> -->
                                                <span class="captype-img"></span>
                                                <p class="font-bold padtop">{programs.label}</p>
                                            </div>
                                        </button>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="">
                                <lightning-button class="btn btn-sec" label="Cancel" onclick={closeModel}>
                                </lightning-button>
                                <lightning-button class="btn btn-pri slds-m-left_small slds-m-right_small" label="Add"
                                    onclick={redirecttoCPAHomeType} disabled={isDisableAddCPAHomeBtn}>
                                </lightning-button>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <template if:true={openSuspendModel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                Suspend</h2>
                            <button class="close-button" title="Close" onclick={closeModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3">
                                    <lightning-input type="date" class="inputRequired2 mandateTaxID"
                                        label="Date of Suspension Letter Sent" name="DateSuspensionLetterSent" required
                                        placeholder="" onchange={handleFieldChange} value={letterSentDate}
                                        disabled={suspendFieldDisable}>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3">
                                    <lightning-input type="date" onchange={handleFieldChange} placeholder=''
                                        label="Suspension Start Date" name="SuspensionStartDate" value={startDate}
                                        disabled={suspendFieldDisable}>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-3">
                                    <lightning-input type="date" onchange={handleFieldChange} placeholder=''
                                        label="Suspension End Date" name="SuspensionEndDate" value={endDate}
                                        disabled={suspendFieldDisable}>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-m-top_small">
                                    <lightning-input type="text" onchange={handleFieldChange} placeholder=''
                                        label="Suspension Comments" name="SuspensionComments" value={comments}
                                        disabled={suspendFieldDisable}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="">
                                <lightning-button class="btn btn-sec" label="Cancel" onclick={closeModel}>
                                </lightning-button>
                                <lightning-button class="btn btn-pri slds-m-left_small slds-m-right_small"
                                    label="Suspend" onclick={saveSuspendValue} disabled={suspendFieldDisable}>
                                </lightning-button>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <template if:true={openmodelDel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-m1" class="slds-modal slds-fade-in-open delete-popup">
                <div class="slds-modal__container" style="width: 35%;">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <button class="close-button" title="Close" onclick={closeModel}></button>
                        </header>
                        <!-- modal body start -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-m1">
                            <div class="slds-align_absolute-center delete-icon">
                                <p>Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!-- modal footer start-->
                        <footer class="slds-modal__footer slds-align_absolute-center">
                            <button class="slds-button slds-button_text-destructive" onclick={handleRowdelete}>
                                Yes
                            </button>
                            <button class="slds-button slds-button_outline-brand" onclick={closeModel}>
                                No
                            </button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>