.sec-main {
    display: flex;
    justify-content: center;
}

.boxLink {
    text-align: center;
    display: flex;
    height: 160px;
}

.boxLink button {
    background: transparent;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0;
}

.boxLink button.activecss {
    border: 1px solid #0a69b9;
    box-shadow: 0 0 3px 2px #c5c5c536;
}