<template>

  <div class="slds-p-bottom_large">
    <div class="slds-grid slds-wrap">
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input required name="FirstName" class='FirstName' label="First Name" placeholder="Enter First Name"
          autocomplete="off" value={FirstName}>
        </lightning-input>
      </div>

      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input required name="LastName" class='LastName' label="Last Name" placeholder="Enter Last Name"
          autocomplete="off" value={LastName}>
        </lightning-input>
      </div>
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-combobox label="Affiliation Type" placeholder="Select Affiliation type" value={AffiliationType}
          autocomplete="off" name="AffiliationType" required class='AffiliationType' options={AffiliationTypeOptions}
          onchange={handleChange}>
        </lightning-combobox>
      </div>

    </div>
    <div class="slds-grid slds-wrap">
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input required label="Job Title" name="JobTitle" placeholder="Enter Job Title" autocomplete="off"
          class='JobTitle' value={JobTitle}>
        </lightning-input>
      </div>

      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-combobox label="Employee Type" placeholder='Select Employee Type' value={EmployeeType}
          autocomplete="off" class='EmployeeType' required options={EmployeeTypeOptions} onchange={handleChange}
          name="EmployeeType"> </lightning-combobox>
      </div>
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input required label="Start Date" name="StartDate" placeholder="Select Start Date" autocomplete="off"
          class='StartDate' onchange={handleStartDate} value={StartDate} type="date" year="numeric" month="2-digit"
          day="2-digit">
        </lightning-input>
      </div>

    </div>
    <div class="slds-grid slds-wrap">
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input label="End Date" onchange={handleEndDate} placeholder="Select End Date" autocomplete="off"
          value={EndDate} class='EndDate' name="EndDate" min={mindate} max={maxdate} type="date"
          disabled={isDisableEndDate}>
        </lightning-input>
      </div>

      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input required name="Phone" value={Phone} placeholder="Enter Contact Number" autocomplete="off"
          maxlength="14" class='Phone' onchange={handleMobileChange} label="Contact Number">
        </lightning-input>
      </div>

      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input required label="Email" name="Email" placeholder="Enter Email" autocomplete="off" class='Email'
          value={Email} type="email">
        </lightning-input>
      </div>

    </div>
    <div class="slds-grid slds-wrap">
      <template if:true={isDisableReasonForLeaving}>
        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
          <lightning-combobox label="Reason for Leaving" placeholder='Select Reason for leaving'
            class="ReasonforLeaving" autocomplete="off" options={ReasonforLeavingOptions} onchange={handleChange}
            disabled={isDisableReasonForLeaving} value={ReasonforLeaving} name="ReasonforLeaving">
          </lightning-combobox>
        </div>
      </template>
      <template if:false={isDisableReasonForLeaving}>
        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
          <lightning-combobox label="Reason for Leaving" placeholder="Select Reason for leaving"
            class="ReasonforLeaving" autocomplete="off" required options={ReasonforLeavingOptions}
            onchange={handleChange} disabled={isDisableReasonForLeaving} value={ReasonforLeaving}
            name="ReasonforLeaving">
          </lightning-combobox>
        </div>
      </template>

      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input label="Comments" name="Comments" placeholder="Enter Comments" class="Comments"
          autocomplete="off" value={Comments}> </lightning-input>
      </div>
    </div>



  </div>

</template>