<template>
    <template if:true={SupervisorHide}>
      <div class="btn-monitoringActivitity">
        <lightning-button label="ADD ACTIVITY" variant="brand" onclick={ActivityOpenModal}></lightning-button>
      </div>
    </template>
  
    <template if:true={openmodel}>
      <div class="model-add-activity">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
          <div class="slds-modal__container">
            <div class="popborder">
              <header class="slds-modal__header">
                <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                  Add Activity</h2>
                <button class="close-button" title="Close" onclick={closeModal}>
                </button>
              </header>
  
  
              <template if:true={openmodel}>
                <div class="slds-modal__content  slds-p-around_medium" id="modal-content-id-1">
                  <div class="slds-grid slds-grid_align-spread">
  
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                      <!-- Available Options List-->
                      <div class="suggestion-list">
                        <div class="suggestion-list_header">
                          <span class="suggestion-list_title">SUGGESTED ACTIVITY</span>
                          <lightning-button onclick={AddAllActivity} class="btn btn-pri slds-float_right" label="Add All">
                          </lightning-button>
                        </div>
  
                        <div class="suggestion-list_options">
                          <ul class="slds-listbox slds-listbox_vertical">
                            <template for:each={suggestionData} for:item="item">
                              <!-- ActivityData -->
                              <li class="slds-listbox__item" data-value={item.value} key={item.value}
                                onclick={handleRightSelection}>
                                <div data-val={item.label}
                                  class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline">
                                  <span class="slds-media__body">
                                    <span title="English" class="slds-truncate">{item.label}</span>
                                    <!-- {acti.label} -->
                                  </span>
                                  <span class="arrow-right"></span>
                                </div>
                              </li>
                            </template>
                          </ul>
                        </div>
                      </div>
                    </div>
  
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
                      <!-- SELECTED OPTIONS LIST-->
                      <div class="suggestion-list">
                        <div class="suggestion-list_header">
                          <span class="suggestion-list_title">SELECTED ACTIVITY</span>
                          <lightning-button onclick={RemoveAllActivity} class="btn btn-pri slds-float_right"
                            label="Remove All"></lightning-button>
                        </div>
                        <div class="suggestion-list_options">
                          <ul class="slds-listbox slds-listbox_vertical">
                            <template for:each={selectedData} for:item="sel">
                              <!-- selected, sel -->
                              <li class="slds-listbox__item" data-value={sel.value} key={sel.value}
                                onclick={handleLeftSelection}>
                                <div data-val={sel.value}
                                  class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline">
                                  <span class="slds-media__body">
                                    <span title="English" class="slds-truncate">{sel.label}</span>
                                  </span>
                                  <span class="arrow-left"></span>
                                </div>
                              </li>
                            </template>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
  
              <footer class="slds-modal__footer">
                <lightning-button label="Cancel" variant="brand-outline" onclick={closeModal} class="mr-10">
                </lightning-button>
                <lightning-button label="Save" variant="neutral" onclick={saveMethod} disabled={saveDisable}>
                </lightning-button>
              </footer>
  
            </div>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
  
  
  
    <template if:true={editmodel}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
              Edit Activity
            </h2>
            <button class="close-button" title="Close" onclick={handleCloseModal}>
            </button>
          </header>
          <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-2">
            <div class="slds-grid slds-wrap">
              <div class="slds-col slds-col--padded slds-size_1-of-3">
                <lightning-input label="Completion Date" type="Date" onchange={handleChange} name="CompletionDate"
                  autocomplete="off" value={addoreditActivity.CompletionDate__c} placeholder="Select Completion Date" disabled>
                </lightning-input>
              </div>
              <div class="slds-col slds-col--padded slds-size_1-of-3">
                <lightning-input name="Status" label="Status" value={addoreditActivity.Status__c} options={StatusOptions}
                  onchange={handleChange} placeholder="Select Status" disabled>
                </lightning-input>
              </div>
              <div class="slds-col slds-col--padded slds-size_1-of-3">
                <lightning-input label="Comments" type="text" onchange={handleChange} name="Comments"
                  value={addoreditActivity.Comments__c} placeholder="Enter Comments">
                </lightning-input>
              </div>
            </div>
          </div>
          <footer class="slds-modal__footer">
            <lightning-button label="Cancel" class="btn btn-sec" onclick={handleCloseModal}>
            </lightning-button>
            <lightning-button label="Save" class="btn btn-pri slds-m-left_x-small" onclick={saveEditActivity}>
            </lightning-button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
  
    </template>
  
  
    <template if:true={Viewmodel}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
              View Activity
            </h2>
            <button class="close-button" title="Close" onclick={handleCloseModal}>
            </button>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
            <div class="slds-grid slds-wrap">
              <div class="slds-col slds-col--padded slds-size_1-of-3">
                <lightning-input label="Completion Date" type="Date" name="CompletionDate" autocomplete="off"
                  value={addoreditActivity.CompletionDate__c} placeholder="Select Completion Date" disabled>
                </lightning-input>
              </div>
              <div class="slds-col slds-col--padded slds-size_1-of-3">
                <lightning-input name="Status" label="Status" value={addoreditActivity.Status__c} placeholder="Select Status" disabled>
                </lightning-input>
              </div>
              <div class="slds-col slds-col--padded slds-size_1-of-3">
                <lightning-input label="Comments" type="text" name="Comments" value={addoreditActivity.Comments__c} placeholder="Enter Comments" disabled>
                </lightning-input>
              </div>
            </div>
          </div>
          <footer class="slds-modal__footer">
            <lightning-button label="Cancel" variant="brand-outline" onclick={handleCloseModal} class="slds-m-left_medium mr-10"></lightning-button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
  
  <template if:true={norecorddisplay}>
    <div class="application-table">
      <div class="slds-align_absolute-center" >
        <lightning-datatable key-field="id" data={ListSelectedData} columns={columns} hide-checkbox-column="true"
          onrowaction={handleRowAction} class="custom-tbl">
        </lightning-datatable>
      </div>
    </div>
    </template>
      <template if:false={norecorddisplay}>
        <div class="template-screen" style="border:0; border-top-left-radius:0;">
          <div class="text-center file-upload slds-p-vertical--xx-large ">
            <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
            <p class="font-bold padtop10">No Activities Available</p>
            <p class="subfont">Add activities by clicking "Add Activity" button</p>
          </div>
      </div>
      </template>
  
    <template if:true={PageSpinner}>
      <c-common-loading-spinner></c-common-loading-spinner>
    </template>
  </template>