<template>
  <template if:true={showHideDashBoardAndViewAllProviders}>
    <c-provider-applications-dashboard onredirecteditapplication={handleredirectEditApplication}>
    </c-provider-applications-dashboard>
  </template>
  <template if:false={showHideDashBoardAndViewAllProviders}>
    <c-provider-application-header onredirecttoproviderappdashboard={showProviderApplicationDashbord}></c-provider-application-header>
    <div class="innerParent-Tab innerPage-main provider-portal-app">
      <lightning-tabset>
        <lightning-tab label="Program Details" style="border-top-left-radius: 0;">
          <c-applicationproviderprogram-details oncheckvalidationinfinalpage={handleValidationCheck}>
          </c-applicationproviderprogram-details>
          <!--<c-porgram-new></c-porgram-new>-->
        </lightning-tab>
        <lightning-tab label="Assign Staff">
          <c-assingstaffmembers></c-assingstaffmembers>
        </lightning-tab>
        <lightning-tab label="Documents">
          <c-provider-application-documents></c-provider-application-documents>
        </lightning-tab>
        <lightning-tab label="Narrative">
          <c-applicationprovider-narrative></c-applicationprovider-narrative>
        </lightning-tab>
        <lightning-tab label="DECISION">
          <c-provider-decision-info get-value-from-parent={validatecheckfromprogramdetails}></c-provider-decision-info>
        </lightning-tab>
      </lightning-tabset>
    </div>
  </template>
</template>