@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    .referral-main .ref-innerpage .slds-tabs_default__content {
        background: #fff;
        height: calc(100% - 130px);
    }

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .referral-main .ref-innerpage .slds-tabs_default__content {
        background: #fff;
        height: calc(100% - 175px);
    }
    .right-narrative-column{position: static !important;}
    .application-table {
            position: static !important;
      }
      .decision-screen{position: static !important;}
      
      .applicationTabset .slds-tabs_default__content {
        box-shadow: 0px 0px 5px #d8d8d891;
      }
      .template-screen{position: static !important;}
      .applicationStaff-screen{position: static !important;}
      .slds-tabs_default__item.slds-is-active { z-index: 0 !important; }
      .license-genaral-info{width:100% !important;}
      .license-siteother-info{ width:100% !important;}
      .ppbasicinfoipad .boxbordercolorchange{width:40% !important;}
      .ppbasicinfoipad .box-col1{width: 40% !important;}
      .ppbasicinfoipad .box-col3{width: 40%  !important;}
    }