@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import "responsive-style.css";

body {
    color: #22273e;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}

.slds-truncate {
    font-weight: 500;
    font-size: 12px;
}

td .slds-truncate {
    font-weight: 400;
}

.viewport {
    background: #f8f8fb;
}

.slds-template_default {
    background: #f8f8fb;
    /* height: calc(100vh - 127px); */
    height:calc(100vh - 92px);
    overflow: hidden;
    padding: 0;
}

.slds-template__container {
    height: 100%;
}

.btnSec {
    text-align: right;
}

.btn,
.btn:hover {
    border-radius: 3px;
    color: #fff;
    text-transform: capitalize;
}

.btn-pri .slds-button {
    background: #0a69b9;
    padding: 1px 22px;
    border: transparent;
    text-transform: uppercase;
    color: #fff;
}

.btn-pri .slds-button[disabled] {
    background-color: #a7a7a7;
    color: #fff;
}

.btn-sec .slds-button {
    background: #fff !important;
    border: 1px solid #0a69b9;
    display: inline-block;
    color: #0a69b9 !important;
    min-width: 100px;
}

.btn-link .slds-button {
    color: #0a69b9;
    box-shadow: none;
    line-height: normal;
    border: none;
}

.btn-link .slds-button:hover {
    background: transparent;
}

.btn-upload {
    border-radius: 3px;
    color: #fff;
    text-transform: capitalize;
    border: 0;
    box-shadow: none;
    padding: 6px 22px;
    background: #0a69b9;
}

.dis-inb {
    display: inline-block;
}

.btn-topright {
    position: absolute;
    top: 2px;
    right: 10px;
}

/* datepicker icon color: */
lightning-datepicker .slds-button_icon[disabled] {
    color: #5589b5;
}

lightning-datepicker .slds-button_icon {
    color: #0a69b9;
}

.slds-icon-utility-down .slds-icon-text-default {
    fill: #0a69b9;
}

/* .btn-topright .slds-button{ padding: 0 15px;line-height: 30px;  border: 0;} */
.radio-horizontal .slds-form-element__control .slds-radio,
.checkbox-horizontal .slds-form-element__control .slds-checkbox {
    display: inline-block;
    margin-right: 10px;
}

.slds-radio [type="radio"]:checked+.slds-radio__label .slds-radio_faux:after {
    background: #4bca81;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.custom-tbl .slds-cell-fixed,
.slds-is-resizable .slds-th__action:hover,
.slds-is-resizable .slds-th__action:focus {
    background-color: #fbfbfb;
    color: #3c4368;
    box-shadow: none;
}

.custom-tbl .slds-cell-fixed {
    border-top: 1px solid #e8e8e8;
    padding-left: 10px;
    border-bottom: 1px solid #e8e8e8;
}

/************* tabs style***********/

.slds-tabs_default,
.slds-tabs--default {
    background: transparent;
    height: calc(100vh - 265px);
    overflow: hidden;
}

.slds-tabs_default__item.slds-is-active {
    background: #fff;
    color: #0a69b9;
    z-index: 500;
    /* border: 1px solid #bbbbbb;
  border-bottom: 1px solid #fff; */
}

.mtabs-reconsideration .slds-tabs_default__item.slds-is-active {
    z-index: 0;
}

.slds-tabs_default__item.slds-is-active:after,
.slds-tabs_default__item:hover:after {
    background-color: transparent;
}

.slds-tabs_default__item .slds-tabs_default__link:focus {
    color: #0a69b9;
    text-decoration: none;
}

.slds-tabs_default__nav {
    border-bottom: transparent;
    text-transform: uppercase;
}

.innerParent-Tab .slds-tabs_default__content {
    background: none;
    padding: 0;
    height: calc(100% - 40px);
    overflow: auto;
    box-shadow: none;
    /* box-shadow: 0px 0px 5px #d8d8d891; */
}

.slds-tabs_default__item {
    color: #f8f8fb;
    /* border: 1px solid transparent;
  margin-bottom: -2px;
  z-index: 2; */
    padding: 0;
}

.slds-tabs_default__link,
.slds-tabs--default__link,
.slds-tabs_default__link:hover {
    color: #ababab;
    font-weight: 500;
    padding: 0 20px;
    font-size: 11px;
}

.slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
    color: #0a69b9;
    font-weight: 500;
}

.slds-resizable__handle {
    background-color: transparent;
    width: 0;
    height: 0;
}

.slds-th__action {
    height: 40px;
}

.program-new-data-table.slds-cell-fixed {
    width: 75px !important;
}

.slds-table_header-fixed_container {
    padding-top: 38px;
    background: #fff;
}

.slds-table_bordered tbody td {
    padding: 10px 10px 10px 10px;
}

.slds-table tbody tr:hover .slds-button {
    background: transparent;
}

/************* card margin top space ***********/

/* .slds-card{margin-top:15px;} */

/************* page inner title ***********/
.referral-parent .sub-title {
    background: none;
    box-shadow: none;
    padding: 10px 0px;
    font-weight: 500;
}

.sub-title {
    padding: 10px 15px;
    font-weight: 600;
    background: #fbfbfb;
    box-shadow: 0 2px 2px -2px #999;
    text-transform: uppercase;
}

.sec-title {
    font-size: 12px;
    background: transparent;
    box-shadow: none;
    padding: 0px 5px;
    font-weight: 500;
}

.innerPage-main {
    margin: 1px 10px;
    /* box-shadow: 0px 2px 3px 0px #999; */
}

/************* rich text styles ***********/
.slds-rich-text-editor__toolbar {
    background-color: #eef1fd;
}

.slds-rich-text-editor {
    border: 1px solid #d7e1f9;
    border-radius: 2px;
}

/* [role=combobox] input[readonly]{background: transparent; border-color: #d7e1f9;} */

.provider-type .slds-radio {
    width: calc(30% - 10px);
    border: 1px solid #ccc;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #45414e1a;
    border: 1px solid #eef3ff;
    border-radius: 4px;
}

.provider-type .slds-radio__label {
    width: 100%;
    text-align: center;
    padding: 220px 0 40px;
    display: inline-block;
    cursor: pointer;
}

.provider-type .slds-radio:first-of-type {
    background: url(../images/iconexisting.svg) no-repeat center 20%;
}

.provider-type .slds-radio:nth-child(2) {
    background: url(../images/iconnewreferral.svg) no-repeat center 20%;
}

/************ referral summar top sec ***********************/
.ref-summary {
    padding: 10px;
}

.ref-summary a.slds-card__header-link {
    text-decoration: none;
}

.ref-summary .title {
    font-size: 14px;
    font-weight: 500;
}

.ref-summary .value {
    font-size: 24px;
    color: #3c4368;
    font-weight: 500;
    padding: 10px 0;
}

.ref-summary .slds-card {
    height: 85px;
    /* box-shadow: 0px 1px 10px #45414e14; */
    box-shadow: 0 0 6px -2px #f8f8fb;
    border-radius: 4px;
    border: none;
    /* border: 1px solid #ebeef5; */
}

.vacancies {
    background: url(../images/vacancy-icon.svg) #fff no-repeat 100%;
}

.staff {
    background: url(../images/staff-icon.svg) #fff no-repeat 100%;
}

.slds-input,
[role="combobox"] input[readonly] {
    height: 34px;
    border-radius: 2px;
    border: 1px solid #cecdd2;
    padding-right: 23px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.slds-th__action-button {
    display: none;
}

.slds-has-focus .slds-th__action,
.slds-has-focus.slds-is-resizable .slds-th__action,
.slds-has-focus.slds-is-resizable .slds-th__action:focus,
.slds-has-focus.slds-is-resizable .slds-th__action:hover,
.slds-has-focus.slds-is-resizable .slds-th__action:focus:hover,
.slds-is-resizable .slds-th__action:focus,
.slds-is-resizable .slds-th__action:focus:hover {
    background-color: transparent;
    box-shadow: none;
}

.reftop-summary {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #45414e1a;
    border: 1px solid #eef3ff;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

.label {
    color: #5f6b7a;
    padding-bottom: 10px;
    font-weight: 500;
}

.slds-input[disabled],
.slds-input.slds-is-disabled {
    background-color: #edeff6;
    border: 1px solid #cecdd2;
    border-radius: 2px;
    padding: 0 7px;
}

.input-disabled {
    background-color: #edeff6;
    border: 1px solid #cecdd2;
    border-radius: 2px;
    padding: 0 7px;
    color: red;
}

.slds-form-element__label {
    padding: 5px 0;
    margin: 0;
    font-weight: 500;
}

.slds-radio [type="radio"]:checked+.slds-radio__label .slds-radio_faux:after {
    background: #0a69b9;
}

.reqStar {
    color: red;
}

.box {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 15px #45414e14;
    border-radius: 4px;
    height: calc(100vh - 286px);
    overflow: auto;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.pad-0 {
    padding: 0;
}

.pt-0 {
    padding-top: 0;
}

.pr-0 {
    padding-right: 0;
}

/* .dashboard-main .custom-tbl {
  display: inline-block;
  height: calc(100% - 55px);
  width: 100%;
} */

.custom-tbl {
    display: inline-block;
    height: calc(100% - 40px);
    width: 100%;
}

.custom-tbl .slds-table th.slds-has-focus {
    box-shadow: none;
}

.custom-tbl .slds-button_neutral {
    border: 0;
    padding: 0;
    color: #1366f3;
    background: none;
}

.custom-tbl-supr-case .slds-button_neutral {
    border: 0;
    padding: 0;
    color: #1366f3;
    background: none;
}

.label-disable {
    display: block;
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 8px 7px;
    cursor: not-allowed;
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.required {
    color: red;
    padding: 4px;
}

.file-upload .slds-file-selector_files .slds-file-selector__text {
    display: none;
}

.font-bold {
    font-weight: 500;
}

.progressbar .slds-progress-bar__value {
    background: #0a69b9;
}

.txt-right {
    text-align: right;
}

.refferal-type {
    height: 100%;
}

.refferal-type .btnSec {
    position: absolute;
    bottom: 6px;
    text-align: right;
    width: 100%;
    right: 6px;
}

.reftop-summary .slds-input__icon .slds-button_icon {
    color: #0a69b9;
}

.reftop-summary .slds-input-has-icon,
.reftop-summary .slds-input-has-icon .slds-input {
    font-weight: 500;
}

.innerpage-height {
    height: calc(100% - 115px);
    overflow: auto;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #666666;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar {
    width: 8px;
}

/****************************nandhini css starts here*****************************/
.application_fieldset {
    width: 100%;
}

.application_fieldset .marAlignment {
    padding: 10px 0px 0px 15px;
}

.application_fieldset fieldset {
    display: block;
    padding: 10px 0px 10px 10px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}

.demo-only .slds-has-error .slds-form-element__help {
    position: absolute;
    top: 6px;
    right: 0px;
    color: #f88199;
}

.grid-coltop10 {
    position: relative;
    top: -10px;
}

.slds-has-error .slds-input {
    border: 1px solid #f88199;
    box-shadow: none;
    background-color: #ffeff2;
}

.slds-has-error .slds-input:focus,
.slds-has-error .slds-input:active {
    border: 1px solid #f88199;
    box-shadow: none;
    background-color: #ffeff2;
}

.slds-input:focus,
.slds-input:active {
    outline: 0;
    border-color: #cecdd2;
    box-shadow: 0 0 3px #cecdd2 !important;
}

.slds-combobox__input:focus,
.slds-combobox__input:active {
    border-color: #cecdd2 !important;
    box-shadow: 0 0 3px #cecdd2 !important;
}

.slds-input:required:focus {
    box-shadow: 0 0 3px #cecdd2;
}

.radio-fieldsetNone {
    padding-top: 20px;
}

.radio-fieldsetNone fieldset {
    border: 0;
}

.radio-fieldsetNone legend {
    display: none;
}

.radio-fieldsetNone .slds-form-element__control .slds-radio {
    display: inline-block;
    margin-right: 20px;
}

.default-btn {
    color: #0a69b9;
    border: 1px solid #bfc3f4;
    padding: 3px 20px 3px 20px;
    border-radius: 3px;
}

/******************inner tab style**************************/
.innerParent-Tab .slds-tabs_default,
.innerParent-Tab .slds-tabs--default {
    background: transparent;
    /* height: calc(100vh - 170px); */
    height: calc(100vh - 133px);
      overflow: hidden;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

/*************inner stab style*************************/
/*************************Modal Popup starts here********************/
.slds-popup {
    box-shadow: 0px 0px 3px #00000017;
    text-align: left;
    padding: 0px 0px 10px 0px;
}

.slds-modal__header {
    /* border-top-right-radius: 0;
  border-top-left-radius: 0; */
    border-bottom: 1px solid #e9e9e9;
    text-align: left;
    font-size: 13px;
}

.slds-modal__header h2 {
    font-size: 13px;
    font-weight: 500;
    height: 16px;
    text-transform: uppercase;
}

.slds-modal__header .close-button {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 10px;
    margin-top: -20px;
    outline: none;
    background-color: #fff;
    border: 0;
    background-image: url(../images/close.png);
}

.slds-modal__content {
    padding: 10px;
}

.slds-modal__footer {
    /* border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0; */
    background: #fcfcfc;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    box-shadow: 0;
}

.slds-modal__footer .slds-button {
    background-color: #0a69b9;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.tab-content .slds-button,
.tab-content .slds-button_brand {
    background-color: #0a69b9;
    border-color: #05599e;
}

.slds-modal__footer .slds-button_outline-brand {
    background-color: #ffff !important;
    border: 1px solid #706e6b !important;
    color: #706e6b;
    text-transform: uppercase;
}

.slds-modal__footer .slds-button,
.slds-modal__footer .slds-button_brand {
    background-color: #0a69b9;
    border-color: #05599e;
    text-transform: uppercase;
}

.slds-cell-fixed {
    background-color: #fbfbfb;
    text-transform: uppercase;
}

.fontweight {
    font-weight: bold;
}

.pink_btn .slds-button,
.pink_btn .slds-button_brand {
    background-color: #f50a87;
}

.slds-textarea {
    border: 1px solid #cecdd2;
    border-radius: 2px;
}

.slds-textarea:focus,
.slds-textarea:active {
    border-color: #cecdd2 !important;
    box-shadow: 0 0 3px #cecdd2 !important;
}

.tab_pad {
    padding: 0px 0px 10px 10px;
}

/*************************Modal Popup ends here********************/

/*****************************popup table starts here**********************/
.popborder {
    /* border: 1px solid #ccc; */
    border: 0;
}

.btm-fixedbtn {
    position: fixed;
    bottom: 20px;
}

/* .custom-tbaction td:last-child{ width:50px; }
.custom-tbaction td:nth-child(5){ width:50px;} */
.noRecords-icon {
    background: url(../images/no-records.svg) no-repeat center center;
    width: 50%;
    height: 150px;
    background-size: 10% 60%;
}

.noRecords-icon p {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: 80px;
}

.popup-dropbox {
    position: absolute;
    z-index: 500;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #45414e29;
    border-radius: 3px;
    max-height: 200px;
    overflow-y: auto;
    width: 30%;
}

.slds-button_brand {
    background-color: #0a69b9;
    border-color: #05599e;
    /* min-width: 100px; */
}

.slds-button_brand:focus,
.slds-button_brand:active,
.slds-button_brand:hover {
    background-color: #0a69b9;
    border-color: #05599e;
}

/*****************************popup table ends here**********************/
.popup-table .slds-table {
    background-color: #ffffff;
    font-size: inherit;
}

.popup-table .slds-table_bordered tbody td,
.popup-table .slds-table_bordered tbody th,
.popup-table .slds-table--bordered tbody td,
.popup-table .slds-table--bordered tbody th {
    border-top: 0;
}

.popup-table .slds-table--bordered tbody td:hover,
.popup-table .slds-table--bordered tbody th:hover {
    border-top: 0;
}

.popup-table .slds-table_bordered,
.popup-table .slds-table--bordered {
    border-collapse: separate;
    border-top: 1px solid #f7f7f7;
    /* border-bottom: 0px; */
}

.popup-table .slds-table th,
.popup-table .slds-table td {
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #f7f7f7;
}

.popup-table .slds-table th {
    font-weight: bold;
}

.popup-table .slds-table th:focus {
    outline: 0;
}

.popup-table .slds-table thead th {
    background-color: #eef3ff;
    font-size: 13px;
    color: #3c4368;
    padding: 10px;
    font-weight: 600;
    line-height: normal;
}

.popup-table .slds-table_bordered tbody tr:hover,
.popup-table .slds-table_bordered tbody tr:hover td,
.popup-table .slds-table_bordered tbody tr:hover th {
    background: #f5f5f5;
    border-top: 0 !important;
    border-bottom: 1px solid #f7f7f7 !important;
    box-shadow: none !important;
}

.popup-table .slds-table_bordered tbody tr:hover>th,
.popup-table slds-table_bordered tbody tr:hover>td {
    box-shadow: none !important;
}

.popup-table .slds-table_cell-buffer tr>td:first-child {
    padding-left: 10px;
}

.popup-table .slds-checkbox {
    padding-left: 10px;
}

/****************************nandhini css ends here*****************************/

/*********************** Dashboard Data Table Status**********************/
.Pending {
    color: #f88808 !important;
}

.Appeal {
    color: #f3e414 !important;
}

.Expired {
    color: #f21e49 !important;
}

.Approved {
    color: #1ac424 !important;
}

.Suspended {
    color: #ff00b2 !important;
}

.Review {
    color: #545ee4 !important;
}

.Submitted {
    color: #545ee4 !important;
}

.Draft {
    color: #f88808 !important;
}

.Rejected {
    color: #f21e49 !important;
}

.Returned {
    color: #545ee4 !important;
}

.Completed {
    color: #28f143 !important;
}

.Incomplete {
    color: #f21e49 !important;
}

.Scheduled {
    color: #545ee4 !important;
}

.Suspension,
.Revocation,
.Limitation {
    color: #8b4513 !important;
}

.recordFile {
    background: url(../images/no-records.svg) no-repeat 85%;
    background-position: center;
    height: 170px;
    background-size: 59px;
    align-items: flex-end;
    font-weight: 500;
    width: -webkit-fill-available;
}

.title .slds-button_neutral {
    color: #22273e;
}

/*********************** Dashboard Data Table Status**********************/
.pg-address-field {
    position: relative;
    top: -10px;
}

.pg-value {
    width: 400px;
}

.parentpopup-tab .slds-vertical-tabs__content {
    background: #fcfcfc;
    padding: 5px 5px 9px 15px;
}

.parentpopup-tab .slds-vertical-tabs__nav {
    border-right: 1px solid #cecdd2;
    background: #fff;
}

.parentpopup-tab .slds-vertical-tabs__nav-item a.slds-vertical-tabs__link {
    text-decoration: none;
    font-size: 13px;
}

.parentpopup-tab .slds-vertical-tab__nav-item {
    border-bottom: 2px solid #cecdd2;
    color: var(--lwc-colorTextActionLabel, rgb(62, 62, 60));
    box-shadow: 0px 0px 2px #545ee4;
    border: 1px solid #545ee4;

    border-radius: 2px;
}

.parentpopup-tab .slds-vertical-tabs__nav-item.slds-is-active {
    box-shadow: 0px 0px 2px #545ee4;
    border: 1px solid #545ee4;
    border-radius: 2px;
    text-decoration: none;
}

.parentpopup-tab .slds-vertical-tabs__nav-item.slds-has-focus {
    text-decoration: none;
}

.parentpopup-tab .slds-vertical-tabs {
    overflow: visible;
}

.clearance-btn {
    position: relative;
    right: -75%;
    margin-top: -10px;
}

.slds-dropdown__item>a {
    text-transform: capitalize;
}

.training-icon {
    background: url(../images/training-icon.svg) no-repeat 85%;
    background-position: center;
    height: 100px;
    font-weight: bold;
    width: 100%;
    padding-top: 140px;
    text-align: center;
    line-height: 12px;
}

.certificate-icon {
    background: url(../images/certificate-icon.svg) no-repeat 85%;
    background-position: center;
    height: 100px;
    font-weight: bold;
    width: 100%;
    padding-top: 140px;
    text-align: center;
    line-height: 12px;
}

.iconSpan p {
    font-size: 16px;
}

.iconSpan span {
    font-size: 13px;
    color: #a1a8c3;
}

.overVisible {
    overflow: visible;
}

.table-hrs .slds-grid_align-end,
.slds-grid--align-end {
    justify-content: flex-start !important;
}

/* .slds-modal__content { padding:0;} */
.del-red .slds-button_neutral {
    color: red;
    background: none;
}

.slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 25px);
}

/****************************document upload ***********************************/

.file-attached {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #45414e1a;
    border: 1px solid #eef3ff;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.file-attached .card-header {
    border-radius: 4px 4px 0px 0px;
    background: #eef3ff 0% 0% no-repeat padding-box;
    padding: 10px;
}

.file-attached .card-body {
    padding: 10px;
}

.file-attached .card-footer {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #d7e1f9;
}

.file-attached .card-footer .slds-button {
    border: 0;
    height: auto;
    color: #3a45c7;
    box-shadow: none;
}

.file-attached table tr td {
    padding: 7px 4px 7px 4px;
}

.file-attached table tr td:nth-child(2) {
    font-weight: bold;
}

/****************************document upload ***********************************/
.singleRow .sub-title {
    text-transform: uppercase;
}

/******** Range Slider ********/
.inline-block {
    display: inline-block;
}

.slds-slider-label__range {
    display: none;
}

.agemin-Slider .slds-slider__range {
    margin-left: 22px;
}

.agemin-Slider .slds-slider__value {
    position: absolute;
    left: -7px;
    top: -7px;
}

.slds-modal__container {
    transform: none;
    width: 70%;
}

.slds-modal_large .slds-modal__container,
.slds-modal--large .slds-modal__container {
    width: 60%;
}

.del-position {
    position: absolute;
    left: -71px;
    top: 4px;
}

.custom-tbl .slds-table_bordered thead th,
.custom-tbl .slds-table--bordered thead th {
    border-bottom: 1px solid #e8e8e8 !important;
}

.addStaffPos,
.btnPos {
    position: absolute;
    right: 20px;
    top: 3px;
}

.innerParent-Tab .slds-tabs_default__content {
    position: static;
}

.card-footer .del-red .slds-button {
    color: red !important;
}

.age-labeltext-min {
    float: left;
    padding: 5px 0;
    font-weight: 500;
}

.age-labeltext-max {
    float: right;
    padding: 5px 0;
    font-weight: 500;
}

.assign-staff .custom-tbl {
    display: inline-block;
    height: calc(100vh - 265px);
    width: 100%;
}

.subfont {
    color: #a1a8c3;
    padding-top: 6px;
}

.blue .slds-button.slds-button_neutral {
    background: none;
    box-shadow: none;
}

.referral-parent .slds-pill__label {
    white-space: pre-line;
}

.progressbar {
    background: #f8f8fb;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.slds-button:focus {
    outline: 0;
    box-shadow: none;
}

.selectUser .slds-pill_link {
    margin-right: 10px;
    margin-top: 5px;
}

.selectUser .slds-pill__action {
    padding-left: 5px;
}

.selectUser .slds-dropdown .slds-dropdown_fluid {
    padding: 0;
}

.ref-summary.main {
    padding: 15px 10px;
}

.popborder .slds-table_bordered tbody td {
    padding: 10px 10px 10px 10px;
}

.liAlign .slds-media__figure .slds-listbox__option-icon {
    display: none;
}

.slds-cell-fixed .slds-th__action .slds-truncate {
    font-weight: 500;
}

/* .dashboard-AppProvider {
  position: relative;
  left: -10px;
} */
.pad-8 {
    padding: 8px;
}

.slds-is-sortable__icon .slds-icon-text-default {
    fill: #0a69b9;
}

/******************************referral screen *******************************/
.Padleftnone {
    padding-left: 0;
}

.referral-box {
    width: 17%;
    padding-right: 10px;
}

.newReferal-table {
    background: #fff;
    height: calc(100vh - 239px);
    width: calc(100vw - 18px);
    margin: 0px 10px 0px 10px;
    overflow: hidden;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0 0 10px #e9e9ea;
}

.btn-searchPos {
    position: relative !important;
    top: -144px !important;
}

.newReferal-table .pagePosition {
    position: relative;
    top: -6px;
}

.newReferal-table .slds-table td,
.custom-tbl .slds-table td {
    padding-left: 18px !important;
}

.newReferal-table .blue .slds-button.slds-button_neutral {
    padding-left: 10px;
}

.searchPlaceholder {
    position: absolute;
    right: 5px;
    text-align: right;
    width: 32%;
}

.searchPlaceholder .input-search {
    width: calc(100% - 150px);
    display: inline-block;
    position: relative;
    top: 1px;
}

.searchPlaceholder .newReferralBtn {
    position: absolute;
    top: 1px;
    left: 5px;
}

.fontclrGrey {
    color: #22273e;
}

.fontclrGrey .slds-truncate {
    font-weight: 400;
    letter-spacing: 0.24px;
}

.slds-is-sorted .slds-icon-text-default {
    fill: #0a69b9;
}

.slds-is-sortable .slds-th__action:hover .slds-is-sortable__icon,
.slds-is-sortable .slds-th__action:focus .slds-is-sortable__icon,
.slds-is-sortable.slds-has-focus .slds-th__action .slds-is-sortable__icon,
.slds-is-sortable.slds-has-focus .slds-th__action:hover .slds-is-sortable__icon,
.slds-is-sortable.slds-has-focus .slds-th__action:focus .slds-is-sortable__icon {
    fill: #0a69b9 !important;
}

/******************************referral screen *******************************/

/* Sprint 3 Records Screen Start */
.borderRedCut .slds-button {
    border: 1px solid #cecdd2;
    border-radius: 0;
    background: #ffffff;
    color: #a9a9a9;
}

.borderRedLeft .slds-button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.borderRedRight .slds-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background: #ffffff;
}

.backgroComboColor .slds-button {
    border: #0a69b9 1px solid;
    color: #fff;
    background: #0a69b9;
}

.btnAlignFrt {
    margin-left: 0px;
}

.btnAlignSec {
    margin-left: -130px;
    position: absolute;
    margin-top: -15px;
}

.disabled .slds-button[disabled] {
    background: #ffffff;
    color: #a9a9a9;
}

.backgroComboColor .slds-button[disabled] {
    border: #0a69b9 1px solid;
    color: #fff;
    background: #0a69b9;
}

/* Sprint 3 Records Screen End */

/**************topbar **********************/
.slds-context-bar {
    background: #071e41;
    border-bottom: 2px solid #fbfbfb;
    border-bottom-color: #fff !important;
    /* border-bottom: 0px solid #fbfbfb; */
}

.slds-context-bar__primary {
    color: #fff;
}

.slds-context-bar__secondary a.slds-context-bar__label-action .slds-truncate {
    color: #fff !important;
}

.slds-context-bar__item.slds-is-active:before {
    height: 0;
}

.slds-icon-waffle [class*="slds-r"] {
    background-color: #fff;
}

.slds-context-bar__app-name .slds-truncate {
    font-weight: 600;
}

.slds-context-bar__item:not(.slds-no-hover):hover:after {
    height: 0px;
}

/**************topbar **********************/

/* .custom-tbl .slds-table_header-fixed_container:before,
.custom-tbl .slds-table--header-fixed_container:before { border-bottom: 0px !important; } */

/* Sprint 3 General Info Screen Start */
.siteAddress {
    background: url(../images/site-address.svg) #fff no-repeat 3%;
}

.mainAddress {
    background: url(../images/main-address.svg) #fff no-repeat 3%;
}

.paymentAddress {
    background: url(../images/payment-address.svg) #fff no-repeat 3%;
}

.nameIcon {
    background: url(../images/provider-nameicon.svg) #fff no-repeat 100%;
}

.phoneIcon {
    background: url(../images/phone.svg) #fff no-repeat 0%;
}

.phoneIcon-1 {
    background: url(../images/phone2.svg) #fff no-repeat 0%;
}

.mobile {
    background: url(../images/mobile.svg) #fff no-repeat 0%;
}

.fax-generalInfo {
    background: url(../images/fax.svg) #fff no-repeat 0%;
}

.emailGeneralInfo {
    background: url(../images/email.svg) #fff no-repeat 0%;
}

.emailGeneralInfo-1 {
    background: url(../images/email2.svg) #fff no-repeat 0%;
}

.bedCapacityGeneralInfo {
    background: url(../images/bed-capacity.svg) #fff no-repeat 100%;
}

.genderGeneralInfo {
    background: url(../images/gender.svg) #fff no-repeat 100%;
}

.iq-range {
    background: url(../images/iq-range.svg) #fff no-repeat 100%;
}

.age-range {
    background: url(../images/age-range.svg) #fff no-repeat 100%;
}

/* Sprint 3 General Info Screen Ends */

.bg_image {
    background: url(../images/license.png) no-repeat center center;
}

/*************************murugan stylesheet starts here************************/
.genaral-info {
    width: calc(70% - 14px);
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 15px #45414e14;
    padding: 15px 12px;
    height: calc(100vh - 179px);
    overflow: auto;
    margin-right: 14px;
}

.pvrName-bg {
    width: 60px;
    height: 60px;
    background: url(../images/provider-nameicon.svg) no-repeat center center;
}

.address-info {
    width: 30%;
    height: calc(100vh - 218px);
    overflow: auto;
}

.address {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 15px #45414e14;
    border-radius: 0px 2px 2px 2px;
}

.address-header {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    border: 1px solid #cecdd2;
    border-radius: 0px 2px 0px 0px;
}

.address-header h2 {
    letter-spacing: 0.24px;
    color: #22273e;
    font-size: 12px;
    font-weight: 500;
    padding: 13px;
    text-transform: uppercase;
}

.address-header h2 img {
    vertical-align: sub;
}

.m-list-inline-block {
    display: inline-block;
    padding: 10px 20px 10px 25px;
    border-bottom: 1px solid #e0e0e0;
}

.m-list-inline-block li {
    display: inline-block;
    padding: 3px 10px 3px 15px;
    position: relative;
    line-height: 18px;
}

.m-list-inline-block li:nth-child(1) {
    font-weight: 500;
}

.m-list-inline-block li:nth-child(2):before,
.m-list-inline-block li:nth-child(3):before {
    display: none;
}

.m-list-inline-block li:before {
    width: 4px;
    height: 4px;
    background: #545ee4;
    content: "";
    position: absolute;
    left: 1px;
    top: 8px;
    border-radius: 4px;
}

.address-lists .m-list-inline-block:last-child {
    border-bottom: 0;
}

.m-list-inline-block li img {
    width: 14px;
    vertical-align: baseline;
}

.pvr-cardinfo {
    border: 1px solid #cecdd2;
    border-radius: 3px;
}

.pvr-cardinfo .slds-card__header-title {
    letter-spacing: 0.26px;
    color: #22273e;
    font-weight: 500;
    padding-bottom: 10px;
}

.pvr-cardinfo h3 {
    font-size: 13px;
    letter-spacing: 0.24px;
    color: #22273e;
    font-weight: 400;
    opacity: 0.85;
}

.pvr-cardinfo-header {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #cecdd2;
}

.pvr-cardinfo-header .slds-media {
    padding-top: 10px;
}

.pvr-cardinfo-header .m-list-inline-block {
    border: none;
    display: block;
    padding: 10px 10px;
}

.pvr-cardinfo-header .m-list-inline-block li {
    margin-right: 25px;
    font-weight: 500;
}

.pvr-cardinfo-header .m-list-inline-block li:before {
    display: none;
}

.pvr-cardinfo-header .m-list-inline-block li img {
    vertical-align: sub;
    width: auto;
}

.m-card-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

.m-cards {
    flex: 0 0 25%;
    max-width: 24%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #cecdd2;
    border-radius: 3px;
}

.m-cards h2.card-label {
    font-size: 12px;
    color: #22273e;
    padding-bottom: 10px;
}

.m-cards h2.card-value {
    font-size: 15px;
    color: #22273e;
    font-weight: 500;
}

#pentagon {
    position: relative;
    width: 32px;
    box-sizing: content-box;
    border-width: 32px 16px 0;
    border-style: solid;
    border-color: #d4d7f6 transparent;
}

#pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -62px;
    left: -16px;
    border-width: 1px 32px 30px;
    border-style: solid;
    border-color: transparent transparent #d4d7f6;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.pvr-infodetails .slds-col--padded {
    padding: 10px 0;
}

.address-lists .m-list-inline-block {
    width: 100%;
}

.address-lists .m-list-inline-block li span {
    padding-left: 8px;
}

.address-lists .m-list-inline-block li:first-child {
    display: block;
}

/*************************murugan stylesheet ends here************************/

.download_button .slds-button_neutral {
    border: 0;
    background: none;
    color: #1366f3;
}

.licensinginfo .close-outbutton {
    background: url(../images/close.svg) no-repeat center 20%;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 0;
}

/************************application table screen ******************************/
.application-table {
    background: #fff;
    height: calc(100vh - 175px);
    overflow: hidden;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    position: fixed;
    width: calc(100vw - 20px);
}

.applicationTabset .slds-tabs_default__content {
    background: none;
    padding: 0;
    height: calc(100% - 40px);
    overflow: auto;
    /* box-shadow: 0px 0px 10px #d8d8d891; */
    box-shadow: none;
}

.applicationTabset .attach-doc.slds-tabs_default__content {
    box-shadow: 0px 0px 5px #d8d8d891 !important;
}

.moniteringTabset .slds-tabs_default__content {
    background: #fff;
    height: calc(100vh - 175px);
    overflow: hidden;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    /* position: fixed; */
    width: calc(100vw - 20px);
}

.application-table .custom-tbl {
    display: inline-block;
    /* height: calc(100vh - 260px); */
    height: calc(100vh - 228px);
    width: 100%;
}

.application-table .custom-tbl .slds-cell-fixed {
    border-top: 0;
    padding-left: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.application-table .paginationPosition {
    position: relative;
    top: 3px;
}

/* .application-table .custom-tbl tbody th:nth-child(1){ padding-left:18px;}  */
.custom-tbl tbody th:nth-child(1) {
    padding-left: 18px;
}

.application-table .slds-table_bordered tbody td,
.generalTable .slds-table_bordered tbody td {
    padding: 5px 10px 5px 10px;
}

/************************application table screen ******************************/

.btn-assign-approval.btn-pri .slds-button {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.btn-bottom-pos {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: inline-block;
}

.custom-dropdwon .slds-listbox.slds-listbox_vertical.slds-dropdown.slds-dropdown_fluid {
    max-height: 200px;
    overflow-y: auto;
}

.staffDetail-table .custom-tbl tbody th:nth-child(1) {
    padding-left: 18px !important;
}

/****************************delete popup starts here********************/
.delete-popup .slds-modal__header .close-button {
    top: 30px;
}

.delete-popup .delete-icon {
    background: url(../images/delete-icon.svg) no-repeat center center;
    width: 100%;
    height: 105px;
    background-size: 72% 72%;
}

.delete-popup .popborder {
    border-radius: 8px;
}

.delete-popup p {
    position: relative;
    top: 53px;
    font-size: 13px;
    font-weight: bold;
}

.delete-popup .slds-modal__header {
    border-bottom: 0;
    background: #fbfbfb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.delete-popup .slds-modal__content {
    background: #fbfbfb;
    padding-top: 0px;
    padding-bottom: 30px;
}

.delete-popup .slds-modal__footer {
    border-top: 1px solid #f3f3f3;
    padding: 17px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.delete-popup .slds-modal__footer .slds-button {
    background-color: #fe6969;
    border-color: none;
    text-transform: uppercase;
    padding: 0px 25px 0px 25px;
}

.delete-popup .slds-button.slds-button_text-destructive {
    border-color: #fe6969;
}

/****************************delete popup ends here********************/

.tripledots .slds-icon-utility-threedots-vertical {
    position: relative !important;
    left: 8px !important;
}

.tripledots .slds-dropdown-trigger .slds-button__icon {
    display: none !important;
}

.tripledots .slds-truncate {
    overflow: visible !important;
}

.tripledots .slds-dropdown-trigger {
    left: -20px;
}

.tripledots .slds-button_icon-border {
    padding: 12px 0px;
}

.author-inactiveIcon {
    background: url(../images/narrative-account-inactive.svg) no-repeat 15px 6px;
}

.time-inactiveIcon {
    background: url(../images/narrative-time-inactive.svg) no-repeat 15px 6px;
}

.author-activeIcon {
    background: url(../images/narrative-account-active.svg) no-repeat 15px 6px;
}

.time-activeIcon {
    background: url(../images/narrative-time-active.svg) no-repeat 15px 6px;
}

.narrativeTextArea .slds-rich-text-area__content {
    height: 350px !important;
}

.action-position {
    position: absolute;
    left: -51px;
    top: 4px;
}

.action-positiontrd {
    position: absolute;
    left: -70px;
    top: 4px;
}

.card-footer .disable-pointer.del-red .slds-button {
    cursor: not-allowed;
}

.staff-tbl .slds-table_bordered tbody td {
    padding: 10px 10px 10px 10px;
}

.textArea-height .slds-textarea {
    height: 36px;
    overflow: hidden;
}

.decision_fieldset fieldset {
    display: block;
    padding: 10px 0px 10px 10px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}

/***************** Activity tab style starts here************/
.suggestion-list {
    border: 1px solid #cecdd2;
    border-radius: 2px;
    height: 250px;
}

.suggestion-list_header {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    border: 1px solid #e8e8e8;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}

.suggestion-list_title {
    font-size: 13px;
    line-height: 35px;
}

.suggestion-list_options .slds-listbox__item .slds-listbox__option {
    border-bottom: 1px solid #cecdd2 !important;
    padding: 10px 15px;
    position: relative;
}

.suggestion-list_options {
    height: 200px;
    overflow: auto;
}

.suggestion-list_options .arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #545ee4;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 12px;
    top: 12px;
}

.suggestion-list_options .arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 8px solid #545ee4;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 12px;
    top: 12px;
}

/***************** Activity tab style ends here************/
.delConference .slds-button_neutral {
    color: red;
    background: none;
    border: 0;
}

.btn-monitoringActivitity {
    position: fixed;
    right: 13px;
    margin-top: -78px;
}

.chevron .slds-button_neutral {
    color: #1366f3;
    width: 150px;
    border: 0;
    outline: none;
    background: none;
}

.addexit-btn .slds-button_neutral {
    border: 1px solid #545ee4;
    border-radius: 3px;
    background: #ffffff;
    color: #545ee4;
}

.dropzone .slds-file-selector__dropzone {
    padding: none;
    border: 0;
    border-radius: 0;
}

.dropzone .slds-file-selector__button.slds-button.slds-button_neutral,
.dropzone .slds-file-selector__button .slds-button.slds-button_neutral:focus {
    color: #1366f3;
    width: 115px;
    border: 0;
    box-shadow: none;
    position: relative;
    left: -10px;
    outline: none;
    background: none;
}

.dropsVgNone svg {
    display: none;
}

/* .applicationTabset .slds-tabs_default__item.slds-is-active {
  z-index: 500;
} */

.dhs_logo {
    background: url(../images/dhs.jpg) no-repeat 0 0;
    height: 80px;
    background-size: 28% 80%;
}

.licensinginfo {
    background: #fff;
}

.mcol {
    float: left;
}

.licensinginfo,
.mrow {
    width: 100%;
    display: inline-block;
}

.licensinginfo-header {
    display: inline-block;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.licensinginfo-header .logo {
    width: 60%;
}

.licensinginfo-header .logo-righttext {
    width: 40%;
    font-weight: 500;
    text-align: right;
    font-size: 12px;
}

.location-details .mcol {
    width: 50%;
}

.lic-infohead .mcol {
    width: 50%;
    font-weight: 600;
}

.mt-30 {
    margin-top: 30px;
}

.lic-infodetails {
    padding: 10px;
    border: 1px solid #ccc;
}

.lic-infodetails table {
    width: 100%;
}

.lic-infodetails tr td {
    padding: 5px;
}

.lic-infodetails tr td:nth-child(1) {
    width: 150px;
}

.lic-infodetails tr td:nth-child(2) {
    font-weight: 600;
    color: #34404e;
}

.signbox {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    display: inline-block;
}

.licensinginfo .download_button {
    text-align: right;
    background-color: #f6f6f9;
}

.font-bold.padtop10 {
    padding-top: 10px;
}

.btn-sec .slds-button.slds-button_neutral {
    background: #fff !important;
    display: inline-block;
    border: 1px solid #706e6b !important;
    color: #706e6b !important;
    min-width: 100px;
    text-transform: uppercase;
    min-width: auto;
    text-transform: uppercase;
    padding: 0px 22px;
}

/* .slds-table th:focus,
.slds-table th.slds-has-focus,
.slds-table [role="gridcell"]:focus,
.slds-table [role="gridcell"].slds-has-focus {
  box-shadow: none;
} */

/************** referral app changes 14-04-2020 mmm***************/
.referral-main .ref-innerpage {
    margin: 10px;
}

.referral-main .ref-innerpage .slds-tabs_default {
    height: calc(100vh - 282px);
    overflow: hidden;
}

.referral-main .ref-innerpage .slds-tabs_default__content {
    background: #fff;
    height: calc(100% - 50px);
    overflow: auto;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
    padding: 10px;
    position: inherit;
}

.app-referral .btn-topright {
    top: 0;
}

.innerParent-Tab.provider-portal-app .slds-tabs_default {
    height: calc(100vh - 141px);
}

.innerParent-Tab.provider-portal-app .slds-tabs_default__content {
    background: #fff;
    padding: 0px;
    height: calc(100% - 40px);
    border: #eaeaea 1px solid;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
}

.monitorRadioGroup .slds-radio_button [type="radio"]:checked+.slds-radio_button__label,
.monitorRadioGroup .slds-radio_button [type="radio"]:checked+.slds-radio_button__label:hover {
    background-color: #0a69b9;
    color: #ffffff;
    border: 1px solid #05599e;
    box-shadow: none;
}

.referral-parent .slds-form-element {
    margin-bottom: 10px;
}

.speech-icon {
    width: 53px;
    height: 50px;
    position: absolute;
    bottom: 58px;
    right: 10px;
}

.slds-combobox-group.forceSearchDesktopHeader {
    height: 34px;
}

.application_fieldset .slds-form-element__control {
    margin-bottom: 10px;
}

.application_fieldset .mprovider-profit-fieldset .slds-form-element__control {
    margin-bottom: 0px !important;
}

.mprovider-profit-fieldset .radio-horizontal .slds-form-element__legend {
    display: none !important;
}

.staffboad-infomodel .del-position {
    position: absolute;
    left: -29px;
    top: 10px;
}

.provider-portal-app .del-position {
    top: 10px;
}

.slds-input[disabled]+lightning-primitive-icon {
    display: none;
}

.wid-dateLicense-col1 .slds-input[disabled],
.wid-dateLicense-col2 .slds-input[disabled],
.wid-dateLicense-col2 .slds-input.slds-is-disabled,
.wid-dateLicense-col2 .slds-input.slds-is-disabled {
    background-color: #f2fff4 !important;
    border: 1px solid #aefbb8 !important;
}

.pps-dateLicense-col1 .slds-input[disabled],
.pps-dateLicense-col2 .slds-input[disabled],
.pps-dateLicense-col2 .slds-input.slds-is-disabled,
.pps-dateLicense-col2 .slds-input.slds-is-disabled {
    background-color: #f6f6f6 !important;
    border: 0 !important;
}

/* Sprint 4 Data table Start */
.activep .title {
    color: #1ac424;
}

.inactive .title {
    color: #f21e49;
}

.totalProviders .title {
    color: #3c4368;
}

.Active {
    color: #1ac424;
}

.Inactive {
    color: #f21e49;
}

.inactive {
    background: url(../images/rejected.svg) #fff no-repeat 100%;
}

.activep {
    background: url(../images/approved.svg) #fff no-repeat 95%;
}

.totalProviders {
    background: url(../images/total.svg) #fff no-repeat 100%;
}

.custom-tbl-supr {
    display: inline-block;
    height: calc(100% - 80px);
    width: 100%;
}

.custom-tbl-supr-case {
    display: inline-block;
    height: calc(100% - 120px);
    width: 100%;
}

.custom-tbl-supr .slds-table td {
    padding-left: 18px !important;
}

.custom-tbl-supr .slds-button_neutral {
    border: 0;
    padding: 0;
    color: #1366f3;
    background: none;
}

.sup .slds-button_outline-brand[disabled] {
    border: rgba(0, 112, 210, 1) 1px solid;
    color: #ffffff;
    background-color: #5b74ff;
}

.custom-tbl-supr .slds-table_bordered tbody td {
    padding: 0;
}

/* Sprint 4 Data table End */

.contract-tabs .slds-tabs_default__content {
    position: inherit;
}

.no-padding {
    padding: 0;
}

.slds-has-button-menu .slds-th__action {
    padding-right: 8px;
}

.slds-table .slds-grid_align-end {
    justify-content: center;
}

.delLeft-position {
    position: absolute;
    left: -73px;
    top: 4px;
}

.btn-nobdr .slds-button_neutral {
    border: 0;
    padding: 0;
    color: red;
    background: none;
}

.contract-tbl .slds-cell-fixed.slds-has-button-menu {
    border-top: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid;
}

.contract-tbl .slds-th__action.slds-th__action_form.slds-cell-fixed {
    border-top: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid;
    height: 42px;
}

/* Sprint 2 Table Wrap Changes Start*/
.custom-tbl .slds-button {
    white-space: unset;
}

/* Sprint 2 Table Wrap Changes End*/

.btn-sec .slds-button[disabled] {
    color: #b3b3b3 !important;
    cursor: not-allowed;
    border: 1px solid #cecdd2 !important;
}

.table-test thead th .slds-cell-fixed .slds-th__action .slds-truncate {
    padding-left: 8px !important;
}

.test {
    padding-left: 15px !important;
}

[role="combobox"] input[readonly][disabled] {
    background-color: #edeff6;
    border-color: #cecdd2;
}

.license-infoPad .slds-button[disabled] .slds-button__icon,
.license-infoPad .slds-button:disabled .slds-button__icon,
.license-infoPad .slds-button[disabled],
.license-infoPad .slds-button:disabled {
    fill: #006dcd !important;
}

.staffboad-infomodel .slds-form-element,
.add-monitoring .slds-form-element {
    padding-bottom: 20px;
}

.staffboad-infomodel .slds-form-element .slds-form-element,
.add-monitoring .slds-form-element .slds-form-element {
    padding-bottom: 0px;
}

.staffboad-infomodel .slds-form-element .slds-form-element__help,
.add-monitoring .slds-form-element .slds-form-element__help {
    top: inherit;
}

.slds-table th:focus,
.slds-table th.slds-has-focus,
.slds-table [role="gridcell"]:focus,
.slds-table [role="gridcell"].slds-has-focus {
    box-shadow: none;
}

.license-infoPad lightning-datepicker .slds-button_icon {
    color: #006dcd !important;
}

.slds-radio_button .slds-radio_faux {
    padding-left: 30px;
    padding-right: 30px;
}

.slds-progress-bar .slds-progress-bar__value {
    background: #ff4282 !important;
}

.popupDisable .slds-input[disabled],
.popupDisable .slds-input.slds-is-disabled {
    background-color: #f6f6f6;
    border: 0;
}

.icon-home-information {
    width: 120px;
    height: 80px;
    padding: 55px 0 0px;
    margin: 0 auto;
    background: url(../images/home-information.svg) no-repeat center 5px;
}

.mt-5 {
    margin-top: 5px;
}

.pillWrap .slds-pill {
    border-radius: 5px;
    border: 0;
    max-width: 84%;
    background-color: #ebebeb;
    margin-bottom: 2px;
    margin-top: 2px;
}

.pillWrap .slds-pill__action {
    border-radius: 5px;
    padding: 5px;
    padding-right: 22px;
}

.pillWrap .slds-pill__remove .slds-button_icon {
    background-color: #0a69b9;
    color: #ffffff;
    border-radius: 21px;
    margin-right: 10px;
}

.pillWrap .slds-pill__label {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
}

.pillWrap .slds-pill__remove svg {
    width: 12px;
    height: 12px;
}

/* .btn-referal-position .slds-button {
  height: 39px;
  border-radius: 0;
  border: 0;
  box-shadow: 0px -2px 10px #45414e1c;
  width: 48%;
} */

.btn-publicProvider {
    position: relative;
    margin-top: -27px;
    float: right;
    right: 10px;
    width: 290px;
    overflow: hidden;
    text-align: right;
}

.btn-publicProvider .btn1,
.btn-publicProvider .btn2 {
    display: inline-block;
    position: relative;
    width: 105px;
    height: 40px;
    margin-right: 0px;
    margin-left: 20px;
}

.btn-publicProvider .btn2 {
    margin-right: 16px;
}

.btn-publicProvider .btn2::before,
.btn-publicProvider .btn1::before,
.btn-publicProvider .btn1.active::before,
.btn-publicProvider .btn2.active::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    left: 0;
    border-bottom: none;
    background-color: #fff;
    border-radius: 0.4em 0.4em 0 0;
    transform: scale(1.2, 1.3) perspective(0.9em) rotateX(5deg);
    transform-origin: bottom right;
    box-shadow: 0px 2px 5px #45414e1c;
    border: 1px solid #ebebeb;
    width: 118px;
}

.btn-publicProvider .btn1.active::before,
.btn-publicProvider .btn2.active::before {
    background: #fbfbfb;
    box-shadow: 0px 2px 5px #45414e1c;
    border: 1px solid #ebebeb;
}

.btn-publicProvider .btn1 .slds-button,
.btn-publicProvider .btn2 .slds-button {
    background: transparent;
    border: 0;
    padding: 6px 6px 6px 25px;
    width: 121px;
    color: #959da5;
}

.btn-publicProvider .btn1.active .slds-button,
.btn-publicProvider .btn2.active .slds-button {
    color: #0a69b9;
}

.btn-publicProvider .btn1 .slds-button::before,
.btn-publicProvider .btn1.active .slds-button::before,
.btn-publicProvider .btn2 .slds-button::before,
.btn-publicProvider .btn2.active .slds-button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    left: 0;
    background: url(../images/house1.svg) no-repeat 20px 10px;
}

.btn-publicProvider .btn1.active .slds-button::before {
    background: url(../images/house2.svg) no-repeat 20px 10px;
}

.btn-publicProvider .btn2 .slds-button::before {
    background: url(../images/office-building2.svg) no-repeat 20px 10px;
}

.btn-publicProvider .btn2.active .slds-button::before {
    background: url(../images/office-building1.svg) no-repeat 20px 10px;
}

.approved .title {
    color: #959da5;
}

.approved-cls .title {
    color: #1ac424 !important;
}

.approved {
    background: url(../images/greyscale-approveIcon.svg) #fff no-repeat 93%;
    background-size: 32px;
}

.approved-cls {
    background: url(../images/rgb-approveIcon.svg) #fff no-repeat 93%;
    background-size: 32px;
}

.rejected .title {
    color: #959da5;
}

.rejected-cls .title {
    color: #f21e49 !important;
}

.returned .title {
    color: #959da5;
}

.returned-cls .title {
    color: #22273e !important;
}

.returned {
    background: url(../images/greyscale-returned.svg) #fff no-repeat 91%;
    background-size: 32px;
}

.returned-cls {
    background: url(../images/rgb-returned.svg) #fff no-repeat 91%;
    background-size: 32px;
}

.rejected {
    background: url(../images/greyscale-rejectedIcon.svg) #fff no-repeat 93%;
    background-size: 32px;
}

.rejected-cls {
    background: url(../images/rgb-rejectedIcon.svg) #fff no-repeat 93%;
    background-size: 32px;
}

.pending .title {
    color: #959da5;
}

.pending-cls .title {
    color: #f88808 !important;
}

.pending {
    background: url(../images/greyscale-pendingIcon.svg) #fff no-repeat 91%;
    background-size: 32px;
}

.pending-cls {
    background: url(../images/rgb-pendingIcon.svg) #fff no-repeat 91%;
    background-size: 32px;
}

.acknowldgedIncident .title {
    color: #959da5;
}

.acknowldgedIncident-cls .title {
    color: #1ac424 !important;
}

.acknowldgedIncident {
    background: url(../images/greyscale-acknowldged-incidentIcon.png) #fff no-repeat 91%;
    background-size: 32px;
}

.acknowldgedIncident-cls {
    background: url(../images/rgb-acknowldged-incident-Icon.png) #fff no-repeat 91%;
    background-size: 32px;
}

.pendingIncident .title {
    color: #959da5;
}

.pendingIncident-cls .title {
    color: #f88808 !important;
}

.pendingIncident {
    background: url(../images/greyscale-pending-incidentIcon.png) #fff no-repeat 91%;
    background-size: 32px;
}

.pendingIncident-cls {
    background: url(../images/rgb-pending-incident-Icon.png) #fff no-repeat 91%;
    background-size: 32px;
}

.rejectedIncident .title {
    color: #959da5;
}

.rejectedIncident-cls .title {
    color: #f21e49 !important;
}

.rejectedIncident {
    background: url(../images/greyscale-rejected-IncidentIcon.png) #fff no-repeat 93%;
    background-size: 32px;
}

.rejectedIncident-cls {
    background: url(../images/rgb-rejected-incident-Icon.png) #fff no-repeat 93%;
    background-size: 32px;
}

.total .title {
    color: #959da5;
}

.total-cls .title {
    color: #293b58 !important;
}

.total {
    background: url(../images/greyscale-appIcon.svg) #fff no-repeat 91%;
    background-size: 32px;
}

.total-cls {
    background: url(../images/rgb-appIcon.svg) #fff no-repeat 91%;
    background-size: 32px;
}

.cardtraining {
    background: url(../images/greyscale-instructorIcon.svg) #fff no-repeat 92%;
    background-size: 32px;
}

.cardtraining .title,
.cardinstructor .title {
    color: #959da5;
}

.cardtraining-cls .title,
.cardinstructor-cls .title {
    color: #0a69b9 !important;
}

.cardtraining-cls {
    background: url(../images/rgb-instructorIcon.svg) #fff no-repeat 92%;
    background-size: 32px;
}

.cardinstructor {
    background: url(../images/greyscale-trainingIcon.svg) #fff no-repeat 92%;
    background-size: 32px;
}

.cardinstructor-cls {
    background: url(../images/rgb-trainingIcon.svg) #fff no-repeat 92%;
    background-size: 32px;
}

.slds-icon-utility-edit.iconColor .slds-icon-text-default {
    fill: rgb(0, 112, 210) !important;
}

.slds-icon-utility-delete.iconColor .slds-icon-text-default {
    fill: #f21a13 !important;
}

.slds-icon-utility-preview.iconColor .slds-icon-text-default {
    fill: rgb(0, 112, 210) !important;
}

.application_fieldset .monitorRadioPosition fieldset {
    border: 0;
}

.capacityInput .slds-input {
    width: 33px;
    z-index: 500;
    position: absolute;
    top: -5px;
    right: -3px;
    padding: 2px 10px;
}

.widslider {
    width: 85%;
}

.hideReqMark label abbr {
    display: none;
}

.dis-pic .slds-file-selector_files .slds-file-selector__button {
    visibility: hidden;
    position: relative;
}

.dis-pic .slds-file-selector_files .slds-file-selector__button :after {
    visibility: visible;
    position: absolute;
    content: "Upload Picture";
    top: 0;
}

.btnbdrRemove .slds-button.slds-button_neutral {
    border: 0;
    padding-left: 20px;
    background: none;
    box-shadow: none;
}

.btnbdrRemove .slds-icon-utility-description .slds-icon {
    position: absolute;
    left: 19px;
    top: 18px;
    height: 20px;
    width: 20px;
    background: url(../images/descriptions-icon.svg) no-repeat 0px 0px;
}

.description-icon {
    background: url(../images/descriptions-icon.svg) no-repeat center center;
    width: 100%;
    height: 105px;
    background-size: 72% 72%;
}

.btnbdrRemove .slds-icon-utility-description .slds-icon :not(svg) {
    display: none;
}

.svgRemoveicon .slds-truncate {
    display: none;
}

.conference-usernumber {
    border-radius: 3px;
    background-color: #ebebeb;
    height: 30px;
    line-height: 25px;
    padding: 3px 10px;
    margin-left: 5px;
}

.slds-modal__footer .slds-button-group-item .slds-button.slds-button_neutral {
    border: 1px solid rgb(221, 219, 218);
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    color: rgb(27, 82, 151);
}

.slds-modal__footer .font18 .slds-button.slds-button_neutral {
    color: #061c40;
}

.slds-modal__footer .slds-button-group-item .slds-button.slds-button_neutral.active {
    background: #0a69b9;
    color: #fff;
    border: 1px solid #05599e;
    padding: 0px 16px;
}

.footerCmps .uiTooltip.tooltip-trigger .uiButton .label {
    padding: 0;
    color: #fff;
}

.mfileUpload {
    display: inline-block;
}

.mfileUpload .slds-button {
    background-color: #0a69b9;
    color: #fff;
}

.slds-resizable__divider {
    display: none;
}

.mfileUpload .slds-button+span {
    color: #000;
}

.mfileUpload .slds-file-selector__text.slds-medium-show {
    display: none;
}

button:focus {
    outline: none;
}

.profile-pic-back {
    background: url(../images/user.svg) no-repeat center center;
}

.slds-dropdown__list .slds-dropdown__item .slds-icon-text-default {
    fill: #0a69b9;
}

.slds-dropdown__list .slds-dropdown__item:last-child .slds-icon-text-default {
    fill: red;
}

.blueIcons .slds-dropdown__list .slds-dropdown__item:last-child .slds-icon-text-default {
    fill: #0a69b9;
}

.slds-dropdown__list .slds-dropdown__item:nth-child(3) .slds-icon-text-default {
    fill: red;
}
/*FieldSet Label Changes Start */
.housHoldFwt_1000 {
    font-weight: 1000;
    text-transform: uppercase;
}

.arrow-label {
    background: url(../images/play.svg) no-repeat 0%;
}

/*FieldSet Label Changes End */
.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux {
    background: #0a69b9;
    border: #05599e;
}

.fieldsetnone fieldset {
    border: 0;
}

.slds-checkbox_toggle [type="checkbox"]:checked+.slds-checkbox_faux_container .slds-checkbox_faux {
    background: #0a69b9;
    border: #05599e;
}

.template-screen {
    background: #fff;
    height: calc(100vh - 175px);
    overflow-y: auto;
    border: #eaeaea 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #d8d8d891;
}

.calendarIcon .slds-button_icon-bare {
    color: #0a69b9;
}

.Wraphousehold .monitorRadioPosition .slds-form-element__label {
    font-size: 11px;
}

/* Sprint 6 Reference Checkbox Changes Start */
.checkedReference {
    background: url(../images/checkedRef.svg) no-repeat 0%;
}

.unCheckedReference {
    background: url(../images/unCheckedRef.png) no-repeat 0%;
}

.actionClass {
    background: url(../images/more.svg) no-repeat;
    background-position: 0px 15px;
}

.nosearchicon {
    background: url(../images/no-search-records.svg) no-repeat 85%;
    background-position: center 69%;
    height: 170px;
    background-size: 44px;
    align-items: flex-end;
    font-weight: 500;
    width: -webkit-fill-available;
}

/* Sprint 6 Reference Checkbox Changes End */
.navexStandardManager>.oneAppNavContainer {
    box-shadow: none;
}

.romainWrap.monitorRadioGroup .slds-form-element__control {
    margin-bottom: 20px !important;
}

.bluetxt {
    color: #1366f3;
}

.errorMsg .slds-has-error .slds-form-element__help {
    display: none;
}

.slds-icon-utility-clock .slds-icon-text-default {
    fill: #0a69b9;
}

.ls .slds-slider__value {
    border: 1px solid #ccc;
    width: 30px;
    background-color: #fff;
    padding: 5px 10px;
    height: 30px;
    margin-left: 6px;
    padding: 5px;
}

.lsmin .slds-slider__value {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    left: 0px;
    padding: 5px;
    top: -15px;
    width: 30px;
    position: absolute;
}

.lsmin .agemin-Slider .slds-slider__range {
    margin-left: 34px;
}

.decision-form .btn-link .slds-button {
    padding: 6px 14px;
    background: #4e8bf6;
    border-radius: 20px;
    color: #fff;
}

.decision-form .btn-link .slds-button:before {
    content: "";
    width: 17px;
    height: 17px;
    background: url(../images/check-tick.svg) no-repeat 0%;
    margin-right: 5px;
}

/****** more tab link ********/

.slds-tabs_default__overflow-button .slds-button {
    padding: 0 20px;
}

.slds-tabs_default__overflow-button .slds-button lightning-primitive-icon {
    padding-left: 8px;
}

.btnbdrIpad .slds-icon-utility-description .slds-icon {
    position: absolute;
    left: 19px;
    top: 12px;
    height: 20px;
    width: 20px;
    background: url(../images/descriptions-icon.svg) no-repeat 0px 0px;
}

.btnbdrIpad .slds-icon-utility-description .slds-icon :not(svg) {
    display: none;
}

.btnbdrIpad .slds-button.slds-button_neutral {
    border: 0;
    padding-left: 26px;
    left: -10px;
    position: relative;
    background: none;
    box-shadow: none;
}

/******************* chat css start ***********mmm***********/

.slds-utility-bar {
    flex-direction: row-reverse;
    box-shadow: none;
    background: transparent;
    /* margin-right: 10px; */
    width: auto;
    left: auto;
    right: 15px;
    bottom: 15px;
    height: 44px;
}

.slds-utility-bar li .slds-truncate {
    padding: 0px;
    /* line-height: 20px; */
    border-radius: 40px;
    width: 44px;
    height: 44px;
    background: #ea4537;
}

.slds-utility-bar li .slds-truncate:focus {
    background: #ea4537 !important;
}

.slds-utility-bar li .slds-truncate .slds-icon-utility-chat .slds-icon {
    fill: #ffffff;
    width: 36px;
    height: 36px;
    margin-left: 4px;
}

.slds-utility-bar li .slds-truncate .slds-icon-utility-chat+.itemTitle {
    display: none;
}

.slds-utility-panel.slds-is-open {
    right: 10px;
}

/******************* chat css end **********************/

.publicapplication-main .newReferal-table {
    height: calc(100vh - 305px);
}

.slds-has-error .slds-form-element__help {
    display: none;
}

.icon-refferal-information {
    width: 140px;
    /* height: 83px; */
    padding: 79px 0 0px;
    margin: 15px auto;
    background: url(../images/office-building-blue.svg) no-repeat center 5px;
    text-align: center;
}

.referral-parent .application_fieldset fieldset {
    padding: 10px;
}

.referral-parent .application_fieldset .monitorRadioPosition fieldset {
    border: 0;
    padding: 0;
    /* margin: 0; */
}

.referral-parent .application_fieldset .slds-form-element__control {
    margin-bottom: 0px;
}

.referral-parent .application_fieldset .monitorRadioPosition fieldset .slds-form-element__label {
    padding: 3px 0;
}

.address-wid .label-disable {
    height: 34px;
}

.icon-placement {
    background: url(../images/placements-icon.png) no-repeat;
    background-position: center;
    height: 170px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    line-height: 12px;
    background-size: 100px;
    align-items: flex-end;
}

.custom-dropdwon.mdd-h150 .slds-listbox.slds-listbox_vertical.slds-dropdown.slds-dropdown_fluid {
    max-height: 150px;
}

.vacancy .value-slider1 {
    border: 1px solid #cecdd2;
    padding: 15px 8px;
    border-radius: 4px;
}

.license-genaral-info .license-cardinfo .slds-card {
    background: url(../images/icon-line.svg) no-repeat;
    background-position: 101% -5px;
}

.checkbox-horizontal.complaintsReview .slds-form-element__control .slds-checkbox {
    width: 32%;
}

.decision-form.complaints .btn-link .slds-button {
    padding: 6px 34px 6px 14px;
    border-radius: 20px;
    background: #f6f6f9;
    color: #000;
}

.complaint-edit-decision .slds-icon-text-default {
    fill: #1366f3;
}

.complaintsInvestigation .slds-textarea {
    height: 36px;
}

.cusm-radio .slds-radio_button .slds-radio_faux {
    padding-left: 15px;
    padding-right: 15px;
}

.application_fieldset .cusm-radio fieldset {
    border: 0;
    padding: 0;
}

.complaint-tbl .slds-button {
    white-space: unset;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.dashboard-search input {
    padding: 0 25px 0 35px !important;
}

.mm-innertbl .slds-table .slds-radio [type="radio"]+.slds-radio__label .slds-radio_faux {
    background: #ccc;
    width: 12px;
    height: 12px;
}

.mm-innertbl .slds-radio [type="radio"]:checked+.slds-radio__label .slds-radio_faux:after {
    background: #ffffff;
    border: 2px solid #0a69b9;
    width: 12px;
    height: 12px;
}

.slds-form-element .slds-checkbox [type="checkbox"]:checked+.slds-checkbox__label .slds-checkbox_faux {
    background: #0a69b9;
    border-radius: 3px;
}

.slds-form-element .slds-checkbox [type="checkbox"]+.slds-checkbox__label .slds-checkbox_faux:after {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 46%;
}

.mcust-ddlist .slds-checkbox .slds-checkbox__label {
    margin-bottom: 10px;
    display: block;
}

.mcust-ddlist .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    padding-bottom: 0;
    padding-top: 0;
}

.incidentperson-screen .slds-card__body {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no_fieldset fieldset {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.background-drop .slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.checkbox-horizontal.reason .slds-form-element__control .slds-checkbox {
    width: 24%;
}

/*****************  sp9 CPA Home page ************* mmmm ******************/
.cpa-program-types .slds-form-element__control .slds-radio {
    width: 25%;
    display: inline-block;
    height: 120px;
    /* border: 1px solid #ccc; */
    position: relative;
}

.cpa-program-types .slds-radio .slds-form-element__label {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.cpa-program-types .slds-radio [type="radio"]+.slds-radio__label .slds-radio_faux {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.cpa-program-types .slds-radio [type="radio"]:checked+.slds-radio__label .slds-radio_faux {
    box-shadow: 0 0 0 3px #0a69b954;
}

.cpa-program-types .slds-radio [type="radio"]:checked+.slds-radio__label .slds-radio_faux:after {
    background: #fff;
}

.captype-img {
    height: 80px;
    display: block;
}

.ILP_gray .captype-img {
    background: url(../images/icon_ILP.svg) no-repeat center;
}

.ILP_gray.activecss .captype-img {
    background: url(../images/icon_ILP-active.svg) no-repeat center;
}

.ILPTP_gray .captype-img {
    background: url(../images/icon_ILPTP.svg) no-repeat center;
}

.ILPTP_gray.activecss .captype-img {
    background: url(../images/icon_ILPTP-active.svg) no-repeat center;
}

.Traditional_gray .captype-img {
    background: url(../images/icon_Traditional.svg) no-repeat center;
}

.Traditional_gray.activecss .captype-img {
    background: url(../images/icon_Traditional-active.svg) no-repeat center;
}

.Treatment_gray .captype-img {
    background: url(../images/icon_Treatment.svg) no-repeat center;
}

.Treatment_gray.activecss .captype-img {
    background: url(../images/icon_Treatment-active.svg) no-repeat center;
}

.MFFC_gray .captype-img {
    background: url(../images/icon_MFFC.svg) no-repeat center;
}

.MFFC_gray.activecss .captype-img {
    background: url(../images/icon_MFFC-active.svg) no-repeat center;
}

.TPFC_gray .captype-img {
    background: url(../images/icon_TPFC.svg) no-repeat center;
}

.TPFC_gray.activecss .captype-img {
    background: url(../images/icon_TPFC-active.svg) no-repeat center;
}

.Adoption_gray .captype-img {
    background: url(../images/icon_Adoption.svg) no-repeat center;
}

.Adoption_gray.activecss .captype-img {
    background: url(../images/icon_Adoption-active.svg) no-repeat center;
}

.mmm .slds-dropdown__list .slds-dropdown__item:last-child .slds-icon-text-default {
    background: url(../images/icon_ILPTP.svg);
    background-position: center;
}

.cpa-homeDashboard {
    position: relative;
}

.pagination-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fcfcfc;
    padding: 5px;
    border: 1px solid #ebebeb;
}

.btn-bottom-posbg {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    width: 100%;
    display: inline-block;
    background: #fcfcfc;
    border: 1px solid #ebebeb;
    text-align: right;
}

.housewid100 .pillWrap .slds-pill {
    max-width: 97% !important;
}

.personkidRadioBtn .slds-radio_button .slds-radio_faux {
    padding-left: 25px;
    padding-right: 25px;
}

.incident-notification .radio-fieldsetNone {
    padding-top: 30px;
    padding-bottom: 3px;
}

.incident-notification .application_fieldset>fieldset {
    padding: 0;
}

.incident-notification .application_fieldset fieldset fieldset {
    border: 0;
    padding: 0;
}

.incident-notification .application_fieldset fieldset .calendarIcon,
.incident-notification .application_fieldset fieldset .clmRecieved {
    background: #fcfcfc;
}

.incident-notification .application_fieldset .Wraphousehold>div.slds-col--padded {
    padding: 10px;
    position: relative;
}


.incident-tabsec {
    width: calc(100% - 16px);
    display: inline-block;
    margin-left: 8px;
    /* background: #fff; */
    margin-top: 8px;
}

.incident-tabsec .slds-tabs_default {
    height: calc(100vh - 180px);
    padding: 0;
    background: #fff;
}

.incident-tabsec .slds-tabs_default__content {
    padding: 0;
    background: #fff;
}
.del-position-law {
    position: absolute;
    left: -46px;
    top: 8px;
}

.incidentPerson-kid .slds-dropdown_fluid { min-width:50% !important;}
.CPAClearanceMedical .mfileUpload .slds-form-element .slds-assistive-text, .CPAClearanceMedical .mfileUpload .slds-form-element .slds-form-element__label{
    display:none;
  }
  
.icon_send .slds-button{padding-left:35px}
.icon_send .slds-button:before{
    width:20px;
    height:20px;
    content:"";
    display:block;
    background-image: url(../images/icon_send.svg);
    position:absolute;
    left: 8px;
}

.tripledots .slds-icon-text-default{fill:#0a69b9 !important;}
.tripledots .slds-dropdown-trigger .slds-button{border:none;}
.tripledots .slds-dropdown-trigger .slds-button:hover{border:1px solid #0a69b9;}

.tripleDot_sec_del .slds-dropdown__list .slds-dropdown__item:last-child .slds-icon-text-default {
    fill: red !important; 
}
.btn-outline-primary .slds-button{border: 1px solid #05599E; background: #fff; color: #05599E;}
.application_fieldset:last-child .sec-title{display:none}

  
.customizedDropdownCompletedStatusColor{
    color:green;
}
.customizedDropdownPendingStatusColor{
    color:orange;
}
.customizedDropdownStatusPadding{
    padding-left:5px;
}
.lable-graybg{
  display: block;
  background-color: #F6F6F6;
  border-radius: 2px;
  padding: 8px 7px;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slds-context-bar__item:not(.slds-no-hover):hover, .slds-context-bar__item.slds-is-active{background: #007BE3; animation:inherit}
.oneSystemMessage .slds-notify.slds-notify_alert.system-message.level-info.slds-theme_info {
    display: none !important;
}
.navexStandardManager>.oneAppNavContainer {
   top: 50px !important;
}
.forceStyle.desktop .viewport .stage{
    top: 90px !important; 
     height: calc(100% - 90px) !important; 
}
.contact-publicprovider .applicationStaff-screen {    height: calc(100vh - 272px) !important;}
.contact-publicprovider .application-table{     height: calc(100vh - 272px) !important;}
.contact-publicprovider .application-table .custom-tbl{     height: calc(100vh - 325px) !important;}
.assign-publicprovider .application-table{     height: calc(100vh - 272px) !important;}
.textArea-heightgang .slds-textarea {  height: 36px;  overflow-y: auto;}
.publicapp-hhm .document-screen{    height: calc(100vh - 175px) !important;} 
.publicApp-narrative .left-narrative-column{    height: calc(100vh - 175px)!important;}
.publicApp-narrative .right-narrative-column{    height: calc(100vh - 175px)!important;}
.publicApp-narrative  .narrative-left-main{height: calc(100vh - 180px) !important;}
.publicApp-narrative .left-col-history{height: calc(100vh - 175px) !important;     padding: 5px 3px 0px 5px !important; }