<template>
    <lightning-card>
        <div style="margin-bottom: 30px;">
            <div class="slds-grid slds-wrap slds-gutters">
                <div class="slds-col" style="padding-left: 20px;" title="Coporate Information">
                    <div style="font-weight:600">BASIC DETAILS</div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="Providertype" label="Provider Type" value={value}
                                    placeholder="Private" options={stageNameValues} >
                                </lightning-combobox> -->
                            </div>

                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Parent Corporation" class="slds-p-horizontal_small" type="text"
                                    name="ParentCorporation" placeholder=" " onchange={handleClick}>
                                </lightning-input>
                            </div>

                        </div>
                    </div>

                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="Program" label="Program" value={value} placeholder="Select"
                                    required options={stageNameValues}  onclick={handleClick}></lightning-combobox> -->
                                    
                                </div>

                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Corporation" class="slds-p-horizontal_small" type="text"
                                    name="Corporation" placeholder=" ">
                                </lightning-input>
                            </div>

                        </div>
                    </div>

                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="ProgramType" label="Program Type" required value={value}
                                    placeholder="Select" options={options} onchange={handleChangePickList} onclick={handleClick}></lightning-combobox> -->
                            </div>

                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Tax Id" required class="slds-p-horizontal_small" type="text"
                                    name="TaxId" placeholder="" onchange={handleClick}> </lightning-input>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div style="font-weight:600;margin-bottom: 10px">OTHER DETAILS</div>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-radio-group name="proposal" label="Is there a Request for Proposal (RFP)"
                                    options={optionsRadio} onchange={handleChangeRadioButton} value={valueRFP} type="radio"></lightning-radio-group>
                            </div>

                        </div>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-radio-group name="FEIN" label="Does the Provider have a FEIN / Tax ID"
                                    options={optionsRadioOne} onchange={handleChangeRadioButton} value={valueFEIN} type="radio"></lightning-radio-group>
                            </div>

                        </div>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-radio-group name="SON" label="Is there a Statement of Need (SON)"
                                    options={optionsRadioTwo} onchange={handleChangeRadioButton} value={valueSON} type="radio"></lightning-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col" style="padding-left: 20px;" title="Coporate Information">
                    <div style="font-weight:600">PERSONAL DETAILS</div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                                    <div
                                        class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-input type="text" label="Provider Name" placeholder="First Name" name='FirstName'>
                                        </lightning-input>
                                    </div>
                                    <div
                                        class="slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-input type="text" label=". " placeholder="Last Name" name='LastName'>
                                        </lightning-input>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2" >
                                <lightning-input label="Address Linee123" required class="slds-p-horizontal_small"
                                type="text" name="AddressLine1" value={strStreetAddress} onchange={getStreetAddress} placeholder=" ">
                            </lightning-input>

                            <!-- DROPDOWN --> 
                        
                            <div id="listbox-suggestions" style="width:370px;left:1113px;" class={tabClass} role="listbox">
                                <ul  class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space" role="presentation" >
                                    <!--<template for:each={strStreetAddresPrediction.predictions} for:item='item'>
                                        <li key='{item.id}' role="presentation" class="slds-listbox__item" >
                                            <div  data-id={item.place_id} data-description={item.description} class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" 
                                                  onclick={selectStreetAddress}>
                                                 {item.description}
                                            </div>
                                        </li>
                                    </template>-->
                                </ul>
                            </div>
                        
                        </div>  
                            <!-- <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Address Line1" required class="slds-p-horizontal_small"
                                    type="text" name="AddressLine1" value={strStreetAddress} onchange={getStreetAddress} placeholder=" ">
                                </lightning-input>
                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid slds-lookup__menu slds">
                                  
                                    <template for:each={strStreetAddresPrediction.predictions} for:item='item'>
                                        <li  key='{item.id}' class="slds-listbox__item">
                                        <a onclick={selectStreetAddress} value={item.description}>{item.description}</a>                                    
                                    </li>
                                    </template>
                               
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Email" required class="slds-p-horizontal_small" type="email"
                                    name="Email" onchange={handleClick} placeholder=" ">
                                </lightning-input>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Address Line 2" class="slds-p-horizontal_small" type="text"
                                    name="AddressLine2" placeholder="  ">
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Phone Number 1" class="slds-p-horizontal_small" type="number"
                                    name="PhoneNumber" placeholder=" ">
                                </lightning-input>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="State" label="State" required value={value}
                                    placeholder="Select" options={options} onchange={handleChangePickList} onclick={handleClick}></lightning-combobox> -->
                                <lightning-combobox  name="sf_SelectState" label="State" 
                                    onchange={handleSelectState} options={options_SelectState} 
                                    value={sf_SelectState}></lightning-combobox>
                                </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Cell Number" class="slds-p-horizontal_small" type="number"
                                    name="CellNumber" placeholder=" ">
                                </lightning-input>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="City" required label="City" value={value}
                                        placeholder="Select" options={options} onchange={handleChangePickList} onclick={handleClick}></lightning-combobox> -->
                                    <lightning-combobox  name="sf_SelectCity" label="City" 
                                        onchange={handleSelectCity} options={options_SelectCity} 
                                        value={sf_SelectCity}></lightning-combobox>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Fax Number" class="slds-p-horizontal_small" type="text"
                                    name="FaxNumber" placeholder="">
                                </lightning-input>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="Country" label="Country" required value={value}
                                    placeholder="Select" options={options} onchange={handleChangePickList} onclick={handleClick}></lightning-combobox> -->
                                <lightning-combobox  name="sf_SelectCountry" label="Country" 
                                    onchange={handleSelectCountry} options={options_SelectCountry} 
                                    value={sf_SelectCountry}></lightning-combobox>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <!-- <lightning-combobox name="Accredition" label="Accredition" value={value} placeholder=""
                                    options={stageNameValues} ></lightning-combobox> -->
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-input label="Zip Code" class="slds-p-horizontal_small" type="text" required
                                    name="ZipCode" onchange={handleClick} placeholder=" ">
                                </lightning-input>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <div style="font-weight:600;margin-bottom: 10px">OTHER DETAILS</div>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                <lightning-radio-group name="valueProfit" class="radio-horizontal" label=" "
                                    options={stageNameValues} value={valueProfit} onchange={handleChangeRadioButton} type="radio"></lightning-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: absolute; right: 0; bottom: 0; margin: 10px;">
            <lightning-button variant="brand" label="Save" title="Primary action" disabled class="slds-m-left_x-small" onclick={saveForm}></lightning-button>

        </div>
    </lightning-card>
</template>