<template>
    <div class="template-screen" if:false={norecorddisplay}>
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
            <img class="icon-attachment" src={norecord} />
            <p class="font-bold padtop10">No Witness Found</p>
            <p class="subfont">Please Add Witness by clicking 'Add Witness' Button</p>
        </div>
    </div>
    <div class="application-table" if:true={norecorddisplay}>
        <div class="slds-align_absolute-center">
            <lightning-datatable key-field="Id" data={currentWitnessData} columns={columns} hide-checkbox-column="true"
                onrowaction={handleRowAction} class="custom-tbl">
            </lightning-datatable>
        </div>
        <div class="paginationPosition">
            <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
                onprogressvaluechange={hanldeProgressValueChange}>
            </c-common-pagination>
        </div>
    </div>
    <template if:true={showCommentsPop}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Witness Statement</h2>
                        <button class="close-button" title="Close" onclick={closeCommentsPop}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            {commentsOfPad}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={openWitnessModal}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_large slds-hyphenate fontweight">
                                {title}</h2>
                            <button class="close-button" title="Close" onclick={closeModal}>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-col slds-size_2-of-5">
                                    <div class="monitorRadioGroup">
                                        <div class="personkidRadioBtn">
                                            <label class="witness-label">{WitnessTitle} <span
                                                    class="mandatory">*</span></label>
                                            <lightning-radio-group disabled={typeDisable} class="waterProperty" options={options} value={witnessTypeValue}
                                                name="witnessType" onchange={handleChange} type="button">
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-5">
                                    
                                    <template if:true={Assign__c}>
                                        <template if:true={showPerson}>
                                          
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                    <lightning-combobox name="Person/kid/child" label="Person/kid/child"
                                                        value={PersonValue} options={personValues} onchange={handleChangePkc}
                                                        disabled={personDisabled}>
                                                    </lightning-combobox>
                                                </div>
                                                <div class="slds-col slds-size_1-of-2">
                                                    <div class="slds-grid slds-wrap">
                                                        <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                            <lightning-input name="DateofBirth" label="Date of Birth"
                                                                value={DOB__c} onchange={handleChangePkc}
                                                                disabled={isDisabled}>
                                                            </lightning-input>
                                                        </div>
                                                        <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                            <lightning-input name="Identifier" label="Identifier"
                                                                value={IdentifierNumber__c} onchange={handleChangePkc}
                                                                disabled={isDisabled}>
                                                            </lightning-input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </template>
                                    <template if:true={showStaff}>
                                        <div class="slds-grid slds-wrap">
                                            <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                <lightning-combobox name="Staff" label="Staff" value={Staff}
                                                    options={staffValues} onchange={handleChangeStaff}
                                                    disabled={personDisabled}>
                                                </lightning-combobox>
                                            </div>
                                            <div class="slds-col slds-size_1-of-2">
                                                <div class="slds-grid slds-wrap">
                                                    <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                        <lightning-input name="Job Title" label="Job Title"
                                                            value={JobTitle__c} onchange={handleChangeStaff}
                                                            disabled={isDisabled}>
                                                        </lightning-input>
                                                    </div>
                                                    <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                        <lightning-input name="Employee Type" label="Employee Type"
                                                            value={EmployeeType__c} onchange={handleChangeStaff}
                                                            disabled={isDisabled}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                    <template if:true={showOthers}>
                                        <div class="slds-grid slds-wrap">
                                            <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                <lightning-input name="FirstName" label="First Name" value={FirstName}
                                                    onchange={handleChangeOthers} disabled={isDisableName}>
                                                </lightning-input>
                                            </div>
                                            <div class="slds-col--padded slds-col slds-size_1-of-2">
                                                <lightning-input name="LastName" label="Last Name" value={LastName}
                                                    onchange={handleChangeOthers} disabled={isDisableName}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div
                                class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                                <lightning-textarea name="Statement" label="Witness Statement"
                                    value={WitnessStatement__c} onchange={commentsHandler}
                                    placeholder="Enter Statements" disabled={statementDisable}>
                                </lightning-textarea>
                            </div>
                        </div>
                        <footer if:true={editMode} class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1">
                                    <div class="btnSec pr-0">
                                        <lightning-button class="btn btn-sec" onclick={closeModal} label="CANCEL">
                                        </lightning-button>
                                        <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_small"
                                            onclick={validationCheck} disabled={stmtdisable}>
                                        </lightning-button>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <template if:true={openmodel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
                <div class="slds-modal__container" style="width: 35%;">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <button class="close-button" title="Close" onclick={closeModal}></button>
                        </header>
                        <!-- modal body start -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                            <div class="slds-align_absolute-center delete-icon">
                                <p>Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!-- modal footer start-->
                        <footer class="slds-modal__footer slds-align_absolute-center">
                            <button class="slds-button slds-button_text-destructive" onclick={deleteFrSure}>
                                Yes
                            </button>
                            <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                                No
                            </button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <!-- //POPUP Window For Conformation End-->
</template>