<template>
    <div class="attachmentDocument-screen">
    <c-common-documents document-id-for-attachment={reconsiderationID} sobject-type={sobjectNameToFetch}>
    </c-common-documents>
</div>
</template>