<template>
    <div class="application-table" if:false={noRecordsFound}>
        <div class="slds-align_absolute-center">
            <lightning-datatable class="custom-tbl" key-field="id" data={totalSanctions} columns={columns}
                hide-checkbox-column onrowaction={handleRowAction}>
            </lightning-datatable>
        </div>
    </div>

    <div if:true={noRecordsFound} class="application-table">
        <div class="text-center file-upload slds-p-vertical--xx-large">
            <img class="icon-attachment" src={attachmentIcon} style="width:89px;"/>
            <p class="font-bold padtop10">No Sanctions Added Here</p>
            <p class="subfont">Add neccessary sanctions by clicking the button below</p>
            <br>
            <lightning-button variant="brand" label="GENERATE" onclick={openSanctionModel} class="btn btn-pri slds-m-left--small mr-10" style="display: inline-block;"></lightning-button>
        </div>
    </div>

    <template if:true={generateSanctionModel}>
        <c-complaints-supervisor-generate-sanctions onintimateparenttoclosemodal={intimateParentToCloseModal}
            onredirecttosanctiontypepage={handleSanctionTypeRedirection}>
        </c-complaints-supervisor-generate-sanctions>
    </template>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>