<!--
  Copyright (c) 2019, salesforce.com, inc.
  All rights reserved.
  SPDX-License-Identifier: MIT
  For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/MIT
 -->

<template>
    <span class="slds-media__figure slds-listbox__option-icon">
        <template if:true={item.iconName}>
            <c-icon
                alternative-text={item.iconAlternativeText}
                icon-name={item.iconName}
                size="x-small"
            ></c-icon>
        </template>
    </span>
    <span class="slds-media__body">
        <!-- The below is an optimisation, the base-combobox-formatted-text can handle this by itself,
         but it's faster not to include it at all -->
        <template if:false={textHasParts}>
            <span class="slds-truncate" title={item.text}>{item.text}</span>
            <span class="customizedDropdownStatusPadding" title={item.status}>-</span>
            <span class={computedStatusClass}  title={item.status}>{item.status}</span>
        </template>
        <template if:true={textHasParts}>
            <c-base-combobox-formatted-text
                text={item.text}
                class="slds-truncate"
                title={text}
            ></c-base-combobox-formatted-text>
        </template>
    </span>
</template>