<template>
    <template if:false={showPublicProviderDashBoard}>
        <template if:true={showPublicProviderHeader}>
            <c-public-provider-header onredirecttoreferralhome={redirectToReferralHome}></c-public-provider-header>
            <div class="public-margintop10">
                <div class="innerParent-Tab innerPage-main applicationTabset">
                    <lightning-tabset active-tab-value={activeTab}>
                        <lightning-tab label="BASIC INFORMATION" value="basicInfo">
                            <c-public-provider-basic-information></c-public-provider-basic-information>
                        </lightning-tab>
                        <lightning-tab label="HOME INFORMATION">
                            <c-public-provider-home-information></c-public-provider-home-information>
                        </lightning-tab>
                        <lightning-tab label="HOUSEHOLD MEMBERS" value="houseHoldMember">
                            <c-public-provider-house-hold-members-home
                                onredirecttoaddhouseholdmembersearch={handleAddMemberSearch}
                                onredirecttoaddhouseholdmembers={handleAddMember}
                                onviewofhouseholdmembers={handleAddMemberView} ondatacardhhmembertrue={handleMeeting}>
                            </c-public-provider-house-hold-members-home>
                        </lightning-tab>
                        <lightning-tab label="NARRATIVE">
                            <c-public-provider-narrative></c-public-provider-narrative>
                        </lightning-tab>
                        <lightning-tab label="CONTACT NOTES" class="contact-publicprovider">

                            <!-- <c-public-provider-contact-details></c-public-provider-contact-details> -->
                            <c-public-referral-contact-notes-details></c-public-referral-contact-notes-details>
                        </lightning-tab>
                        <lightning-tab label="DOCUMENTS" class="attach-doc">
                            <c-public-provider-document></c-public-provider-document>
                        </lightning-tab>
                        <lightning-tab label="ASSIGN TRAINING" class="assign-publicprovider">
                            <c-public-provider-meeting-information meeting-flag={meetingFlag} intent-flag={intentFlag}>
                            </c-public-provider-meeting-information>
                        </lightning-tab>
                        <lightning-tab label="DECISION">
                            <c-public-provider-decision ondataintentstatustrue={handleintent}>
                            </c-public-provider-decision>
                        </lightning-tab>
                    </lightning-tabset>
                </div>
            </div>
        </template>
        <template if:true={showPublicProviderAddmember}>
            <c-public-provider-add-house-hold-members onredirttoholdmembersdashboard={redirectToHousHoldDashboard}
                onredirecttoholdmembersearch={handleAddMemberSearchFromAddHouse} search-holder-show={searchHolder}
                is-disabled={isView}></c-public-provider-add-house-hold-members>
        </template>
        <template if:true={showPublicProviderAddmemberSearch}>
            <c-public-provider-search-house-hold-members onredirecttoaddhouseholdmemberhome={handleAddMemberHome}
                onredirecttoaddhouseholdaddmember={redirectHandleAddMember} show-result={showResult}
                search-house-hold-members-lists-from-add-member={showListParent}>
            </c-public-provider-search-house-hold-members>
        </template>
    </template>
</template>