.dashboard {
    float: right;
    position: relative;
    top: -37px;
    width: 22%;
    right: 5px;
  }
  
  .dashboard-rt {
    float: right;
    position: relative;
    top: -55px;
  }
  
  .suprbtnAlign {
    position: absolute;
    margin-top: 105px;
    margin-left: 3px;
  }
  
  .referal-headbottom{ 
    padding: 0px 15px 4px;
    width: 100%;
    background: rgb(251, 251, 251);
    box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
    text-transform: uppercase;
  }
  
  .fontbold{ font-weight: bold;}
  .dashboard-btn {
    display: inline-block;
  }
  
  
  .dashboard-search {
    display: inline-block;
    margin-top: -15px;
    margin-bottom: -13px;
  }
  
  .posrelative { position: relative; margin-top: -17px;}