<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fontbold">Providers</h2>
            </div>
            <div class="slds-float_right posrelative">
                <div class="dashboard-btn mr-10">
                    <lightning-combobox name="searchType" value={searchType} options={searchLists}
                        onchange={searchListType}>
                    </lightning-combobox>
                </div>
                <div class="dashboard-search">
                    <lightning-input type="search" onchange={handleChange} class="slds-m-bottom_small input-search"
                        label="" placeholder="Search" value={searchKey} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
        </div>
    </div>
    <!--  <template if:true={showPublicData}>
        <c-common-dashboard columns={columns} by-types={cardDatas} by-classes={cardClasses} table-records={totalRecords}
            total-records-count={totalRecords.length} oncardvaluechange={handleDataTableDatas}
            onredirecttonextpage={handleRedirection} onpublicprivate={handleDashboardDatas}></c-common-dashboard>
    </template>
    <template if:false={showPublicData}> -->
    <template if:true={supervisorFlowPublic}>
        <c-common-dashboard columns={columns} by-types={cardDatas} by-classes={cardClasses} table-records={totalRecords}
            total-records-count={totalRecords.length} oncardvaluechange={handleDataTableDatas}
            onredirecttonextpage={handleRedirection} onpublicprivate={handleDashboardDatas} active-page={providerType}>
        </c-common-dashboard>
    </template>
    <template if:true={supervisorFlow}>
        <div class="suprbtnAlign">
            <lightning-button label="Monitoring" data-name="Monitoring__c" onclick={handleClick}
                class="slds-m-left_x-small sup" variant="brand-outline" disabled={moniBtnDisable}>
            </lightning-button>
            <lightning-button label="Contract" data-name="Contract__c" onclick={handleClick}
                class="slds-m-left_x-small sup" variant="brand-outline" disabled={contBtnDisable}>
            </lightning-button>
        </div>
        <c-common-dashboard columns={supervisorColumns} by-types={suprCardDatas} by-classes={supCardClasses}
            table-records={totalRecords} total-records-count={totalRecords.length}
            oncardvaluechange={handleDataTableDatas} onredirecttonextpage={handleRedirection} active-page={providerType}
            onpublicprivate={handleDashboardDatas}>
        </c-common-dashboard>
    </template>
    <!-- </template> -->
</template>