<template>

  <div class="slds-p-around_medium">
    <div class="slds-grid slds-wrap">
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input disabled name="Name" label="Staff Name" value={Name}> </lightning-input>
      </div>

      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-input disabled name="EmployeeType" label="Employee Type" value={EmployeeType}> </lightning-input>
      </div>
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-3">
        <lightning-combobox required label="Program Type" value={ProgramType} name="ProgramType"
          options={optionsProgramTypes} onchange={handleChange}>
        </lightning-combobox>
      </div>

    </div>
    <!-- <div style="float: right;">
      <lightning-button type="submit" label="Save record" onclick={handleSubmit} class="slds-m-top_medium">
      </lightning-button>
    </div> -->
  </div>
</template>