.incident-main {
    background: #fff;
    height: calc(100vh - 187px);
    padding-top: 30px;
    position: relative;
    overflow-y: auto;
    border: #eaeaea 1px solid;
    box-shadow: 0px 0px 10px #d8d8d891;
}

.incident-secReview {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f2f2f2
}

.sec-input {
    width: 70%;
    margin: 0 auto 20px;
}