<template>
    <div class="incident-main">
        <div class="incident-secReview">
            <div class="slds-align_absolute-center"><img src={gangdetailIcon} alt="GANG DETAILS" class="mb-10" /></div>
            <div class="slds-align_absolute-center">
                <h1 class="fw-500">GANG DETAILS</h1>
            </div>
            <div class="sec-input">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1">
                        <lightning-textarea name="GangRelated__c" label="Gang Related Explain" onchange={handleChange}
                            placeholder="Enter your comments" value={gangRelated} disabled={gangFlowBtnDisable}>
                        </lightning-textarea>
                    </div>
                    <div class="slds-size_1-of-1 slds-medium-size--1-of-1 mt-10">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3">
                                <div class="monitorRadioGroup padtopbottom10">
                                    <div class="monitorRadioPosition">
                                        <lightning-radio-group name="SupportingEvidence__c" label="Supporting Evidence"
                                            onchange={handleChange} options={options} value={supportingEvidence}
                                            type="button" disabled={gangFlowBtnDisable}>
                                        </lightning-radio-group>
                                    </div>
                                </div>
                            </div>
                            <template if:false={showgangDetails}>

                                <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--2-of-3">
                                    <lightning-textarea type="text" name="EvidenceDetails__c" onchange={handleChange}
                                        label="Please Provide Evidence Details" class="textArea-heightgang" value={evidenceDetails} disabled={gangFlowBtnDisable}>
                                    </lightning-textarea>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-modal__footer">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1">
                <div class="btnSec pr-0">
                    <!-- <lightning-button class="btn btn-sec" onclick={cancelContactDetails} label="CANCEL">
                    </lightning-button> -->
                    <lightning-button label="SAVE" class="btn btn-pri slds-m-left_x-small" onclick={saveGangDetails}
                        disabled={disableBtnsave}></lightning-button>
                </div>
            </div>
        </div>
    </div>
</template>