<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fontbold">Referrals</h2>
            </div>
            <div class="slds-float_right">
                <div class="dashboard-btn">
                    <lightning-button label="Add New" class="btn btn-pri slds-m-left--small mr-10" variant="brand"
                        onclick={openModel} style="display: inline-block;"></lightning-button>
                </div>
                <div class="dashboard-search">
                    <lightning-input type="search" onchange={handleChange} class="input-search" label=""
                        placeholder="Search By Referral No.." value={searchKey} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
        </div>
    </div>
    <template if:true={showPublicData}>
        <c-common-dashboard columns={columns} by-types={cardDatas} by-classes={cardClasses} table-records={totalRecords}
            total-records-count={totalRecords.length} oncardvaluechange={handleDataTableDatas}
            onredirecttonextpage={handleRedirection} onpublicprivate={handleDashboardDatas} active-page={providerType}>
        </c-common-dashboard>
    </template>
    <template if:true={openModelwindow}>
        <c-common-new-referral-create onintimateparenttoclosemodal={intimateParentToCloseModal}
            onredirecttopublicorprivateproviderhomepage={handleHomePageRedirection}
            onredirecttonewcomplaintstabs={handleredirecttoNewComplaintsTabs}>
        </c-common-new-referral-create>
    </template>
</template>