<template>
    <template if:true={openModelwindow}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container widContainerpop">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                Add New Referral Type / Complaints</h2>
                            <button class="close-button" title="Close" onclick={closeModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content  slds-p-around_medium overVisible" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-4 boxLink">
                                    <button name="Private New" class="box-col1" onclick={handlePivateProviderRedirect}>
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="iconprivate" src={privateIcon} />
                                            <p class="font-bold padtop">Private Provider</p>
                                        </div>
                                    </button>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-4 boxLink">
                                    <button name="Private Existing" class="box-col2" onclick={handlePivateProviderRedirect}>
                                        <div class="text-center slds-p-vertical--xx-large">
                                            <img class="iconexisting" src={existingIcon} /> <img
                                                class="plus-icon iconexistingplus" src={plusIcon} /> <img
                                                class="iconexistingprivate" src={privateIcon} />
                                            <p class="font-bold padtop">New Program to an Existing Provider</p>
                                        </div>
                                    </button>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-4 boxLink">
                                    <button name="Public New" onclick={handlePivateProviderRedirect} class="box-col3">
                                        <div class="text-center  slds-p-vertical--xx-large">
                                            <img class="iconpublic" src={publicIcon} />
                                            <p class="font-bold padtop-lastCard">Public Provider</p>
                                        </div>
                                    </button>
                                </div>
                                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-4 slds-large-size--1-of-4 boxLink">
                                    <button name="Complaints" onclick={handlePivateProviderRedirect} class="box-col4">
                                        <div class="text-center  slds-p-vertical--xx-large">
                                            <img class="iconcomplaint mt-10" src={complaintIcon} />
                                            <p class="font-bold padtop-lastCard">Complaints</p>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <lightning-button label="Cancel" variant="brand-outline" class="mr-10" onclick={closeModel}>
                            </lightning-button>
                            <lightning-button label="Next" disabled={nextButtonEnableAndDisable} variant="neutral" onclick={handleRedirection}>
                            </lightning-button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>