<template>
    <div class="slds-align_absolute-center" if:true={norecorddisplay}>
        <lightning-datatable key-field="id" data={currentPageInvestigationData} columns={columns} hide-checkbox-column="true" onrowaction={handleRowAction} class="custom-tbl">
        </lightning-datatable>
    </div>
    <div class="template-screen" if:false={norecorddisplay}>
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
            <img class="icon-attachment" src={InvestigationFindingsIcon}/>
            <p class="font-bold padtop10">No Investigation/Findings Found</p>
        </div>
    </div>
    <div class="pageMonitorPosition btnpos" if:true={norecorddisplay}>
        <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
        </c-common-pagination>
    </div>
</template>