.icon-mplus:before,
.icon-mminus:before {
    display: inline-block;
    content: "+";
    font-size: 17px;
    /* font-weight: 600; */
    background: #0a69b9;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 17px;
    padding-left: 0px;
    color: #fff;
    border-radius: 20px;
    vertical-align: middle;
}

.icon-mminus:before {
    content: "-";
    padding-left: 2px;
}

.pad5px {
    padding-top: 10px;
}

.searchhousehold_fieldset {
    padding-top: 10px;
}



.posButton {
    position: absolute;
    right: 10px;
    top: 3px;
}

.pad20 {
    padding: 20px;
}

.footbg {
    position: absolute;
    bottom: 10px;
    width: 99%;
}



.slds-listbox-item {
    width: 190px;
}