.referal-headbottom {
  padding: 0px 15px 4px;
  width: 100%;
  background: rgb(251, 251, 251);
  height: 38px;
  box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
  text-transform: uppercase;
}

.unicode-rightarr {
  padding: 0px 15px;
}
