<template>
  <div class="referal-headbottom mb-10">
    <div class="slds-clearfix">
      <div class="slds-float_left">
        <h2 class="mt-10 fw-500"><a href="#" onclick={redirectToProvidersAppDashboard}>Applications</a> <span
            class="unicode-rightarr">&#62;</span> Application ID: {applicationId} </h2>
      </div>
    </div>
  </div>
</template>