<template>  
   <div class="box slds-m-around_small">   
      <!-- <div class="slds-grid slds-wrap"> 
         <div class="slds-col slds-col--padded slds-size_1-of-1">
            <h2 class="sub-title">SEARCH PROVIDER REFERRAL</h2>
         </div>  
      </div>  -->
     <div class="decision_fieldset slds-p-around_small">
   
      <fieldset>
         <legend class="sec-title">
            SEARCH PROVIDER REFERRAL
         </legend>
      
         <div class="slds-grid slds-wrap">               
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
               <lightning-input type="search" name="sf_ProviderId" label="Provider Id" onchange={handleProviderId}  value={sf_ProviderId}></lightning-input>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
               <lightning-input type="search" name="sf_ProviderTaxId" label="Provider Tax Id" onchange={handleProviderTaxId}  value={sf_ProviderTaxId}></lightning-input>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
               <lightning-combobox  name="sf_SelectStatus" label="Select Status" onchange={handleSelectStatus} options={options_SelectStatus} placeholder='Select Status' value={sf_SelectStatus}></lightning-combobox>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6">
               <lightning-combobox  name="sf_SelectJurisdiction" label="Select Jurisdiction" onchange={handleSelectJurisdiction} placeholder='Select Jurisdiction' options={options_SelectJurisdiction} value={sf_SelectJurisdiction}></lightning-combobox>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_2-of-6 mt-30">
               <lightning-button class="btn btn-pri " variant="brand" label="SEARCH" title="Search" onclick={handleSearchClick} ></lightning-button>
               <a href="javascript:void" onclick={handleResetClick} class="link-reset">Reset</a>
            </div>
            <!-- <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-6 txt-right mt-30">
               
            </div> -->

         </div>
</fieldset>
</div>
         <lightning-layout-item size="12" padding="around-medium">
         <div if:true={showSpinner} class="slds-is-relative slds-p-bottom_xx-large">
      <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
         </div>
         </lightning-layout-item>
   
         <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1">
               <lightning-datatable class="custom-tbl"
                                    key-field="id" 
                                    data={currentPageData} 
                                    columns={columns}
                                    hide-checkbox-column="true"
                                    onrowaction={handleRowAction}>
               </lightning-datatable>
            </div>
         </div>
         <div class="slds-grid slds-wrap">
            <div class="slds-col slds-col--padded slds-size_1-of-1">
               <ul class="slds-button-group-row">
                  <template if:true={hasPrev}>
                     <li class="slds-button-group-item" >
                        <button class="slds-button slds-button_neutral" onclick ={onPrev}> prev
                        </button>
                     </li>
                  </template>
                    <template for:each={pagesList} for:item="pageNumber">
                     <li class="slds-button-group-item" key={pageNumber}>
                        <button data-id={pageNumber} class="slds-button slds-button_neutral"
                           onclick={onPageClick}>{pageNumber}</button>
                     </li>
                  </template>
                    <template if:true={hasNext}>
                     <li class="slds-button-group-item" >
                        <button class="slds-button slds-button_neutral" onclick={onNext}
                           >next</button>
                     </li>
                  </template>
               </ul>
            </div>
         </div>
      </div>

</template>