<template>
  <template if:true={loaded}>
    <div class="slds-grid slds-wrap application_fieldset slds-p-around_x-small">
      <div class="slds-col slds-large-size_1-of-1">
        <fieldset>
          <legend class="sec-title">
            PROGRAM INFORMATION
          </legend>
          <div class="slds-grid slds-wrap grid-coltop10">
            <div
              class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <lightning-input name="Program" label="Program" value={Program} onchange={handleChangeProgram}
                class="mandateProgram" required disabled>
              </lightning-input>
            </div>
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <lightning-input name="Program Type" label="Program Type" value={ProgramType} class="mandateProgramType"
                onchange={handleChangeProgramType} required disabled>
              </lightning-input>
            </div>
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <lightning-input label="Provider Name" maxlength="80" class="mandateProgramName" value={ProgramName}
                name="Program Name" onchange={handleChangeProgramName} required disabled>
              </lightning-input>
            </div>
            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2  slds-large-size_1-of-4">
              <lightning-input label="Program Tax Id" id="ProgramTaxId" class="mandateTaxID" value={TaxIdvalue}
                maxlength="11" name="Program Tax Id" placeholder="00-000000" onchange={handleChangeTax} required
                disabled>
              </lightning-input>
            </div>
            <div
              class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <lightning-combobox name="Accreditation" label="Accreditation" value={Accreditation}
                placeholder="Select Options" options={accreditationOptions} onchange={handleChangeAccreditation}
                required disabled={disableProgramDetailsFields}>
              </lightning-combobox>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="slds-col  slds-large-size_1-of-1 slds-m-top--medium">
        <fieldset>
          <legend class="sec-title">
            PROGRAM DETAILS
          </legend>
          <div class="slds-grid slds-wrap grid-coltop10">
            <div
              class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <lightning-combobox name="Gender" value={Gender} class="inputRequired mandateGender" label="Gender"
                placeholder="Select" options={GenderOptions} onchange={handleChangegender} required
                disabled={disableProgramDetailsFields}>
              </lightning-combobox>
            </div>
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1">
                  <label><span class="age-labeltext-min"> <span style=color:#ca6c6c> *</span>Min Age</span>
                    <span class="age-labeltext-max"><span style=color:#ca6c6c> *</span>Max Age</span></label>
                  <iframe src={sliderAgeURL} style="border:none;height:36px; max-width:100%"></iframe>
                </div>
              </div>
            </div>

            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1">
                  <label><span class="age-labeltext-min"><span style=color:#ca6c6c> *</span>Min IQ</span>
                    <span class="age-labeltext-max"><span style=color:#ca6c6c> *</span>Max IQ</span></label>
                  <iframe src={sliderIQURL} style="border:none;height:36px; max-width:100%"></iframe>
                </div>
              </div>
            </div>
            <!--- <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                          <div class="slds-grid slds-wrap">
                              <div class="slds-col slds-size_1-of-1">
                                  <lightning-input label=" Min Age" type="number" id="MinAge"
                                      class="inputRequired2 mandateMinAge" maxlength="2" required value={MinAgevalue} onchange={handlechangeminAge}>
                                  </lightning-input>
                              </div>
                          </div>
                      </div>
                          <div
                              class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                              <lightning-input label=" Max Age" type="number" id="MaxAge"
                                  class="inputRequired2 mandateCapacity" maxlength="2" required value={MaxAgevalue} onchange={handlechangemaxAge}>
                              </lightning-input>
                          </div> 
                          <div
                          class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">                       
                          <lightning-input label=" Min IQ" type="number" id="MinIQ"
                              class="inputRequired2 mandateMinIQ" maxlength="2" required value={MinIQvalue} onchange={handlechangeminIQ}>
                          </lightning-input>
                      </div>
                      <div
                          class="slds-col--padded slds-p-left_none slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-4">
                          <lightning-input label=" Max IQ" type="number" id="MaxIQ"
                              class="inputRequired2 mandateMaxIQ" maxlength="2" required value={MaxIQvalue}
                              onchange={handleChangeMaxIQ}>
                          </lightning-input>
                      </div>                                 -->
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
              <lightning-input label=" Capacity" type="number" id="Capacity" class="inputRequired2 mandateCapacity"
                value={Capacity} maxlength="2" name="Capacity" placeholder="" onchange={handleCapacityChange} required
                disabled={disableProgramDetailsFields}>
              </lightning-input>
            </div>
            <div
              class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4 radio-fieldsetNone">
              <lightning-radio-group name="Profitvalue" label="Profit" options={ProfitOptions} value={Profitvalue}
                onchange={handleRadioButton} disabled={disableProgramDetailsFields}>
              </lightning-radio-group>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <!--Sundar Modified this-->
    <c-porgram-new onaddresscount={handleAddressLengthFromChild}></c-porgram-new>
    <div class="btnSec slds-p-around_x-small">
      <lightning-button class="btn btn-pri " label="Save" variant='brand' onclick={handleClicksave}
        disabled={isSaveBtnDisabled}>
      </lightning-button>
    </div>
    <!--<div class="slds-grid slds-wrap mt-10">
      <div class="slds-col--padded  slds-size_1-of-1 slds-large-size_1-of-1">
        <div class="slds-clearfix">
          <div class="slds-float_right">
            <button class="slds-button slds-button_outline-brand default-btn" onclick={handleClicksave}
              disabled={isSaveButtonDisabled}>
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>-->
  </template>
  <div if:false={loaded} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>