<template>
    <div class="sec-main template-screen">
        <div class="sec-incident-inner">
            <div class="sec-topinputs">
                <!-- <div class="slds-align_absolute-center"><img src={reviewIcon} alt="complaint Review" class="mb-10" /></div> -->
                <div class="sec-titleimg">
                    <img class="imgAlign" src={titleimg} />
                    <h1 class="fw-500">Program</h1>
                </div>
                <div class="sec-input">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4">
                            <span>
                                <lightning-combobox name="Program" value={ProgramFetchingValue}
                                    placeholder="Select Program" options={programOptions}
                                    onchange={handleChangeForProgramType} label="Program" required="True" disabled={freezeReviewScreen}>
                                </lightning-combobox>

                            </span>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 ">
                            <span>
                                <lightning-combobox name="ProgramType" value={ProgramTypeFetchingValue}
                                    placeholder="Select Program Type" options={programTypeOptions}
                                    onchange={handleChangeForProgramSite} label="Program Type" required="True" disabled={freezeReviewScreen}>
                                </lightning-combobox>
                            </span>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-4 ">
                            <span>
                                <lightning-combobox name="ProgramSite" value={AddressFetchingValue}
                                    placeholder="Select Program Site" onchange={handleChangeForProgramSiteValue}
                                    options={programSiteOptions} label="Program Site" required="True" disabled={freezeReviewScreen}>
                                </lightning-combobox>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-grid slds-wrap m-center">
                <div class="slds-col slds-col--paddedslds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                    <div class="boxbdr-wrap">
                        <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                            <img class="imgAlign proimg" src={providerImage} /> <br />
                            <span class="fontMedium clrhead">Provider</span>
                        </div>
                        <div class="slds-clearfix  slds-col--padded slds-p-top_small">
                            <div class="">
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Name</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{providerName}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Phone</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{providerPhone}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Email</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{providerEmail}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                    <div class="boxbdr-wrap">
                        <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                            <img class="imgAlign" src={helpIcon} /> <br />
                            <span class="fontMedium clrhead">Program Information</span>
                        </div>
                        <div class="slds-clearfix  slds-col--padded slds-p-top_small">
                            <div class="">
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Program </span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{program}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Type</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{ProgramTypeValue}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Address</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{ProgramSiteValue}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Email</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{EmailDetails}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Phone</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{PhoneDetails}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                    <div class="boxbdr-wrap">
                        <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                            <img class="imgAlign" src={agencyInfoIcon} /> <br />
                            <span class="fontMedium clrhead">Licensing Agency Information</span>
                        </div>
                        <div class="slds-clearfix  slds-col--padded slds-p-top_small">
                            <div class="">
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Agency</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{Agency}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Name</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{AgencyName}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Phone</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{AgencyPhone}</span>
                                    </div>
                                </div>
                                <div class="slds-grid slds-wrap slds-p-bottom_small">
                                    <div class="slds-col slds-size_1-of-4">
                                        <span>Email</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-4">
                                        <span class="lightGrey">{AgencyEmail}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-bottom-posbg">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-col--padded">
                    <div class="">
                        <lightning-button class="btn btn-sec" label="CANCEL"></lightning-button>
                        <lightning-button label="SAVE" onclick={handleSave} disabled={freezeReviewScreen} class="btn btn-pri slds-m-left_x-small ">
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>