<template>
    <template if:false={recordNewModel}>
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-5 mcr_left">
        <template if:true={hasStaffEnable}>
          <span>
            <lightning-input disabled type="text" value={programSite} name="programSite" label="Program Site">
            </lightning-input>
          </span>
        </template>
      </div>
      <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-5 mcr_right">
        <template if:true={hasStaffCreate}>
          <span>
            <lightning-combobox name="staff" value={staffId} options={staffLists} label="Select Staff"
              onchange={createNewRecordModelPop} required></lightning-combobox>
          </span>
        </template>
      </div>
      <template if:false={editPageOpen}>
        <div class="pullRight">
          <div if:true={hasStaffEnable} style="padding: 13px 0;"></div>
          <div if:false={hasStaffEnable} style="padding: 5px 0;"></div>
          <div if:false={isSuperUserFlow}>
            <lightning-button label={newRecordCreate} class="btn btn-pri slds-m-left--small" variant="brand"
            onclick={createNewRecordModelPop} disabled={isDisable}></lightning-button>
          </div>
        </div>
        <lightning-datatable if:false={dataTableShow} class="custom-tbl generalTable HeightTable"
           key-field="id" data={totalRecords} columns={columns}
          hide-checkbox-column onrowaction={handleRowAction}>
        </lightning-datatable>
        <div class="pageMonitorPosition">
          <c-common-pagination if:false={dataTableShow} get-count={totalRecordsCount} page={page} setsize={setPagination}
            perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
          </c-common-pagination>
        </div>
      </template>
      <div if:true={dataTableShow} style="margin-top: 55px;">
        <div class="text-center file-upload slds-p-vertical--xx-large noinspectionRecords">
          <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
          <p class="font-bold padtop10">No Records Available</p>
        </div>
      </div>
    </template>
    <!-- //POPUP Window For Conformation Start-->
  
    <!-- new child components code  -->
    <template if:true={recordNewModel}>
      <div class="staff_heightOverflow">
        <template for:each={questions} for:item="question">
          <c-monitoring-board-interview-question key={question.Id} monitoring-id={question.Id}
            onchangequestionanswer={changeQuestionAnswerHandle} question={question} monitoring-data={question.Question__c}
            monitoring-fieldtype={question.FieldType__c}>
          </c-monitoring-board-interview-question>
        </template>
        <div class="bottomAlign">
          <div class="slds-clearfix">
            <div class="slds-float_right">
              <span class="btn btn-sec"> <button class="slds-button slds-button_neutral mr-10" onclick={closeNewRecord}>
                  CANCEL
                </button></span>
              <span class="btn btn-sec"> <button if:true={btnEnable} class="slds-button slds-button_outline-brand mr-10"
                  onclick={saveRecords} value="Draft" disabled={isDisable}>
                  SAVE AS DRAFT
                </button></span>
              <button if:true={btnEnable} class="slds-button slds-button_brand" value="Submit" onclick={saveRecords} disabled={isDisable}>
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      </div>
  
    </template>
  
    <template if:true={editPageOpen}>
      <div class="staff_heightOverflow">
        <template for:each={questions} for:item="question">
          <c-monitoring-board-interview-question key={question.Id} monitoring-id={question.Id} question={question}
            onchangequestionanswer={changeQuestionAnswerHandle} monitoring-data={question.Question__c}
            monitoring-fieldtype={question.FieldType__c}>
          </c-monitoring-board-interview-question>
        </template>
        <div class="bottomAlign">
          <div class="slds-clearfix">
            <div class="slds-float_right">
              <span class="btn btn-sec"> <button class="slds-button slds-button_neutral mr-10" onclick={closeNewRecord}>
                  CANCEL
                </button></span>
              <span class="btn btn-sec"> <button if:true={btnEnable} class="slds-button slds-button_outline-brand mr-10"
                  onclick={updateRecordData} value="Draft">
                  SAVE AS DRAFT
                </button></span>
              <button if:true={btnEnable} class="slds-button slds-button_brand" value="Submit" onclick={updateRecordData}>
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>
  
    <template if:true={openDeleteModal}>
      <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
          <div class="slds-modal__container" style="width: 35%;">
            <div class="popborder">
              <header class="slds-modal__header">
                <button class="close-button" title="Close" onclick={closeModal}></button>
              </header>
              <!-- modal body start -->
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                <div class="slds-align_absolute-center delete-icon">
                  <p>Are you sure you want to delete?</p>
                </div>
              </div>
              <!-- modal footer start-->
              <footer class="slds-modal__footer slds-align_absolute-center">
                <button class="slds-button slds-button_text-destructive" onclick={deleteHandler}>
                  Yes
                </button>
                <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                  No
                </button>
              </footer>
            </div>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
      <c-common-loading-spinner></c-common-loading-spinner>
  </div>
  </template>