.searchIcon-Det {
  margin-top: 190px;
  text-align: center;
  color: rgb(212, 209, 209);
}

.nosearchicon {
  display: grid;
}

.secP {
  margin-top: -16px;
}

.popSize {
  width: 76%;
}

.fieldWidth {
  width: 266px !important;
}

.fieldwidth {
  width: 340px;
}

.noRecFind {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-size: initial;
}
