<template>
    <div if:true={noIconShow} class="template-screen">
        <div class="slds-align_absolute-center nosearchicon">
            <p class="searchIcon-Det">No Staff Member Found !</p><br />
            <p class="secP">Please assign staff by Clicking the above "Assign staff" button </p>
        </div>
    </div>
    <template if:true={showStaffMemberPop}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
                                Assign Staff Member
                            </h2>
                            <button class="close-button" title="Close" onclick={closeModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div if:true={showTable} class="slds-grid slds-wrap">
                                <lightning-datatable class="complaint-tbl" key-field="Id" data={staffMemberList}
                                    columns={staffMemberColumns} onrowselection={handleRowSelection}
                                    selected-rows={preSelectedRows}>
                                </lightning-datatable>
                            </div>
                            <div if:false={showTable} class="noRecFind">
                                <p>No Staff Available to Add!..</p>
                            </div>
                        </div>
                        <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
                            <c-common-loading-spinner></c-common-loading-spinner>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1 slds-p-top_small slds-text-align_right">
                                    <lightning-button class="btn btn-sec" label="CANCEL" onclick={closeModel}>
                                    </lightning-button>
                                    <lightning-button if:false={isDisabled} variant="brand" label=ADD
                                        class="btn btn-pri slds-m-left_x-small" onclick={addStaffsToActor}
                                        disabled={enableAdd}>
                                    </lightning-button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <template if:true={showStaffDetailsPop}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container popSize">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">
                                {addOrEditLable} Staff Details
                            </h2>
                            <button class="close-button" title="Close" onclick={closeModel}>
                            </button>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                            <div class="slds-grid slds-wrap">
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                    <lightning-combobox name="staffList" label="Select From Available Staffs"
                                        options={availableStaffsvalue} value={contact.staffId}
                                        onchange={onChangeHandlers} placeholder="Select Staff" required
                                        disabled={disableStaffName}>
                                    </lightning-combobox>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-5">
                                    <lightning-input type="text" name="affiliation" label="Affiliation Type"
                                        value={AffiliationType__c} placeholder=" - " disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-5">
                                    <lightning-input type="text" name="jobTitle" label="Job Title"
                                        value={contact.JobTitle__c} placeholder=" - " disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4">
                                    <lightning-input type="text" name="empType" label="Employee Type"
                                        value={contact.EmployeeType__c} placeholder=" - " disabled>
                                    </lightning-input>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 mt-10 fieldwidth">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={injurySeverityLevelValues}
                                                name="injSevLevel" type="button" label="Injury Severity Level"
                                                value={actor.InjurySeverityLevel__c} onchange={onChangeHandlers}
                                                disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 mt-10 fieldWidth">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={primaryStaffMemValues} name="priStaffMember"
                                                type="button" label="Is the Person Primary Staff Member?"
                                                value={actor.PrimaryStaffMember__c} onchange={onChangeHandlers}
                                                disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-5 mt-10">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={staffAssaultedValues} name="staffAssaulted"
                                                type="button" label="Staff Assaulted?" value={actor.StaffAssaulted__c}
                                                onchange={onChangeHandlers} disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-6 mt-10">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group options={injurySustainedValues} name="injSustained"
                                                type="button" label="Injury Sustained?" value={actor.InjurySustained__c}
                                                onchange={onChangeHandlers} disabled={isDisabled}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1 slds-p-top_small slds-text-align_right">
                                    <lightning-button class="btn btn-sec" label="CANCEL" onclick={closeModel}>
                                    </lightning-button>
                                    <lightning-button if:false={isDisabled} variant="brand" label={saveOrUpdateLable}
                                        class="btn btn-pri slds-m-left_x-small" onclick={updateActorDetails}
                                        disabled={enableAdd}>
                                    </lightning-button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
            <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
                <c-common-loading-spinner></c-common-loading-spinner>
            </div>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <div class="application-table" if:false={noIconShow}>
        <lightning-datatable class="custom-tbl" key-field="Id" data={staffMemberListFrmActor} hide-checkbox-column
            columns={staffMemberListColumn} onrowaction={handleRowAction}>
        </lightning-datatable>
    </div>

    <!-- //POPUP Window For Conformation Start-->
    <template if:true={openmodel}>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
                <div class="slds-modal__container" style="width: 35%;">
                    <div class="popborder">
                        <header class="slds-modal__header">
                            <button class="close-button" title="Close" onclick={closeModal}></button>
                        </header>
                        <!-- modal body start -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                            <div class="slds-align_absolute-center delete-icon">
                                <p>Are you sure you want to delete?</p>
                            </div>
                        </div>
                        <!-- modal footer start-->
                        <footer class="slds-modal__footer slds-align_absolute-center">
                            <button class="slds-button slds-button_text-destructive" onclick={deleteFrSure}>
                                Yes
                            </button>
                            <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                                No
                            </button>
                        </footer>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <!-- //POPUP Window For Conformation End-->
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>