.incident-main {
    background: #fff;
    /* height: calc(100vh - 187px); */
    padding-top: 30px;
    position: relative;
    border-radius: 3px;
    border: #eaeaea 1px solid;
    overflow-y: auto;
    box-shadow: 0px 0px 10px #d8d8d891;
}

.incident-secReview {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f2f2f2
}

.sec-input {
    width: 90%;
    margin: 0 auto 20px;
}

.fontweight500 {
    font-weight: 500;
}

.texttop {
    margin-top: -14px;
    position: relative;
}

.datewidth {
    width: 30%;
}

.incident-fieldmain {
    /* width: 70%; */
    margin: 10px;
}

.incident-fieldmain fieldset {
    display: block;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    border-radius: 3px;
    padding: 15px 0;
}

.divheight {
    height: 110px;
    float: left;
}