<template>
    <div class="incident-main">
        <div class="incident-secReview">
            <div class="slds-align_absolute-center"><img src={supervisoryIcon} alt="Supervisor Comments"
                    class="mb-10" /></div>
                <div class="slds-align_absolute-center mb-10">
                    <h1 class="fw-500">Supervisor Comments</h1>
                </div>
                <div class="sec-input">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1">
                            <label class="fontweight500">Must include critique of how staff handled the incident including,
                                whether decisions\actions
                                could have been improved, whether staff did an exceptionally good job or if any corrective
                                actions or safety measures were taken.</label>
                            <div class="texttop">
                                <lightning-textarea name="SupervisorComments__c" placeholder="Enter your comments" onchange={supervisorChange} value={supervisorComments} disabled={SuperVisorFlowBtnDisable}>
                                </lightning-textarea>
                            </div>
                        </div>
                        <div class="slds-size_1-of-1 slds-medium-size--1-of-1 mt-10">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3">
                                    <lightning-combobox name="Supervisor" label="Supervisor" placeholder="Select Type" onchange={supervisorChange} options={StaffInvolvedOptions} value={supervisorData} disabled={SuperVisorFlowBtnDisable}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--2-of-3">
                                    <lightning-input type="date" name="SupervisorDate__c" label="Date" value={supervisorDate} autocomplete="off" onchange={supervisorChange} placeholder="Select" class="datewidth" disabled={SuperVisorFlowBtnDisable} required>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="incident-fieldmain incidentSupervisor">
                <fieldset disabled={SuperVisorFlowBtnDisable}>
                    <legend class="sec-title">
                        CHECKLIST
                    </legend>
                    <div class="slds-grid slds-wrap grid-coltop10">
                        <!-- <ol class="slds-list_ordered"> -->
                            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-3 divheight" for:each={questions} for:item="question" key={question.rowId}>
                                <div class="monitorRadioGroup padtopbottom10">
                                    <div class="monitorRadioPosition">
                                        <span> {question.QuestionOrder__c}. {question.Activity__c}</span>
                                        <lightning-radio-group name={question.rowId} label="" onchange={supervisorCheckListChange} options={options} value={question.AnsDependent} type="button">
                                        </lightning-radio-group>
                                    </div>
                                </div>
                            </div>
                        <!-- </ol> -->
                    </div>
                </fieldset>
            </div>
            <div class="slds-modal__footer">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_1-of-1">
                        <div class="btnSec pr-0">
                            <!-- <lightning-button class="btn btn-sec" onclick={cancelSupervisorDetails} label="CANCEL">
                    </lightning-button> -->
                            <lightning-button label="SAVE" class="btn btn-pri slds-m-left_x-small" onclick={saveSupervisorSubmit} disabled={disabledBtnSave}></lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>