<template>
    <div class="licenseScreen padtop10">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-col--padded slds-size_1-of-1">
                <div class="license-headBar fw-500">License Information</div>
                <div class="license-bodyBar">
                    <div class="slds-grid slds-wrap">
                        <div
                            class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_5-of-12">
                            <div class="slds-grid slds-wrap license-infoPad">
                                <div
                                    class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    License Number
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {LicenseNumber}
                                </div>
                                <div
                                    class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    Program
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {Program}
                                </div>
                                <div
                                    class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    Program Type
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {ProgramType}
                                </div>
                                <div
                                    class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    Provider Name
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    {ProviderName}
                                </div>
                                 <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                                    License Start Date<span style="color: red">*</span>
                                    <div style="width:130px">
                                        <lightning-input type="date" name="LicenseStartDate__c" value={LicenseStartDate}
                                            onchange={handleChange} autocomplete="off"
                                            disabled={disableLicenseStartDate} placeholder="Start Date"></lightning-input>
                                    </div>
                                </div>
                                <div
                                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                                    License End Date<span style="color:red;">*</span>
                                    <div style="width:130px">
                                        <lightning-input type="date" name="LicenseEndDate__c" value={LicenseEndDate}
                                            min={LicenseStartDate} autocomplete="off" onchange={handleChange}
                                            disabled={disableLicenseEndDate} placeholder="End Date"></lightning-input>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div
                        class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_5-of-12">
                        <div class="slds-grid slds-wrap license-infoPad">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-5 slds-large-size_4-of-12">
                                Site Id
                            </div>
                            <div class="fw-500 slds-col--padded slds-size--1-of-1 slds-medium-size--3-of-5 slds-large-size_8-of-12">
                            {SiteID}
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-5 slds-large-size_4-of-12">
                                Site Address
                            </div>
                            <div class="fw-500 slds-col--padded slds-size--1-of-1 slds-medium-size--3-of-5 slds-large-size_8-of-12">
                               {SiteAddress}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap license_fieldset">
            <div class="slds-col slds-col--padded slds-size_1-of-2">
                <fieldset>
                    <legend class="fw-500">Other Information</legend>
                    <div class="licenseinfo-card-row">
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={licenseBeds} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                Bed Capacity
                                            </h2>
                                            <h2 class="card-value fw-500">{BedCapacity}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>

                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={ageRange} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                Age Range
                                            </h2>
                                            <h2 class="card-value fw-500">{MinAge} - {MaxAge}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={iQRange} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                IQ Range
                                            </h2>
                                            <h2 class="card-value fw-500">{MinIQ} - {MaxIQ}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                        <div class="licenseinfo-cards">
                            <article class="slds-card">
                                <div class="slds-card__header slds-grid">
                                    <header class="slds-media_center slds-has-flexi-truncate">
                                        <div class="slds-media__figure figure-marginoRight">
                                            <img src={genderIcon} class="slds-p-right_x-small mt-10" />
                                        </div>
                                        <div class="slds-media__body text-center">
                                            <h2 class="card-label">
                                                Gender
                                            </h2>
                                            <h2 class="card-value fw-500">{Gender}</h2>
                                        </div>
                                    </header>
                                </div>
                            </article>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>


        <!-- <template if:true={myview}>  -->
        <div class="slds-grid slds-wrap mt-10">
            <div class="slds-col slds-col--padded mb-10">
                <div class="slds-clearfix">
                    <template if:true={myload}>
                        <lightning-button class="slds-float_right" label="View And Download" onclick={handleView}>
                        </lightning-button>
                    </template>
                    <div class="slds-float_right" if:true={isSaveButtonShow}>
                        <lightning-button class="btn btn-pri slds-m-left_x-small" label="Save" onclick={handleSave} disabled={isBtnDisable}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
        <!-- </template> -->
    </div>
    <!-- PopUp -->

    <template if:true={openmodel}>
        <iframe src={generatePDF}></iframe>
        <div class="demo-only">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--medium">
                <div class="slds-modal__container">
                    <div class="slds-modal__content slds-p-around_medium " id="modal-content-id-1">

                        <div class="licensinginfo">
                            <div class="download_button">
                                <lightning-button label="Download" onclick={clickgeneratePDF}></lightning-button>
                            </div>
                            <button class="close-outbutton" title="Close" onclick={closeModal}
                                style="right:-10px;top:15px;">
                            </button>
                            <div class="printpdf">
                                <div class="licensinginfo-header">
                                    <div class="logo mcol">
                                        <div class="dhs_logo"></div>
                                    </div>
                                    <div class="logo-righttext mcol">
                                        Maryland Department of Human Service office of Licensing and Monitoring
                                        445, Mount Eden Road, Mount Eden, Auckland.
                                    </div>
                                </div>

                                <div class="licensinginfo-body">
                                    <div class="mrow location-details">
                                        <table>
                                            <tr>
                                                <td style="width:20%;"><b>To:</b></td>
                                                <td style="border-bottom:1px dotted #e9e9e9"><b>{ProviderName}</b></td>
                                            </tr>
                                            <tr>
                                                <td><b>Located at:</b></td>
                                                <td style="border-bottom:1px dotted #e9e9e9"><b>{BillingStreet}</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="mrow">
                                        <p>This license is issued in accordance with Sec. 5-507, 5-508, 5-509, and
                                            5-526, of the Family Law Article, Annotated Code of Maryland, and is subject
                                            to the rules and regulations of the Department of Human Services. It shall
                                            be in effect until cancelled unless revoked for due Office of Licensing and
                                            Monitoring or its agent as provided in the Article.
                                            The license will be required to submit to inspections.</p>
                                    </div>
                                    <div class="mrow lic-infohead mt-30">
                                        <div class="mcol">
                                            <h5>LICENSE INFORMATION</h5>
                                        </div>
                                        <div class="mcol text-right">
                                            <!-- <h5>LICENSE NO: L-0050</h5> -->
                                            <span class="fontweight"> LICENSE NO: </span>{LicenseNumber}
                                        </div>
                                    </div>
                                    <div class="mrow lic-infodetails">
                                        <div class="license_info bg_image">
                                            <table>
                                                <tr>
                                                    <td>Program</td>
                                                    <td><b>{Program}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Program Type</td>
                                                    <td><b>{ProgramType}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Site Address</td>
                                                    <td><b>{SiteAddress}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Contact Name</td>
                                                    <td>{FirstName} {LastName}</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender</td>
                                                    <td><b>{Gender}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Capacity</td>
                                                    <td>{BedCapacity}</td>
                                                </tr>
                                                <tr>
                                                    <td>Start Date</td>
                                                    <td><b>{LicenseStartDate}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>End Date</td>
                                                    <td><b>{LicenseEndDate}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Age range</td>
                                                    <td><b>{MinAge} to {MaxAge}</b></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="licensinginfo-footer">
                                    <div class="col text-right">
                                        <span class="signbox">
                                            <img src={signUrl} width="100" height="80" /> </span>
                                        <p><b>Approved by: {CaseWorkerName}</b></p>
                                        <p><b>{SumDate}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>


    </template>
    <!-- PopUp -->
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>