<template>
    <template if:true={showIncidentDashboard}>
        <c-incident-dashboard onredirecttoincidenttabset={handleRedirectToTabset}></c-incident-dashboard>
    </template>
    <template if:true={showIncidentTabset}>
        <c-incident-all-header-button case-number={CaseNumber} onredirecttoincidentdashboard={redirectToDashboard}
            show-staff-details-btn={showStaffDetailsBtn} enable-staff-details={enableStaffDetails}
            show-add-staff-btn={showAddStaffBtn} onredirecttoaddnew={redirectToAddPerson}
            show-person-button={showPersonKidButton} onclickbuttonwitness={clickbuttonWitness}
            show-witness-button={showWitnessButton}>
        </c-incident-all-header-button>
        <div class="innerParent-Tab innerPage-main applicationTabset">
            <lightning-tabset active-tab-value={activeTab}>
                <lightning-tab label="PROGRAM" value='Program' onactive={handleActiveTabButtons}>
                    <c-incident-program-info  onidforcase={handleHeaderCaseId}></c-incident-program-info>
                </lightning-tab>
                <lightning-tab label="INCIDENT" onactive={handleActiveTabButtons}>
                    <c-incident-foster-parent-law-enforcement></c-incident-foster-parent-law-enforcement>
                </lightning-tab>
                <lightning-tab label="NOTIFICATION" onactive={handleActiveTabButtons}>
                    <c-incident-notification></c-incident-notification>
                </lightning-tab>
                <lightning-tab label="STAFF DETAILS" value='staffDetails' onactive={handleActiveTabButtons}>
                    <c-incident-staff-details onenablestaffdetailbtn={enableStaffDetailBtn}
                        onflagfrstaffdetailcount={flagFrStaffDetailCount}></c-incident-staff-details>
                </lightning-tab>
                <template if:true={ShowListPerson}>
                    <lightning-tab label="PERSON/KID/CHILD" value='Person' onactive={handleActiveTabButtons}>
                        <c-incident-person-kid-child-list onredirecttoeditpersonkid={editViewPersonKidIncident}
                            onpersonkiddecisonflag={handlePersonkidDecisonflag}>
                        </c-incident-person-kid-child-list>
                    </lightning-tab>
                </template>
                <lightning-tab label="GANG DETAILS" onactive={handleActiveTabButtons}>
                    <c-incident-gang-details></c-incident-gang-details>
                </lightning-tab>
                <lightning-tab label="SUPERVISORY" onactive={handleActiveTabButtons}>
                    <c-incident-supervisory></c-incident-supervisory>
                </lightning-tab>
                <lightning-tab label="WITNESS" value='Witness' onactive={handleActiveTabButtons}>
                    <c-incident-witness open-witness-modal={openWitnessButton} onpopclosemodal={witnessPopClose}
                        onwitnessdecisonflag={handlewittnessDecisionFlag}>
                    </c-incident-witness>
                </lightning-tab>
                <lightning-tab label="DOCUMENTS" onactive={handleActiveTabButtons}>
                    <c-incident-document></c-incident-document>
                </lightning-tab>
                <lightning-tab label="DECISION" onactive={handleActiveTabButtons}>
                    <c-incident-decision personkid-decison-flag={personkidDecisonFlag}
                        staff-decision-flag={staffDecisionFlag} wittness-decison-flag={wittnessDecisionFlag}>
                    </c-incident-decision>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </template>
    <template if:true={showPersonAddComp}>
        <c-incident-person-kid-child-info onredirectbacktolistofperson={redirectBackToListofPerson} onredirectbacktodashboard = {redirectBackToDashboard}>
        </c-incident-person-kid-child-info>
    </template>
</template>