<template>
    <div class="sec-main">
        <div class="sec-complaintReview">
            <div class="slds-align_absolute-center"><img src={reviewIcon} alt="complaint Review" class="mb-10" /></div>
            <h1 class="fw-500">Complaint Review</h1>
            <div class="sec-input">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2">
                        <span>
                            <lightning-input type="date" autocomplete="off" onchange={handleChange}
                                name="InvestigationStartDate" label="Date of Investigation Initiated"
                                value={InvestigationStartDate} required="True" disabled={freezeReviewScreen}>
                            </lightning-input>
                        </span>
                    </div>
                    <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 ">
                        <span>
                            <lightning-input type="date" name="InvestigationEndDate" onchange={handleChange}
                                autocomplete="off" label="Date of Investigation Completed" min={mindate}
                                value={InvestigationEndDate} required="True" disabled={freezeReviewScreen}>
                            </lightning-input>
                        </span>
                    </div>
                </div>
            </div>

            <div class="sec-checkbox">
                <h3>Check All Methods of Contact Used To Collect Information Regarding The Investigation:</h3>
                <lightning-checkbox-group  name="Checkbox Group" options={complaintsReviewValues} value={modes}
                    onchange={CheckboxhandleChange} disabled={freezeReviewScreen} class="checkbox-horizontal complaintsReview"></lightning-checkbox-group>

            </div>
        </div>
        <div class="sec-bottom">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-col--padded">
                    <div class="">
                        <!-- <lightning-button class="btn btn-sec" label="CANCEL"></lightning-button> -->
                        <lightning-button label="SAVE" onclick={saveFunction} class="btn btn-pri slds-m-left_x-small "
                            disabled={freezeReviewScreen}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>