.sec-main {
    background: #fff;
    height: 100%;
    padding-top: 30px;
    position: relative;
    border: #eaeaea 1px solid;
    box-shadow: 0px 0px 10px #d8d8d891;
}

.sec-complaintReview {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f2f2f2
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sec-input {
    width: 520px;
    margin: 0 auto 20px;
}

.sec-checkbox {
    width: 100%;
    margin: 0 auto;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}

.sec-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #FCFCFC;
    padding: 5px;
    text-align: right;
    border-top: 1px solid #EBEBEB;
}

.mb-10 {
    margin-bottom: 10px;
}