.houseHoldMember {
    height: calc(100vh - 186px);
    margin: 10px;
    display: inline-block;
}
.householdPos{ position:relative; top:-26px;}

.houseHoldMember .application_fieldset {
    /* height: calc(100vh - 215px); */
    overflow: auto;
}

.application_fieldset .select_verification fieldset {
    display: block;
    padding: 0px !important;
    border: 0 !important;
}

.checkbox-horizontal.select_verification .slds-form-element__control .slds-checkbox {
    display: inline-block;
    width: 50% !important;
}

.profile-pic {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 17px;
}

.firstName {
    width: 100%;
}

.firstName .fn_title {
    width: 83px;
}

.firstName .fn_textbox {
    width: calc(100% - 90px);
    margin-left: 7px;
}

.checkboxAlign {
    margin-top: 30px;
}

.checkboxPullLeft {
    width: 50%;
    float: left;
}

.checkboxPullRight {
    width: 50%;
    float: right;
}

.startFrmEnd {
    align-self: flex-end;
    margin-bottom: 10px;
}

.requiredField {
    color: #f11010;
}

.alignTop {
    margin-top: -17px;
    margin-bottom: -10px;
}

.alignSave {
    margin-top: -30px;
}

.monitorRadioGroup {
    padding: 0px;
    float: none;
}

.monitorRadioPosition {
    position: relative;
    margin-top: -10px;
    left: -4px;
    margin-bottom: -10px;
}

.profile-picA {
    height: 156px;
}

.imgAlign {
    max-width: 100%;
    max-height: 160px;
    margin-top: 10px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.float_center {
    text-align: center;
}

.bgColor {
    background: #FCFCFC;
}