<template>
    <div class="householdPos">
    <div class="houseHoldMember">
        <div class="slds-grid slds-wrap application_fieldset slds-p-around_x-small">
            <div class="slds-col slds-large-size_1-of-1">
                <fieldset>
                    <legend class="housHoldFwt_1000">{title}</legend>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-4">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size--1-of-1">
                                    <div class="profile-pic">
                                        <div class="profile-picA profile-pic-back">
                                            <img class="imgAlign" src={profilePic}>
                                        </div>
                                            <div class="float_center dropzone">
                                                <lightning-input class="file-upload dropsVgNone dis-pic" onchange={handleUpload} accept={acceptedFilesFormat} type="file" name="file" label="" variant="label-hidden" disabled={isDisabled}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-input name="appxAge" type="text" label="Approximate Age" value={holdMember.ApproximateAge__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-input type="text" name="hgtInInch" label="Height in Inch" value={holdMember.HeightinInch__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-input type="text" name="wgtInPound" label="Weight in Pound" value={holdMember.WeightsinPound__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-combobox name="gender" label="Gender" options={genderValues} value={holdMember.Gender__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled} required>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-combobox name="hairClr" label="Hair Color" options={hairClrValues} value={holdMember.HairColor__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2">
                                        <lightning-combobox name="skinTone" label="Skin Tone" options={skinToneValues} value={holdMember.SkinTone__c} placeholder="Select" onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-3 slds-large-size--3-of-4">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <div class="slds-grid slds-wrap firstName">
                                            <div class="fn_title">
                                                <lightning-combobox name="title" options={titleOptions} placeholder="Select" value={holdMember.Title__c} onchange={onChangeHandlers} label="Title" disabled={isDisabled}>
                                                </lightning-combobox>
                                            </div>
                                            <div class="fn_textbox">
                                                <lightning-input type="text" name="firstName" label="First Name" value={holdMember.FirstName__c} onchange={onChangeHandlers} placeholder="First Name" disabled={isDisabled} required>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="text" name="middleName" label="Middle Name" placeholder="Middle Name" value={holdMember.MiddleName__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="text" name="lastName" label="Last Name" placeholder="Last Name" value={holdMember.LastName__c} onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="date" name="DOB" class="dummyDate" label="DOB" placeholder="Select Date" autocomplete="off" max={currentDate} value={holdMember.DOB__c} onchange={onChangeHandlers} disabled={isDisabled} required>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="text" name="physicalMark" value={holdMember.PhysicalMark__c} label="Physical Marks" onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 checkboxAlign">
                                        <lightning-input class="checkboxPullLeft" name="isUsClient" type="checkbox" value={holdMember.IsaUsClient__c} data-element="isUsClient" label="Is a US Client?" onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                        <lightning-input class="checkboxPullRight" name="isSSNVerified" type="checkbox" value={holdMember.SSNVerified__c} data-element="isSSNVerified" label="SSN Verified" onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="text" name="stateOrDriveId" label="State ID / Drivers License" value={holdMember.StateIDDriversLicense__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="text" name="ssn" label="SSN" value={holdMember.SSN__c} onchange={onChangeHandlers} maxlength="11" disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-combobox name="primCitizen" label="Primary Citizenship" options={primCitizenshipValues} value={holdMember.PrimaryCitizenship__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-combobox name="primLang" label="Primary Language" options={primLanguageValues} value={holdMember.PrimaryLanguage__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-combobox name="nationality" label="Nationality" options={nationalityValues} value={holdMember.Nationality__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="date" name="dod" class="dummyDate" label="Date of Death" placeholder="Select Date" min={holdMember.DOB__c} max={currentDate} autocomplete="off" value={holdMember.DateofDeath__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-input type="text" name="occupation" label="Occupation" value={holdMember.Occupation__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-combobox name="religion" label="Religion" options={religionValues} value={holdMember.Religion__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <div class="slds-grid slds-wrap">
                                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                                <lightning-input type="date" required name="startdate" autocomplete="off" onchange={onChangeHandlers} placeholder='Select' value={holdMember.StartDate__c} label="Start Date">
                                                </lightning-input>
                                            </div>
                                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                                                <lightning-input type="date" required name="enddate" autocomplete="off" onchange={onChangeHandlers} placeholder='Select' value={holdMember.EndDate__c} label="End Date">
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 checkboxAlign">
                                        <lightning-input type="checkbox" name="childPreviAdopted" data-element="childPreviAdopted" label="Child Previously Adopted" value={holdMember.ChildpreviouslyAdopted__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                        </lightning-input>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-combobox name="livingSitution" label="Living Situation" options={livingSituationValues} value={holdMember.LivingSituation__c} onchange={onChangeHandlers} placeholder="Select" disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                    <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                                        <lightning-textarea label="Living Situation Description" name="livingSituationDesc" value={holdMember.LivingSituationDescription__c} onchange={onChangeHandlers} class="textArea-height" disabled={isDisabled}>
                                        </lightning-textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
            </div>
            <div class="slds-col slds-large-size_1-of-1 mt-20">
                <fieldset>
                    <legend class="housHoldFwt_1000">Person Role
                        <label class="requiredField">*</label>
                    </legend>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-4 startFrmEnd monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="">
                                    <lightning-radio-group options={personRoleValues} name="householdOther" value={holdMember.PersonRole__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-3 slds-large-size--1-of-4">
                            <lightning-combobox name="roleValues" label="Role" options={roleValues} value={Role__c} placeholder="Select" onchange={onChangeHandlers} disabled={isDisabled} required>
                            </lightning-combobox>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 startFrmEnd">
                            <lightning-input type="checkbox" name="sexOffender" data-element="sexOffender" label="Sex offender registry check" value={holdMember.SexOffenderregisteryChecked__c} onclick={onChangeHandlers} disabled={isDisabled}>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 startFrmEnd">
                            <lightning-input type="checkbox" name="judiCaseSearch" data-element="judiCaseSearch" label="Judiciary case search" value={holdMember.JudiciarycaseSearch__c} onclick={onChangeHandlers} disabled={isDisabled}>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 startFrmEnd">
                            <lightning-input type="checkbox" name="substanceNewBorn" data-element="substanceNewBorn" label="Substance exposed new born" value={holdMember.Substanceexposednewborn__c} onclick={onChangeHandlers} disabled={isDisabled}>
                            </lightning-input>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 startFrmEnd">
                            <lightning-input type="checkbox" name="safeHveBaby" data-element="safeHveBaby" label="Safe haven baby" value={holdMember.Safeheavenbaby__c} onclick={onChangeHandlers} disabled={isDisabled}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Danger to self?</label>
                            <label class="requiredField">*</label>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Reason</label>
                            <label if:true={dangerToSelf} class="requiredField">*</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={dangerToSelfValues} name="dangerToSelf" type="button" value={holdMember.Dangertoself__c} onchange={onChangeHandlers} disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 alignTop">
                            <lightning-input type="text" name="dangerToSelfReas" class="hideReqMark" value={holdMember.DangertoselfReason__c} onchange={onChangeHandlers} disabled={isDisabled} required={dangerToSelf}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Appearance of mentally impaired?</label>
                            <label class="requiredField">*</label>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Reason</label>
                            <label if:true={apperanceOfMentallyImp} class="requiredField">*</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={mentallyImpiredValues} type="button" name="apperanceOfMentallyImpPick" onchange={onChangeHandlers} value={holdMember.Appearanceofmentallyimpaired__c} disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 alignTop">
                            <lightning-input type="text" name="apperanceOfMentallyImp" class="hideReqMark" value={holdMember.MentallyimpairedReason__c} onchange={onChangeHandlers} disabled={isDisabled} required={apperanceOfMentallyImp}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Danger to worker?</label>
                            <label class="requiredField">*</label>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Reason</label>
                            <label if:true={dangerToWorkerReas} class="requiredField">*</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={dangerToWorkerValues} name="dangerToWorker" value={holdMember.Dangertoworker__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 alignTop">
                            <lightning-input type="text" name="dangerToWorkerReas" class="hideReqMark" value={holdMember.DangertoworkerReason__c} onchange={onChangeHandlers} disabled={isDisabled} required={dangerToWorkerReas}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Signs of mental illness?</label>
                            <label class="requiredField">*</label>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label>Reason</label>
                            <label if:true={signsOfMentalI} class="requiredField">*</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={signsMentalIllValues} name="signsMentalIll" value={holdMember.Signsofmentalillness__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 alignTop">
                            <lightning-input type="text" name="signsOfMentalI" value={holdMember.MentalillnessReason__c} class="hideReqMark" onchange={onChangeHandlers} disabled={isDisabled} required={signsOfMentalI}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-large-size_1-of-1 mt-20">
                <fieldset>
                    <legend class="housHoldFwt_1000">Other Info
                        <label class="requiredField">*</label>
                    </legend>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                            <label>1. Declared disable</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={declaredDisableValues} name="declaredDisable" value={holdMember.DeclaredDisable__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                            <label>2. Are you a licensed child care provider?</label>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 arrow-label" if:true={childCareLicenseNumber}>
                            <label>2a. Child Care License Number</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={licensedChildProvider} name="lincensedChildProvider" value={holdMember.LicensedChildCareProvider__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 alignTop" if:true={childCareLicenseNumber}>
                            <lightning-input type="text" name="childCareLicenseNumberText" value={holdMember.ChildCareLicenseNumber__c} class="hideReqMark" onchange={onChangeHandlers} disabled={isDisabled} required={childCareLicenseNumber}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                            <label>3. Are you currently applying to be a licensed child care provider?</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={applyingFrChildCareProviderValues} name="currentlyApplyingFrLicense" value={holdMember.ApplyingforChildCareProvider__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                            <label>4. Have you ever had a license, registration or certification for any type of car
                                denied, suspended or revoked?</label>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 arrow-label" if:true={deniedLicenseExplain}>
                            <label>4a. Explain why license was denied</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={deniedLicenseValues} name="deniedLicense" value={holdMember.LicensePreviouslyDenied__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 alignTop" if:true={deniedLicenseExplain}>
                            <lightning-input type="text" name="deniedLicenseExplainText" value={holdMember.ExplanantionforLicenseDenial__c} class="hideReqMark" onchange={onChangeHandlers} disabled={isDisabled} required={deniedLicenseExplain}>
                            </lightning-input>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="bgColor">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
                            <label>5. Are you caring for anyone in your home that is aged, disabeld or
                                handicapped</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 monitorRadioPosition">
                            <div class="monitorRadioGroup">
                                <div class="monitorRadioPosition">
                                    <lightning-radio-group options={caringFrAgedValues} name="caringFrAged" value={holdMember.Caringforaged__c} onchange={onChangeHandlers} type="button" disabled={isDisabled}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-large-size_1-of-1">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_1-of-1 slds-p-around_small">
                        <div class="btnSec pr-0">
                            <lightning-button class="btn btn-sec" label="Cancel" onclick={redirectToHouseHoldMemberList}>
                            </lightning-button>
                            <lightning-button if:false={isDisabled} label={saveOrUpdate} class="btn btn-pri
                            slds-m-left_x-small" onclick={validationBfSaveOrUpdate}></lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>