<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fw-500">
                    My profile
                    <span class="unicode-rightarr">&#62;</span>
                    <a href="#" onclick={backtoListPage}>cpa home</a>
                    <span class="unicode-rightarr">&#62;</span>
                    <span if:true={addnewcpacrumb}>
                        Adding New CPA home
                    </span>
                    <span if:true={searchcrumbresult}>
                        Adding New CPA home
                        <span class="unicode-rightarr">&#62;</span>
                        Search Results
                    </span>
                    <span if:true={searchcrumbhousehold}>
                        Search Household Members
                        <span class="unicode-rightarr">&#62;</span>
                        Add Household Member
                    </span>
                    <span if:true={directtohousehold}>Add Household Member</span>
                </h2>
            </div>
            <div class="slds-float_right sec-btnright"></div>
        </div>
    </div>
    <div class="cpasearch-screen">
        <div class="public-margintop10">
            <div class="slds-grid slds-wrap padtop10">
                <div class="slds-col slds-col--padded slds-size_1-of-1 scroll" if:true={disablePath}>
                    <fieldset>
                        <legend class="font600">{title}</legend>
                        <div class="slds-align_absolute-center ppbasicinfoipad">
                            <div class="box-col1" onclick={boxbordercolorchange}>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                                        <img class="iconpadbot" src={addressDetailsIcon} /> <br />Address Details
                                    </div>
                                </div>
                            </div>
                            <div class="box-pathline"></div>
                            <div class="box-col3 nearDistance"><!--onclick={boxbordercolorchangeForHousehold}-->
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                                        <img src={householdInactiveIcon} class="iconpadbot1" />
                                        <br />
                                        Add Household Member
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div if:true={itemaddress} class="slds-col slds-size_1-of-1">
                    <c-cpa-address-details onredirecttocpahome={handleBackToList} detail-from-path={addressAndPathComponent} detail-cpi-id={addCpiId} onredirectcpaidtohh={handleCpaId}></c-cpa-address-details>
                </div>
                <div if:true={itemhousehold} class="slds-col slds-size_1-of-1">
                    <c-cpa-house-hold-members-list onredirecttoaddhouseholdmembersearch={searchModal}
                        onredirectfromedit={editRedirect} onredirectfromview={viewRedirect}
                        onredirecttoaddresspage={handleRedirectAddress} cpa-data-new={cpaId} cpa-datas={addressAndPathComponent}>
                    </c-cpa-house-hold-members-list>
                </div>
                <div if:true={itemsearchmember} class="slds-col slds-size_1-of-1">
                    <c-cpa-search-house-hold-members onredirecttoaddhouseholdmemberhome={closeSearchModal}
                        onredirecttoaddhouseholdmember={gotoAddHousehold} onredirecttosearchbreadcrumb={handleCrumbFlag}
                        onredirecttoaddhouseholdmemberdirect={handleDirectAddHousehold} cpa-data-new={cpaId}>
                    </c-cpa-search-house-hold-members>
                </div>
                <div if:true={addHouseholdMember} class="slds-col slds-size_1-of-1">
                    <c-cpa-add-house-hold-members cpa-data-new={cpaId} search-page={searchPage} onredirecttoholdmembersdashboard={backToPath} is-disabled={isView} cpa-data={addressAndPathComponent}>
                    </c-cpa-add-house-hold-members>
                </div>
            </div>
        </div>
    </div>
</template>