.box-pathline {
    border-bottom: 2px solid rgb(153, 153, 153);
    width: 500px;
    position: relative;
    left: -45px;
    top: -10px;
}

.blue {
    border-bottom: 2px solid #0A69B9;
    width: 500px;
}

.referal-headbottom {
    padding: 0px 15px 4px;
    width: 100%;
    height: 40px;
    background: rgb(251, 251, 251);
    box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
    text-transform: uppercase;
}

.unicode-rightarr {
    padding: 0px 15px;
}

.cpasearch-screen {
    height: calc(100vh - 187px);
    margin: 10px;
    display: inline-block;
    width: calc(100vw - 18px);
    overflow-y:auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #45414E1C;
}

.cpasearch_fieldset {
    width: 100%;
    height: calc(100vh - 253px);
    overflow: auto;
}

.cpasearch-screen fieldset {
    border: 1px solid #EBEBEB;
    padding: 15px;
}

.public-margintop10 {
    margin-top: 20px;
}

.nearDistance {
    position: relative !important;
    left: -118px !important;
}