.applicationStaff-screen { 
  background: #fff; height: 
  calc(100vh - 211px); 
  overflow: hidden;
  border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
  position: fixed; width:calc(100vw - 20px); 
}
.box-wrap{
  float: left;
  height: 200px;
  width: 50%;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 45px 27px;
  margin-top: 20px;
}
.popup-wid70{ width:70% !important}
.hrs-main{ color: #061C40; padding:10px 10px 10px 20px;}
.clock-txt{ font-size:16px; } .font-grey{color: #959DA5;}
.seperator{
  border-left: 1px solid #ccc; 
  margin-left: 7px;
  margin-right: 7px;
  position: relative;
}
.icon-attachment{ margin-right:10px;}
.overflowScroll{ max-height: 100px; overflow-y: auto;}
.padleft10{padding-left:10px;}

.margin-label {
  margin-left: 25px;
  font-size: 11px;
}