<template>
    <template if:false={AssignbtnDisable}>
        <div class="slds-float_right">
            <lightning-button label="ASSIGN TRAINING" class="btn-topright" variant="brand" onclick={openmodal}>
            </lightning-button>
        </div>
    </template>
    <template if:true={nomeetingdisplay}>
        <div class="application-table">
            <div class="slds-align_absolute-center">
                <div class="box-wrap">
                    <div class="slds-col slds-col--padded slds-size_1-of-1 text-center">
                        <img class="icon-attachment" src={attachmentIcon} style="width:50px;" />
                        <p class="font-bold padtop10"> No Training Assigned </p>
                        <p class="subfont">Assign Training by clicking on the button</p>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template if:false={nomeetingdisplay}>
        <div class="applicationStaff-screen">
            <!--<div class="hrs-main"><img class="icon-attachment" src={clockIcon} /> Total Number of Hours Attended<span
                    class="clock-txt"> {totalHours} </span>
                <template if:true={isApplicant}><span class="seperator"></span> <span class="font-grey">Applicant</span>
                    - {applicantName}</template>
            </div>-->
            <div class="hrs-main"><img class="icon-attachment" src={clockIcon} /> Total Number of Hours Attended By
                Applicant<span class="clock-txt"> - {totalHours} </span>
            </div>
            <c-custom-lightning-datatable key-field="id" data={currentPageMeetingData} columns={meetingInfoColumns}
                ontogglechange={handleToggleChange} hide-checkbox-column onrowaction={handleRowAction}
                class="custom-tbl">
            </c-custom-lightning-datatable>
        </div>
    </template>
    <template if:true={openmodel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container popup-wid70">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">Assign
                            Training</h2>
                        <button class="close-button" title="Close" onclick={closeModal}>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
                        <div class="slds-grid slds-wrap">
                            <div
                                class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                                <span>
                                    <!-- Multiselect checkbox Code Start Pill Container -->
                                    <label class="slds-form-element__label inputRequired3" for="combobox-id-47"><abbr
                                            title="required" class="slds-required">*</abbr>Add Household Members</label>
                                    <div class="slds-form-element__control mcust-ddlist"
                                        onmouseleave={handleMouseOutButton}>
                                        <div class="slds-combobox_container">
                                            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                                                aria-expanded="true" aria-haspopup="dialog" role="combobox">
                                                <div if:false={toggledivForPtype}
                                                    class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                                    role="none" onclick={handlePType}>
                                                    <input type="text" required class="slds-input slds-combobox__input"
                                                        id="combobox-id-47" aria-controls="popover-unique-id-02"
                                                        role="textbox" placeholder="Select" autocomplete="off"
                                                        readonly="" disabled={isDisableProgramType} />
                                                    <span
                                                        class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                        <lightning-icon icon-name="utility:down" size="x-small"
                                                            alternative-text="Connected" title="Connected">
                                                        </lightning-icon>
                                                    </span>
                                                </div>
                                                <div if:true={toggledivForPtype}
                                                    class="slds-pill_container slds-input-has-icon slds-input-has-icon_right pillWrap"
                                                    onclick={handlePType}>
                                                    <ul class="slds-listbox slds-listbox_horizontal" role="listbox"
                                                        aria-label="Selected Options:" aria-orientation="horizontal">
                                                        <template for:each={pillvalueForPType} for:item="pills">
                                                            <li class="slds-listbox-item slds-truncate"
                                                                style="width:280px;" role="presentation"
                                                                key={pills.value} title={pills.value}
                                                                if:true={pillSingleValueCondition}>
                                                                <lightning-pill label={pills.value}
                                                                    onremove={handleRemove}></lightning-pill>
                                                            </li>
                                                        </template>
                                                        <li class="slds-listbox-item slds-truncate" style="width:280px;"
                                                            role="presentation" key={pillSingleValueForPtype}
                                                            title={pillSingleValueForPtype}
                                                            if:false={pillSingleValueCondition}>
                                                            <lightning-pill label={pillSingleValueForPtype}
                                                                onremove={handleRemove}>
                                                            </lightning-pill>
                                                            <span class="conference-usernumber">
                                                                +{pillSingleValueForPtypeCount}</span>
                                                        </li>
                                                    </ul>
                                                    <span
                                                        class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                        <lightning-icon icon-name="utility:down" size="x-small"
                                                            alternative-text="Connected" title="Connected">
                                                        </lightning-icon>
                                                    </span>
                                                </div>
                                                <section aria-describedby="dialog-body-id-26"
                                                    aria-label="Language Options" class={tabClassForPType}
                                                    id="popover-unique-id-02" role="dialog"
                                                    onmouseleave={handleMouseOutButton}
                                                    style="position: absolute;top:33px;">
                                                    <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                                                        id="dialog-body-id-26">
                                                        <fieldset class="slds-form-element">
                                                            <div class="slds-form-element__control">
                                                                <template for:each={householdmember} for:item="PType">
                                                                    <div class="slds-checkbox" key={PType.Id}>
                                                                        <input data-id="checkbox" type="checkbox"
                                                                            name="options" id={PType.Id}
                                                                            value={PType.memberNameRole}
                                                                            onclick={handleclickofPTypeCheckBox} />
                                                                        <label class="slds-checkbox__label"
                                                                            for={PType.Id}>
                                                                            <span class="slds-checkbox_faux"></span>
                                                                            <span
                                                                                class="slds-form-element__label">{PType.label}
                                                                            </span>
                                                                            <span
                                                                                class="margin-label">{PType.role}</span>
                                                                        </label>
                                                                    </div>
                                                                </template>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Multiselect checkbox Code Start Pill Container-->
                                </span>
                            </div>
                        </div>
                        <br>
                        <div if:true={norecorddisplay}>
                            <div class="text-center file-upload slds-p-vertical--xx-large ">
                                <img class="icon-attachment" src={attachmentIcon} style="width:50px;" />
                                <p class="font-bold" style="padding-top:5px;">No Training Information Found</p>
                            </div>
                        </div>
                        <div if:false={norecorddisplay}>
                            <lightning-datatable key-field="id" data={currentPageTrainingData} columns={columns}
                                onrowselection={handleRowSelection} class="general-tbl"
                                onrowaction={handleMeetingRowAction}>
                            </lightning-datatable>
                            <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination}
                                perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}>
                            </c-common-pagination>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <div class="slds-grid slds-wrap mt-20">
                            <div class="slds-col">
                                <div class="slds-clearfix">
                                    <div class="slds-float_right">
                                        <lightning-button label="CANCEL" variant="brand-outline" onclick={closeModal}
                                            class="slds-m-left_medium mr-10">
                                        </lightning-button>
                                        <lightning-button label="Assign Selected Training" variant="brand"
                                            onclick={handleSave} disbaled={btnDisable}>
                                        </lightning-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>

    <!--view popup begins-->
    <template if:true={viewmodel}>
        <div class="demo-only" style="height:700px;">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
                <div class="slds-modal__container popupDisable popup-wid70">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">View
                            Training</h2>
                        <button class="close-button" title="Close" onclick={closeModal}>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-2">
                        <div class="slds-grid slds-wrap">
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-6">
                                <span>
                                    <lightning-input disabled name="trainingName" value={trainingName}
                                        label="Training Number"></lightning-input>
                                </span>
                            </div>
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-6">
                                <span>
                                    <lightning-input disabled name="trainingDate" value={trainingDate} label="Date">
                                    </lightning-input>
                                </span>
                            </div>
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-6">
                                <span>
                                    <lightning-input disabled name="trainingStartTime" value={trainingStartTime}
                                        label="Start Time"></lightning-input>
                                </span>
                            </div>
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-6">
                                <span>
                                    <lightning-input disabled name="trainingEndTime" value={trainingEndTime}
                                        label="End Time"></lightning-input>
                                </span>
                            </div>
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-6">
                                <span>
                                    <lightning-input disabled name="trainingMeetingduration" label="Duration"
                                        value={trainingDuration}></lightning-input>
                                </span>
                            </div>
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-6">
                                <span>
                                    <lightning-input disabled name="trainingMeetingStatus" value={trainingMeetingStatus}
                                        label="Training Status"></lightning-input>
                                </span>
                            </div>
                        </div>
                        <div class="slds-grid slds-wrap mt-10">
                            <div
                                class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-1">
                                <span>
                                    <lightning-textarea disabled name="trainingDescription" label="Training Description"
                                        value={trainingDescription}>
                                    </lightning-textarea>
                                </span>
                            </div>

                        </div>
                        <div class="slds-grid slds-wrap mt-20">
                            <div class="slds-col">
                                <div class="slds-clearfix">
                                    <div class="slds-float_right">
                                        <lightning-button label="CANCEL" variant="brand-outline" onclick={closeModal}
                                            class="slds-m-left_medium mr-10">
                                        </lightning-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    <!--view popup ends-->

    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={descModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container" style="width:35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                            <img class="mr-10" src={descriptionIcon} style="width:15px;" /> Description</h2>
                        <button class="close-button" title="Close" onclick={closeDescModal}></button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium">
                        <div class="padleft10 overflowScroll">
                            {topicDescriptionPopup}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>