<template>
    <div class="template-screen" if:false={norecorddisplay}>
        <div class="text-center file-upload slds-p-vertical--xx-large norecord">
            <img class="icon-attachment" src={personKidIcon}  style="width:53px;" />
            <p class="font-bold padtop10">No Person/Kid/Child Information Found!</p>
            <p class="subfont">Please add by Clicking the above 'Person/Kid/Child' button</p>
        </div>
    </div>
    <div class="application-table" if:true={norecorddisplay}>
        <div class="slds-align_absolute-center">
            <lightning-datatable key-field="id" data={currentDataPersonKid} columns={columns} onrowaction={handleRowAction} hide-checkbox-column="true" class="custom-tbl">
            </lightning-datatable>
        </div>
    </div>
    <template if:true={deleteModel}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open delete-popup">
            <div class="slds-modal__container" style="width: 35%;">
                <div class="popborder">
                    <header class="slds-modal__header">
                        <button class="close-button" title="Close" onclick={closeDeleteModal}></button>
                    </header>
                    <!-- modal body start -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                        <div class="slds-align_absolute-center delete-icon">
                            <p>Are you sure you want to delete? </p>
                        </div>
                    </div>
                    <!-- modal footer start-->
                    <footer class="slds-modal__footer slds-align_absolute-center">
                        <button class="slds-button slds-button_text-destructive" onclick={handleDelete} disabled={disableDelClick}>Yes</button>
                        <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModal}>No</button>
                    </footer>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>