<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fontbold">Complaints</h2>
            </div>
            <div class="slds-float_right complaint_right">
                <template if:true={supervisorCaseHide}>
                    <div class="dashboard-btn">
                        <lightning-button label="Add New Complaint" class="btn btn-pri slds-m-left--small mr-10" variant="brand" onclick={redirectionNewComplaint} style="display: inline-block;">
                        </lightning-button>
                    </div>
                </template>
                <div class="dashboard-search">
                    <lightning-input type="search" onchange={handleChange} class="input-search" label="" placeholder="Search By Complaint Number" value={searchKey} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
        </div>
    </div>
    <template if:true={showPublicData}>
        <c-common-dashboard columns={publicColumns} by-types={publicCardDatas} by-classes={cardClasses} table-records={totalRecords} total-records-count={totalRecords.length} oncardvaluechange={handleDataTableDatas} onredirecttonextpage={handleRedirection} onpublicprivate={handleDashboardDatas} active-page={providerType}>
        </c-common-dashboard>
    </template>
    <template if:true={showPrivateData}>
        <c-common-dashboard columns={privateColumns} by-types={privateCardDatas} by-classes={cardClasses} table-records={totalRecords} total-records-count={totalRecords.length} oncardvaluechange={handleDataTableDatas} onredirecttonextpage={handleRedirection} onpublicprivate={handleDashboardDatas} active-page={providerType}>
        </c-common-dashboard>
    </template>
</template>