<template>
    <div class="referal-headbottom mb-10">
        <div class="slds-clearfix">
            <div class="slds-float_left" if:true={showReconsiderationTabset}>
                <h2 class="mt-10 fw-500"><a href="#" onclick={redirectToPubProvDashboard}>PROVIDERS</a> <span
                        class="unicode-rightarr">&#62;</span> PROVIDER
                    ID: {providerName} </h2>
            </div>
            <div class="slds-float_left" if:false={showReconsiderationTabset}>
                <h2 class="mt-10 fw-500"><a href="#" onclick={redirectToPubProvDashboard}>PROVIDERS</a> <span
                        class="unicode-rightarr">&#62;</span> <a href="#"
                        onclick={redirectToPublicProviderTabSet}>RECONSIDERATION</a> <span
                        class="unicode-rightarr">&#62;</span> {reconsiderationName} </h2>
            </div>
            <div class="slds-float_right sec-btnright">
                <lightning-button if:true={showAddService} label="Add Services" variant="brand" class="mr-10"
                    onclick={RedirectServiceInfo}>
                </lightning-button>
                <lightning-button if:true={showPetDetails} label="Add Pet Details" variant="brand" class="mr-10"
                    onclick={RedirectPetInfo}>
                </lightning-button>
                <lightning-button if:true={showTrainingDetails} label="Assign Training Sessions" variant="brand"
                    class="mr-10" onclick={RedirectTraining}>
                </lightning-button>
                <lightning-button if:true={showAddHomeStudy} label="Add Home Study Details" variant="brand"
                    class="mr-10" onclick={openStudyModel}>
                </lightning-button>
                <lightning-button  if:true={showAddReconsideration} label="Add Reconsideration Details" variant="brand" class="mr-10"
                    onclick={redirectReconsidertionDetails}>
                </lightning-button>
            </div>

        </div>
    </div>
</template>