<template>
    <!-- <div class="publicapplication-main"> -->
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fontbold">{appHeader}</h2>
            </div>
            <div class="slds-float_right">
                <div class="dashboard-search">
                    <lightning-input type="search" onchange={handleChange} class="input-search" label=""
                        placeholder={searchHolder} value={searchKey} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
        </div>
    </div>
    <template if:true={showPublicData}>
        <c-common-dashboard columns={columns} by-types={publiccardDatas} by-classes={cardClasses}
            table-records={totalRecords} total-records-count={totalRecords.length}
            oncardvaluechange={handleDataTableDatas} onredirecttonextpage={handleRedirection}
            onpublicprivate={handleDashboardDatas}></c-common-dashboard>
    </template>
    <template if:false={showPublicData}>
        <c-common-dashboard columns={privateColumns} by-types={privCardDatas} by-classes={cardClasses}
            table-records={totalRecords} total-records-count={totalRecords.length}
            oncardvaluechange={handleDataTableDatas} onredirecttonextpage={handleRedirection}
            onpublicprivate={handleDashboardDatas} active-page="Private"></c-common-dashboard>
    </template>
    <!-- </div> -->
</template>