.fontbold{font-weight: 600;}

.referal-headbottom{ 
  padding: 0px 15px 4px;
  width: 100%;
  background: rgb(251, 251, 251);
  box-shadow: rgb(153, 153, 153) 0px 2px 2px -2px;
  text-transform: uppercase;
}

.dashboard-search .input-search{ width:280px;}