<template>
    <div class="breadcrum">
        <h2 class="sub-title">
        MY PROFILE
        <span class="unicode-rightarr">&#62;</span>
        <a href="#" onclick={handleRedirectionToCPAHomeDashboard}>CPA HOME</a>
        <span class="unicode-rightarr">&#62;</span>
        <span>CLEARANCE/MEDICAL</span>
    </h2>
    </div>
    <div class="template-screen CPAClearanceMedical">
        <div class="slds-grid slds-wrap mt-10 bdr-bot">
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
                <p class="label">Program Type</p>
                <span class="label-disable">{cpaHouseHoldMemberDetails.ProgramType__c}</span>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
                <div class="">
                    <label class="slds-form-element__label inputRequired3" for="combobox-id-47"><abbr title="required" class="slds-required">*</abbr>Select Household Member</label>
                    <!-- Customized Dropdown Start -->
                    <div class="slds-form-element supervisor-disable">
                        <div class="slds-form-element__control">
                            <div class="slds-combobox_container">
                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                                    <div class="slds-pill_container slds-input-has-icon slds-input-has-icon_right" onclick={handleHouseholdMember}>
                                        <span class="padwhole">{dropdownSelectedValue} - <span class={dropdownSelectedValueStatusColor}>{dropdownSelectedValueStatus}</span>
                                        </span>
                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                            <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected" title="Connected">
                                            </lightning-icon>
                                        </span>
                                    </div>
                                    <div if:true={toggledivForHouseholdMember} id="listbox-id-4" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox" onmouseleave={handleMouseOutButtonHouseholdMember}>
                                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                            <template for:each={selectHouseholdMemberOptions} for:item="HouseholdMember">
                                                <li role="presentation" class="slds-listbox__item" id={HouseholdMember.id} key={HouseholdMember.id}>
                                                    <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option" onclick={selectHouseholdMember} id={HouseholdMember.id}>
                                                        <span class="slds-media__figure slds-listbox__option-icon" id={HouseholdMember.id}>
                                                        </span>
                                                        <span class="slds-media__body" id={HouseholdMember.id}>
                                                            <span class="slds-truncate" title="Accounts" id={HouseholdMember.id}>{HouseholdMember.value} - <span class={HouseholdMember.statusColor} id={HouseholdMember.id}>{HouseholdMember.status}</span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customized Dropdown End -->
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
                <p class="label">Person Type</p>
                <span class="label-disable">{cpaHouseHoldMemberDetails.Role__c}</span>
            </div>
            <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                        <p class="label">Age</p>
                        <span class="label-disable">{cpaHouseHoldMemberDetails.ApproximateAge__c}</span>
                    </div>
                    <div class="slds-col slds-col--padded slds-size_1-of-2">
                        <p class="label">Gender</p>
                        <span class="label-disable">{cpaHouseHoldMemberDetails.Gender__c}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col--padded questions-main">
                <div class="sec-list" for:each={questions} for:item="question" key={question.questionOrder} for:index="index">
                    <h2 class="sec-title">  {question.questionHeading} - {question.questionType} </h2>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_2-of-7">
                            <div class="slds-grid slds-wrap">
                                <div class=" slds-size_1-of-1 slds-large-size_1-of-2 calendarIcon">
                                    <lightning-input type="date" name={question.rowId} label="Request Date" year="numeric" month="short" day="2-digit" value={question.requestDate} onchange={requestDateOnChange} required disabled={question.disableRequestDate}>
                                    </lightning-input>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2 calendarIcon" if:true={question.resultDateFlag}>
                                    <lightning-input type="date" name={question.rowId} label="Result Date" year="numeric" month="short" day="2-digit" value={question.resultDate} onchange={resultDateOnChange} required disabled={question.disableResultDate} min={question.minDate}>
                                    </lightning-input>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col--padded slds-size_1-of-1 slds-large-size_5-of-7">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="monitorRadioGroup">
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group type="button" class="waterProperty" name={question.chk1Id} label={question.subQuestion1} options={options} value={question.subQuestion1Answer} onchange={subQuestion1OnChange}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="monitorRadioGroup" if:true={question.subQuestion2Flag}>
                                        <div class="monitorRadioPosition">
                                            <lightning-radio-group type="button" class="waterProperty" name={question.chk2Id} label={question.subQuestion2} options={options} value={question.subQuestion2Answer} onchange={subQuestion2OnChange}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr style="margin: 15px 0;" > -->
                    <div class="slds-grid slds-wrap mt-10">
                        <div class="slds-col--padded slds-size--1-of-1 slds-large-size_1-of-6">
                            <c-common-lightning-base-documents record-id={question.providerAnswerId} onredirecttoparent={handleRefresh}></c-common-lightning-base-documents>
                        </div>
                        <template for:each={question.uploadedDocs} for:item="getUploadedFiles">
                            <div id={getUploadedFiles.Id} key={getUploadedFiles.Id} class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-6">
                                <div class="loopmar">
                                    <span class="col1">
                                        <!--<a href={getUploadedFiles.downloadfile} class="bluefont">{getUploadedFiles.Title}</a>-->
                                        <a href="javascript:void(0)" id={getUploadedFiles.ContentDocumentId} data-id={getUploadedFiles.ContentDocumentId} onclick={viewFile} class="slds-p-top_x-small">{getUploadedFiles.Title}</a>
                                    </span>
                                    <span class="col2">
                                        <lightning-icon icon-name="utility:delete" size="x-small" class="marginRight10 iconColor" style='cursor:pointer' data-id={getUploadedFiles.ContentDocumentId} onclick={deleteFileupload}>
                                        </lightning-icon>
                                    </span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <footer class="slds-modal__footer mt-10">
            <div class="slds-grid slds-wrap padtop10 mp-20">
                <div class="slds-col bottomAlign slds-col--padded">
                    <div class="slds-clearfix">
                        <div class="slds-float_right btnSec">
                            <lightning-button label="CANCEL" class="btn btn-sec mr10" onclick={handleCancel}>
                            </lightning-button>
                            <lightning-button label="SAVE" class="btn btn-pri slds-m-left_x-small" onclick={handleSave}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>