  .dropdown{ 
    position:relative; cursor: pointer; left: -15px; top: 14px;
  }
  .dropdown:after{
    position:absolute;
    content:'';
    left:0px;
    top: 35px;
    width: 10px;
    height: 5px;
    border-left: 6px solid #0A69B9;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
  }
  fieldset {
    padding: 0px 0 10px 10px;
    border: 1px solid #EBEBEB;
    margin-top: 10px;
    border-radius: 3px;
  }
.bdr-bot{    border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-left: 1%;
  padding-bottom: 15px;}
    .Wraphousehold{ position: relative; margin-top: -9px;}
    .padtopbottom10 { padding-top: 10px; padding-bottom: 10px;}
    .padleftnone{padding-left: 0;}
    .pad24percentage{ padding-left: 10%;}
    .greybg{ padding-top: 10px; padding-bottom: 10px; background: #FCFCFC}
    .col-left{ float: left; width:23%;}
    .col-right{ float: left; width:77%;}
.padrightzero{padding-right: 0;}
    .address-wid{ width:19%}

.house-hold-status-orangecolor{
  color:orange;
}    

.house-hold-status-greencolor{
  color:green;
}    
.padwhole{padding: 5px;}



.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.loopmar{ padding: 8px; 
  /* border: 1px solid #e4e4e4;border-radius: 4px; */
}
.loopmar .col1{
  width: calc(100% - 20px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
}
.loopmar .col2{
  display: inline-block;
    vertical-align: super;
}

.cpaclearance-main{display:block;}

.CPAClearanceMedical{
background: #fff;
height: calc(100vh - 182px);
overflow-y: auto;
border: #eaeaea 1px solid;
border-radius: 6px;
box-shadow: 0px 0px 5px #d8d8d891;
margin: 10px;
}
.questions-main .sec-title{
background: #EBEBEB;
padding: 10px;
border: 1px solid #ddd;
}
.breadcrum .sub-title span{margin:0 10px;}
.questions-main{padding:0;}
.sec-list{padding-bottom: 10px;}