<template>
    <div class="referal-headbottom ">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fw-500"><a href="#" onclick={redirectToComplaintDashboard}>COMPLAINT</a> <span
                        class="unicode-rightarr">&#62;</span> {caseNumber} </h2>
            </div>
            <div class="slds-float_right sec-btnright">
                <lightning-button if:true={showAddDeficiencyViolations} label="Add Deficiency/Violation" variant="brand" class="mr-10" onclick={RedirectDeficiencyViolations} disabled={deficiencyBtnDisable}>
                </lightning-button>
                <lightning-button if:true={showHideAddContact} variant="brand" label="Add Contact Details" class="btn btn-pri btn-topright" style="top:2px;" onclick={RedirectShowopenContactModel}>
                </lightning-button>
            </div>
        </div>
    </div>
</template>