<template>
    <div class="slds-card">
        <div class="slds-text-align_left col Headcont">NARRATIVE DETAILS
        </div>
        <div style="Width:100%;">
            <lightning-input-Rich-Text label="NARRATIVE DETAILS" class="richtxt" value={casrecord.Description} onchange={handlechange}></lightning-input-Rich-Text>
        </div>
        <div class="btnSec f-left" style="padding: 25px;">
            <lightning-button label="Save" class="btn btn-primary" variant="brand" onclick={handleSave}></lightning-button>
        </div>
    </div>
    
</template>