.dropdown{ 
    position:relative; cursor: pointer;     left: -15px;
    top: 14px;
  }
  .dropdown:after{
    position:absolute;
    content:'';
    left:0px;
    top: 35px;
    width: 10px;
    height: 5px;
    border-left: 6px solid #0A69B9;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
  }

    fieldset {
      padding: 0px 0 0px 10px;
      border: 1px solid #EBEBEB;
      margin-top: 10px;
      border-radius: 3px;
    }
    .Wraphousehold{ position: relative; margin-top: -9px;}
    .padtopbottom10 { padding-top: 10px; padding-bottom: 10px;}
    .padleftnone{padding-left: 0;}
    .pad24percentage{ padding-left: 10%;}
    .greybg{ padding-top: 10px; padding-bottom: 10px; background: #FCFCFC}