<template>
  <div class="template-screen">
    <div class="slds-grid slds-wrap">
      <div class="slds-col--padded">
        <fieldset for:each={questions} for:item="question" key={question.rowId} disabled={SuperVisorFlowBtnDisable}>
          <legend class="sec-title"> {question.Question__c}</legend>
          <div class="slds-grid slds-wrap Wraphousehold">
            <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-4">
              <div class="monitorRadioGroup padtopbottom10">
                <div class="monitorRadioPosition">
                  <lightning-radio-group class="waterProperty" name={question.rowId} onchange={statusChange}
                    label="Status" options={options} value={question.AnsStatus} type="button">
                  </lightning-radio-group>
                </div>
              </div>
            </div>
            <div class="dropdown"></div>
            <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-8 greybg calendarIcon">
              <lightning-input type="date" value={question.AnsDate} label="Received Date" name={question.rowId}
                onchange={receiveddatechange} required></lightning-input>
            </div>
            <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-12"></div>

            <div class="slds-col--padded slds-size_1-of-1 slds-large-size_1-of-2 padtopbottom10">
              <lightning-input type="text" name={question.rowId} value={question.AnsComments} onchange={commentChange}
                label="Comments"></lightning-input>
            </div>
          </div>
        </fieldset>


      </div>
    </div>
    <footer class="slds-modal__footer mt-10">
      <div class="slds-grid slds-wrap">
        <div class="slds-col bottomAlign slds-col--padded">
          <div class="slds-clearfix">
            <div class="slds-float_right btnSec">
              <!-- <lightning-button label="Cancel" onclick={onHandleCancel} class="btn-sec mr-10">
              </lightning-button> -->
              <lightning-button label="Save" onclick={handleSubmit} class="btn-pri" disabled={SuperVisorFlowBtnDisable}>
              </lightning-button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>