.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.pullDown {
  padding-top: 45px;
}
.staffCertPop {
  width: 85%;
  max-width: 100rem;
  height: auto;
}

.staffDetail-table {
  background: #fff;
  height: calc(100vh - 210px);
  overflow: hidden;
  border: #eaeaea 1px solid;
  border-radius: 6px;
  box-shadow: 0 0 10px #e9e9ea;
}

.staffDetail-table .custom-tbl {
  display: inline-block;
  height: calc(100vh - 268px);
  width: 100%;
}
.staffDetail-table .paginationPosition {
  position: relative;
  top: 5px;
}
