<template>
  <div>
    <!-- Add Staff Member POPUP Start -->
    <c-staff-progress-indicator onprogressvaluechange={hanldeProgressPopClose}></c-staff-progress-indicator>
    <!-- Add Staff Member POPUP End -->
  </div>

  <div class="staffDetail-table" if:true={dataTableShow} >
    <lightning-datatable class="custom-tbl" key-field="id" data={providerStaffs}
      columns={columns} hide-checkbox-column default-sort-direction={defaultSortDirection}
      sorted-direction={sortDirection} sorted-by={sortedBy} onsort={onHandleSort} onrowaction={handleRowAction}>
    </lightning-datatable>
    <div class="paginationPosition">
      <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
        onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>
    </div>
  </div>
  <!-- //POPUP Window For Conformation Start-->
  <template if:true={openmodel}>
    <div class="demo-only">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
        <div class="slds-modal__container" style="width: 35%;">
          <div class="popborder">
            <header class="slds-modal__header">
              <button class="close-button" title="Close" onclick={closeModal}></button>
            </header>
            <!-- modal body start -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
              <div class="slds-align_absolute-center delete-icon">
                <p>Are you sure you want to delete?</p>
              </div>
            </div>
            <!-- modal footer start-->
            <footer class="slds-modal__footer slds-align_absolute-center">
              <button class="slds-button slds-button_text-destructive" onclick={deleteFrSure}>
                Yes
              </button>
              <button class="slds-button slds-button_outline-brand" onclick={closeModal}>
                No
              </button>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
  <!-- //POPUP Window For Conformation End-->

  <!-- //POPUP Window For Staff Certification History Start -->
  <template if:true={openmodelHistory}>
    <div class="demo-only" style="height: 640px;">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-backdrop slds-backdrop_open slds-modal slds-fade-in-open">
        <div class="slds-modal__container staffCertPop">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
              Staff Certification History
            </h2>
            <button class="close-button" title="Close" onclick={closeModal}></button>
          </header>
          <div class="slds-modal__content slds-p-around_medium">
            <lightning-datatable if:true={certificateShow} key-field="id" data={staffCertificates} columns={columnsCert}
              hide-checkbox-column="true">
            </lightning-datatable>
            <div if:false={certificateShow} class="slds-align_absolute-center recordFile">
              <p>No Records Available for the Staff</p>
            </div>
          </div>
          <footer class="slds-modal__footer">
            <lightning-button label="Done" variant="neutral" onclick={closeModal}></lightning-button>
          </footer>
        </div>
      </section>
    </div>
  </template>
  <!-- //POPUP Window For Staff Certification History End-->
  <div if:false={dataTableShow} class="slds-align_absolute-center recordFile">
    <p>No Records Available for the Staff</p>
  </div>
</template>