.file-upload .icon-attachment{
    padding: 50px 0 10px;
}
/* .file-upload{ padding-bottom: 40px;} */

.file-attached{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 5px #45414E1A;
border: 1px solid #EEF3FF;
border-radius: 4px;
}

.file-attached .card-header{
    border-radius: 4px 4px 0px 0px;
    background: #EEF3FF 0% 0% no-repeat padding-box;
    padding: 10px;
}
.file-attached .card-body{padding: 10px;}
.file-attached .card-footer{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #D7E1F9;
}
.file-attached .card-footer .slds-button{
    border: 0;
    height: auto;
    color: #3a45c7;
}
.file-attached table tr td{padding:4px;}
.file-attached table tr td:nth-child(2){
    font-weight: bold;
}
.text-overflowHidden{white-space: nowrap; 
    width: 110px; 
    overflow: hidden;
    text-overflow: ellipsis;}

.pad-wrap10 .upload-title{
        font-size: 12px;
        background: transparent;
        box-shadow: none;
        padding: 0px 5px;
        font-weight: 400;
        text-transform: uppercase;}