<template>

  <div if:false={isSuperUserFlow}>
    <lightning-button label="ADD MONITORING" class="btn-topright" variant="brand" onclick={openmodal}>
    </lightning-button>
  </div>

  <!-- Add and Edit monitoring pop-up begins -->
  <template if:true={openmodel}>
    <div class="demo-only" style="width:700px">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">{title}</h2>
            <button class="close-button" title="Close" onclick={closeModal}>
            </button>
          </header>
          <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox required name="LicenceName" placeholder="Select License Number"
                    value={addEditMonitoring.License__c} options={roleOptions} onchange={handleChange}
                    label="License Number">
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input disabled name="Program__c" value={ProgramName__c} label="Program"
                    onchange={handleChange} placeholder="Select Program">
                  </lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox required name="SelectPeriod__c" placeholder="Select Frequency"
                    value={addEditMonitoring.SelectPeriod__c} options={selectPeriodValues} onchange={handleChange}
                    label="Select Frequency">
                  </lightning-combobox>
                </span>
              </div>
            </div>
            <div class="slds-grid slds-wrap">

              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input disabled name="ProgramType__c" value={ProgramType__c} label="Program Type"
                    onchange={handleChange} placeholder="Select Program Type">
                  </lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox name="SiteAddress__c" placeholder="Select Site Address" value={SiteAddress}
                    options={siteAddressValues} onchange={handleChange} label="Site Address">
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input name="ApplicationLicenseId__c" value={Application__Name} label="Application Id"
                    disabled onchange={handleChange} placeholder="Select Application License">
                  </lightning-input>
                </span>
              </div>
            </div>
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox name="AnnouncedUnannouced__c" placeholder="Select Announced / Unannouced"
                    value={addEditMonitoring.AnnouncedUnannouced__c} options={selectAnnouncedValues}
                    onchange={handleChange} label="Announced / Unannounced">
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input type="date" required name="VisitationStartDate__c" autocomplete="off"
                    onchange={handleChange} placeholder="Select Visitation Start Date"
                    value={addEditMonitoring.VisitationStartDate__c} label="Visitation Start Date">
                  </lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input type="date" name="VisitationEndDate__c" autocomplete="off" onchange={handleChange}
                    value={addEditMonitoring.VisitationEndDate__c} placeholder="Select Visitation End Date"
                    label="Visitation End Date" min={renewalmindate} max={renewalmaxdate} disabled={isDisableEndDate}>
                  </lightning-input>
                </span>
              </div>

            </div>
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox name="JointlyInspectedWith__c" placeholder="Select Jointly Inspected With"
                    value={addEditMonitoring.JointlyInspectedWith__c} options={inspectedwithValues}
                    onchange={handleChange} label="Jointly Inspected With">
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox name="TimetoVisit__c" placeholder="Select Time To Visit"
                    value={addEditMonitoring.TimetoVisit__c} options={timevisitValues} onchange={handleChange}
                    label="Time of Visit">
                  </lightning-combobox>
                </span>
              </div>
            </div>

          </div>
          <footer class="slds-modal__footer">
            <div class="slds-grid slds-wrap mt-20">
              <div class="slds-col">
                <div class="slds-clearfix">
                  <div class="slds-float_right">
                    <lightning-button label="CANCEL" variant="brand-outline" onclick={closeModal}
                      class="slds-m-left_medium mr-10">
                    </lightning-button>
                    <lightning-button label={btnLabel} variant="brand" onclick={handleSave} disabled={btnDisable}>
                    </lightning-button>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
  <!-- Add and Edit monitoring pop-up ends -->
  <!--view popup begins-->
  <template if:true={viewmodel}>
    <div class="demo-only" style="width:700px">
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate fontweight">View
              Monitoring</h2>
            <button class="close-button" title="Close" onclick={closeModal}>
            </button>
          </header>
          <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-2">
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input disabled label="License Number" placeholder="Select License Number"
                    name="LicenceName" options={roleOptions} value={addEditMonitoring.License__c}>
                  </lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input disabled name="Program__c" value={ProgramName__c} label="Program"
                    onchange={handleChange}></lightning-input>
                </span>
              </div>

              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox disabled name="SelectPeriod__c" placeholder="Select Frequency"
                    value={addEditMonitoring.SelectPeriod__c} options={selectPeriodValues} onchange={handleChange}
                    label="Select Frequency">
                  </lightning-combobox>
                </span>
              </div>
            </div>
            <div class="slds-grid slds-wrap">

              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input disabled name="ProgramType__c" value={ProgramType__c} label="Program Type"
                    onchange={handleChange}>
                  </lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox name="SiteAddress__c" value={SiteAddress} placeholder="Select Site Address"
                    options={siteAddressValues} onchange={handleChange} label="Site Address" disabled>
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input disabled name="ApplicationLicenseId__c" value={Application__Name}
                    label="Application Id" onchange={handleChange}></lightning-input>
                </span>
              </div>
            </div>
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox disabled name="AnnouncedUnannouced__c" placeholder="Select Announced / Unannouced"
                    value={addEditMonitoring.AnnouncedUnannouced__c} options={selectAnnouncedValues}
                    onchange={handleChange} label="Announced / Unannounced">
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input type="date" disabled name="VisitationStartDate__c" autocomplete="off"
                    onchange={handleChange} value={addEditMonitoring.VisitationStartDate__c}
                    placeholder="Select Visitation Start Date" label="Visitation Start Date">
                  </lightning-input>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-input type="date" disabled name="VisitationEndDate__c" autocomplete="off"
                    onchange={handleChange} value={addEditMonitoring.VisitationEndDate__c}
                    placeholder="Select Visitation End Date" label="Visitation End Date">
                  </lightning-input>
                </span>
              </div>

            </div>
            <div class="slds-grid slds-wrap">
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox disabled name="JointlyInspectedWith__c"
                    placeholder="Select Jointly Inspected With" value={addEditMonitoring.JointlyInspectedWith__c}
                    options={inspectedwithValues} onchange={handleChange} label="Jointly Inspected With">
                  </lightning-combobox>
                </span>
              </div>
              <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                <span>
                  <lightning-combobox disabled name="TimetoVisit__c" placeholder="Select Time To Visit"
                    value={addEditMonitoring.TimetoVisit__c} options={timevisitValues} onchange={handleChange}
                    label="Time of Visit">
                  </lightning-combobox>
                </span>
              </div>
            </div>
            <div class="slds-grid slds-wrap mt-20">
              <div class="slds-col">
                <div class="slds-clearfix">
                  <div class="slds-float_right">
                    <lightning-button label="Cancel" variant="brand-outline" onclick={closeModal}
                      class="slds-m-left_medium mr-10"></lightning-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
  </template>
  <!--view popup ends-->
  <!--datatable grid begins-->
  <div class="application-table">
    <div if:true={norecorddisplay}>
      <div class="text-center file-upload slds-p-vertical--xx-large ">
        <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
        <p class="font-bold" style="padding-top:5px;">No monitoring available</p>
      </div>
    </div>
    <div if:false={norecorddisplay}>
      <lightning-datatable key-field="id" data={currentPageMonitoringData} columns={columns} hide-checkbox-column="true"
        onrowaction={handleRowAction} default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
        sorted-by={sortedBy} onsort={onHandleSort} class="custom-tbl">
      </lightning-datatable>
      <c-common-pagination get-count={totalRecordsCount} page={page} setsize={setPagination} perpage={perpage}
        onprogressvaluechange={hanldeProgressValueChange}>
      </c-common-pagination>
    </div>
  </div>
  <!--datatable grid ends-->
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>