<template>

    <div if:false={norecorddisplay}>
      <div class="application-table" style="border:0; ">
        <div class="text-center file-upload slds-p-vertical--xx-large ">
          <img class="icon-attachment" src={attachmentIcon} style="width:100px;" />
          <p class="font-bold padtop10">No Conference Available</p>
          <p class="subfont">Add Conference by clicking Add Entrance Conference button</p>
        </div>
      </div>
    </div>
  
    <div class="btn-topright">
      <lightning-button if:false={hideAddButton}
      label="ADD ENTRANCE CONFERENCE" variant="brand" name="entrance conference"
        onclick={entranceOpenModal}></lightning-button>
    </div>
  
  
    <template if:true={entranceopenmodel}>
      <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
          <div class="slds-modal__container" style="width:70%">
            <header class="slds-modal__header">
              <h2 class="slds-text-heading_medium slds-hyphenate fontweight" if:true={enterexitlabel}>
                Add Entrance Conference</h2>
              <h2 class="slds-text-heading_medium slds-hyphenate fontweight" if:false={enterexitlabel}>
                Add Exit Conference</h2>
              <button class="close-button" title="Close" onclick={entranceCloseModal}>
              </button>
            </header>
            <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
              <div class="slds-grid slds-wrap">
                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-combobox name="Type__c" value={addoreditConference.Type__c} label="Type"
                      options={ConferenceTypeOptions} onchange={handleChange} required disabled>
                    </lightning-combobox>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="Date" onchange={handleChange} name="Date__c" autocomplete="off"
                      value={addoreditConference.Date__c} label="Date" required></lightning-input>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="time" onchange={handleChange} name="Time__c" autocomplete="off"
                      value={addoreditConference.Time__c} label="Time" required></lightning-input>
                  </span>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <!-- Multiselect checkbox Code Start Staff -->
  
                    <label class="slds-form-element__label inputRequired3" for="combobox-id-46"><abbr title="required"
                        class="slds-required">*</abbr>Staff Name</label>
                    <div class="slds-form-element__control" onmouseleave={handleMouseOutButtonStaff}>
                      <div class="slds-combobox_container">
                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                          aria-expanded="true" aria-haspopup="dialog" role="combobox">
                          <div if:false={toggledivForPtypeStaff}
                            class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right " role="none"
                            onclick={handlePTypeStaff}>
                            <input type="text" required class="slds-input slds-combobox__input" id="combobox-id-46"
                              aria-controls="popover-unique-id-01" role="textbox" placeholder="Select" autocomplete="off"
                              readonly="" disabled={isDisableProgramTypeStaff} />
                            <span
                              class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                              <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                                title="Connected">
                              </lightning-icon>
                            </span>
                          </div>
                          <div if:true={toggledivForPtypeStaff}
                            class="slds-pill_container slds-input-has-icon slds-input-has-icon_right "
                            onclick={handlePTypeStaff}>
                            <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:"
                              aria-orientation="horizontal">
                              <template for:each={pillvalueForPTypeStaff} for:item="pills">
                                <li class="slds-listbox-item slds-truncate" style="width:280px;" role="presentation"
                                  key={pills.value} title={pills.value} if:true={pillSingleValueConditionStaff}>
                                  <lightning-pill label={pills.value} onremove={handleRemoveStaff}></lightning-pill>
                                </li>
                              </template>
                              <li class="slds-listbox-item slds-truncate" style="width:280px;" role="presentation"
                                key={pillSingleValueForPtypeStaff} title={pillSingleValueForPtypeStaff}
                                if:false={pillSingleValueConditionStaff}>
                                <lightning-pill label={pillSingleValueForPtypeStaff} onremove={handleRemoveStaff}>
                                </lightning-pill>
                                <span class="conference-usernumber"> +{pillSingleValueForPtypeCountStaff}</span>
                              </li>
                            </ul>
                            <span
                              class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                              <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                                title="Connected">
                              </lightning-icon>
                            </span>
                          </div>
                          <section aria-describedby="dialog-body-id-25" aria-label="Language Options"
                            class={tabClassForPTypeStaff} id="popover-unique-id-01" role="dialog"
                            onmouseleave={handleMouseOutButtonStaff} style="position: absolute;top:33px;">
                            <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                              id="dialog-body-id-25">
                              <fieldset class="slds-form-element">
                                <div class="slds-form-element__control">
                                  <template for:each={assignStaffdropdownshow} for:item="PType">
                                    <div class="slds-checkbox" key={PType.Id}>
                                      <input data-id="checkbox" type="checkbox" name="options" id={PType.Id}
                                        value={PType.Name} onclick={handleclickofPTypeCheckBoxStaff} />
                                      <label class="slds-checkbox__label" for={PType.Id}>
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-form-element__label">{PType.Name}</span>
                                      </label>
                                    </div>
                                  </template>
                                </div>
                              </fieldset>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
  
                    <!-- Multiselect checkbox Code Start Staff-->
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
  
                    <!-- Multiselect checkbox Code Start -->
  
                    <label class="slds-form-element__label inputRequired3" for="combobox-id-47"><abbr title="required"
                        class="slds-required">*</abbr>State Employees</label>
                    <div class="slds-form-element__control" onmouseleave={handleMouseOutButton}>
                      <div class="slds-combobox_container">
                        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
                          aria-expanded="true" aria-haspopup="dialog" role="combobox">
                          <div if:false={toggledivForPtype}
                            class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none"
                            onclick={handlePType}>
                            <input type="text" required class="slds-input slds-combobox__input" id="combobox-id-47"
                              aria-controls="popover-unique-id-02" role="textbox" placeholder="Select" autocomplete="off"
                              readonly="" disabled={isDisableProgramType} />
                            <span
                              class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                              <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                                title="Connected">
                              </lightning-icon>
                            </span>
                          </div>
                          <div if:true={toggledivForPtype}
                            class="slds-pill_container slds-input-has-icon slds-input-has-icon_right"
                            onclick={handlePType}>
                            <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:"
                              aria-orientation="horizontal">
                              <template for:each={pillvalueForPType} for:item="pills">
                                <li class="slds-listbox-item slds-truncate" style="width:280px;" role="presentation"
                                  key={pills.value} title={pills.value} if:true={pillSingleValueCondition}>
                                  <lightning-pill label={pills.value} onremove={handleRemove}></lightning-pill>
                                </li>
                              </template>
                              <li class="slds-listbox-item slds-truncate" style="width:280px;" role="presentation"
                                key={pillSingleValueForPtype} title={pillSingleValueForPtype}
                                if:false={pillSingleValueCondition}>
                                <lightning-pill label={pillSingleValueForPtype} onremove={handleRemove}>
                                </lightning-pill>
                                <span class="conference-usernumber"> +{pillSingleValueForPtypeCount}</span>
                              </li>
                            </ul>
                            <span
                              class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                              <lightning-icon icon-name="utility:down" size="x-small" alternative-text="Connected"
                                title="Connected">
                              </lightning-icon>
                            </span>
                          </div>
                          <section aria-describedby="dialog-body-id-26" aria-label="Language Options"
                            class={tabClassForPType} id="popover-unique-id-02" role="dialog"
                            onmouseleave={handleMouseOutButton} style="position: absolute;top:33px;">
                            <div class="slds-popover__body slds-popover__body_small slds-popover_fluid"
                              id="dialog-body-id-26">
                              <fieldset class="slds-form-element">
                                <div class="slds-form-element__control">
                                  <template for:each={stateemployes} for:item="PType">
                                    <div class="slds-checkbox" key={PType.Id}>
                                      <input data-id="checkbox" type="checkbox" name="options" id={PType.Id}
                                        value={PType.Name} onclick={handleclickofPTypeCheckBox} />
                                      <label class="slds-checkbox__label" for={PType.Id}>
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-form-element__label">{PType.Name}</span>
                                      </label>
                                    </div>
                                  </template>
                                </div>
                              </fieldset>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
  
                    <!-- Multiselect checkbox Code Start -->
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input label="Program Changes / Update" onchange={handleChange}
                      name="ProgramChangesUpdates__c" value={addoreditConference.ProgramChangesUpdates__c}
                      if:false={isDisableProgramChanges}>
                    </lightning-input>
                  </span>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div class="slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1">
                  <span>
                    <lightning-textarea name="Summary__c" label="Summary" value={addoreditConference.Summary__c}
                      onchange={handleChange}></lightning-textarea>
                  </span>
                </div>
              </div>
            </div>
            <footer class="slds-modal__footer">
              <lightning-button label="Cancel" variant="brand-outline" onclick={entranceCloseModal} class="mr-10">
              </lightning-button>
              <lightning-button label="Save" variant="neutral" onclick={saveMethod} disabled={saveDisable}></lightning-button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
  
  
  
    <div if:true={norecorddisplay} class="ConferenceTable conference-tbl">
      <table class="slds-table slds-table_cell-buffer slds-table_bordered">
        <thead>
          <tr>
            <th style="width:10%">
              <span class="slds-truncate mleft"> TYPE</span>
            </th>
            <th>
              <span class="slds-truncate">DATE
                <a data-id="Date__c" onclick={sort}>
                  <span if:true={ascdscshowhide}> <img class="arrow-cls" src={upIcon} /></span>
                  <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                </a></span>
            </th>
            <th>
              <span class="slds-truncate">TIME
                <a data-id="Time__c" onclick={sort}>
                  <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                  <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                </a></span>
            </th>
            <th style="width:12%">
              <span class="slds-truncate">STAFF NAMES
                <a data-id="StaffNames__c" onclick={sort}>
                  <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                  <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                </a></span>
            </th>
            <th style="width:10%">
              <span class="slds-truncate">STAFF EMPLOYEES
                <a data-id="StaffEmployees__c" onclick={sort}>
                  <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                  <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                </a></span>
            </th>
            <th style="width:20%">
              <span class="slds-truncate">PROGRAM CHANGES / UPDATE
                <a data-id="ProgramChangesUpdates__c" onclick={sort}>
                  <span if:true={ascdscshowhide}><img class="arrow-cls" src={upIcon} /></span>
                  <span if:false={ascdscshowhide}><img class="arrow-cls" src={downIcon} /></span>
                </a></span>
            </th>
            <th style="width:30%">
              <span class="slds-truncate">SUMMARY</span>
            </th>
            <th style="width:10%">
              <span class="slds-truncate">ACTION</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <template for:each={currentPageEntranceConferenceData} for:item="conference">
            <tr key={conference.Id} id={conference.Id} class="conName">
              <td style="width:10%">
                <span class="mleft">{conference.Type__c}</span>
              </td>
              <td><span>
                  <lightning-formatted-date-time value={conference.Date__c} year="numeric" month="numeric" day="numeric">
                  </lightning-formatted-date-time>
                </span></td>
              <td><span>{conference.TimeConversion}
  
                </span></td>
  
              <td style="width:10%">
                <ul>
                  <li for:each={conference.StaffNames__c} for:item="snames" key={snames.value}>{snames.value}</li>
                </ul>
              </td>
  
  
              <td style="width:10%">
                <ul>
                  <li for:each={conference.StaffEmployees__c} for:item="semployees" key={semployees.value}>
                    {semployees.value}</li>
                </ul>
              </td>
              <td style="width:20%"><span>{conference.ProgramChangesUpdates__c}</span></td>
              <td style="width:30%; white-space:normal">
                <div style="max-height:40px; overflow-y:auto;">
                  {conference.Summary__c}
                </div>
              </td>
              <td style="width:10%"><span>
                  <lightning-button name="DeleteParent" data-id={conference.Id} onclick={deleteConferenceOpenModel}
                    class="delConference mr-10" icon-name="utility:delete"></lightning-button>
                </span>
                <lightning-button label="Detail View" name="Detail View" variant="neutral" data-id={conference.Id}
                  onclick={toggleRow} class="btn chevron" icon-name="utility:chevrondown"></lightning-button>
  
              </td>
            </tr>
            <tr id={conference.Id} key={conference.Id} class="conli slds-hide" style="background: #F6F6F9">
              <template if:true={noexitrecorddisplay}>
                <td><span class="mleft">{exitType__c}</span></td>
                <td><span>
                    <lightning-formatted-date-time value={exitDate__c} year="numeric" month="numeric" day="numeric">
                    </lightning-formatted-date-time>
                  </span></td>
                <td><span>{exitTime__c}
                    <!-- <lightning-formatted-date-time value={exitTime__c} hour="2-digit" minute="2-digit">
                    </lightning-formatted-date-time> -->
                  </span></td>
                <td>
                  <ul>
                    <li for:each={exitStaffNames__c} for:item="snames" key={snames.value}>{snames.value}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li for:each={exitStaffEmployees__c} for:item="semployees" key={semployees.value}>{semployees.value}
                    </li>
                  </ul>
                </td>
                <td><span>{exitProgramChangesUpdates__c}</span></td>
                <td><span>{exitSummary__c}</span></td>
                <td><span>
                    <lightning-button name="DeleteChild" data-id={exitID} class="delConference"
                      onclick={deleteConferenceOpenModel} icon-name="utility:delete"></lightning-button>
  
                  </span></td>
              </template>
              <template if:false={noexitrecorddisplay}>
                <td colspan="8" class="txtexitCenter">
                  No Exit Conference Has Been Added
                  <lightning-button label="ADD EXIT CONFERENCE" name="exit conference" variant="neutral"
                    onclick={entranceOpenModal} class="addexit-btn"></lightning-button>
                </td>
              </template>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  
  
    <!-- Modal Box which open when user deletes File-->
    <template if:true={deleteopenmodel}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
        <div class="slds-modal__container" style="width: 35%;">
          <div class="popborder">
            <header class="slds-modal__header"><button class="close-button" title="Close" onclick={deleteCloseModel}>
              </button></header>
            <!-- modal body start -->
            <div class="slds-modal__content slds-p-around_medium">
              <div class="slds-align_absolute-center delete-icon">
                <p>Are you sure you want to delete? </p>
              </div>
            </div>
            <!-- modal footer start-->
            <footer class="slds-modal__footer slds-align_absolute-center">
              <button class="slds-button slds-button_text-destructive" onclick={deleteConferenceRecord}>
                Yes
              </button>
              <button class="slds-button slds-button_outline-brand" onclick={deleteCloseModel}>
                No
              </button>
            </footer>
          </div>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
      <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
  
  
  </template>