<template>
    <div class="template-screen incident-notification">
        <div class="slds-grid slds-wrap">
            <div class="slds-col--padded">
                <div for:each={questions} for:item="question" key={question.rowId} class="application_fieldset">
                    <span class="sectitle"><b>{question.RefKey__c}</b></span>
                    <fieldset disabled={UserProfileDisable}>
                        <legend class="sec-title"> {question.Question__c}</legend>
                        <div class="slds-grid slds-wrap Wraphousehold">
                            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-5 slds-large-size--3-of-7 clm1padding">
                                <template if:false={question.isStatment}>
                                    <div class="slds-grid slds-wrap pad10">
                                        <div class=" fieldsetnone slds-col--padded slds-size--2-of-3">
                                            <lightning-input type="text" name={question.rowId} label="Name" value={question.Name__c} onchange={namechange}>
                                            </lightning-input>
                                        </div>
                                        <div class=" fieldsetnone slds-col--padded slds-size--1-of-3 clmbg">
                                            <div class="dropdown" if:false={question.isStatment}></div>
                                            <lightning-input if:false={question.isStatment} type="date" label="Date" name={question.rowId} onchange={datetimeChange} value={question.Date__c}>
                                            </lightning-input>
                                        </div>
                                    </div>
                                </template>
                                <template if:true={question.isStatment}>
                                    <div class="slds-grid slds-wrap">
                                        <div class=" fieldsetnone slds-col--padded slds-size--3-of-3">
                                            <lightning-radio-group class="waterProperty" label="Statements of all youth and all staff involved or witnessing the incident should be attached separately to this report. Attached?" options={options} name={question.rowId} type="button" onchange={statementReceviedChange} value={question.Received__c}>
                                            </lightning-radio-group>
                                        </div>
                                    </div>
                                </template>
                                <template if:true={addBilogicalparents}>
                                    <template if:true={question.isBiological}>
                                        <div class="slds-grid slds-wrap">
                                            <div class=" fieldsetnone slds-col--padded slds-size--2-of-3">
                                                <lightning-input type="text" name="AddBilogicalname" label="Name" onchange={namechangeBiological} value={newBiologicalName}>
                                                </lightning-input>
                                            </div>
                                            <div class=" fieldsetnone slds-col--padded slds-size--1-of-3">
                                                <lightning-input if:false={question.isStatment} type="date" label="Date" name="addBiologicalDate" onchange={namechangeBiological} value={newBiologicalDate}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                            </div>
                            <!-- 3rd Column -->
                            <div class="slds-col--padded0 slds-size--1-of-1 slds-medium-size--1-of-5 slds-large-size--1-of-7">
                                <template if:true={question.isOtherBiological}>
                                    <div class="receivedDate">
                                    <div class="dropdown"></div>
                                    <lightning-combobox name={question.rowId} label="Method" placeholder="Select" onchange={otherBiologicalMethodChange} options={methodValues} value={question.Method__c}>
                                    </lightning-combobox>
                                </div>
                                </template>
                                <template if:true={question.isBiological}>                                    
                                    <div class="receivedDate">
                                        <div class="dropdown"></div>
                                        <lightning-radio-group class="waterProperty" label="Received" options={options} name={question.rowId} type="button" onchange={receviedChange} value={question.Received__c} disabled={sentNotify}>
                                        </lightning-radio-group>
                                    </div>
                                </template>
                                <template if:true={question.isStatment}>
                                    <div class="receivedDate">
                                    <div class="dropdown"></div>
                                    <lightning-input type="date" label="Date" name={question.rowId} onchange={dateTimestatementChange} value={question.Date__c}></lightning-input>
                               </div>
                             </template>
                                <template if:true={addBilogicalparents}>
                                    <template if:true={question.isBiological}>
                                       
                                        <div class="add-receivedDate">
                                            <div class="dropdown"></div>
                                            <lightning-radio-group class="waterProperty" label="Received" options={options} name="addBiologicalRecevied" value={newBiologicalRecevied} type="button" onchange={namechangeBiological} disabled={sentNotify}>
                                            </lightning-radio-group>
                                        </div>
                                    </template>
                                </template>
                            </div>
                            <!-- 4th Column -->
                            <div class="slds-col--padded0 slds-size--1-of-1 slds-medium-size--1-of-5 slds-large-size--1-of-7">
                                <template if:true={question.isOtherBiological}>
                                    <div class="clmRecieved">
                                        <div class="dropdown"></div>
                                        <lightning-radio-group class="waterProperty" label="Received" options={options} onchange={receviedOtherBiologicalChange} type="button" value={question.Received__c} name={question.rowId} disabled={sentNotify}>
                                        </lightning-radio-group>
                                    </div>
                                </template>
                                <template if:true={question.isBiological}>
                                    <div class="clmRecieved">
                                        <div class="dropdown"></div>
                                        <div class="bio-phoneno">
                                            <lightning-input type="text" max-length=14 name={question.rowId} label="Phone Number" onchange={phoneNumberChange} value={question.Phone__c}>
                                            </lightning-input>
                                        </div>
                                    </div>
                                </template>
                                <template if:true={question.isStatment}>
                                    <div class="clmRecieved">
                                        <div class="dropdown"></div>
                                        <lightning-input type="text" name={question.rowId} label="Staff Member Completing Report" onchange={staffMemberChange} value={question.StaffMembercompletingReport__c}>
                                        </lightning-input>
                                    </div>
                                </template>
                                <template if:true={addBilogicalparents}>
                                    <template if:true={question.isBiological}>
                                        <div class="clmRecieved">
                                            <div class="dropdown"></div>
                                            <div class="add-phoneno">
                                                <lightning-input type="text" max-length=14 name="addBiologicalPhone" label="Phone Number" onchange={namechangeBiological} value={newBiologicalPhone}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                            </div>                       
                        <!-- 5th Column -->
                        <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--2-of-5 slds-large-size--2-of-7">
                            <div class="dropdown"></div>
                            <template if:true={question.isOtherBiological}>
                                <lightning-input type="text" name={question.rowId} label="Comments" onchange={otherComments} value={question.Comments__c}>
                                </lightning-input>
                            </template>
                            <template if:true={question.isStatment}>
                                <template if:true={isExplianVisble}>
                                    <lightning-input type="text" name={question.rowId} label="If not,please explain" onchange={otherComments} value={question.Comments__c}>
                                    </lightning-input>
                                </template>
                            </template>
                            <template if:true={question.isBiological}>
                                <div class="slds-col--padded slds-size--1-of-1">
                                    <div class="emaitxt">
                                        <lightning-input type="email" name={question.rowId} label="Email Id" value={question.Email__c} onchange={onchangeEmail}>
                                        </lightning-input>
                                        <template if:true={addBilogicalparents}>
                                            <template if:true={question.isBiological}>
                                                <lightning-input type="email" name="addBiologicalEmail" label="Email Id" onchange={namechangeBiological} value={newBiologicalEmail}>
                                                </lightning-input>
                                            </template>
                                        </template>
                                    </div>
                                    <div class="del-btn">
                                        <template if:false={addBilogicalparents}>
                                            <lightning-button label="+" class="btn-pri" onclick={addBiologicalParents}>
                                            </lightning-button>
                                        </template>
                                        <template if:true={addBilogicalparents}>
                                            <lightning-icon icon-name="utility:delete" size="x-small" class="marginRight10 iconColor" style='cursor:pointer' onclick={addBiologicalDelete}>
                                            </lightning-icon>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>
                </div>
                </fieldset>
            </div>
        </div>
    </div>
    <footer class="slds-modal__footer mt-10">
        <div class="slds-grid slds-wrap">
            <div class="slds-col bottomAlign slds-col--padded">
                <div class="slds-clearfix">
                    <div class="slds-float_right btnSec">
                        <lightning-button label="Save" variant="outline-brand" name="Save" class="btn-pri mr-10" onclick={saveRecord} disabled={saveEnable}>
                        </lightning-button>
                        <lightning-button label="Send" onclick={clickSendNotifcation} disabled={sendEnable} class="btn-pri icon_send">
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
    </div>
</template>