.dropdown {
    /* position: relative; */
    cursor: pointer;
    /* left: -15px;
    top: 14px; */
}

.dropdown:after {
    position: absolute;
    content: "";
    left: 0px;
    top: 50%;
    width: 10px;
    height: 5px;
    border-left: 6px solid #0a69b9;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    transform: translateY(-50%);
}

fieldset {
    padding: 0px 0 0px 10px;
    border: 1px solid #EBEBEB;
    margin-top: 10px;
    border-radius: 3px;
}

.fieldsetchild {
    padding: 0px 0 0px 10px;
    border: 1px solid #EBEBEB;
    margin-top: 10px;
    border-radius: 3px;
}

.Wraphousehold {
    position: relative;
    /* margin-top: -9px; */
}

.padtopbottom10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padleftnone {
    padding-left: 0;
}

.pad24percentage {
    padding-left: 10%;
}

.greybg {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FCFCFC
}

.template-screen {
    position: relative;
}

.clm-dateTime,
.clm-received {
    background-color: #fcfcfc;
}

.sectitle b {
    display: block;
    padding: 10px 0;
}

.emaitxt {
    width: calc(100% - 50px);
    display: inline-block;
}

.del-btn {
    width: 40px;
    display: inline-block;
    margin-left: 10px;
}
.clmbg{
    background: #fcfcfc;
    position:relative;
}
.clm1padding{
    padding:0 !important;
}
.clm1padding .slds-col--padded{
    padding:10px;
}
.receivedDate{
    padding: 10px;
    position: relative;
}
.add-receivedDate{margin-top:10px;position: relative;}
/* .bio-phoneno{margin-bottom: 10px;padding: 10px;}
.add-phoneno{padding: 10px;} */
.clmRecieved{padding: 10px;position: relative;}