<template>
    <div class="attachmentDocument-screen">
    <c-common-documents document-id-for-attachment={monitoringId} sobject-type={sobjectNameToFetch} get-monitoring-status={getMonitoringStatus}>
    </c-common-documents>
    </div>
</template>