<template>
    <div class="template-screen">
        <c-common-documents document-id-for-attachment={referralID} sobject-type={sobjectNameToFetch}>
        </c-common-documents>
    </div>
</template>