<template>
  <div class="app-referral">
    <template if:true={hideShowHomeAndTypesCmp}>
      <c-public-referral-dashboard onredirecttoprivate={handleRedirectCaseId}
        onredirecttoprivatetabset={handleRedirectCaseId} onredirecttonewcomplaintstabs={redirecttoNewComplaintsTabs}
        onredirecttopublictabset={handleRedirectCaseId}>
      </c-public-referral-dashboard>
    </template>
    <template if:true={showPrivateReferralsTabs}>
      <c-referral-types-and-all page-type={frompage} page-type-from={pageTypeFrom} caseid={caseid}
        hide-show-new-or-existing-provider-component={hideshowNewOrExistingProviderComponet}
        onredirecttoreferralhome={redirectToReferralHome}>
      </c-referral-types-and-all>
    </template>
    <template if:true={showPublicReferralsTabs}>
      <c-public-provider-all-tab-set-cmps onredirecttoreferralhome={redirectToReferralHome}>
      </c-public-provider-all-tab-set-cmps>
    </template>
    <template if:true={showNewComplaints}>
      <c-complaints-all-tabs-cmps show-complaints-tabset-cmps=true show-dashboard=true></c-complaints-all-tabs-cmps>
    </template>
  </div>
</template>