<template>
  <div class="slds-theme_default">
    <div class="btnSec pr-0 mb-10">
      <lightning-button label="ADD CERTIFICATE" variant="brand" onclick={certificationOpenModal}></lightning-button>
    </div>
    <template if:true={openmodel}>
      <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <h2 class="slds-text-heading_medium slds-hyphenate fontweight">
                {title}</h2>
              <button class="close-button" title="Close" onclick={certificationCloseModal}>
              </button>
            </header>
            <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
              <div class="slds-grid slds-wrap">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-combobox name="CertificationStatus__c"
                      value={addoreditCertification.CertificationStatus__c} placeholder="Select Certification Status"
                      label="Certification Status" options={certificationStatus} onchange={handleChange} required>
                    </lightning-combobox>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-combobox name="CertificationType__c" value={addoreditCertification.CertificationType__c}
                      label="Certification Type" placeholder="Select Certification Type" options={certificationType}
                      onchange={handleChange} required></lightning-combobox>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3"
                  if:true={certificationSubTypeOtherShowHide}>
                  <span>
                    <lightning-combobox name="CertificationSubType__c"
                      value={addoreditCertification.CertificationSubType__c} label="Certification Sub-Type"
                      placeholder="Select Certification Sub-Type" options={certificationSubType} onchange={handleChange}
                      required></lightning-combobox>
                  </span>
                </div>

                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3"
                  if:false={certificationSubTypeOtherShowHide}>
                  <span>
                    <lightning-input name="CertificationSubType__c"
                      value={addoreditCertification.CertificationSubType__c} label="Certification Sub-Type"
                      placeholder="Enter Certification Sub-Type" onchange={handleChange} required>
                    </lightning-input>
                  </span>
                </div>

              </div>
              <div class="slds-grid slds-wrap">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="Date" onchange={handleChange} name="ApplicationMailedDate__c"
                      autocomplete="off" value={addoreditCertification.ApplicationMailedDate__c}
                      label="Application Mailed Date" placeholder="Select Mailed Date" required></lightning-input>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="Date" label="Certificate Effective Date" onchange={handleChange}
                      autocomplete="off" name="CertificationEffectiveDate__c"
                      value={addoreditCertification.CertificationEffectiveDate__c} placeholder="Select Effective Date" required></lightning-input>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="Date" label="Tested Date" onchange={handleChange} name="TestedDate__c"
                      autocomplete="off" value={addoreditCertification.TestedDate__c} placeholder="Select Tested Date" required></lightning-input>
                  </span>
                </div>
              </div>
              <div class="slds-grid slds-wrap">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="Date" onchange={handleChange} name="RenewalDate__c" label="Renewal Date"
                      autocomplete="off" min={renewalmindate} max={renewalmaxdate}
                      value={addoreditCertification.RenewalDate__c} placeholder="Select Renewal Date" required></lightning-input>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input label="Due Date" type="Date" onchange={handleChange} name="DueDate__c"
                      autocomplete="off" value={addoreditCertification.DueDate__c} placeholder="Select Due Date" required></lightning-input>
                  </span>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input label="Certificate Number" type="text" onchange={handleChange}
                      name="CertificateNumber__c" value={addoreditCertification.CertificateNumber__c} placeholder="Enter Certificate Number" required>
                    </lightning-input>
                  </span>
                </div>
              </div>
              <lightning-radio-group name="BehavioralInterventions__c" class="radio-horizontal"
                label="Is Behavioral Interventions training completed?" options={BehavioralInterventions}
                onchange={handleChange} value={addoreditCertification.BehavioralInterventions__c} type="radio">
              </lightning-radio-group>

            </div>
            <footer class="slds-modal__footer">
              <lightning-button label="Cancel" variant="brand-outline" onclick={certificationCloseModal}>
              </lightning-button>
              <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={saveMethod} disabled={isBtnDisable}></lightning-button>

            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
  </div>


  <div class="slds-align_absolute-center" if:true={norecorddisplay}>
    <lightning-datatable key-field="id" data={currentPageCertificateData} columns={columns} hide-checkbox-column="true"
      onrowaction={handleRowAction} class="custom-tbl">
    </lightning-datatable>


  </div>

  <div if:false={norecorddisplay} style="height:200px">
    <div class="slds-align_absolute-center">
      <lightning-datatable key-field="id" data={currentPageCertificateData} columns={columns}
        hide-checkbox-column="true" onrowaction={handleRowAction} class="custom-tbl">
      </lightning-datatable>
    </div>
    <div class="slds-align_absolute-center certificate-icon iconSpan">
      <center>
        <p><b>No Certificate Available</b></p><br>
        <p><span>Add certificate by clicking add certificate button</span></p>
      </center>
    </div>
  </div>
  <br><br>
  <!-- pagination -->

  <c-common-pagination if:true={norecorddisplay} get-count={totalRecordsCount} page={page} setsize={setPagination}
    perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>

  <!-- pagination end -->
  
  <template if:true={deleteopenmodel}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
        <div class="slds-modal__container" style="width: 35%;">
            <div class="popborder">
                <header class="slds-modal__header">
                    <button class="close-button" title="Close" onclick={deleteCloseModal}>
                    </button>
                </header>
                <!-- modal body start -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                    <div class="slds-align_absolute-center delete-icon">
                        <p>Are you sure you want to delete? </p>
                    </div>
                </div>
                <!-- modal footer start-->
                <footer class="slds-modal__footer slds-align_absolute-center">
                    <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>
                        Yes
                    </button>
                    <button class="slds-button slds-button_outline-brand" onclick={deleteCloseModal}>
                        No
                    </button>
                </footer>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>

</template>