<template>
  <div class="slds-theme_default">
    <div class="btnSec pr-0 mb-10">
      <lightning-button label="ADD TRAINING" variant="brand" onclick={openmodal}></lightning-button>
    </div>
    <!-- Record save functinality pop-up -->

    <template if:true={openmodel}>
      <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--large">
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">{title}</h2>
              <button class="close-button" title="Close" onclick={closeModal}>
              </button>
            </header>


            <div class="slds-modal__content slds-p-around_medium overVisible" id="modal-content-id-1">
              <div class="slds-grid slds-grid_align-spread">
                <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-combobox name="TrainingName" value={Training2} placeholder="Select Training Name"
                      options={StaffTrainingNameValues} onchange={handleChange} label="Training Name" required="True">
                    </lightning-combobox>
                  </span>
                </div>
                <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="number" name="TrainingHours" onchange={handleChange} value={Training}
                      label="Training Hours" placeholder="Enter Training Hours"></lightning-input>
                  </span>
                </div>
                <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-3">
                  <span>
                    <lightning-input type="date" name="CompletionDate" autocomplete="off" onchange={handleChange}
                      value={Training1} label="Completion Date" required="True" placeholder="Select Completion Date"></lightning-input>
                  </span>
                </div>
              </div>

              <div class="slds-grid slds-wrap mt-20">
                <div class="slds-col">
                  <div class="slds-clearfix">
                    <div class="slds-float_right">
                      <lightning-button label="Cancel" variant="brand-outline" onclick={closeModal}
                        class="slds-m-left_medium"></lightning-button>
                      <lightning-button label={btnLabel} class="btn btn-pri slds-m-left_x-small" onclick={handleSave} disabled={isBtnDisabled}></lightning-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>
  </div>


  <!-- Dynamic datatable values get from obeject fields -->

  <div class="slds-align_absolute-center" if:true={norecorddisplay}>
    <lightning-datatable key-field="id" data={currentPagetrainingData} columns={columns} hide-checkbox-column="true"
      onrowaction={handleRowAction} class="table-hrs custom-tbl">
    </lightning-datatable>
  </div>




  <!-- No record found display -->
  <div if:false={norecorddisplay}>
    <div class="slds-align_absolute-center">
      <lightning-datatable key-field="id" data={currentPagetrainingData} columns={columns} hide-checkbox-column="true"
        onrowaction={handleRowAction} class="custom-tbl">
      </lightning-datatable>
    </div>

    <div class="slds-align_absolute-center training-icon iconSpan">
      <center>
        <p><b>No Training Details Available</b></p><br>
        <p><span>Add training details by clicking add training button</span></p>
      </center>
    </div>
  </div>


  <br><br>

  <!-- pagination -->

  <c-common-pagination if:true={norecorddisplay} get-count={totalRecordsCount} page={page} setsize={setPagination}
    perpage={perpage} onprogressvaluechange={hanldeProgressValueChange}></c-common-pagination>

  <!-- pagination end -->



  <!-- Delete functinality Pop-Up -->
    <template if:true={openmodel1}>
      <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
          <div class="slds-modal__container" style="width: 35%;">
              <div class="popborder">
                  <header class="slds-modal__header">
                      <button class="close-button" title="Close" onclick={closeModal1}>
                      </button>
                  </header>
                  <!-- modal body start -->
                  <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                      <div class="slds-align_absolute-center delete-icon">
                          <p>Are you sure you want to delete? </p>
                      </div>
                  </div>
                  <!-- modal footer start-->
                  <footer class="slds-modal__footer slds-align_absolute-center">
                      <button class="slds-button slds-button_text-destructive" onclick={handleDelete}>
                          Yes
                      </button>
                      <button class="slds-button slds-button_outline-brand" onclick={closeModal1}>
                          No
                      </button>
                  </footer>
              </div>
          </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>