<template>

  <div class="application-table">
    <div class="slds-align_absolute-center" if:true={norecorddisplay}>
      <lightning-datatable key-field="id" data={currentPageLicenseData} columns={columns} hide-checkbox-column="true"
        onrowaction={handleRowAction} class="custom-tbl">
      </lightning-datatable>
    </div>
  </div>

  <!-- No record found display -->
  <div if:false={norecorddisplay} class="application-table">
    <!-- <div class="slds-align_absolute-center">
      <lightning-datatable key-field="id" data={currentPageLicenseData} columns={columns} hide-checkbox-column="true"
        onrowaction={handleRowAction} class="custom-tbl">
      </lightning-datatable>
    </div> -->
    <div class="text-center file-upload slds-p-vertical--xx-large">
      <img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
      <p class="font-bold padtop">No License Available</p>
    </div>
  </div>
  <iframe src={generatePDF} height="200" width="300"></iframe>

  <div class="PopupPdfDownload popupDisplayNone">
    <template if:true={openmodel}>

      <div class="demo-only">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
          aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal--medium">
          <div class="slds-modal__container">
            <div class="slds-modal__content slds-p-around_medium " id="modal-content-id-1">

              <div class="licensinginfo">
                <div class="download_button">
                  <lightning-button label="Download" onclick={clickgeneratePDF}></lightning-button>
                </div>
                <button class="close-outbutton" title="Close" onclick={closeModal} style="right:-10px;top:15px;">
                </button>
                <div class="printpdf">
                  <div class="licensinginfo-header">
                    <div class="logo mcol">
                      <div class="dhs_logo"></div>
                    </div>
                    <div class="logo-righttext mcol">
                      Maryland Department of Human Service office of Licensing and Monitoring
                      445, Mount Eden Road, Mount Eden, Auckland.
                    </div>
                  </div>

                  <div class="licensinginfo-body">
                    <div class="mrow location-details">
                      <table>
                        <tr>
                          <td style="width:20%;"><b>To:</b></td>
                          <td style="border-bottom:1px dotted #e9e9e9"><b>{ProviderName}</b></td>
                        </tr>
                        <tr>
                          <td><b>Located at:</b></td>
                          <td style="border-bottom:1px dotted #e9e9e9"><b>{BillingStreet}</b></td>
                        </tr>
                      </table>
                    </div>
                    <div class="mrow">
                      <p>This license is issued in accordance with Sec. 5-507, 5-508, 5-509, and
                        5-526, of the Family Law Article, Annotated Code of Maryland, and is subject
                        to the rules and regulations of the Department of Human Services. It shall
                        be in effect until cancelled unless revoked for due Office of Licensing and
                        Monitoring or its agent as provided in the Article.
                        The license will be required to submit to inspections.</p>
                    </div>
                    <div class="mrow lic-infohead mt-30">
                      <div class="mcol">
                        <h5>LICENSE INFORMATION</h5>
                      </div>
                      <div class="mcol text-right">
                        <!-- <h5>LICENSE NO: L-0050</h5> -->
                        <span class="fontweight"> LICENSE NO: </span>{LicenseNo}</div>
                    </div>
                    <div class="mrow lic-infodetails">
                      <div class="license_info bg_image">
                        <table>
                          <tr>
                            <td>Program</td>
                            <td><b>{ProgramName}</b></td>
                          </tr>
                          <tr>
                            <td>Program Type</td>
                            <td><b>{ProgramType}</b></td>
                          </tr>
                          <tr>
                            <td>Site Address</td>
                            <td><b>{SiteAddress}</b></td>
                          </tr>
                          <tr>
                            <td>Contact Name</td>
                            <td>{FirstName} {LastName}</td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td><b>{Gender}</b></td>
                          </tr>
                          <tr>
                            <td>Capacity</td>
                            <td>{Capacity}</td>
                          </tr>
                          <tr>
                            <td>Start Date</td>
                            <td><b>{StartDate}</b></td>
                          </tr>
                          <tr>
                            <td>End Date</td>
                            <td><b>{EndDate}</b></td>
                          </tr>
                          <tr>
                            <td>Age range</td>
                            <td><b>{MinAge} to {MaxAge}</b></td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>
                  <div class="licensinginfo-footer">
                    <div class="col text-right">
                      <span class="signbox">
                        <img src={signUrl} width="100" height="80" /> </span>
                      <p><b>Approved by: {CaseWorkerName}</b></p>
                      <p><b>{SumDate}</b></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>


    </template>
  </div>

</template>