.license_info table,
tr,
td {
  padding: 6px;
}
.license_info td:nth-child(1) {
 
  width: 130px;
}

.license_info {
  border: 2px solid rgba(250, 246, 246, 0.89);
  padding: 0px 5px;
}
.download_button {
  text-align: right;
  background-color: #f6f6f9;
}
.left-col {
  width: 70%;
}
.right-col {
  width: 30%;
  padding-right: 30px;
  font-size: 12px;
}
.padtop {
  padding-top: 5px;
}

.popupDisplayNone
{
  display: none;
}
.popupDisplayBlock
{
  display: block;
}
.popupVisibility
{
  visibility: hidden;
  
  
}