<template>
  <div class="template-screen">
  <div>
    <c-incident-reporting onhiddenothermodal={hiddenOtherModal} onshowothermodal={showOtherModal}></c-incident-reporting>
  </div>
  <template if:false={incident}>
    <div>
      <c-law-enforcement-reporting></c-law-enforcement-reporting>
    </div>
    <div>
      <c-foster-parent-reporting></c-foster-parent-reporting>
    </div>
  </template>
</div>
</template>
