.incident-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}

.incident,
.foster-parent,
.law-enforcement {
  width: 100%;
  height: 253px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
