<template>
    <template if:true={showTrainingDashBoard}>
        <c-public-provider-training-dashboard refresh-training-dashboard={refreshTrainingDashboard} ontogglecomponents={handleToggleComponents}>
        </c-public-provider-training-dashboard>
    </template>
    <template if:true={showTrainingViewSession}>
        <c-public-provider-view-training-session onredirttotrainingsession={redirectToTrainingDashboard}>
        </c-public-provider-view-training-session>
    </template>
    <template if:true={showAddNewTraining}>
        <c-public-provider-add-new-training ontogglecomponents={handleToggleComponents} load-training-modal={editOrViewTrainingModalActionType}>
        </c-public-provider-add-new-training>
    </template>
</template>