<template>
  <!-- <h2 class="sub-title">Application Id - Murugan</h2> -->
  <div class="slds-grid slds-wrap">
    <div class="genaral-info">
      <div class="pvr-cardinfo">
        <article class="slds-card">
          <div class="pvr-cardinfo-header">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                  <div class="pvrName-bg">
                    <!-- <img src={providernameicon} class="slds-p-right_x-small" />  -->
                    <h2 style="position: relative;
                            top: 26px;
                            left: 27px;">{nameDisplay}</h2>
                  </div>

                </div>
                <div class="slds-media__body">
                  <h2 class="slds-card__header-title">
                    Provider Name: {ProviderName}
                  </h2>
                  <h3>{ProviderFirstName} {ProviderLastName}</h3>
                </div>

              </header>
            </div>
            <ul class="m-list-inline-block">
              <li><img src={phone} class="slds-p-right_x-small" />{ProviderPhone}</li>
              <li><img src={mobile} class="slds-p-right_x-small" />{ProviderCellNumber}</li>
              <li><img src={fax} class="slds-p-right_x-small" />{ProviderFax}</li>
              <li><img src={email} class="slds-p-right_x-small" />{ProviderEmail}</li>
            </ul>
          </div>
          <div class="slds-card__body slds-card__body_inner">
            <div class="slds-grid slds-wrap">
              <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                <div class="slds-grid slds-wrap pvr-infodetails">

                  <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                    Corporation
                  </div>
                  <div
                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                    {Corporation}
                  </div>
                  <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                    Parent Corporation
                  </div>
                  <div
                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                    {ParentCorporation}
                  </div>
                  <div class=" slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                    Program
                  </div>
                  <div
                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                    <div class="wordBreak"> {Program}</div>
                  </div>
                  <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                    Program Type
                  </div>
                  <div
                    class="fw-500 slds-col--padded  slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_8-of-12">
                    <div class="wordBreak"> {ProgramType}</div>
                  </div>
                </div>
              </div>
              <div class=" slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_4-of-12">
                <div class="slds-grid slds-wrap pvr-infodetails">
                  <div class=" slds-col--padded  slds-size--1-of-2">
                    Tax ID
                  </div>
                  <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                    {TaxId}
                  </div>
                  <div class=" slds-col--padded  slds-size--1-of-2">
                    SON
                  </div>
                  <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                    {SON}
                  </div>
                  <div class=" slds-col--padded  slds-size--1-of-2">
                    RFP
                  </div>
                  <div class="fw-500 slds-col--padded  slds-size--1-of-2">
                    {RFP}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

    </div>
    <div class="address-info">
      <div class="address">
        <div class="address-site">
          <div class="address-header">
            <h2><img src={siteicon} class="slds-p-right_x-small" /> Site Address</h2>
          </div>
          <div class="address-lists">
            <template if:false={resultSiteError}>
              <template for:each={resultSite} for:item="site" for:index="index">
                <ul key={site.index} class="m-list-inline-block">
                  <li key={site.index}>{site.AddressLine1} {site.AddressLine2}</li>
                  <li key={site.index}> <img src={phone2} /> <span>{site.phone} </span></li>
                  <li key={site.index}><img src={email2} /> <span>{site.email}</span></li>

                </ul>
              </template>
            </template>
            <template if:true={resultSiteError}>
              <div class="m-list-inline-block">
                <p>No Site Address Added</p>
              </div>
            </template>


          </div>
        </div>
        <div class="address-site">
          <div class="address-header">
            <h2> <img src={mainaddress} class="slds-p-right_x-small" /> Main Address</h2>
          </div>
          <div class="address-lists">
            <template if:false={resultMainError}>
              <!-- <template if:false={resultMainProviderError}> -->
              <template for:each={resultMain} for:item="main" for:index="index">
                <ul key={main.index} class="m-list-inline-block">
                  <li key={main.index}> {main.AddressLine1} {main.AddressLine2}</li>
                  <!-- <li key={main.index}> {main.AddressLine1} {main.AddressLine2}</li> -->
                  <li key={main.index}><img src={phone2} /> <span>{main.phone}</span></li>
                  <li key={main.index}><img src={email2} /> <span>{main.email}</span></li>
                </ul>
              </template>
            </template>
            <template if:true={resultMainError}>
              <div class="m-list-inline-block">
                <p>No Main Address Added</p>
              </div>
            </template>

          </div>
        </div>
        <div class="address-site">
          <div class="address-header">
            <h2> <img src={paymentaddress} class="slds-p-right_x-small" /> Payment Address</h2>
          </div>
          <div class="address-lists">
            <template if:false={resultPaymentError}>
              <template for:each={resultPayment} for:item="payment" for:index="index">
                <ul key={payment.index} class="m-list-inline-block">
                  <li key={payment.index}> {payment.AddressLine1} {payment.AddressLine2}</li>
                  <li key={payment.index}><img src={phone2} /> <span>{payment.phone}</span></li>
                  <li key={payment.index}><img src={email2} /> <span>{payment.email}</span></li>
                </ul>
              </template>
            </template>
            <template if:true={resultPaymentError}>
              <div class="m-list-inline-block">
                <p>No Payment Address Added</p>
              </div>
            </template>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>


</template>