<template>
	
	<div class="slds-grid slds-wrap ref-summary">
		<div class="slds-col slds-size_1-of-1 slds-medium-size_2-of-4 slds-large-size_2-of-6">
			<lightning-combobox name="progress" value={ReviewStatus__c} options={statusOptions} onchange={statusOnChange} label="Select Status" required disabled={isStatusDisable}>
			</lightning-combobox>

			<lightning-textarea label="Comments" class="slds-p-top_small" value={Comments__c} onchange={commentsOnChange} disabled={isCommentsDisable}></lightning-textarea>
		</div>
	</div>
	
	<div class="slds-grid slds-wrap">
		<div class="slds-col slds-size_1-of-1 slds-p-around_small">
			<div class="btnSec pr-0">
				<lightning-button class="btn btn-sec" onclick={DraftMethod} label="SAVE AS DRAFT" disabled={isSaveAsDraftDisable} ></lightning-button>
				<lightning-button label="Submit" class="btn btn-pri slds-m-left_x-small " onclick={submitMethod} disabled={isBtnDisable}></lightning-button>
			</div>
		</div>
	</div>
</template>