<template>
  <div class="slds-clearfix slds-m-top--medium">
    <div class="slds-grid slds-wrap ">
      <div class="slds-col slds-large-size_1-of-2">
        <legend class="sec-title slds-m-top--medium">PROGRAM ADDRESS</legend>
      </div>
      <div class="slds-col slds-large-size_1-of-2">
        <div class="slds-float_right mb-10">
          <lightning-input maxlength="80" class="inputRequired4 mandateAddress1 pg-value" type="text"
            name="strStreetAddress" value={searchString} autocomplete="off" placeholder="Search for Program Address"
            variant="label-hidden" onchange={inputHandler} disabled={searchDisable}>
          </lightning-input>
          <div class={tabClass} style="position: relative;" role="listbox" if:true={showDropDownData}>
            <ul
              class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space popup-dropbox liAlign"
              role="presentation" style="width:400px;">
              <template for:each={searchedProgramAddressData} for:item="searchProgramAddress">
                <li key={searchProgramAddress.Id} class="slds-listbox__item">
                  <div data-id={searchProgramAddress.Id} id={searchProgramAddress.Id}
                    onclick={handleSearchProgramAddress}
                    class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                    <span class="slds-media__figure slds-listbox__option-icon"></span>
                    <span class="slds-media__body">
                      <span class="slds-truncate" title={searchProgramAddress.AddressLine1__c}>
                        {searchProgramAddress.AddressLine1__c}</span>
                    </span>
                  </div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <lightning-datatable resize-column-disabled class="custom-tbl" key-field="id" data={responseData}
      row-number-offset={rowOffset} columns={options} hide-checkbox-column onrowaction={handleRowAction}>
    </lightning-datatable>
  </div>

  <div if:false={responseDataLength} class="slds-align_absolute-center noRecords-icon">
    <p>No Program Address Available</p>
  </div>

  <!-- modal start -->
  <template if:true={editable}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
      aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
      <div class="slds-modal__container">
        <div class="popborder">
          <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate fontweight">
              Contact Details
            </h2>
            <button class="close-button" title="Close" onclick={handleCloseModal}></button>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <div class="slds-grid slds-wrap">
              <lightning-combobox name="AddressType" onchange={modalInputHandler} value={AddressType}
                label="Address Type" required disabled options={addressType}
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-combobox>
              <lightning-input value={AddressLine1} name="AddressLine1" onchange={modalInputHandler}
                label="Address Line 1" required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-input>


              <!--              google api drop down -->
              <template if:true={googleDropdown}>
                <div id="listbox-suggestions" class={tabClass} role="listbox" style="position: relative;
                top: 62px;
                left: -388px;">
                  <ul
                    class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space popup-dropbox liAlign"
                    role="presentation" style="width:300px;">
                    <template for:each={dataFromGoogleAPI.predictions} for:item="item">
                      <li key={item.id} role="presentation" class="slds-listbox__item">
                        <div data-id={item.place_id} data-description={item.description}
                          class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                          role="option" onclick={handleSelectedAddress}>
                          {item.description}
                        </div>
                      </li>
                    </template>
                  </ul>
                </div>
              </template>
              <!--              google api drop down -->


              <lightning-input value={AddressLine2} name="AddressLine2" onchange={modalInputHandler}
                label="Address Line 2"
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-input>
              <lightning-combobox value={State} name="State" onchange={modalInputHandler} label="State"
                options={stateData} required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-combobox>
              <lightning-input value={City} name="City" onchange={modalInputHandler} label="City" required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-input>
              <lightning-input value={Zipcode} name="Zipcode" onchange={modalInputHandler} label="Zip Code" required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-input>
              <lightning-combobox value={County} name="County" onchange={modalInputHandler} label="County"
                options={county} required
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-combobox>
              <lightning-input value={Email} name="Email" onchange={modalInputHandler} label="Email"
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-input>
              <lightning-input value={PhoneNumber} name="PhoneNumber" onchange={modalInputHandler} label="Phone Number"
                maxlength="14"
                class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-x_large-size_1-of-2">
              </lightning-input>
            </div>
          </div>

          <footer class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" onclick={saveModalFormData}>
              Done
            </button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <!-- <p>{individualProgramAdddressRecord.AddressType__c}</p> -->

  <!-- modal end -->

  <template if:true={deleteModalPopup}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
      aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open delete-popup">
      <div class="slds-modal__container" style="width: 35%;">
        <div class="popborder">
          <header class="slds-modal__header">
            <button class="close-button" title="Close" onclick={closeDeleteModalHandler}></button>
          </header>
          <!-- modal body start -->
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
            <div class="slds-align_absolute-center delete-icon">
              <p>Are you sure you want to delete?</p>
            </div>
          </div>
          <!-- modal footer start-->
          <footer class="slds-modal__footer slds-align_absolute-center">
            <button class="slds-button slds-button_text-destructive" onclick={deleteRowHandler}>
              <lightning-spinner if:true={deleteLoader} size="small"></lightning-spinner>
              Yes
            </button>
            <button class="slds-button slds-button_outline-brand" onclick={closeDeleteModalHandler}>
              No
            </button>
          </footer>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>