<!--
  Copyright (c) 2019, salesforce.com, inc.
  All rights reserved.
  SPDX-License-Identifier: MIT
  For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/MIT
 -->

<template>
    <label class={computedLabelClass}>
        <template if:true={required}>
            <abbr class="slds-required" title={i18n.required}>*</abbr>
        </template>
        {label}
    </label>
    <lightning-helptext
        if:true={_fieldLevelHelp}
        content={_fieldLevelHelp}
    ></lightning-helptext>

    <div class="slds-form-element__control">
        <c-base-combobox
            name={name}
            required={required}
            disabled={disabled}
            placeholder={placeholder}
            items={_items}
            input-text={_selectedLabel}
            input-status={_selectedStatusLabel}
            input-icon-size="xx-small"
            input-icon-name="utility:down"
            show-dropdown-activity-indicator={spinnerActive}
            dropdown-alignment={dropdownAlignment}
            ondropdownopen={handleDropdownOpen}
            onfocus={handleFocus}
            onblur={handleBlur}
            onready={handleComboboxReady}
            onselect={handleSelect}
        ></c-base-combobox>
    </div>
    <template if:true={_helpMessage}>
        <div
            id="help-text"
            data-help-text
            class="slds-form-element__help"
            aria-live="assertive"
        >
            {_helpMessage}
        </div>
    </template>
</template>