.shadowPending {
  /* box-shadow: 0 0 6px -2px #f88808; */
  border: 1px solid #f88808;
  border-radius: 4px;
  top: -1px;
  left: -1px;
  position: absolute;
  width: 100%;
  height: 85px;
}

.shadowApproved {
  /* box-shadow: 0 0 6px -2px #29f143; */
  border: 1px solid #29f143;
  border-radius: 4px;
  top: -1px;
  left: -1px;
  position: absolute;
  width: 100%;
  height: 85px;
}

.shadowRejected {
  /* box-shadow: 0 0 6px -2px #fe6969; */
  border: 1px solid #fe6969;
  border-radius: 4px;
  top: -1px;
  left: -1px;
  position: absolute;
  width: 100%;
  height: 85px;
}

.shadowTotal {
  /* box-shadow: 0 0 6px -2px #4e8bf6; */
  border: 1px solid #4e8bf6;
  border-radius: 4px;
  top: -1px;
  left: -1px;
  position: absolute;
  width: 100%;
  height: 85px;
}

.referral-box a .slds-card {
  transition: transform 0.3s;
}

.referral-box a .slds-card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  content: "";
  opacity: 0;
  z-index: -1;
}

.referral-box a .slds-card:hover {
  transform: scale3d(1.006, 1.006, 1);
}

.referral-box a .slds-card::after {
  opacity: 1;
}