<template>
  <h2 class="sub-title">MY REFERRALS</h2>
  <div class="slds-grid slds-wrap ref-summary">
    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 referral-box Padleftnone">
      <a onclick={pendingRecords} class="slds-card__header-link slds-truncate ">
        <div class="slds-card pending">
          <div class="slds-card__header slds-grid shadow shadowPending">
            <div class="slds-grid slds-gutters">
              <div class="slds-col ">
                <p class="title">Pending</p>
                <p class="value">{pendingcasescountval}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 referral-box">
      <a onclick={approvedRecords} class="slds-card__header-link slds-truncate">
        <div class="slds-card approved">
          <div class="slds-card__header slds-grid shadow">
            <div class="slds-grid slds-gutters">
              <div class="slds-col">
                <p class="title">Approved</p>
                <p class="value">{approvedcountval}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 referral-box">
      <a onclick={rejectedRecords} class="slds-card__header-link slds-truncate">
        <div class="slds-card rejected">
          <div class="slds-card__header slds-grid shadow">
            <div class="slds-grid slds-gutters">
              <div class="slds-col ">
                <p class="title">Rejected</p>
                <p class="value">{Rejectedcasescountval}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-large-size_1-of-6 referral-box">
      <a onclick={totalRecords} class="slds-card__header-link slds-truncate">
        <div class="slds-card total">
          <div class="slds-card__header slds-grid shadow">
            <div class="slds-grid slds-gutters">
              <div class="slds-col ">
                <p class="title">Total Applications</p>
                <p class="value">{totalcountval}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>