<template>
  <div class="application-table">
    <div class="public-homeInformation">
      <div class="sec-topSlider">
        <div class="icon-home-information">
          Home Information
        </div>
        <div class="slider1">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="slider-id-01">
              <span class="slds-slider-label">
                Vacancy
                <abbr title="required" class="slds-required">*</abbr>
              </span>
            </label>
            <div class="slds-form-element__control heightSlider">
              <div class="slds-slider slds-size_large vacancy">
                <iframe src={vacancySlider} style="border:none;width:100%;"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-grid slds-wrap">
        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-2">
          <div class="slds-grid slds-wrap">
            <!--<div
              class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 mb-10">
              <div class="slds-slider slds-size_xx-medium inline-block wid50 lsmin">
                <span class="minAge">Min Age</span>
                <lightning-slider class="agemin-Slider" name="MinAge__c" min="0" max="80" required disabled={isDisabled}
                  value={placementInformation.MinAge__c} onchange={handleChange}></lightning-slider>
              </div>
              <div class="slds-slider  slds-size_xx-medium inline-block wid50 txtRight ls">
                <span class="maxAge">Max Age</span>
                <lightning-slider class="agemax-Slider" name="MaxAge__c" min={placementInformation.MinAge__c} max="80"
                  disabled={isDisabled} required value={placementInformation.MaxAge__c} onchange={handleChange}>
                </lightning-slider>
              </div>
            </div>-->
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-1 slds-large-size_1-of-1 mb-10">
              <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1">
                  <label><span class="age-labeltext-min"> <span style=color:#ca6c6c> *</span>Min Age</span>
                    <span class="age-labeltext-max"><span style=color:#ca6c6c> *</span>Max Age</span></label>
                  <iframe src={sliderAgeURL} style="border:none;height:36px; width:100%"></iframe>
                </div>
              </div>
            </div>
            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
              <lightning-input disabled name="Program__c" value={Program__c} label="Program">
              </lightning-input>
            </div>
            <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2">
              <lightning-input disabled name="ProgramType__c" value={ProgramType__c} label="Program Type">
              </lightning-input>
            </div>
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2 mt-10">
              <lightning-combobox name="Gender__c" value={placementInformation.Gender__c}
                class="inputRequired mandateProgram" label="Gender" disabled={isDisabled} placeholder="Select Gender"
                required options={GenderOptions} onchange={handleChange}>
              </lightning-combobox>
            </div>
            <div class="slds-col--padded  slds-size_1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-2 mt-10">
              <lightning-combobox name="Race__c" value={placementInformation.Race__c}
                class="inputRequired mandateProgram" label="Race" placeholder="Select Race" disabled={isDisabled}
                required options={RaceOptions} onchange={handleChange}>
              </lightning-combobox>
            </div>
            <div
              class="fieldsetnone slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 mt-20">
              <div class="monitorRadioGroup">
                <lightning-radio-group name="RespiteServices__c" class="radio-horizontal"
                  label="Is this person interested to offer respite services?" required options={radioOptions}
                  value={placementInformation.RespiteServices__c} type="button" onchange={handleChange}
                  disabled={isDisabled}>
                </lightning-radio-group>
              </div>
            </div>
            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-20">
              <lightning-input type="date" name="LicenseStartdate__c" required placeholder="Select Date" autocomplete="off" onchange={handleChange}
                value={placementInformation.LicenseStartdate__c} label="Start Date" disabled={isDisabled}>
              </lightning-input>
            </div>
            <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-4 mt-20">
              <lightning-input type="date" name="LicenseEnddate__c" required placeholder="Select Date" autocomplete="off" onchange={handleChange}
                value={placementInformation.LicenseEnddate__c} label="End Date" disabled={isDisabled}>
              </lightning-input>
            </div>
          </div>
        </div>
        <div class="slds-col--padded slds-size_1-of-1 slds-medium-size--1-of-3 slds-large-size_1-of-2">
          <div class="slds-col slds-large-size_1-of-1 mt-10">
            <fieldset class="fieldset-border">
              <legend class="fw-500 ml-10">PAYMENT ADDRESS
                <label class="requiredField">*</label>
              </legend>
              <div class="slds-grid slds-wrap">
                <div
                  class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                  <lightning-input type="text" label="Address Line 1" maxlength="80"
                    class="inputRequired4 mandateAddress1" name="strStreetAddress" id="AddressLineOne"
                    value={addressDetails.AddressLine1__c} onchange={getStreetAddress} disabled={isDisabled}
                    placeholder="Enter Address" required>
                  </lightning-input>
                  <div style="position: relative; top:0">
                    <div if:true={strStreetAddresPredictionLength} id="listbox-suggestions" class={tabClass}
                      style="width:338px; left:170px;" role="listbox">
                      <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                        role="presentation">
                        <template for:each={strStreetAddresPrediction.predictions} for:item="item">
                          <li key={item.id} role="presentation" class="slds-listbox__item">
                            <div data-id={item.place_id} data-description={item.description}
                              class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                              role="option" onclick={selectStreetAddress}>
                              {item.description}
                            </div>
                          </li>
                        </template>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                  <lightning-input type="text" label="Address 2" maxlength="80" value={addressDetails.AddressLine2__c}
                    name="ShippingStreet" placeholder="Enter Address" disabled={isDisabled} onchange={addressOnChange}>
                  </lightning-input>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div
                  class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                  <lightning-input name="City" label="City" id="City" placeholder="Enter City" class="dummyCity"
                    onchange={addressOnChange} value={addressDetails.City__c} required disabled={isDisabled}>
                  </lightning-input>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                  <lightning-input label="State" name="State" class="dummyState" placeholder="Enter State"
                    aria-autocomplete="false" value={addressDetails.State__c} onchange={stateOnChange} required
                    disabled={isDisabled}>
                  </lightning-input>
                  <div if:true={showStateBox} id="listbox-id-16" class="slds-dropdown_length-with-icon-7 popup-dropbox"
                    style="width:305px;" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                      role="presentation">
                      <template for:each={filteredStateArr} for:item="item">
                        <li key={item.id} role="presentation" class="slds-listbox__item">
                          <div data-id={item.Id} data-value={item.Value}
                            class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                            role="option" onclick={setSelectedState}>
                            {item.Value}
                          </div>
                        </li>
                      </template>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div
                  class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd mt-5">
                  <lightning-input label="County" name="County" class="dummyCounty" placeholder="Enter County"
                    aria-autocomplete="false" value={addressDetails.County__c} onchange={countyOnChange} required
                    disabled={isDisabled}>
                  </lightning-input>
                  <div if:true={showCountyBox} id="listbox-id-17" class="popup-dropbox slds-dropdown_length-with-icon-7"
                    style="width: 305px;" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical slds-has-dividers_bottom slds-has-block-links_space"
                      role="presentation">
                      <template for:each={filteredCountyArr} for:item="item">
                        <li key={item.label} role="presentation" class="slds-listbox__item">
                          <div data-id={item.label} data-value={item.value}
                            class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                            role="option" onclick={setSelectedCounty}>
                            {item.value}
                          </div>
                        </li>
                      </template>
                    </ul>
                  </div>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 mt-5">
                  <lightning-input type="text" label="Zipcode" name="ZipCode" id="ZipCode" placeholder="Enter Zip Code"
                    class="dummyZipCode" maxlength="5" onchange={addressOnChange} value={addressDetails.ZipCode__c}
                    disabled={isDisabled} required></lightning-input>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div
                  class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2 startFrmEnd">
                  <lightning-input type="email" class="email" name="Email__c" disabled={isDisabled}
                    onchange={handleChange} value={addressDetails.Email__c} placeholder="Enter Email" label="Email" required></lightning-input>
                </div>
                <div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                  <lightning-input type="text" label="Phone Number" name="Phone__c" disabled={isDisabled}
                    value={addressDetails.Phone__c} max-length=14 required placeholder="Enter Phone" onchange={handlePhoneChange}>
                  </lightning-input>
                </div>
              </div>

            </fieldset>
          </div>
        </div>
      </div>

    
    </div>
    <footer class="slds-modal__footer">
      <div class="slds-grid slds-wrap padtop10">
        <div class="slds-col bottomAlign slds-col--padded">
          <div class="slds-clearfix">
            <div class="slds-float_right btnSec">
              <lightning-button label="Cancel" onclick={onHandleClear} class="btn-sec mr-10">
              </lightning-button>
              <lightning-button label={btnLabel} disabled={isDisabled} onclick={handleSave} class="btn-pri">
              </lightning-button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
    <c-common-loading-spinner></c-common-loading-spinner>
  </div>
</template>