.public-homeInformation {
    background-color: #fff;
    padding-top: 1px;
    height: calc(100vh - 227px);
    overflow-y: auto;
  }
  .sec-topSlider {
    margin: 10px auto;
    padding: 10px 30px 0px 20px;
    max-width: 45%;
  }
  .sec-topSlider .slds-size_large {
    width: auto;
  }


.fieldset-border {
    height: fit-content;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    opacity: 1;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .ml-10{ margin-left:10px;}
  .mb-10{ margin-bottom: 10px;}
  .wid50{width: 50%;}
  .txtRight{ text-align: right;}
  .heightSlider{ height: 100px;}
  .minAge{ position: relative; top:-6px;}
  .maxAge{ position: relative; top:6px;}