<template>
  <h2 class='sub-title'><a onclick={RedirecttoContractDashboard}>Contract</a> &gt; {contractLabel}</h2>
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-col--padded slds-size_1-of-1">
      <div class="contract-screen">
        <c-providers-contract-add-license-header onprogressvaluechange={hanldeProgressValueChange}>
        </c-providers-contract-add-license-header>


        <div class="slds-grid slds-wrap decision_fieldset">
          <div class="slds-col slds-large-size_1-of-1 slds-p-around_small">
            <fieldset>
              <legend class="sec-title">
                CONTRACT INFORMATION
              </legend>

              <div class="slds-grid slds-wrap">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input type="Date" label="Entry Date" onchange={handleChange} autocomplete="off"
                    name="EntryDate" value={addoreditContract.CreatedDate} disabled></lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input type="Date" label="Received Date" onchange={handleChange} autocomplete="off"
                    name="ReceivedDate__c" max={maxdate} value={addoreditContract.ReceivedDate__c} disabled={isDisabledEdit}>
                  </lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input name="Name" value={addoreditContract.Name} label="Contract Number"
                    onchange={handleChange} disabled>
                  </lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input name="LicensingAgency__c" value={addoreditContract.LicensingAgency__c}
                    label="Licensing Agency" onchange={handleChange} disabled>
                  </lightning-input>
                </div>

              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input name="ContractingAgency__c" value={addoreditContract.ContractingAgency__c}
                    label="Contracting Agency" onchange={handleChange} disabled>
                  </lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-combobox name="SolicitationType__c" placeholder="Select Type" value={addoreditContract.SolicitationType__c}
                    label="Solicitation Type" options={SolicitationTypeOptions} disabled={isDisabledEdit}
                    onchange={handleChange} required>
                  </lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input name="ContractStatus__c" value={addoreditContract.ContractStatus__c}
                    label="Contract Status" options={ContractStatusOptions} disabled
                    onchange={handleChange}>
                  </lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-combobox name="ContractType__c" value={addoreditContract.ContractType__c}
                    label="Contract Type" placeholder="Select Type" options={ContractTypeOptions} disabled={isDisabledEdit}
                    onchange={handleChange} required>
                  </lightning-combobox>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <div class="tooltipParentRelative">
                    <div class="tooltipchildPostiton">
                      <lightning-helptext content={bedCapacityHint}></lightning-helptext>
                    </div>
                  </div>
                  <lightning-input name="TotalContractBed__c" type="number" label="Total Contract Beds" onchange={handleChange}
                    value={addoreditContract.TotalContractBed__c} disabled={isDisabledEdit} required></lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-combobox name="ContractTermType__c" value={addoreditContract.ContractTermType__c}
                    label="Contract Term Type" placeholder="Select Type" options={ContractTermTypeOptions} disabled={isDisabledEdit}
                    onchange={handleChange}>
                  </lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input type="Date" label="Contract Start Date" onchange={handleChange} autocomplete="off"
                    name="ContractStartDate__c" value={addoreditContract.ContractStartDate__c} min={mindatecontract}
                    max={maxdatecontract} disabled={isDisabledEdit} required>
                  </lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input type="Date" label="Contract End Date" onchange={handleChange} autocomplete="off"
                    name="ContractEndDate__c" value={addoreditContract.ContractEndDate__c} min={mindatecontract}
                    max={maxdatecontract} disabled={isDisabledEdit} required></lightning-input>
                </div>
              </div>
              <div class="slds-grid slds-wrap mt-10">
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-input name="TotalContractAmount__c" value={addoreditContract.TotalContractAmount__c}
                    label="$ Total Contract Amount" type="number" onchange={handleChange} required disabled={isDisabledEdit}>
                  </lightning-input>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-combobox name="BudgetCodeType__c" value={addoreditContract.BudgetCodeType__c}
                    label="Budget Code Type" placeholder="Select Type" options={BudgetCodeTypeOptions} onchange={handleChange}
                    disabled={isDisabledEdit}>
                  </lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-combobox name="BudgetCode__c" value={addoreditContract.BudgetCode__c} label="Budget Code"
                    options={BudgetCodeOptions}  placeholder="Select Budget Code" onchange={handleChange} disabled={isDisabledEdit}>
                  </lightning-combobox>
                </div>
                <div
                  class="slds-col--padded slds-p-left_none slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size_1-of-4">
                  <lightning-textarea name="Notes__c" label="Notes" value={addoreditContract.Notes__c}
                    onchange={handleChange} class="textArea-height" disabled={isDisabledEdit}>
                  </lightning-textarea>
                </div>
              </div>
            </fieldset>
          </div>
        </div>




        <template if:true={baseListShow}>
          <div class="slds-grid slds-wrap mt-10">

          </div>
          <div class="slds-grid slds-wrap mt-10">
            <div class="slds-col slds-size_1-of-1">
              <div class="static-table">
                <table>
                  <thead>
                    <tr>
                      <th>Fiscal Year</th>
                      <th>From</th>
                      <th>To</th>
                      <th>$ Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="slds-hint-parent" for:each={fiscalYearArray} for:item="fiscalrecords"
                      key={fiscalrecords}>
                      <td>
                        <div class="postopMinus20">
                          <lightning-input name="fiscalYear" value={fiscalrecords.fiscalYear} onchange={handleChange}
                            disabled>
                          </lightning-input>
                        </div>
                      </td>
                      <td>
                        <div class="postopMinus20">
                          <lightning-input type="Date" onchange={handleChange} autocomplete="off" name="fiscalStartDate"
                            value={fiscalrecords.fiscalStartDate} disabled></lightning-input>
                        </div>
                      </td>
                      <td>
                        <div class="postopMinus20">
                          <lightning-input type="Date" onchange={handleChange} autocomplete="off" name="fiscalEndDate"
                            value={fiscalrecords.fiscalEndDate} disabled></lightning-input>
                        </div>
                      </td>
                      <td>
                        <div class="postopMinus20">
                          <lightning-input onchange={handleChange} autocomplete="off" name="fiscalAmount"
                            value={fiscalrecords.fiscalAmount} class="fiscalamountclass" disabled={isDisabledEdit}>
                          </lightning-input>
                        </div>
                      </td>

                    </tr>
                    <tr>
                      <td colspan="4" class="height15"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </template>
        <div class="slds-clearfix">
          <!-- <div class="slds-col--padded">
            <div class="slds-float_right btn btn-pri">
              <lightning-button label="Submit" variant="neutral" onclick={saveMethod} disabled={isDisabledEdit}>
              </lightning-button>
            </div>
          </div> -->
          <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1 slds-p-around_small">
              <div class="btnSec pr-0">
                <lightning-button class="btn btn-sec" onclick={RedirecttoContractDashboard} label="Cancel" disabled={isDisabledEdit}></lightning-button>
                <lightning-button label="Submit" class="btn btn-pri slds-m-left_x-small " onclick={saveMethod} disabled={isDisabledEdit}></lightning-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>