.contract-screen{ background: #fff; height: calc(100vh - 170px); overflow-y: auto;
    border: #eaeaea 1px solid; border-radius: 6px;box-shadow: 0px 0px 5px #d8d8d891;
     position: fixed; width:calc(100vw - 20px); margin-top:0px;  }

     .tooltipParentRelative{position: relative;}
     .tooltipchildPostiton{position: absolute; top:4px;right:0;}
     .static-table table, td, th {  
          text-align: left;
      }
      
      .static-table table {
        border-collapse: collapse;
        width: 100%;
        border-bottom:1px solid #E8E8E8;
        background:#F8F8FABD ;
        margin-bottom: 10px;
      }
      
      .static-table  th,   .static-table td {
        padding: 10px; 
      }
      .height15{ height:15px;}
      .static-table th{ border-top:1px solid #E8E8E8;  }
      .static-table td{ font-weight: 500;  color:#22273E;}
      .postopMinus20{ position: relative; margin-top:-20px;}