.pullRight {
    float: right;
    padding-right:10px;
  }
  
  .rightMargin {
    padding-right: 15px;
  }
  
  .alignCenter {
    text-align: center;
  }
  
  .newRecordPop {
    width: 100%;
    height: calc(100vh - 241px);
      overflow: auto;
  }
  
  .newRecordPop th {
    height: 45px;
    background-color: #f8f8f8;
    padding:10px;
  }
  
  .newRecordPop td {
    padding:5px 10px;
  }
  
  
  table {
    border-collapse: collapse;
    margin-left: 10px;
  }
  
  table th:nth-child(1) {
    width: 35%;
  }
  table th:nth-child(2) {
    width: 45%;
  }
  table th:nth-child(3) {
    width: 20%;
  }
  
  table tbody tr {
    border: 1px solid #f8f8f8;
  }
  table tbody tr:first-child td {
    border-top: 0;
  }
  table tbody tr:last-child td {
    border-bottom: 0;
  }
  table tbody tr td:first-child {
    border-left: 0;
  }
  table tbody tr td:last-child {
    border-right: 0;
  }

  .displayNone{
    display: none;
  }

  .displayContent{
    display: contents;
  }

  .bottomAlign{
    position: fixed;
    bottom: 15px;
    float: right;
    width: 97%;
  }

.staff_heightOverflow{ max-height:calc(100vh - 265px); overflow-y:auto;}
.noinspectionRecords{ position: absolute; width:100%; z-index: 300;}
.mcr_left{ float: left;}
.mcr_right{ float:right;  position: relative; z-index: 500;}
.HeightTable{ margin-top: 10px; height: calc(100% - 123px) !important;}