<template>
    <template if:true={showPublicApplicationDashboard}>
        <c-public-application-dashboard onredirecttopubapptabinfo={redirectToPubAppTabs}
            onredircttoprivateapptabinfo={handlePrivateAppTabInfo}>
        </c-public-application-dashboard>
    </template>
    <template if:true={hideHeaderButton}>
        <c-public-application-all-header-buttons onredirecttoserviceinfo={redirectToServiceInfo}
            onredirecttosessioninfo={redirectToSessionInfo} onredirecttopetinfo={redirectToPetInfo}
            onredirecttoaddref={redirectToAddRefPop} show-ref-checks={showReferenceAddBtn}
            onredirecttostudyvisit={redirecttoStudyVisit} show-pet-details={showPetDetails}
            show-add-home-study={showAddHomeStudy} show-assign-training={showAssignTraining}
            show-add-service={showAddService} onredirecttopubappdashboard={redirectToDashboard}>
        </c-public-application-all-header-buttons>
    </template>    
    <template if:true={showPublicApplicationTabs}>
        <div>
            <div class="slds-tabs_default">
                <ul class="slds-tabs_default__nav" role="tablist">
                    <li title="Previous" role="presentation" if:true={PreviousIcon}>
                        <a class="slds-tabs_default__link" onclick={handlePreviousTabs} name="tab13">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8656;</a>
                    </li>

                    <template for:each={LightningTabItems} for:item="LightningTabItem">
                <li class="slds-tabs_default__item slds-showd"  title={LightningTabItem.title} role="presentation" data-id={LightningTabItem.name} key={LightningTabItem.name}>
                    <a class="slds-tabs_default__link" onclick={handleTabs} name={LightningTabItem.name}>{LightningTabItem.value}</a>
                </li>
            </template>
                <li title="Next" role="presentation" if:true={NextIcon}>
                    <a class="slds-tabs_default__link" onclick={handleNextTabs}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8680;</a>
                </li>
                
                </ul>
                <div id="tab1" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-basic-info></c-public-application-basic-info></div>
                <div id="tab2" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-home-info></c-public-application-home-info></div>
                <div id="tab3" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-provider-house-hold-members-home
                    onredirecttoaddhouseholdmembersearch={handleAddMemberSearch}
                    onredirecttoaddhouseholdmembers={handleAddMember} onviewofhouseholdmembers={handleAddMemberView}
                    ondatacardhhmembertrue={handleMeeting}>
                </c-public-provider-house-hold-members-home></div>
                <div id="tab4" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-background-checks> </c-public-application-background-checks></div>
                <div id="tab5" class="slds-tabs_default__content slds-hide" role="tabpanel"> <c-public-application-services ontogglecomponents={handleToggleComponentsForService}
                    open-service-modal={openServiceInfoModal}>
                </c-public-application-services></div>
                <div id="tab6" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-household-checklist></c-public-application-household-checklist></div>
                <div id="tab7" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-household-member-checklist></c-public-application-household-member-checklist></div>
                <div id="tab8" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-home-study-visit ontogglecomponents={handleToggleComponentsForHomeVisit}
                    open-study-model={homeVisitModal} onhomestudycompletedflag={handleHomeStudyCompletedFlag}>
                </c-public-application-home-study-visit></div>
                <div id="tab9" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-contactnotes></c-public-application-contactnotes></div>
                <div id="tab10" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-narrative></c-public-application-narrative></div>
                <div id="tab11" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-documents></c-public-application-documents></div>
                <div id="tab12" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-reference-checks reference-det-pop={showPop}
                    onredirecttoaddrefoff={redirectAddOff} oncomarregulationans={handleComarRegulations} onreferencecheckflag={handleReferenceCheckFlag}>
                </c-public-application-reference-checks></div>
                <div id="tab13" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-pet-info ontogglecomponents={handleToggleComponents}
                    open-pet-modal={openPetInfoModal}>
                </c-public-application-pet-info></div>
                <div id="tab14" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-service-training onsessionhoursflag={handleSessionFlag}
                    onhidebtn={handleSupervisorButton} ontogglecomponents={handleToggleSessionComponents}
                    open-session-modal={openSessionModal} onpridesessionnotfound={handlePrideFlag}>
                </c-public-application-service-training></div>
                <div id="tab15" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-placement></c-public-application-placement></div>
                <div id="tab16" class="slds-tabs_default__content slds-hide" role="tabpanel"><c-public-application-decision home-study-completed-flag={homeStudyCompletedFlag} session-hours-flag={sessionHoursFlag} pride-session-not-found={prideSessionNotFound} reference-check-flag={referenceCheckFlag}></c-public-application-decision></div>
            </div>
        </div>

    </template>
    <template if:true={showPublicProviderAddmember}>
        <c-public-provider-add-house-hold-members onredirttoholdmembersdashboard={redirectToHousHoldDashboard}
            onredirecttoholdmembersearch={handleAddMemberSearchFromAddHouse} search-holder-show={searchHolder}
            is-disabled={isView}></c-public-provider-add-house-hold-members>
    </template>
    <template if:true={showPublicProviderAddmemberSearch}>
        <c-public-provider-search-house-hold-members onredirecttoaddhouseholdmemberhome={handleAddMemberHome}
            onredirecttoaddhouseholdaddmember={redirectHandleAddMember} show-result={showResult}
            search-house-hold-members-lists-from-add-member={showListParent}>
        </c-public-provider-search-house-hold-members>
    </template>
    <template if:true={showPrivateApplicationTabs}>
        <c-applications-all-tab-cmbs show-dashboard=true show-application-tab-set=true></c-applications-all-tab-cmbs>
    </template>
</template>