.public-bg{  background:#fff; box-shadow: 0 1px 5px #45414E1A; padding: 10px; padding-bottom: 15px; }
.public-bg-table{  padding:10px; } 

.unicode-rightarr{ padding:0px 15px;}

.pplabel {
    color: #5F6B7A;
    padding-bottom: 4px;
    font-weight: 500;
    padding-top: 6px;
}