<template>
  <h2 class="sub-title"><a href="#" onclick={PageRedirecttoDashBoard}>REFERRAL</a> <span
      class="unicode-rightarr">&#62;</span> NEW PUBLIC PROVIDER</h2>
  <div class="public-bg">
    <div class="slds-grid slds-wrap">
      <div
        class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5 disable-bdrless">
        <!-- <lightning-input type="text" label="Refferal Number" value={CaseNumber} readonly="True" disabled="True" ></lightning-input> -->
        <p class="pplabel">Referral Number</p>
        <div class="label-disable">{CaseNumber}</div>
      </div>

      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
        <p class="pplabel">Created Date &amp; Time</p>
        <lightning-formatted-date-time year="numeric" month="short" day="2-digit" hour="2-digit" class="label-disable"
          minute="2-digit" hour12="true" value={CreatedDate}>
        </lightning-formatted-date-time>
      </div>

      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
        <lightning-combobox options={PublicProviderHeaderCommunication} value={Origin}
          placeholder="Select Communication" disabled={statusWisePageFreeze} onchange={communicationchange}
          label="Communication" required="True">
        </lightning-combobox>
      </div>
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
        <lightning-input type="date" value={today} max={maxdate} onchange={ReceivedDatechange}
          disabled={statusWisePageFreeze} label="Date of First Contact" required="True"></lightning-input>
      </div>
      <div class="slds-col slds-col--padded slds-size_1-of-1 slds-medium-size_1-of-3 slds-large-size_1-of-5">
        <lightning-combobox options={PublicProviderHeaderJurisdiction} value={Jurisdiction}
          placeholder="Select Jurisdiction" disabled={statusWisePageFreeze} onchange={jurisdictionchange}
          label="Jurisdiction" required="True">
        </lightning-combobox>
      </div>
    </div>
  </div>
</template>