<template>
    <div class="referal-headbottom">
        <div class="slds-clearfix">
            <div class="slds-float_left">
                <h2 class="mt-10 fontbold">INCIDENT REPORT</h2>
            </div>
            <div class="slds-float_right">
                <template if:false={showCaseWorkerCardDatas}>
                    <div class="dashboard-btn">
                        <lightning-button label="Add New Incident Report" class="btn btn-pri slds-m-left--small mr-10"
                            variant="brand" onclick={redirectionNewIncident} style="display: inline-block;">
                        </lightning-button>
                    </div>


                </template>

                <div class="dashboard-search">
                    <lightning-input type="search" onchange={handleChange} class="input-search" label=""
                        placeholder="Search by Incident ID" value={searchKey} variant="label-hidden">
                    </lightning-input>
                </div>
            </div>
        </div>
    </div>

    <template if:true={showSystemAdminDatas}>
        <c-common-dashboard columns={columns} hide-private-public=true table-records={totalRecords}
            total-records-count={totalRecords.length} oncardvaluechange={handleDataTableDatas}
            onredirecttonextpage={handleRedirection} active-page={providerType}>
        </c-common-dashboard>

    </template>
   
    <template if:true={showCaseWorkerCardDatas}>
        <c-common-dashboard columns={privateColumns} hide-private-public=true casework-flow=true by-types={cardDatas}
            by-classes={cardClasses} table-records={totalRecords} total-records-count={totalRecords.length}
            oncardvaluechange={handleDataTableDatas} onredirecttonextpage={handleRedirection}
            active-page={providerType}>
        </c-common-dashboard>
        
    </template>

    <div if:true={Spinner} class="slds-spinner_inline spinner-padding">
        <c-common-loading-spinner></c-common-loading-spinner>
      </div>

</template>