<template >
	<template if:true={btnShowHide}>
	<div class="slds-float_right">
        <lightning-button variant="brand" label="ADD NEW NARRATIVE"  onclick={openNarrativeModel}
            class="btn btn-pri btn-topright" style="top:1px;">
        </lightning-button>
	</div>
</template>
	<div class="left-narrative-column">
		<div class="left-col-history">
			<template if:true={visibleHistoryData}>
				<nav class="slds-nav-vertical slds-nav-vertical_compact">
					<div class="slds-nav-vertical__section">
						<ul>
							<template for:each={data} for:item="history">
								<li key={history.Id} class="slds-nav-vertical__item divHighLight"
									onclick={narrativeHistoryOnClick} data-id={history.Id}
									data-value={history.dataIndex}>
									<div class="shadow">
										<div class="author-cls author-activeIcon">{history.author}
										</div>
										<div class="time-cls time-activeIcon">											
											<lightning-formatted-date-time year="numeric" month="numeric" day="numeric" hour="2-digit" 
											minute="2-digit" hour12="true" value={history.lastModifiedDate} >
										  </lightning-formatted-date-time>
										</div>
									</div>
								</li>
							</template>
						</ul>
					</div>
				</nav>
			</template>
			<template if:false={visibleHistoryData}>
				<div class="slds-nav-vertical__section narrative-left-main">
					<div class="text-center file-upload slds-p-vertical--xx-large mtop">
						<img class="icon-attachment" src={attachmentIcon} style="width:89px;" />
						<p class="font-bold padtop10">No Narrative History Found</p>
					</div>
				</div>
			</template>
		</div>
	</div>
	<template if:true={openNarrative}>
		<div class="right-narrative-column">
				<div class="slds-col">
					<div class="slds-p-around_x-small">											
							<lightning-input-rich-text label="Narrative" value={narrativeValue} class="narrativeTextArea"
								onchange={narrativeOnChange} disabled={richTextDisable}>
							</lightning-input-rich-text>
							<div class="slds-float_right">
								<div class="speechIcon">
									<c-common-speech-to-text onspeechtotext={handleSpeechToText}></c-common-speech-to-text>
								</div>
							</div>
						<div class="slds-clearfix speechPosition">
							<div class="slds-float_right mt-10 save_Position">
								<lightning-button label="CANCEL" variant="neutral" class="btn btn-sec mr-10" onclick={cancelHandler}></lightning-button>
								<lightning-button label="SAVE" class="btn btn-pri" variant="brand" onclick={saveNarrativeDetails}
									disabled={btnDisable}></lightning-button>
							</div>
						
						</div>
					</div>
				</div>
		</div>
	</template>
</template>